.menu-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__link {
    display: inline-block;
    width: 100%;

    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    text-align: center;

    color: $whiteColor;

    padding-bottom: 10px;
    border-bottom: 1px solid #828282;

    transition: all 0.3s;

    &:hover {
      color: wheat;
      border-color: wheat;
    }

    @include active(transform, scale(0.95));
  }
}
