.benefits {
  text-transform: uppercase;
  &__flex {
    display: flex;
    flex-direction: column;
    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
    }
    @include onLaptop {
      justify-content: space-around;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
    @include onTablet {
      margin-bottom: 0;
    }
  }
  &__image {
    @include square(80px);
    margin-bottom: 20px;
  }
  &__description {
    max-width: 280px;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    @include onTablet {
      max-width: 218px;
    }
    @include onLaptop {
      max-width: 380px;
    }
  }
}
