.button {
  &__overall {
    height: 60px;
    width: 100%;
    background-color: $button-color;
    color: $button-text-color;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
}
