.advantages {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: $sectionIndentTop + 50px;

  @include desctop {
    padding-top: $sectionPaddingDesktop + 40;
  }

  @include mobile {
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > :nth-child(2) {
      margin-top: 60px;
    }

    & > :nth-child(3) {
      margin-top: 60px;
    }
  }

  &__item {
    padding: 0 15px;
    text-align: center;
  }

  &__image {
    display: block;
    margin: 0 auto 45px;

    @include mobile {
      margin: 0 auto 20px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

}
