.about {
  &__content {
    @extend %grid-system;

    @include onDesktop {
      grid-template-rows: 0 1fr;
    }
  }

  &__side {
    @extend %side;
    grid-column: 1 / 3;
    top: 10px;

    &::before {
      margin-right: 20px;
    }
  }

  &__details {
    @include onTablet {
      grid-column: 1/4;
    }

    @include onDesktop {
      grid-column: 2/6;
    }
  }

  &__title {
    letter-spacing: 1.2px;

    @include onDesktop {
      letter-spacing: 1.8px;
      margin-bottom: 42px;
    }
  }

  &__text {
    @extend %small-text;
    margin-bottom: 30px;
    // text-align: justify;

    &--second {
      display: none;

      @include onDesktop {
        display: block;
        margin-bottom: 40px;
      }
    }
  }

  &__imiges {
    display: none;

    @include onTablet {
      grid-column: 4/7;
      display: flex;
      align-items: baseline;
    }

    @include onDesktop {
      grid-column: 7/13;
    }
  }

  &__img-container {
  transition: all $transition;
    @include onTablet {
      display: block;
      width: 342px;
      height: 321px;

      &:last-child {
        display: none;
      }
    }

    @include onDesktop {
      width: 380px;
      height: 529px;
      margin-right: 20px;

      &:last-child {
        display: block;
        margin: 0;
        width: 180px;
        height: 430px;
      }
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
