.header {
  padding: 15px 0 20px;

  @include onTablet {
    padding: 23px 0 30px;
  }

  @include onDesktop {
    padding: 40px 0 81px;
  }

  @include onScreen {
    padding: 40px 0 70px;
  }

  &__content {
    @extend %top-actions;
  }

  &__logo {
    display: none;

    @include onDesktop {
      display: grid;
    }
  }

  &__menu {
    display: none;

    @include onDesktop {
      padding-left: 27px;
      display: block;
    }
  }

  &__icon {
    @include onDesktop {
      display: none;
    }
  }
}
