.logo {
  display: grid;
  grid-template-columns: 50px 208px;
  column-gap: 12px;
  align-items: center;

  &__text {
    @extend %text2;
    color: $color-text-heading;
    text-transform: uppercase;

    @include onDesktop {
      font-size: 1.4rem;
      letter-spacing: 0.6px;
    }
  }

  &:hover {
    .icon--logo {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}
