.menu-mobile {
  background-color: $color-background-dark;
  color: $color-background-main;
  padding-top: 20px;

  @include onTablet {
    padding-top: 28px;
  }

  &__icon {
    margin-bottom: 45px;

    @include onTablet {
      margin-bottom: 100px;
    }
  }

  &__list {
    text-align: center;
  }

  &__item {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: solid 1px $color-text-dark;

    @include onTablet {
      margin-bottom: 50px;
    }

    &:hover {
      border-bottom: dotted 1px $color-background-main;

      .menu__link {
        color: lighten($color: $color-background-main, $amount: 50%);
      }

    }
  }

  &__link {
    color: inherit;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;

    &:hover {
      color: lighten($color: $color-background-main, $amount: 50%);
    }
  }
}
