.side {
  position: relative;
  width: max-content;
  height: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: rgba(52, 79, 16, 0.5);
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0 0;

  &::before {
    margin-right: 10px;
    position: absolute;
    top: 50%;
    right: 100%;
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
  }
}
