.slider {
  margin: 0 auto;

  @include onDesktop {
    margin: 0 auto 0 100px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin-bottom: 38px;
    }
  }

  &__card {
    margin: 0 auto;
     @include onTablet {
     margin: 0;
     }

    &:last-child {
      display: none;

      @include onTablet {
        display: flex;
      }
    }
  }

  &__button {
  margin: 0 auto;
  }

}
