.about {
  $block: &;

  &__text {
    margin-bottom: 44px;

    & > :not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text-desk {
    display: none;

    @include media-breakpoint-up($lg) {
      display: block;
    }
  }

  &__picture {
    display: none;

    @include media-breakpoint-up($md) {
      display: block;
    }
  }

  &__picture-desk {
    display: none;

    @include media-breakpoint-up($lg) {
      display: block;
    }
  }

  &__picture-min {
    height: 430px;
  }
}
