.about-brands {
  &__container {
    @include container(100%);
  }

  &__section {
    position: relative;

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 865px) {
      justify-content: center;
      text-align: center;
    }
  }

  &__aside {
    display: flex;
    position: absolute;
    top: 324px;
    left: 50px;
    transform-origin: 0 0;
    transform: rotate(-90deg);

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__aside-line {
    width: 100px;
    height: 1px;

    margin-right: 10px;

    color: rgba(52, 79, 16, 0.5);
  }

  &__aside-description {
    &--text-extra-small {
      @include text-extra-small(0.05em, 500, rgba(52, 79, 16, 0.5));
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin: 50px 20px 0 150px;

    max-width: 380px;

    @media screen and (max-width: 1200px) {
      margin-left: 50px;
    }

    @media screen and (max-width: 1050px) {
      margin-top: 0;
    }

    @media screen and (max-width: 980px) {
      margin-left: 0;
    }

    @media screen and (max-width: 865px) {
      align-items: center;
      margin-right: 0;
    }
  }

  &__article-heading {
    margin-bottom: 20px;

    &--heading-medium {
      @include heading-medium;
    }
  }

  &__article-paragraph {
    margin-bottom: 30px;

    &--text-small {
      @include text-small;
    }
  }

  &__article-link {
    padding-bottom: 12px;

    &--text-extra-small {
      @include text-extra-small(0.05em, 600);

      border-bottom: 1px solid $green-c;
    }
  }

  &__images {
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 865px) {
      display: none;
    }
  }

  &__img-container {
    &:first-child {
      margin-right: 20px;

      @media screen and (max-width: 1050px) {
        margin-right: 0;
      }
    }

    &:last-child {
      @media screen and (max-width: 1050px) {
        display: none;
      }
    }
  }
}
