.benefits {
  &__container {
    @include container;
  }

  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-width: 380px;
  }

  &__section-img {
    margin-bottom: 30px;
  }

  &__section-description {
    text-align: center;
    &--text-extra-small {
      @include text-extra-small(0.05em, 500, #000);
    }
  }
}
