.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1260px;

  @include media-breakpoint-up($md) {
    padding: 0 30px;
  }

  @include media-breakpoint-up($lg) {
    padding: 0 40px;
  }
}
