.contacts {
  &__text {
    @include media-breakpoint-up($lg) {
      font-size: 24px;
    }
  }

  &__field {
    display: block;
    margin-top: 25px;

    @include media-breakpoint-up($lg) {
      margin-top: 25px;
    }

    &:first-child {
      margin-top: 20px;
    }

    &:last-child {
      margin-top: 40px;

      @include media-breakpoint-up($lg) {
        margin-top: 55px;
      }
    }
  }

  &__button {
    margin: 30px auto 0;

    @include media-breakpoint-up($md) {
      margin: 50px 0 0;
    }
  }

  &__picture {
    @include media-breakpoint-down($md) {
      display: none;
    }
  }
}
