.footer {

  padding: 25px 0 60px;

  background-color: $light-green;

  font-size: 14px;
  color: $beige;

  @include media-breakpoint-up($md) {
    display: grid;
    padding-bottom: 50px;
  }

  @include media-breakpoint-up($lg) {
    padding: 60px 0 65px;
    font-size: $fs-regular;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $gap-default;

    @include media-breakpoint-up($md) {
      display: grid;
    }
  }

  &__copyright {
    text-align: center;
    font-family: Sharp sans, sans-serif;
    font-weight: 700;

    @include media-breakpoint-up($md) {
      order: 2;
      text-align: start;
    }

    @include media-breakpoint-up($lg) {
      order: 0;
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    font-family: Sharp sans, sans-serif;
    font-weight: 700;

    @include media-breakpoint-up($md) {
      order: 1;
    }

    @include media-breakpoint-up($lg) {
      order: 2;
    }
  }

  &__socials-link {
    @include square(20px);

    &:not(:last-child) {
      margin-right: 14px;
    }

    &:hover {
      animation: shake 1.2s ease-in-out;
    }
  }

  &__links {
    @include media-breakpoint-up($lg) {
      display: flex;
      gap: 40px;
    }
  }

  &__link {
    display: block;
    padding: 5px 0;

    @include media-breakpoint-up($lg) {
      padding: 0;
    }

    &--change {
      transition: color $duration-default ease-in-out;

      &:hover {
        color: $primary;
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
