.footer {
  background-color: rgba(52, 79, 16, 0.5);

  &__container {
    @include container;
  }

  &__section {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }

  &__nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 480px;

    margin: 60px 50px 60px 0;

    @media screen and (max-width: 500px) {
      margin: 30px 0;
    }
  }

  &__nav-list {
    display: flex;

    @media screen and (max-width: 980px) {
      flex-direction: column;
    }
  }

  &__nav-item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 980px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__nav-link {
    &--text-medium {
      @include text-medium($secondary-white-c);
    }

    @media screen and (max-width: 980px) {
      font-size: 14px;
    }
  }

  &__nav-copyright {
    &--text-medium {
      @include text-medium($secondary-white-c);

      @media screen and (max-width: 980px) {
        font-size: 14px;
      }
    }

    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  &__copyright {
    display: none;
    &--text-medium {
      @include text-medium($secondary-white-c);

      @media screen and (max-width: 980px) {
        font-size: 14px;
      }
    }

    @media screen and (max-width: 500px) {
      display: block;

      align-self: center;
      text-align: center;

      max-width: 200px;

      margin-bottom: 60px;
    }
  }

  &__address-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 480px;

    margin: 60px 0;

    @media screen and (max-width: 500px) {
      margin: 0 0 30px;
    }
  }

  &__address-item {
    margin-bottom: 20px;

    &--text-medium {
      @include text-medium($secondary-white-c);

      @media screen and (max-width: 980px) {
        font-size: 14px;
      }
    }
  }
}
