.header {
  &__container {
    position: relative;

    @include container;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 130px;

    margin-bottom: 40px;
  }
}
