.info {
  &__container {
    @include container(100%);
  }

  &__section {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 870px) {
      justify-content: center;
    }
  }

  &__article {
    &:first-child {
      padding-top: 100px;
      margin-right: 100px;

      max-width: calc(150px + 380px);

      border-top: 1px solid rgba(52, 79, 16, 0.5);

      @media screen and (max-width: 870px) {
        display: none;
      }
    }

    &:last-child {
      padding-top: 100px;
      padding-bottom: 100px;

      max-width: calc(250px + 380px);

      border-bottom: 1px solid rgba(52, 79, 16, 0.5);

      @media screen and (max-width: 870px) {
        max-width: 280px;

        padding: 0;

        border: none;
      }
    }

    @media screen and (max-width: 865px) {
      text-align: center;
    }
  }

  &__article-paragraph-left {
    max-width: 380px;
    margin-left: 150px;

    &--text-small {
      @include text-small;
    }

    @media screen and (max-width: 1200px) {
      margin-left: 50px;
    }

    @media screen and (max-width: 980px) {
      margin-left: 0;
    }
  }

  &__article-paragraph-right {
    max-width: 380px;
    margin-right: 250px;

    &--text-extra-large {
      @include text-extra-large;

      @media screen and (max-width: 870px) {
        font-size: 18px;
      }
    }

    @media screen and (max-width: 1200px) {
      margin-right: 50px;
    }

    @media screen and (max-width: 980px) {
      margin-right: 0;
    }
  }
}
