.nav {
  @media screen and (max-width: 950px) {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    &--text-medium {
      @include text-medium($green-c);
    }
  }
}
