.page {
  background-color: $beige;

  &__header {
    position: sticky;
    // top: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    visibility: hidden;
    transform: translateX(-100%);

    transition: visibility $duration-default ease-in-out,
      transform $duration-default ease-in-out;

    &--open {
      visibility: visible;
      transform: translateX(0);
    }
  }

  &--with-menu {
    overflow: hidden;
  }
}
