.powder {

  &__bottle {
    position: relative;
    overflow-x: hidden;
  }

  &__list {
    position: absolute;
    top: 48px;
  }

  &__bottle-img {
    display: block;
    transform: translateX(50%);

    @include media-breakpoint-up($md) {
      transform: translateX(25%);
    }

    @include media-breakpoint-up($lg) {
      transform: translateX(0);
    }
  }
}
