.sales {
  &__container {
    @include container;
  }

  &__section {
    display: flex;
    justify-content: space-between;

    margin-left: 100px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__article-heading {
    max-width: 480px;

    &--heading-large {
      @include heading-large;
    }
  }

  &__article-description {
    margin-bottom: 50px;

    &--text-medium {
      @include text-medium($black-c, 22px);
    }
  }

  &__img {
    display: block;

    width: 100%;
    height: auto;
  }
}
