.shop {
  &__container {
    position: relative;

    @include container(100%);
  }

  &__section {
    display: flex;
    flex-direction: column;

    margin-left: 150px;

    @media screen and (max-width: 1200px) {
      margin-left: 50px;
    }

    @media screen and (max-width: 980px) {
      margin-left: 0;
    }
  }

  &__aside {
    display: flex;
    position: absolute;
    top: 335px;
    left: 50px;
    transform-origin: 0 0;
    transform: rotate(-90deg);

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__aside-line {
    width: 100px;
    height: 1px;

    margin-right: 10px;

    color: rgba(52, 79, 16, 0.5);
  }

  &__aside-description {
    &--text-extra-small {
      @include text-extra-small(0.05em, 500, rgba(52, 79, 16, 0.5));
    }
  }

  &__heading {
    margin-bottom: 20px;

    &--heading-medium {
      @include heading-medium;
    }

    @media screen and (max-width: 980px) {
      margin-bottom: 10px;
    }

    @media screen and (max-width: 865px) {
      align-self: center;
    }
  }

  &__list {
    display: flex;

    @media screen and (max-width: 700px) {
      justify-content: space-between;
    }
  }

  &__list-item {
    margin-right: 20px;
    margin-bottom: 85px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 980px) {
      margin-bottom: 30px;
    }
  }

  &__list-link {
    padding-bottom: 20px;
    margin-bottom: 60px;

    &--text-large {
      @include text-large(18px);

      @media screen and (max-width: 980px) {
        font-size: 14px;
      }
    }

    &--active {
      border-bottom: 2px solid $black-c;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;

    margin-bottom: 45px;

    @media screen and (max-width: 1279px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 980px) {
      justify-content: space-between;
    }

    @media screen and (max-width: 500px) {
      justify-content: center;
    }
  }

  &__card {
    &:first-child {
      @media screen and (max-width: 865px) {
        margin-right: 20px;
      }

      @media screen and (max-width: 500px) {
        margin-right: 0;
      }
    }

    &:nth-child(2) {
      @media screen and (max-width: 500px) {
        display: none;
      }
    }

    &:last-child {
      @media screen and (max-width: 1279px) {
        display: none;
      }
    }
  }

  &__card-img {
    margin-bottom: 20px;

    width: 100%;
    height: auto;
  }

  &__card-name {
    margin-bottom: 10px;

    &--text-large {
      @include text-large;
    }
  }

  &__card-price {
    &--text-large {
      @include text-large(18px);
    }
  }

  &__buttons {
    margin-bottom: 45px;
  }

  &__btn {
    align-self: center;
  }
}
