.button {
  display: block;
  width: $button-wigth;
  height: $button-heigth;
  background-color: $gray-1-color;
  border: 1px solid $gray-1-color;
  transition: all 0.3s;

  @extend %button-text;
  text-align: center;
  line-height: $button-heigth;
  text-transform: uppercase;
  color: $white-1-color;

  &:hover {
    background-color: $page-bg-color;
    color: $gray-1-color;
  }

  &:focus {
    background-color: rgb(201, 186, 149);
  }
}
