.title {
  text-transform: uppercase;
  color: $green-1-color;
  margin-bottom: 10px;

  @include desktop {
    font-size: rem(36);
    line-height: rem(40);
    letter-spacing: rem(1.8);
    margin-bottom: 40px;
  }
}
