$icomoon-font-family: "custom-font-svg" !default;
$icomoon-font-path: "fonts" !default;

$_icon-bird: "\e900";
$_icon-close: "\e901";
$_icon-facebook: "\e902";
$_icon-instagram: "\e903";
$_icon-leaves: "\e904";
$_icon-logo: "\e905";
$_icon-menu: "\e906";
$_icon-recycling: "\e907";
$_icon-shop: "\e908";
