.nav {
  min-width: 249px;
  @include onLaptop {
    grid-column: 1/4;
  }
  &__list {
    display: flex;
    flex-direction: column;
    @include onLaptop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__item {
    margin-bottom: 20px;
    @include onLaptop {
      margin-right: 40px;
      margin-bottom: 0;
    }
  }
  &__link {
    color: inherit;
    transition: color $duration;
    &:hover {
      color: $lightGreenColorRGBA;
    }
  }
  &--header {
    display: none;
    @include onLaptop {
      display: block;
    }
  }
}
