.scrollDown {
  @include pageGrid;

  &__topLine {
    display: none;

    @include onDesktop1280 {
      display: block;
      grid-column: 2 / 6;
      grid-row: 1 / 2;
      height: 1px;
      width: 100%;
      background-color: $sector-line-color;
    }
  }

  &__tittle-wraper {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;

    @include onDesktop1280 {
      grid-row: 1 / -1;
      grid-column: 7 / 11;
      justify-content: left;
    }
  }

  &__tittle {
    margin: 0;
    color: $green-text-color;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;

    @include onTablet {
      text-align: center;
      width: 280px;
    }

    @include onDesktop1280 {
      text-align: left;
      font-size: 24px;
      letter-spacing: 1.2px;
      width: 100%;
      margin-top: 100px;
    }
  }

  &__descriptioin {
    display: none;
    color: $menuBg-mainText-buttons-color;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    @include onDesktop1280 {
      display: flex;
      margin: 0;
      grid-row: 1 / -1;
      grid-column: 2 / 6;
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }

  &__bottomLine {
    display: none;

    @include onDesktop1280 {
      display: block;
      grid-column: 7 / 11;
      height: 1px;
      width: 100%;
      background-color: $sector-line-color;
    }
  }
}
