.about {
  padding: 100px 0;

  &__container {
    display: flex;
    align-items: flex-end;
  }

  &__info {
    margin-right: 120px;
  }

  &__title {
    @include h2;
    margin-bottom: 20px;
    color: $c-green-dark;
  }

  &__text {
    @include text-1;
    margin-bottom: 30px;
    max-width: 380px;
  }

  &__button {
    margin-top: 10px;
  }

  &__images {
    position: relative;
  }

  &__image {
    display: block;

    &:nth-child(2) {
      position: absolute;
      bottom: 0;
      right: -410px;

      height: 430px;
    }
  }
}
