.advantages {
  padding: 100px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0 100px;
  }

  &__item {
    display: flex;
    flex-direction: column;

    max-width: 350px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__image {
    height: 70px;
    margin-bottom: 40px;

    transition: transform 0.35s ease-in-out;

    &:hover {
      transform: rotate(-5deg);
    }
  }

  &__heading {
    @include text-3;
    text-align: center;
  }
}
