.button {
  width: 280px;
  padding: 20px;

  @include text-buttons;
  text-align: center;

  color: $c-white;
  background-color: $c-black;
}

.button-small {
  position: relative;
  @include text-3;
  color: $c-green-dark;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 1px;
    width: 100%;
    background-color: $c-green-dark;
  }
}
