.button {
  display: block;
  width: 280px;
  padding: 19px;

  @extend %text-buttons;
  text-align: center;

  color: $c-white-light;
  background-color: $c-black;
  border: 1px solid transparent;

  transition: border $t-transition ease-in-out,
    color $t-transition ease-in-out,
    background-color $t-transition ease-in-out;

  &:hover {
    background-color: transparent;
    color: $c-black;
    border: 1px solid $c-black;
  }
}
