.button {
  display: block;
  width: 280px;
  padding: 19px;

  @include text-buttons;
  text-align: center;

  color: $c-white-light;
  background-color: $c-black;
  border: 1px solid transparent;

  transition: border 0.35s ease-in-out,
    color 0.35s ease-in-out,
    background-color 0.35s ease-in-out;

  &:hover {
    background-color: transparent;
    color: $c-black;
    border: 1px solid $c-black;
  }
}

.button-small {
  position: relative;

  @include text-3;
  color: $c-green-dark;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;

    height: 1px;
    width: 100%;

    background-color: $c-green-dark;
    transition: opacity 0.5s;
  }

  &:hover {
    &::after {
      opacity: 0;
    }
  }
}
