.contact {
  padding: 100px 0 200px;

  &__container {
    position: relative;

    display: flex;
    justify-content: space-between;
  }

  &__label {
    top: 0;
    left: 35px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    margin-right: 120px;
  }

  &__title {
    margin-bottom: 20px;

    @include h3;
    color: $c-green-dark;
  }

  &__text {
    max-width: 400px;
    margin-bottom: 10px;

    @include text-1;
    font-size: 24px;
  }
}
