.creators {
  padding: 100px 0;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__label {
    top: 120px;
    left: -30px;
  }

  &__info {
    margin-right: 120px;
  }

  &__title {
    margin-bottom: 20px;

    @include h2;
    color: $c-green-dark;
    line-height: 39.6px;
  }

  &__text {
    margin-bottom: 30px;
    @include text-1;
  }

  &__button {
    margin-bottom: 40px;
  }

  &__link {
    margin-top: 60px;
  }
}
