.footer {
  padding: 60px 0;

  @include text-input-menu;
  color: $c-beige;
  background-color: rgba(52, 79, 16, 0.5);

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    color: $c-beige;

    transition: color 0.35s ease-in-out;

    &:hover {
      color: $c-green-dark;
    }
  }

  &__nav-link {
    color: $c-beige;

    &:hover {
      color: $c-beige;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    margin-right: 10px;

    transition: transform 0.35s ease-in;

    &:hover {
      transform: scale(-1, 1);
    }
  }
}
