.footer {
  padding: 60px 0;
  background-color: rgba(52, 79, 16, 0.5);
  color: $c-beige;
  @include text-input-menu;

  &__container {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    color: $c-beige;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__icon {
    margin-right: 10px;
  }
}
