.form {
  display: flex;
  flex-direction: column;
  width: 480px;

  &__input {
    margin-bottom: 20px;
    padding: 10px 0;

    @include text-input-menu;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    color: $c-black;

    &::placeholder {
      color: #828282;
    }

    &--textarea {
      resize: none;
      margin: 20px 0 50px;
      height: 44px;
    }
  }
  
  &__button {
    cursor: pointer;
  }
}
