.header {
  position: relative;
  padding: 40px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
  }

  &__nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
