.info {
  padding: 100px 0;
  overflow: hidden;

  &__container {
    display: flex;
    align-items: center;
  }

  &__text {
    width: 915px;
    margin-right: 120px;

    border-top: 1px solid rgba(52, 79, 16, 0.5);
  }

  &__text-content {
    padding: 100px 0;
    max-width: 390px;
    float: right;

    @include text-1;
  }

  &__call {
    width: 1066.5px;
    border-bottom: 1px solid rgba(52, 79, 16, 0.5);
  }

  &__call-content {
    padding: 100px 0;
    max-width: 350px;

    @include h4;
    color: $c-green-dark;
  }
}
