.ingredients {
  padding: 100px 0;

  &__container {
    position: relative;
  }

  &__label {
    top: 50px;
    left: 0;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 50px 120px 0 0;
    max-width: 380px;

    @include h2;
    line-height: 39.6px;
    color: $c-green-dark;
  }

  &__svg {
    float: right;
  }

  &__model {
    position: relative;
  }

  &__model-list {
    position: absolute;
    left: -300px;
    top: 37px;

    display: flex;
    flex-direction: column;
  }

  &__model-item {
    position: relative;

    @include text-1;
    text-align: right;

    cursor: pointer;
    transition: transform 0.35s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &:hover {
      transform: translateX(7px);
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      right: -90px;
      transform: translateY(-50%);

      width: 75px;
      height: 1px;

      background-color: $c-black;
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      right: -90px;
      transform: translateY(-50%);

      width: 5px;
      height: 5px;

      border-radius: 50%;
      background-color: $c-black;
    }
  }
}
