.label {
  position: absolute;
  left: -50px;

  @include text-decorative;
  color: rgba(52, 79, 16, 0.5);
  transform: rotate(-90deg);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -115px;
    width: 100px;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
  }
}
