.logo {
  transition: text-shadow 0.35s ease-in;

  &:hover {
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.7);
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: 12px;

    @include text-2;
    color: $c-green-dark;
  }
}
