.nav {
  &__list {
    display: flex;
  }

  &__item {
    padding: 5px 0;
    border-bottom: 1px solid transparent;

    transition: border-bottom 0.35s ease-in;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover {
      border-bottom: 1px solid $c-green-dark;
    }

    &--footer {
      &:hover {
        border-bottom: 1px solid $c-beige;
      }
    }
  }

  &__link {
    @include text-input-menu;
    color: $c-green-dark;
  }
}
