.promo {
  padding: 40px 0 100px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__image {
    margin-left: 20px;
  }

  &__title {
    @include h1;
    margin-bottom: 30px;
  }

  &__text {
    @include text-input-menu;
    font-size: 22px;
    margin-bottom: 50px;
  }
}
