.promo {
  padding: 40px 0 100px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__image {
    margin-left: 20px;
  }

  &__title {
    margin-bottom: 30px;

    @include h1;
    line-height: 60px;

    @include screen-xl {
      line-height: 72px;
    }
  }

  &__text {
    margin-bottom: 50px;

    @include text-input-menu;
    font-size: 22px;
  }
}
