.slider {
  &__item {
    width: 380px;
    margin-right: 23px;
  }

  &__photo {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;

    object-fit: cover;
  }

  &__title {
    margin-bottom: 10px;

    @include text-price;
    font-size: 20px;
  }

  &__price {
    @include text-price;

    &::after {
      content: " UAH";
    }
  }
}

.slick-list {
  overflow: visible;
  clip-path: inset( -100vw -100vw -100vw 0 );
}
