.slider {
  &__item {
    width: 380px;
    margin-right: 20px;
  }

  &__photo {
    height: 500px;
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
  }

  &__title {
    @include text-price;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__price {
    @include text-price;
  }
}
