.about {
  font-family: Avenir, sans-serif;
  @include onDesktop {
    padding: 0;
  }

  &__title-cont {
    padding: 0 20px;
  }

  &__title {
    margin: 10px 0 16px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: $color-green2;
    text-transform: uppercase;
    text-align: left;
  }

  &__paragraph {
    font-family: Avenir, sans-serif;

    padding-bottom: 30px;

    @include onTablet {
      padding-bottom: 46px;
    }

    &--hiden {
      display: none;

      @include onDesktop {
        display: block;
        padding-bottom: 40px;
      }
    }
  }

  &__left-sm {
    display: none;

    @include onDesktop {
      display: block;
      padding-top: 100px;
    }
  }

  &__img {
    display: none;

    @include onDesktop {
      display: block;
      position: relative;
      top: 20%;
      left: 80%;
    }
  }
}
