.about-brand {
  &__wrapper {
    position: relative;
    @extend %pageGrid;
  }

  &__decor {
    @extend %sectionDecor;
  }

  &__info {
    grid-column: 1/-1;

    @include onTabletLarge {
      grid-column: span 3;
    }

    @include onDesktopMedium {
      grid-column: 2/6;
    }
  }

  &__title {
    @extend %sectionTitle;
    margin-block-end: 10px;

    @include onDesktopMedium {
      margin-block-end: 40px;
    }
  }

  &__text {
    margin-block-end: 30px;

    @include onDesktopMedium {
      margin-block-end: 0;
    }
  }

  &__paragraph {
    display: block;
    font-size: 14px;
    line-height: 150%;

    &:nth-of-type(n + 2) {
      display: none;
    }

    @include onTabletLarge {
      font-size: 16px;
    }

    @include onDesktopMedium {
      margin-block-end: 30px;

      &:nth-of-type(n + 2) {
        display: block;
      }
    }
  }

  &__btn {
    @extend %btnLearnMore;
  }

  &__images {
    display: none;

    @include onTabletMedium {
      grid-column: 1/-1;
      order: -1;
      display: block;
      margin-block-end: 25px;
    }

    @include onTabletLarge {
      grid-column: span 3;
      order: 0;
      margin-block-end: 0;
    }

    @include onDesktopMedium {
      display: flex;
      grid-column: 7/-1;
      align-items: flex-end;
      column-gap: 20px;
    }
  }

  &__image {

    &--square {
      @include onDesktopMedium {
        padding-block-end: 0;
      }
    }
  }

  &__image-wide {
    @include square(100%);
    /* stylelint-disable */
    aspect-ratio: 1/1;
    /* stylelint-enable */
    object-fit: cover;

    @include onDesktopMedium {
      position: static;
    }
  }

  &__image-narrow {
    display: none;

    @include onDesktopMedium {
      display: block;
    }
  }
}
