.advantages {
  &__place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    height: 80px;
    width: 80px;
    object-fit: contain;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 28px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
  }
}

