.ayurvedic__icons {
  margin-top: 100px;

  @include onTablet {
   margin-top: 125px;
  }

  &--list {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;

    @include onTablet {
      flex-direction: initial;
      align-items: start;
      justify-content: space-between;
    }
  }

  &--item {
    @include onTablet {
      width: 30%;
    }
    img {
      margin: 0 auto;
      cursor: pointer;

      @include hover(transform, scale(1.1));
    }

    p {
      padding-top: 20px;
      color: $clr--black;
      text-align: center;
      font-family:  $font--main;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }
  }
}
