.banner {
  &__line {
    display: none;
    height: 1px;

    background-color: #344f10;
    opacity: 0.5;

    &--top {
      width: calc(50% - 110px);

      margin-bottom: 100px;
    }

    &--bottom {
      position: relative;
      width: calc(50% - 10px);
      left: calc(50% + 10px);
      margin-top: 100px;
    }

    @include onDesktop {
      display: block;
    }
  }

  &__title {
    width: 280px;
    margin: auto;

    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;

    @include onDesktop {
      width: 100%;
      
      text-align: left;
      font-size: 24px;
    }
  }

  &__text {
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;

    @include onDesktop {
      display: block;
      grid-row: 1 / 2;
    }
  }
}
