.benefits {
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 380px;

    @include tablet {
      gap: 20px;
      max-width: 218px;
    }

    @include mobile {
      max-width: 280px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
  }
}
