.brand-characters {
  box-sizing: border-box;

  &__content {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;

    //   flex-direction: column;
    //   justify-content: flex-start;

    @include onDesktop {
      grid-row: 1;
      //     flex-direction: row-reverse;
      //     row-gap: 20px;
      //     justify-content: space-between;
    }
  }

  &__image {
    display: grid;
    grid-row: 1;
    box-sizing: border-box;
    height: auto;
    min-width: 320px;
    object-fit: cover;
    margin: 0 0 50px;

    @include onDesktop {
      height: 100%;
      margin: 0;
    }

    &--photo {
      height: auto;
      width: 100%;

      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  &__titles {
    display: grid;
    grid-row: 2;

    box-sizing: border-box;

    @include onDesktop {
      grid-row: 1;
    }
    // flex-direction: column;
    // justify-content: flex-start;

    &--main {
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      color: $text-color;
      margin: 0 0 10px;

      @include onTablet {
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      @include onDesktop {
        width: 480px;
        height: 234 px;
        font-size: 60px;
        line-height: 78px;
        text-align: left;
      }
    }

    &--secondary {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $text-color;
      margin: 0 0 30px;

      @include onTablet {
        margin-bottom: 50px;
      }

      @include onDesktop {
        text-align: left;
      }
    }

    &--shop {
      width: 280px;
      height: 60px;
      color: $button-text-color;
      background-color: $text-color;
      text-align: center;
      margin: 0 auto;

      @include onDesktop {
        margin-left: 0;
      }
    }

    &--link {
      text-decoration: none;
      font-size: 16px;
      line-height: 60px;
      text-align: center;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $button-text-color;
    }
  }
}
