.brand-characters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__image {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    margin: 0 0 25px;

    &--photo {
      width: 100%;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--main {
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      color: $text-color;
      margin: 0 0 10px;
    }

    &--secondary {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $text-color;
      margin: 0 0 30px;
    }

    &--shop {
      width: 280px;
      height: 60px;
      color: $button-text-color;
      background-color: $text-color;
      text-align: center;
      margin: 0 auto;
    }
  }
}
