.brand-characters {
  box-sizing: border-box;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    @include onDesktop {
      display: grid;
      // grid-template-columns: repeat(12, 1fr);

      // column-gap: 20px;
    }
  }

  &__image {
    height: auto;
    width: 320px;
    object-fit: cover;
    margin: 0 0 25px;

    &--photo {
      height: auto;
      width: 100%;
    }

    @include onTablet {
      width: 714px;
    }

    @include onDesktop {
      display: grid;
      width: 580px;
    }
  }

  &__titles {
    // margin: 0 auto;

    &--main {
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      color: $text-color;
      margin: 0 0 10px;

      @include onTablet {
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 30px;
      }

      @include onDesktop {
        font-size: 60px;
        line-height: 78px;
      }
    }

    &--secondary {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $text-color;
      margin: 0 0 30px;

      @include onTablet {
        margin-bottom: 50px;
      }
    }

    &--shop {
      width: 280px;
      height: 60px;
      color: $button-text-color;
      background-color: $text-color;
      text-align: center;
      margin: 0 auto;
    }

    &--link {
      text-decoration: none;
      font-size: 16px;
      line-height: 60px;
      text-align: center;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $button-text-color;
    }

    @include onDesktop {
      display: grid;
    }
  }
}
