.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  @include size(280px, 60px);
  color: $c-btn-text;
  @extend %btn-text;
  background-color: $c_main-text;
  border: 1px solid $c-main-text;
  transition: all 0.3s;

  &:hover {
    color: $c-main-text;
    background-color: $c-background;
  }
}
