.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 60px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: 1px solid $colorBlack;
  background-color: $colorBlack;
  color: $colorWhite;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    color: $colorBlack;
    background-color: $colorBackground;
  }
}
