.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 280px;
  height: 60px;
  background-color: $text-color;
  // border-radius: 40px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2f2;

  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $page-color;
    color: $text-color;
    border: 1px solid $text-color;
  }
}
