.button-cont {
  

  &--shop {
    @include onTablet {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }

    @include onDesktop {
      display: flex;
      margin-top: 40px;
    }
  }

  
}

.button {
  width: 100%;
  margin-bottom: 30px;
  height: 60px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background-color: $color-black;
  color: $color-gray2;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-gray2;
    color: $color-black;
    outline: none;
    border: 1px solid $color-black;
  }

  &__link {
    color: $color-gray2;
    text-transform: uppercase;
    &:hover {
      color: $color-black;
    }
  }

  @include onDesktop {
    width: 60%;
    margin: 0 0 48px;
  }

  &--shop {
    @include onTablet {
      width: 50%;
    }
  }

  &--creators {
    @include onDesktop {
      width: 100%;
      margin-top: 60px;
    }

    @include onTablet {
      width: 100%;
      margin: 40px 0 0;
    }
  }
}

.learn {
  display: inline-block;
  margin: 40px 0;

  &__link-cont--powder {
    position: relative;
    top: 400px;

    @include onTablet {
      top: 250px;
    }

    @include onDesktop {
      top: 270px;
    }
  }

  &__link {
    display: inline-block;
    font-family: Sharp Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 1px;
    color: $color-green2;
    padding-bottom: 10px;
    transition: border-bottom 0.3s;

    &:hover {
      border-bottom: 1px solid $color-green2;
    }
  }
}
