.button {
  cursor: pointer;
  width: 280px;
  height: 60px;
  background-color: $dark-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-color;
  border: 1px solid $dark-gray;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  transition: all $effectDuration;

  @include onDesktop {
    &:hover {
      color: $dark-gray;
      background-color: $page-bg-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
