.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-block: 20px;
  border: none;
  cursor: pointer;

  background-color: $clr--gray-1;
  border: 1px solid $clr--gray-1;

  transition: all 0.3s ease-in-out;

  @extend %text--btn;

  &:hover {
    color: $clr--gray-1;
    background-color: $clr--bg;
  }
}

.learn-more {
  padding: 0;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;

  background: transparent;
  border-bottom: 1px solid transparent;

  @extend %learn-more;

  @include hover(border-bottom, 1px solid $clr--green);
}
