.button-cont {
  @include onTablet {
    display: flex;
  }

  &--shop {
    @include onDesktop {
      display: flex;
      justify-content: center;
    }
  }
}

.button {
  width: 100%;
  margin-bottom: 30px;
  height: 60px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background-color: $color-black;
  cursor: pointer;

  @include onTablet {
    width: 40%;
    margin: 0 auto;
  }

  @include onDesktop {
    width: 55%;
    margin: 0 0 48px;
  }

  &--shop {
    @include onDesktop {
      width: 20%;
    }
  }
}
