.choose-action {
  box-sizing: border-box;

  &__remark {
    display: none;

    @include onDesktop {
      display: grid;
    }

    &--text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $text-color;
      text-align: left;
    }
  }

  &__title {
    display: grid;
    justify-self: center;
    width: 280px;
    height: 81px;
    margin: 0 auto;

    @include onDesktop {
      display: grid;
      width: 380px;
    }

    &--text {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $linkDesktop-color;
      text-align: center;

      @include onTablet {
        text-align: center;
      }

      @include onDesktop {
        font-size: 24px;
        line-height: 36px;
        text-align: left;
      }
    }
  }
}
