.container {
  max-width: 1100px;
  padding: 0 50px;
  margin: 0 auto;

  @include onPad {
    padding: 0 30px;
  }

  @include onMobile {
    padding: 0 20px;
  }
}

.container--mob {
  padding: 0;
}

.container--pad {
  padding-right: 0;

  @include onMobile {
    padding: 0;
  }
}

.marginright {
  margin-right: 0;
  padding-right: 30px;
}

.footercontaier {

  @include onPad {
    padding: 0;
    margin: 0 30px;
  }
}
