.contact-us {
  &__title {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  &__text {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 20px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    margin-bottom: 50px;

    @include tablet {
      row-gap: 25px;
      margin-bottom: 30px;
    }
  }

  &__button {
    width: 100%;
  }
}
