.contact {

  &__title {
    height: fit-content;
    margin-bottom: 10px;

    @include onDesktop {
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    height: fit-content;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 20px;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__image {
    grid-row: 1/4;
    display: none;
    object-fit: cover;
    position: center;
    width: 100%;
    height: 100%;

    @include onTablet {
      display: block;
    }

    @include onDesktop {
      max-height: 540px;
    }
  }
}
