.container {
  margin: 0 auto;
  max-width: 1024px;
  --padding: 20px;
  padding-left: var(--padding);
  padding-right: var(--padding);

  @include onTablet {
    --padding: 28px;

    &--out {
      padding-right: 0;
    }
  }

  @include onDesktop {
    --padding: 50px;
  }
  
  @include onDesktop {
    @include container;
    padding: 0 0 0 50px;
  }
}
