.contact__us {
  &--button {
    margin-top: 30px;
    width: 100%;
    font-family: "Poppins", sans-serif;

    @include onTablet {
      margin-left: 0;
      width: 280px;
    }
  }

  &-block {
    @include onTablet {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }

    @include onDesktop1280 {
      position: relative;
      padding-left: 82px;
    }
  }

}
