.contact-us {
  &__content {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      position: relative;
    }
  }

  &__title {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 10px;

    @include onDesktop {
      grid-area: 1 / 2 / 2 / 5;
      margin-bottom: 30px;
    }
  }

  &__text {
    grid-area: 2 / 1 / 3 / 4;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 20px;
    }

    @include onDesktop {
      grid-area: 2 / 2 / 3 / 6;
      margin-bottom: 40px;
    }
  }

  &__side {
    display: none;

    @include onDesktop {
      display: flex;
      position: absolute;
      top: 70px;
      left: -70px;
    }
  }

  &__form {
    grid-area: 3 / 1 / 4 / 4;

    @include onDesktop {
      grid-area: 3 / 2 / 4 / 7;
    }
  }

  &__form-style {
    width: 100%;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $colorGreen;
    display: block;
    background-color: $colorBackground;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 5px 0;
    margin-bottom: 25px;
    transition: all 0.3s;

    &:nth-child(3) {
      margin-bottom: 45px;
    }

    @include onDesktop {
      padding-bottom: 10px;
      margin-bottom: 30px;

      &:nth-child(3) {
        margin-bottom: 33px;
      }
    }

    &::placeholder {
      text-transform: capitalize;
      font-weight: 400;
      font-size: 14px;

      @include onDesktop {
        font-weight: 500;
        font-size: 18px;
      }
    }

    // &:invalid {
    //   border-color: #eb5757;
    //   color: #eb5757;
    // }

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $colorBlack;
    }

    &:focus {
      cursor: auto;
      outline: none;
      border-bottom: 1px solid $colorGreen;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $colorBackground inset;
      -webkit-text-fill-color: $colorGreen;
    }
  }

  &__form-textarea {
    padding: 0;
    margin-bottom: 30px;
    resize: none;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__form-button {
    width: 100%;

    @include onTablet {
      margin-bottom: 2px;
      width: 280px;
    }

    @include onDesktop {
      margin-bottom: 44px;
    }
  }

  &__photo {
    display: none;

    @include onTablet {
      display: block;
      grid-area: 1 / 4 / 4 / -1;
      margin-right: -27px;
    }

    @include onDesktop {
      grid-area: 1 / 8 / 4 / -1;
      margin-right: calc((1180px - 100vw) / 2);
    }

    @include onDesign {
      margin-right: -130px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &--tablet {
      @include onDesktop {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include onDesktop {
        display: block;
      }

      @include onDesign {
        display: none;
      }
    }

    &--design {
      display: none;

      @include onDesign {
        display: block;
      }
    }
  }
}
