.contact {
  width: 100%;
  position: relative;
  @include onTablet {
    width: 342px;
  }
  @include onDesktop {
    width: 480px;
  }
  &__title {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $green;
    margin: 96px 0 0;
    @include onTablet {
      margin: 108px 0 0;
    }
    @include onDesktop {
      margin: 202px 0 0 100px;
    }

    @include onScreen {
      margin: 184px 0 0 100px;
    }
  }
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $secondaryColor;
    margin: 10px 0 0;
    @include onTablet {
      font-size: 16px;
      line-height: 24px;
    }
    @include onDesktop {
      margin: 28px 0 0 100px;
    }
  }
  &__form {
    margin: 28px 0 0;
    @include onTablet {
      margin: 18px 0 0;
    }
    @include onDesktop {
      margin: 40px 0 0 100px;
    }
    &-email {
      margin-top: 25px;
      @include onDesktop {
        margin-top: 34px;
      }
    }
    &-phone {
      margin-top: 25px;
      @include onScreen {
        margin-top: 32px;
      }
    }
    &-message {
      margin-top: 45px;
      @include onDesktop {
        margin-top: 66px;
      }
      @include onScreen {
        margin-top: 64px;
      }
    }
    &-button {
      margin-top: 30px;
      @include onDesktop {
        margin-top: 50px;
      }
    }
  }
  &__img {
    display: none;
    position: absolute;
    @include hover(transform, scale(1.05));
    @include onTablet {
      display: block;
      width: 368px;
      height: 409px;
      right: -398px;
      top: -12px;
    }
    @include onDesktop {
      width: 529px;
      height: 584px;
      right: -750px;
      top: 220px;
    }
    @include onScreen {
      width: 610px;
      height: 584px;
      right: -830px;
      top: 200px;
    }
  }
  &__link {
    display: none;
    @include onDesktop {
      position: relative;
      display: flex;
      align-items: center;
      left: -232px;
      top: 0;
    }
    @include onScreen {
      top: -14px;
    }
  }
}
