.creators {
  box-sizing: border-box;
  min-width: 280px;

  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @include onTablet {
      display: grid;
    }

    @include onDesktop {
      display: grid;
    }
  }

  &__subtitle {
    @include onDesktop {
      position: absolute;
      left: -55px;
      top: 10%;
    }
  }

  &__title {
    margin: 0 0 10px;
    text-align: left;

    @include onTablet {
      display: grid;
    }

    @include onDesktop {
      display: grid;
      margin: 0 0 34px;
    }
  }

  &__description {
    // margin: 0 0 30px;
    padding: 0;
    margin-bottom: 20px;

    &--text {
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $colorMenu;

      @include onTablet {
        display: grid;
        font-size: 16px;
        line-height: 24px;
      }

      @include onDesktop {
        display: grid;
      }

      &:last-child {
        display: none;
        margin-bottom: 0;

        @include onDesktop {
          display: grid;
        }
      }
    }

    &-link {
      margin: 0 0 26px;

      @include onTablet {
        margin: 0 0 31px;
      }

      @include onDesktop {
        margin: 0 0 41px;
      }
    }

    &-button {
      width: 280px;
      height: 60px;
      color: $button-text-color;
      background-color: $text-color;
      text-align: center;
      // margin: 0 auto;

      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: $page-color;
        border: 1px solid $text-color;
      }

      &--link {
        display: block;
        width: 260px;
        height: 60px;
        margin: 0 auto;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $button-text-color;

        &:hover {
          color: $text-color;
        }
      }

      @include onTablet {
        display: grid;
      }

      @include onDesktop {
        display: grid;
      }
    }
  }

  &__image {
    display: none;

    @include onTablet {
      display: grid;
      box-sizing: border-box;
      justify-content: stretch;
      min-width: 342px;
      height: auto;
    }

    @include onDesktop {
      min-width: 580px;
    }

    &--photo {
      width: 100%;
      height: auto;
      overflow: auto;

      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}
