.dropdown {
  padding: 25px 20px 40px;

  @include onTablet {
    padding: 70px 27px 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    row-gap: 20px;

    @include onTablet {
      row-gap: 40px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $page-bg-color;
    width: 100%;
  }

  &__item {
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    padding-block: 10px;
    border-bottom: 1px solid $page-bg-color;
  }
}
