.eco-description {
  box-sizing: border-box;
  min-width: 280px;

  &__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 0;
    }

    &-image {
      display: flex;
      box-sizing: border-box;
      height: 60px;
      width: 80px;
      flex-grow: 1;
      object-fit: cover;
      margin: 0 auto;

      &--photo {
        align-self: center;
        height: auto;
        overflow: auto;
        object-fit: cover;
        width: 100%;

        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;

        &:hover {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }

    &-title {
      margin-top: 28px;

      &--text {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $text-color;
      }
    }
  }
}
