.field-form {
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #bdbdbd;

  &:nth-child(3) {
    margin-bottom: 45px;
  }

  &--text {
    @include small-text;
    
    text-transform: capitalize;
    color: $color-text-gray;
  }

  &--message {
    margin-bottom: 0;
    resize: none;
    height: 27px;
  }
}
