.footer-nav {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    padding-left: 0;

    @include onDesktop {
      flex-direction: row;
      column-gap: 40px;
    }
  }

  &__link {
    text-decoration: none;
    color: $page-bg-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-transform: capitalize;
    padding: 7px 7px 7px 0;

    @include onDesktop {

      @include hover(color, $dark-green);
    }
  }

  &__item {
    list-style: none;
  }
}
