.footer {
  background-color: $c-decor;
  color: $c-background;
  font-size: 14px;

  &__inner {
    padding: 30px 20px 60px;
  }

  &__span-dt {
    display: none;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }

  &__nav-link {
    color: inherit;
    padding-bottom: 5px;
  }

  &__sn {
    margin-bottom: 30px;
  }

  &__sn-link {
    margin-right: 20px;
  }

  &__support {
    margin-bottom: 20px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: $c-background;
    margin-bottom: 20px;
  }

  &__contacts-item {
    color: inherit;
    padding-bottom: 6px;
  }

  &__copyright {
    color: inherit;
    text-align: center;
    text-transform: uppercase;
  }

  @include media(tablet) {
    &__inner {
      padding: 30px 27px 50px;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }

    &__nav {
      order: 1;
      flex: 0 0 50%;
    }

    &__contacts {
      order: 2;
      flex: 0 0 50%;
    }

    &__sn {
      order: 3;
      flex: 0 0 50%;
    }

    &__support {
      order: 4;
      flex: 0 0 50%;
    }

    &__copyright {
      order: 5;
      flex: 0 0 100%;
      text-align: left;
    }
  }

  @include media(dt) {
    font-size: 18px;

    &__inner {
      padding: 20px 50px 60px;
    }

    &__support {
      flex: 0 0 100%;
      margin: 0 0 30px 50%;
    }

    &__copyright {
      flex: 0 0 50%;
    }

    &__sn {
      order: 6;
    }
  }
}
