.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  // background-color: #f8f8fa;
  border: none;
  border-bottom: 1px solid $light-text-color;
  background-color: $page-color;
  // border-radius: 40px;
  padding: 0 0 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;

  /* Gray 3 */

  color: $light-text-color;

  @include onDesktop {
    padding: 0 0 10px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: $light-text-color;

    @include onTablet {
      font-weight: 500;
    }

    @include onDesktop {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }
  }

  // &:placeholder-shown {

  // }

  &:hover {
    color: $text-color;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $text-color;
    color: $text-color;

    // border-color: $text-color;
    // outline: none;
  }

  &--textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: $light-text-color;

    &:focus {
      outline: none;
      border-bottom: 1px solid $text-color;
      color: $text-color;
    }

    @include onTablet {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      font-family: inherit;
    }
  }
}
