.form {
  @include onDesktop {
    padding-bottom: 20px;
  }

  :last-child {
    height: 40px;
  }

  &__field {
    font-family: Poppins, sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    height: 30px;
    background-color: #e4dfd3;
    padding: 0 5px;

    text-transform: capitalize;

    &::placeholder {
      font-size: 14px;
      color: #828282;

      @include onDesktop {
        font-size: 18px;
      }
    }
  }
}
