.gap-end {
  display: flex;
  justify-content: center;

  @include onTabletAndDesktop {
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include onTabletAndDesktop {
      flex-direction: row;
    }


    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      padding-right: 30px;
      padding-bottom: 50px;

      @include onTablet {
        width: 218px;
      }
    }
  }

  &__text {
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__photo {
    width: 80px;
    height: 60px;
    padding-bottom: 30px;

    &-leaf {
      height: 80px;
    }

    @include onDesktop {
      padding-bottom: 60px;
    }
  }
}
