.grid {
  box-sizing: border-box;
  display: grid;
  // position: relative;

  @include onMobile {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    // grid-template-rows: 1fr 1fr;
    // row-gap: 25px;
    justify-content: center;
    justify-self: center;
    align-self: center;
  }

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    justify-self: center;
    align-self: center;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    grid-template-rows: auto;
    // row-gap: 50px;
    justify-self: center;
    align-self: center;
  }

  &__item {
    display: grid;
    &-mobile {
      @for $start from 1 through 2 {
        @for $end from $start through 2 {
          &--col-#{$start}-#{$end} {
            @include onMobile {
              grid-column: #{$start} / #{$end + 1};
            }
          }
        }
      }

      &--col-1 {
        grid-column: 1;
      }

      &--row-1 {
        grid-row: 1;
      }

      &--row-2 {
        grid-row: 2;
      }

      &--row-3 {
        grid-row: 3;
      }
    }

    &-tablet {
      display: grid;
      align-content: space-between;

      @for $start from 1 through 6 {
        @for $end from $start through 6 {
          &--col-#{$start}-#{$end} {
            @include onTablet {
              grid-column: #{$start} / #{$end + 1};
            }
          }
        }
      }

      &--row-1 {
        grid-row: 1;
      }

      &--row-2 {
        grid-row: 2;

        // @include onDesktop {
        //   grid-row: 1;
        // }
      }

      &--row-3 {
        grid-row: 3;
      }

      &--row-4 {
        grid-row: 4;
      }

      &--col-3 {
        grid-column: 3;
      }
    }

    &-desktop {
      display: grid;
      align-content: space-between;
      @for $start from 1 through 12 {
        @for $end from $start through 12 {
          &--col-#{$start}-#{$end} {
            @include onDesktop {
              grid-column: #{$start} / #{$end + 1};
              grid-row: 1;
            }
          }
        }
      }

      &--col-1 {
        grid-column: 1;
      }

      &--col-2 {
        grid-column: 2;
      }

      &--row-1 {
        grid-row: 1;
      }

      &--row-2 {
        grid-row: 2;
      }

      &--row-3 {
        grid-row: 3;
      }

      &--row-4 {
        grid-row: 4;
      }
    }
  }
}
