.header {
  &__content {
    padding: 0 20px;
    box-sizing: border-box;
    height: 100vh;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__menu-opener {
    display: block;
    background-image: url(../images/Menu.svg);
    width: 20px;
    height: 13px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include onDesktop {
      display: none;
    }
  }

  &__logo {
    display: block;
    background-image: url("../images/Logo.svg");
    width: 24px;
    height: 24px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include onDesktop {
      background-image: url("../images/Logo_desktop.svg");
      width: 270px;
      height: 50px;
    }
  }

  &__icons {
    display: none;
    height: 27px;
    width: 250px;

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & > a {
      color: #344f10;
      text-decoration: none;
      font-weight: 500;
    }
  }

  &__spopping-cart {
    display: block;
    background-image: url(../images/Shopping_cart.svg);
    width: 24px;
    height: 24px;

    background-position: center;
    background-repeat: no-repeat;
  }

  &__photo {
    min-width: 320px;
    min-height: 267px;
    max-width: inherit;
    max-height: inherit;
    background-image: url(../images/Header_cosmetics.png);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    padding: 25px 0 10px;
    text-align: center;
    margin: 0;

    @include onTablet {
      font-size: 36px;
    }

    @include onDesktop {
      font-size: 60px;
    }
  }

  &__text {
    color: #333;
    padding-bottom: 30px;
  }

  &__button {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5ex;
    width: 280px;
    height: 60px;
    color: white;
    background-color: #333;
    margin-bottom: 50px;

    &:hover {
      cursor: pointer;
    }
  }
}
