.header {
  &__nav {
    display: grid;
    grid-template-columns: $icon-width 1fr $icon-width;
    justify-items: center;
    align-items: center;
    margin: 0 24px 12px;
  }

  &__container {
    @include container;
  }

  &__content {
    padding-top: 12px;
    @include container;

    @include onDesktop {
      padding-top: 81px;
    }
  }

  &__info {
    @include onDesktop {
      display: block;
    }
  }

  &__title {
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin: 0 auto 20px;

    @include onDesktop {
      text-align: left;
      margin: 0 0 20px;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    @include onDesktop {
      font-size: 22px;
      line-height: 29px;
      text-align: left;
      margin: 0 auto 44px;
    }
  }

  &__img-cont {
    display: block;
    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__img {
    width: 100%;
  }

  &__button {
    width: 100%;
    margin-bottom: 30px;
    height: 60px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    background-color: $color-black;
    border-radius: 4px;

    @include onDesktop {
      width: 55%;
      margin-bottom: 48px;
    }
  }
}
