.icon {
  display: block;
  width: $icon-width;
  height: $icon-width;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;

  &--menu {
    background-image: url(../images/Menu.png);

    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }

    @include onDesktop {
      display: none;
    }
  }

  &--cart {
    background-image: url(../images/shop.svg);

    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  &--cross {
    background-image: url(../images/CrossIconMenu.svg);

    &:hover {
      transform: scale(1.2);
      transition: 0.3s;
    }
  }
}
