.icon {
  @include hoverIncrease;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--logo {
    background-image: url(/images/logo.png);

    @include onSmallDesktop {
      display: none;
    }
  }

  &--menu {
    background-image: url(/images/menu.png);
  }

  &--desktop-logo {
    @include onSmallDesktop {
      background-image: url(/images/logo-name.png);
      width: 270px;
      height: 50px;
    }
  }

  &--shop {
    background-image: url(/images/shop.png);
  }

  &--close {
    background-image: url(/images/close-light.png);
  }
}
