.icon-cross {
  display: block;
  background-image: url(../images/Cross.svg);
  width: 15px;
  height: 15px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
