.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));
}

.icon--menu {
  background-image: url(../images/icons/icon-menu.svg);

  @include onDesktop {
    display: none;
  }
}

.icon--close {
  background-image: url(../images/icons/icon-close-2.svg);
  width: 15px;
  height: 15px;
}

.icon--logo {
  background-image: url(../images/icons/icon-logo.svg);

  @include onDesktop {
    display: none;
  }
}

.icon--basket {
  background-image: url(../images/icons/icon-basket.svg);
}

.icon--facebook {
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/icon-facebook-white.svg);
}

.icon--instagram {
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/icon-instagram-white.svg);
}
