.icon {
  display: block;
  width: $icon-width;
  height: $icon-width;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;

  &--menu {
    background-image: url(../images/Menu.png);

    @include onDesktop {
      display: none;
    }
  }

  &--cart {
    background-image: url(../images/PageCart.png);
  }

  &--cross {
    background-image: url(../images/IconShop.svg);
  }
}
