.information {
  position: relative;
  @include pageGrid;

  @include onDextop {
    padding-block: 100px;
    ::before {
      position: absolute;
      content: "";
      grid-column: 1/6;
      top: 0;
      left: -150px;
      right: 0;
      height: 1px;
      background-color: $background-color;
    }
    ::after {
      position: absolute;
      content: "";
      grid-column: 7/-1;
      bottom: 0;
      left: 0;
      right: -250px;
      height: 1px;
      background-color: $background-color;
    }
  }

  &__title {
    margin: 0;
    grid-column: 1 / -1;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: $color-title;
    text-align: center;

    @include onTablet {
      grid-column: 3 / 5;
    }

    @include onDextop {
      grid-column: 7/12;
      grid-row: 1;
      text-align: left;
    }
  }

  &__text {
    margin: 0;
    @extend %text-1;
    display: none;

    @include onDextop {
      display: block;
      grid-column: 2/6;
      grid-row: 1;
    }
  }
}
