.item-page {
  height: 100%;
  margin: 0 auto;
  padding: 0 0 72px;

  &__element {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: column-reverse;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 25px;
    }
  }

  &__price {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__image-container {
    height: 248px;
    margin-bottom: 30px;

    @include onTablet {
      height: 440px;
      margin-bottom: 27px;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__button {
    margin: 0 auto 50px;
  }

  &__paragraph {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
