.learn-more {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #344f10;
  text-transform: uppercase;
  padding-bottom: 12px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: #344f10;
  }
}
