.lern-more {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding-bottom: 10px;
  color: $c-accent;
  @extend %text-3;
  border-bottom: 1px solid transparent;
  @include hover(border-color, $c-accent);
}
