.main {
  &__hero {
    margin-bottom: 30px;
    @include media(tablet) {
      margin-bottom: 50px;
    }
    @include media(dt) {
      margin-bottom: 100px;
    }
  }

  &__about {
    position: relative;
  }

  &__creators {
    position: relative;
  }

  &__ingredients {
    position: relative;
  }
}
