.main {
  @include pageGrid;
  padding-block: 100px;
  row-gap: 100px;
  background-color: $background-page;

  @include onTablet {
    row-gap: 130px;
    padding-block: 130px;
  }

  @include onDextop {
    row-gap: 200px;
    padding-block: 200px;
  }
}
