.main {
  position: relative;
  z-index: 2;
  background-color: $color-light-1;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    padding-block: 100px;
    overflow-x: hidden;

    @include onTabletLarge {
      padding-block: 130px;
      row-gap: 130px;
    }

    @include onDesktopMedium {
      padding-block: 0 130px;
      row-gap: 200px;
    }
  }
}
