.menu {
  background-color: $color-dark-grey;
  padding: 20px 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;

  @include onTablet {
    padding: 28px 0;
  }

  &__nav {
    margin-bottom: 45px;

    @include onTablet {
      margin-bottom: 100px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include onTablet {
      gap: 50px;
    }
  }

  &__item {
    color: $color-background;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px solid $color-light-grey;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;

    @include hover(scale, 110%);
  }
}
