.menu {
  padding-top: 20px;

  height: 100%;
  background-color:  $clr--gray-1;
  overflow: hidden;

  @include onTablet {
    padding-top: 28px;
  }
}

.nav-mobile {
  padding-top: 55px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  &__item {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $clr--gray-3;
  }

  &__link {
    padding-bottom: 10px;

    width: 100%;
    display: inline-block;

    color: $clr--bg;
    font-family: $font--main;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;

    @include hover(transform, scale(1.2));
  }
}
