.menu {
  background-color: $color-black;
  text-align: center;
 

  &__container {
    @include container;
  }

  &__content {
    height: 100vh;
    padding: 0;
  }

  // &__icon {
  //   width: 16px;
  //   margin: 0 0 10px;
  // }

  &__list {
    margin: 0 0 48px 20px;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 40px;

    &:first-child {
      padding-top: 80px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gray2;

    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
  }
}
