.more {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $colorGreen;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  width: max-content;
  padding-bottom: 10px;
  transition: all 0.3s;

  &:hover {
    border-color: $colorGreen;
  }
}
