.more-btn {
  display: inline-block;
  padding-bottom: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $color-accent;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $color-accent;
  }
}
