.motto {
  padding: 30px 20px;
  overflow-x: hidden;

  &__heading {
    color: $c-accent;
    width: 280px;
    margin: 0 auto;
  }
  &__description {
    display: none;
  }

  @include media(tablet) {
    padding: 50px;
  }
  @include media(dt) {
    display: grid;
    grid-template-columns: repeat(2, 380px);
    gap: 120px;
    padding: 100px 0 100px 150px;

    &__heading {
      order: 2;
      width: unset;
      @include deco-lines(left, bottom);
    }

    &__description {
      display: block;
      @include deco-lines(right, top);
    }
  }
}
