.nav-desktop {
  display: none;

  @include onDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 81px;

    @include onDesign {
      margin: 40px 0 70px;
    }
  }

  &__image {
    display: block;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $colorGreen;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;

    &:hover {
      border-color: $colorGreen;
    }
  }

  &__bag {
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}
