.page {
  font-family: Poppins, sans-serif;
  background: #e4dfd3;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100vw;
  scroll-behavior: smooth;

  p {
    margin: 0;
  }

  &__body {
    margin: 0;

    &--with-menu {
      height: 100vh;
      overflow: hidden;

      @include onDesktop {
        overflow: auto;
      }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    padding: 0 20px 100px;

    &-shop {
      padding: 0 0 100px;
    }

    @include onTablet {
      padding: 0 25px 130px;
    }

    @include onDesktop {
      padding: 0 50px 300px;
    }

    &-sidebar {
      display: none;
      position: absolute;

      @include onDesktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
      }

      &-text {
        writing-mode: tb-rl;
        transform: rotate(180deg);
        color: rgba(52, 79, 16, 0.5);
        padding-top: 10px;
      }

      &-line {
        display: block;
        width: 1px;
        height: 100px;
        background-color: rgba(52, 79, 16, 0.5);
      }
    }

    &-title {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      color: #344f10;
      text-transform: uppercase;
      padding-bottom: 20px;

      @include onDesktop {
        font-size: 36px;
        padding-bottom: 40px;
      }
    }

    &-text {
      font-size: 14px;
      color: #333;
      width: 100%;
      padding-bottom: 20px;

      & > p:last-child {
        padding-bottom: 30px;

        @include onDesktop {
          padding-bottom: 40px;
        }
      }

      @include onTabletAndDesktop {
        font-size: 16px;
      }

      &-desktop {
        display: none;

        @include onDesktop {
          display: grid;
        }
      }
    }

    &-link {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      color: #344f10;
      border-bottom: 1px solid transparent;
      padding-bottom: 10px;

      &:hover {
        cursor: pointer;
        border-color: #344f10;
      }
    }
  }

}
