.power {
  &__img {
    @include onDesktop1280 {
      padding-right: 51px;
    }

    @include onDesktop1440 {
      padding-right: 130px;
    }
  }

  &__left-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__right-block {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  &--ondesktop1280 {
    padding: 0 0 0 20px;

    @include onTablet {
      padding: 0 0 0 27px;
    }
  }

  &__head-text {
    margin-bottom: 20px;

    @include onTablet {
      width: 100%;
    }

    @include onDesktop1280 {
      width: 380px;
    }

    &--onmobile {
      display: inline-block;

      @include onTablet {
        display: none;
      }
    }

    &--ontablet {
      display: none;

      @include onTablet {
        display: inline-block;
      }
    }
  }

  &__container {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include onDesktop1280 {
      position: relative;
      padding-left: 82px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 42px;
  }
}
