.powder {
  &__title {
    width: 200px;

    @include onDesktop {
      width: 380px;
    }
  }

  &__content {
    display: flex;
    justify-content: flex-end;

    padding-bottom: 30px;
  }

  &__composition {
    padding-top: 37px;
    padding-right: 180px;
    display: flex;
    flex-direction: column;
    height: 322px;
    width: 120px;
    justify-content: space-between;

    @include onTablet {
      padding-right: 220px;
    }

    @include onDesktop {
      width: 180px;
      padding-right: 20px;
    }

    &-item {
      font-size: 16px;
      color: #333;
      text-align: end;
    }
  }

  &__photo {
    display: block;
    width: 182px;
    height: 397px;
    background-image: url(../images/Powder.svg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    right: 0;

    @include onTablet {
      background-image: url(../images/Powder-tablet.svg);
      width: 398px;
      height: 397px;
    }

    @include onDesktop {
      background-image: url(../images/Powder-desktop.svg);
      width: 480px;
      height: 397px;

      position: relative;
      right: inherit;
    }
  }
}
