.preview {
  &__title {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  &__text {
    &:last-of-type {
      margin-bottom: 40px;

      @include mobile {
        margin-bottom: 30px;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;

      @include mobile {
        margin-bottom: 20px;
      }
    }

    @include mobile {
      font-size: 14px;
      line-height: 150%;
    }
  }

  &__more-btn {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
