.product-card {
  box-sizing: border-box;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  &__title-1 {
    margin-bottom: 20px;

    @include onTablet {
      display: none;
    }

    &--text {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $text-color;
      text-align: left;
      margin-bottom: 10px;

      @include onTablet {
        margin-bottom: 15px;
      }

      @include onDesktop {
        margin-bottom: 13px;
      }
    }

    &--price {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $text-color;
      margin-bottom: 0;
    }
  }

  &__image {
    display: flex;
    box-sizing: border-box;
    height: auto;
    min-width: 280px;
    flex-grow: 1;
    object-fit: cover;
    margin-bottom: 30px;

    @include onTablet {
      min-width: 466px;
      margin-bottom: 27px;
    }

    @include onDesktop {
      min-width: 530px;
    }

    &--photo {
      align-self: center;
      height: auto;
      // max-width: 100%;
      overflow: auto;
      object-fit: cover;
      width: 100%;
    }
  }

  &__title-2 {
    display: none;

    @include onTablet {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }

    &--text {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $text-color;
      text-align: left;
      margin-bottom: 10px;

      @include onTablet {
        margin-bottom: 25px;
      }

      @include onDesktop {
        margin-bottom: 13px;
      }
    }

    &--price {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $text-color;
      margin-bottom: 10px;
    }

    &--amount {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $text-color;
      margin-bottom: 0;
    }
  }

  &__button {
    margin: 0 auto;
  }

  &__description {
    margin-top: 50px;

    @include onTablet {
      margin-top: 60px;
    }

    &--product {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $colorMenu;
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 25px;
      }
    }
  }
}
