.product-card {
  &__image {
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;

    @include mobile-mini {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 15px;

    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include mobile-mini {
      margin-bottom: 10px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
