.product__card {
  &-name {
    margin-bottom: 25px;
  }

  &-price {
    margin-bottom: 20px;
  }

  &-img {
    margin-bottom: 30px;
  }

  &-button {
    margin-bottom: 50px;
  }

  &--mobile {
    display: none;
  }

  &--first-word {
    color: $color-second-text;
  }

  &--text:last-child {
    margin-bottom: 20px;
  }

  @include ontablet {
    &--container {
      padding: 0 151px;
    }

    &--ontablet {
      display: none;
    }

    &--mobile {
      display: block;
      color: $color-second-text;
    }

    &-price {
      margin-bottom: 10px;
    }

    &-button {
      width: 280px;
      margin: 0 auto 50px;
    }

    &--text {
      font-size: 16px;
    }

    &--text:last-child {
      margin-bottom: 72px;
    }
  }
}
