.production {
  display: flex;
  flex-direction: column;
  gap: 48px;
  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 28px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    @include onTablet {
      margin-top: 154px;
    }
    @include onDesktop {
      margin-top: 206px;
    }
    @include onScreen {
      margin-top: 214px;
    }
    &-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #000;
      margin-top: 20px;
      width: 100%;
      @include onTablet {
        width: 218px;
      }
      @include onDesktop {
        width: 380px;
      }
    }
    &-img {
      &-1 {
        margin-top: 102px;
        @include onTablet {
          margin-top: 0;
        }
      }
    }
  }
}
