.secondary-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(52, 79, 16, 0.5);
  text-decoration: none;
  transform: rotate(-90deg);
  position: relative;
  &::before {
    position: absolute;
    margin-left: -70px;
    
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    background-color: rgba(52, 79, 16, 0.5);
    transform: rotate(90deg);
  }
  &:hover {
    color: $secondaryColor;
    transition-duration: 0.3s;
  }
}
