.shop {
  box-sizing: border-box;
  min-width: 280px;
  // margin: 0 20px;

  &__subtitle {
    @include onDesktop {
      position: absolute;
      top: 1%;
    }
  }

  &__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  &__title {
    margin: 0 0 20px;
    text-align: center;

    @include onTablet {
      display: inline-block;
      text-align: left;
      margin: 0 0 10px;
    }

    @include onDesktop {
      display: inline-block;
      margin: 0 0 30px;
    }
  }

  &__menu {
    padding: 0;
    margin: 0 0 25px;

    @include onDesktop {
      margin: 0 0 50px;
    }

    &--list {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-basis: 100%;
      justify-content: flex-start;
      list-style: none;
    }

    &--item {
      width: max-content;

      &:not(:first-child) {
        margin-left: 34px;

        @include onTablet {
          margin-left: 14px;
        }

        @include onDesktop {
          margin-left: 34px;
        }
      }
    }

    &--link {
      display: inline-block;
      padding: 0 0 10px;
      border-bottom: 1px solid transparent;

      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: none;
      color: $light-text-color;
      cursor: pointer;

      transition: border-color 0.3s;

      &:hover {
        color: $text-color;
        border-color: $text-color;
      }

      @include onDesktop {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $text-color;
      }
    }
  }

  &__cards {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    @include onTablet {
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
    }

    @include onDesktop {
      flex-direction: row;
      margin-bottom: 40px;
      align-items: center;
    }

    &-1 {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      width: 100%;

      @include onTablet {
        flex: 1 1 calc(50% - 10px);
        margin-right: 30px;
      }

      @include onDesktop {
        flex: 1 1 calc(50% - 10px);
        margin-right: 20px;
      }

      &-image {
        display: flex;
        box-sizing: border-box;
        height: auto;
        min-width: 320px;
        flex-grow: 1;

        object-fit: cover;
        margin-bottom: 20px;

        @include onTablet {
          min-width: 342px;
        }

        @include onDesktop {
          min-width: 530px;
        }

        &--photo {
          align-self: center;
          height: auto;
          overflow: auto;
          object-fit: cover;
          width: 100%;

          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;

          &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }

      &-title {
        margin-bottom: 0;

        &--link {
          display: block;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          text-decoration: none;
          color: $text-color;
          text-align: left;
          margin-bottom: 10px;
          transition: all 0.2s ease-in-out;

          @include onTablet {
            margin-bottom: 15px;
          }

          @include onDesktop {
            margin-bottom: 13px;
          }

          &:hover {
            font-size: 1.3rem;
          }
        }

        &--price {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: $text-color;
          margin-bottom: 0;
        }
      }
    }

    &-2 {
      display: none;

      @include onTablet {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex: 1 1 calc(50% - 10px);
      }

      &-image {
        display: flex;
        box-sizing: border-box;
        height: auto;
        min-width: 320px;
        flex-grow: 1;

        object-fit: cover;

        @include onTablet {
          min-width: 342px;
          margin-bottom: 20px;
        }

        @include onDesktop {
          min-width: 530px;
          margin-bottom: 20px;
        }

        &--photo {
          align-self: center;
          height: auto;
          overflow: auto;
          object-fit: cover;
          width: 100%;

          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;

          &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }
        }
      }

      &-title {
        margin-bottom: 0;

        &--link {
          display: block;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          text-decoration: none;
          color: $text-color;
          text-align: left;
          margin-bottom: 10px;
          transition: all 0.2s ease-in-out;

          @include onTablet {
            margin-bottom: 15px;
          }

          @include onDesktop {
            margin-bottom: 13px;
          }

          &:hover {
            font-size: 1.3rem;
          }
        }

        &--price {
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: $text-color;
          margin-bottom: 0;
        }
      }
    }
  }

  &__button {
    width: 280px;
    height: 60px;
    color: $button-text-color;
    background-color: $text-color;
    text-align: center;
    margin: 0 auto;

    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $page-color;
      border: 1px solid $text-color;
    }

    &--link {
      display: block;
      width: 260px;
      height: 60px;
      margin: 0 auto;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 60px;
      text-align: center;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: $button-text-color;

      &:hover {
        color: $text-color;
      }
    }
  }
}
