.side-text {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $color-green;
  opacity: 0.5;
  transform: rotate(-90deg) translateX(-50%);
  width: fit-content;
  position: absolute;

  @include onDesktop {
    display: block;
  }

  &::before {
    content: "";
    border: 1px solid $color-green;
    width: 100px;
    display: block;
    position: absolute;
    bottom: 8px;
    left: -116px;
    opacity: 0.5;
  }
}
