.side-text {
  display: none;

  @include onSmallDesktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    grid-column: 1 / 2;
    opacity: 0.5;

    .block-content {
      font-size: 14px;
      font-weight: $font-weight-medium;
      line-height: 130%;
      color: $color-secondary;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }

    .block-line {
      background-color: $color-secondary;
      width: 1px;
      height: 100px;
      order: 1;
    }
  }
}
