.side {
  display: none;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.5, 1.5) rotate(-90deg);
    color: $colorBlack;
  }

  @include onDesktop {
    display: flex;
    align-items: center;
    gap: 15px;
    transform: rotate(-90deg);
  }

  &__link {
    display: block;
    width: max-content;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: rgba(52, 79, 16, 0.5);
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      color: $colorBlack;
    }
  }

  &__line {
    width: 100px;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
  }
}
