.tab {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include onDesktop {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
  }
  
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  color: #8e8d8c;
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;

  &:hover {
    color: #333;
  }

  &--active {
    color: #333;
    border-color: #333;
  }
}
