.title {
  font-family: Avenir, sans-serif;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: $color-green2;
  text-transform: uppercase;
  text-align: left;

  @include onTablet {
    font-size: 24px;
  }
}
