.tooth-powder {
  position: relative;

  &__title {
    margin-bottom: 58px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;
    margin-bottom: 67px;

    @include onTablet {
      margin-bottom: 8px;
      position: relative;
      top: -30px;
    }

    @include onDesktop {
      top: 40px;

    }
  }

  &__ingridient {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    width: 98px;
    margin-right: 202px;

    @include onTablet {
      margin-right: 380px;
    }

    @include onDesktop {
      margin-right: 0;
    }
  }

  &__picture {
    background-image: url(../images/toothpowderphone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 395px;
    width: 200px;
    bottom: 48px;
    right: 0;
    position: absolute;

    @include onTablet {
      background-image: url(../images/toothpowdertablet.svg);
      width: 380px;
      top: 0;
      bottom: 0;
      height: 398px;
    }

    @include onDesktop {
      background-image: url(../images/toothpowderdesktop.svg);
      position: relative;
      width: 480px;
    }
  }

  &__side-text {
    left: 48px;
  }

  &__link {
    width: fit-content;
  }
}
