.tooth {
  position: relative;
  overflow: hidden;

  &__title-text {
    margin-bottom: 450px;

    @include onTablet {
      margin-bottom: 287px;
    }
  }

  &__ingredients-list {
    position: absolute;
    top: 0;
    left: -110px;
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 49.5px;
    padding-top: 36px;

    @include onTablet {
      left: -100px;
      gap: 46.5px;
    }

    @include onDesktop {
      left: -80px;
      gap: 48px;
    }

    &--space {
      left: -60px;
    }
  }

  &__image {
    position: absolute;
    top: 93px;
    right: 0;
    width: 182px;
    height: 395px;

    background-image: url(../images/mobile/tooth-powder-mobile.svg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;

    @include onTablet {
      height: 360px;
      width: 395px;
      top: 0;
      background-size: contain;

      background-image: url(../images/tablet/tooth-powder-tablet.svg);
    }

    @include onDesktop {
      height: 390px;
      width: 500px;

      background-image: url(../images/desktop/tooth-powder.svg);
    }
  }

  &__link {
    display: block;
    width: max-content;
    font-size: 14px;
    line-height: 18px;
  }
}
