.tooth {
  position: relative;
  overflow: hidden;

  &__item {
    position: relative;
  }

  &__title-text {
    margin-bottom: 450px;

    @include onTablet {
      margin-bottom: 287px;
    }
  }

  &__ingredients-list {
    position: relative;
    top: 0;
    right: 165px;
    display: inline-flex;
    flex-direction: column;
    text-align: end;
    gap: 50px;
    padding-top: 36px;

    @include onTablet {
      right: 216px;
    }
  }

  &__item::after {
    margin-left: 20px;
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    background-color: $menu-link-text-btn-bg-color;
    width: 32px;
    top: 50%;
    left: 100%;

    @include onTablet {
      width: 76px;
      right: -100px;
    }
  }

  &__item::before {
    position: absolute;
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 52%;
    right: -55%;
    transform: translateY(-50%);
    background-color: $menu-link-text-btn-bg-color;

    @include onTablet {
      right: 100%;
      transform: translate(-2px, -50%);
      right: -100px;
    }
  }

  &__image {
    position: absolute;
    top: 93px;
    right: -245px;
    height: 390px;
    width: 380px;

    background-image: url(../images/desktop/tooth-powder.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include onTablet {
      right: -74px;
      top: 0;
      background-size: contain;
      background-image: url(../images/desktop/tooth-powder.svg);
    }

    @include onDesktop {
      right: 0;
      background-image: url(../images/desktop/tooth-powder.svg);
    }
  }

  &__link {
    display: block;
    width: max-content;
    font-size: 14px;
    line-height: 18px;
  }
}
