.top__bar {
  @include pageGrid;
  grid-column: 1/-1;
  padding-bottom: 20px;

  @include onTablet {
    padding-bottom: 30px;
  }

  @include onDextop {
    grid-row: 2;
    padding-bottom: 81px;
  }

  &-icon {
    grid-column: 1/-1;
    padding-top: 15px;
    height: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      padding-top: 23px;
    }

    @include onDextop {
      height: 50px;
      padding-top: 40px;
    }
  }
}
