.wrapper {
  width: calc(100% - 40px);
  margin: 0 auto;
  @include onTablet {
    width: calc(100% - 54px);
  }

  @include onDesktop {
    width: calc(100% - 100px);
  }

  @include onScreen {
    width: 1180px;
  }
}
