.about-creators {
  &__card {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include onTablet {
      min-height: 440px;
    }
    @include onLaptop {
      min-height: 660px;
    }
    @include onDecktop {
      min-height: 645px;
    }
  }
  &__img-container {
    display: none;
    overflow: hidden;
    @include onTablet {
      display: block;
      min-height: 440px;
    }
    @include onLaptop {
      min-height: 660px;
    }
    @include onDecktop {
      min-height: 645px;
    }
  }
  &__img {
    width: 100%;
    min-height: 440px ;
    object-fit: cover;
    object-position: center;
    @include onLaptop {
      height: 659px;
    }
  }
  &__subtitle {
    &::before {
      top: -90%;
    }
  }
}
