.about-creators {
  margin: 0 20px 100px;

  &__title {
    @extend %h4;
    margin-bottom: 10px;
  }

  &__description {
    @extend %text;
    margin-bottom: 20px;
  }

  &__button {
    margin-top: 36px;
  }
}
