.about {
  &__info {
    padding-top: 40px;
  }

  &__img-container {
    display: none;
    margin-bottom: 24px;

    @include onDesktop {
      display: block;
      margin-bottom: 0;
      height: 100%;
    }
  }
}
