.about-our-brand {
  &__image {
    height: 100%;
    background: url(../images/our-brand/image-desktop-1.jpg) no-repeat center/cover;

    @include onDesktop {
      grid-column: span 8;
    }

    &--small {
      display: none;

      @include onDesktop {
        display: block;
        height: 80%;
        background: url(../images/our-brand/image-desktop-small.jpg) no-repeat center/cover;
        grid-column: span 4;
      }
    }

  }
}
