.about-us {
  &__bookmark {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 15px;
    }

    @include onDesktop {
      margin-bottom: 30px;
    }

    &--extra {
      display: none;
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 20px;
      }

      @include onDesktop {
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  &__image {
    display: none;
    height: 435px;

    @include onTablet {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__link {
    display: block;
    margin-bottom: 25px;

    @include onDesktop {
      margin-bottom: 40px;
    }
  }
}
