.about-our-brand {

  &--margin-bottom {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 130px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__container {
    @extend %container;
    @extend %paddings-sides;
  }

  &__side-block {
    @extend %side-block;
  }

  &__block {
    box-sizing: border-box;
    overflow: hidden;

    &--padding-top {
      padding-top: 99px;
    }
  }

  &__side-text {
    @extend %side-text;
  }

  &__subtitle {
    @extend %subtitle;

    &--margin-bottom {
      margin-bottom: 10px;

      @include onDesktop {
        margin-bottom: 40px;
      }
    }
  }

  &__text {
    overflow: hidden;
  }

  &__description {
    @extend %text;

    &--margin-bottom {
      &:nth-child(1) {
        margin-bottom: 30px;
      }

      &:nth-child(2) {
        margin-bottom: 40px;
      }
    }

    &--hidden {
      display: none;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    display: none;
    transition: 0.3s;

    &:hover {
      scale: 1.3;
    }

    &--1 {

      @include onTablet {
        display: block;
        height: 321px;
      }

      @include onDesktop {
        height: 529px;
      }
    }

    &--2 {
      @include onDesktop {
        display: block;
        height: 430px;
      }
    }
  }
}
