.about__our {
  &-wrapper {
    @include onTablet {
      @include pageGrid;
    }
  }

  &-title {
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #344f10;

    &-wrapper {
      @include onTablet {
        padding-inline: 244px;
        text-align: center;
        grid-column: 3 / 5;
      }
    }
  }

  &-general--title {
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #344f10;

    &-wrapper {
      @include onTablet {
        margin-top: 130px;
        grid-column: 1 / 3;
      }
    }
  }

  &-info {
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #333;

    &-wrapper {
      @include onTablet {
        grid-column: 1 / 4;
      }
    }
  }

  &-button {
    margin-top: 25px;
  }

  &-picture {
    @include onTablet {
      background-image: url(../images/picture/about-our-picture-tablet.png);
      width: 342px;
      height: 321px;
    }

    &--wrapper {
      @include onTablet {
        grid-column: 3 / 7;
      }
    }
  }

  &-link {
    &--wrapper {
      grid-column: 1 / 2;
    }
  }
}
