.about-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  text-align: center;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &__item {
    margin-bottom: 50px;
    flex-basis: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @include on768px {
      flex-basis: 33%;
      margin-bottom: 0;
    }
  }

  &__info {
    margin-top: 20px;
  }

  &__photo {
    @include scale115;
  }
}
