.active {
  position: relative;
  color: $color-black;

  &:active {
    color: $color-black;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: $color-black;
    bottom: 0;
    left: 0;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
    font-weight: 600;
  }
}
