.action {
  @include onDesktop {
    @include pageGrid;
  }

  &__text {
    display: none;

    @include onDesktop {
      display: block;
      grid-column: 2 / 6;
      margin: 0;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: -100px;
        display: block;
        height: 1px;
        width: 100%;
        background-color: $main-color-title;
      }
    }
  }

  &__title {
    @include title;
    font-size: 18px;
    letter-spacing: 0.9px;
    line-height: 27px;

    @include onTablet {
      width: 280px;
      margin-inline: auto;
      text-align: center;
    }

    @include onDesktop {
      grid-column: 7 / -3;
      position: relative;
      text-align: left;

      &::after {
        content: "";
        position: absolute;
        bottom: -100px;
        display: block;
        height: 1px;
        width: 100%;
        background-color: $main-color-title;
      }
    }
  }
}
