@use '../utils/mixins' as *;
@use '../utils/vars';

.address {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 46px;

  @include for-desktop {
    gap: 17px;
    margin-bottom: 27px;
  }

  &__label {
    @include visually-hidden;
  }

  &__link {
    text-decoration: none;
  }

  &__content {
    font-family: $font-family;
    font-weight: $small-text-weight;
    font-size: $small-text-size;
    line-height: $small-text-line-height;
    letter-spacing: $small-text-letter-spacing;
    color: $bg-color;

    @include for-desktop {
      font-size: $text1-size;
      line-height: $text1-line-height;
    }
  }
}
