.ads-text {
  &__small-text {
    display: none;
    margin: 0;

    @include onDesktop {
      display: block;
    }
  }

  &__big-text {
    margin: 0 auto;
    max-width: 280px;

    text-transform: uppercase;
    color: $colorDarkGreen;
    @extend %h5;

    @include onDesktop {
      max-width: 100%;
    }
  }
}
