.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;

  &__image {
    cursor: pointer;
    height: 75px;
    margin-bottom: 20px;

    @include hover(transform, scale(1.1));
  }

  &__text {
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }
}