.advantage {
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include onTablet {
    font-weight: bold;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 50px;
  }
}
