.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  &__picture {
    width: 80px;
  }

  &__description {
    padding-bottom: 50px;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &--no-padding {
      padding-bottom: 0;
    }

    @include onTablet {
      padding-bottom: 0;
    }
  }
}
