.sidebarPage__cards {
  display: flex;
  flex-direction: column;
  gap: 45px;

  padding-bottom: 30px;

  @include on-tablet {
    @include grid;
  }

  @include on-desktop {
    @include grid;
  }
}

.allProdCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  border-radius: 10px;
  padding: 15px;


  @include on-tablet {
    grid-column: span 3;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &__title {
    @include h5;
    
    margin-bottom: 10px;
  }

  &__price {
    margin-bottom: 20px;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__button {
    width: 100%;
    margin-bottom: 50px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-a1 {
      text-align: justify;
    }

    &-a2 {
      text-align: justify;
    }
  }
}
