.aside {
  position: relative;
  display: inline-block;
  width: max-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: rgba(52, 79, 16, 0.5);
  transform: rotate(-90deg);

  &::before {
    position: absolute;
    top: 50%;
    left: -58%;
    margin-left: -10px;
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
  }
}
