.aside {
  &__container {
    @include media(notebook) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }

  &__content {
    @include media(notebook) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      grid-column: 1 / -1;
      justify-content: start;
    }
  }

  &__title {
    color: $c-green-1;
    text-transform: uppercase;
    @extend %h5;

    @include media(tablet) {
      margin: 0 auto;
      text-align: center;
    }

    @include media(notebook) {
      grid-column: 7 / 11;

      width: 100%;

      text-align: left;
      font-size: 24px;
    }
  }

  &__about {
    display: none;
    color: $c-dark-main;
    @extend %text;

    @include media(notebook) {
      display: block;
      grid-column: 2 / 6;
      grid-row: 1;
    }
  }
}
