.aside {
  display: none;
  position: absolute;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0 0;
  margin-left: 50px;

  @include onLaptop {
    display: flex;
  }

  &__line {
    width: 80px;
    margin-right: 10px;
  }

  &__text {
    font-family: "Sharp Sans Display No2", sans-serif;
    text-transform: $text-uppercase;
  }
}
