.ayurvedic-powder {
  margin: 0 20px 100px;

  &__title {
    @extend %h4;
    margin-bottom: 22px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-bottom: 60px;
    text-align: right;
  }

  &__component {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: 50%;
      height: 1px;
      width: 76px;
      margin-left: 20px;

      background-color: $c-black;
    }
  }

  &__image-wrapper {
    padding-left: 48px;
  }
}
