.back {
  display: none;
  @media (min-width: 1280px) {
    display: block;
  }
  position: absolute;
  left: 0;
  top: 1500px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  opacity: 50%;

  &::before {
    content: " ";
    background: #344f10;
    width: 88px;
    height: 1px;
    float: left;
    margin-right: 10px;
    margin-top: 8px;
  }

  &__shop {
    top: 2200px;
    padding-top: 160px;
  }

  &__creators {
    top: 3293px;
  }

  &__contact-us {
    top: 5140px;
  }

  &__tooth {
    top: 4130px;
  }
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: rotate(-90deg) translateX(-1em);
  }
}
