.baner {
  margin-bottom: 100px;
  margin-top: 100px;

  &__container {
    display: flex;
    align-items: center;
    gap: 120px;
  }

  &__text {
    color: $c-green;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;

    @include onDesktop {
      font-size: 24px;
      letter-spacing: 1.2px;
      max-width: 380px;
    }
  }
}

.baner__text-desktop {
  display: none;
  font-size: 16px;
  line-height: 150%;

  @include onDesktop {
    display: block;
    max-width: 380px;
    margin-left: 100px;
  }
}

.border-line {
  @include onDesktop {
    margin-top: 100px;
    width: 530px;
    border-top: 1px solid $c-green;

    &-bottom {
      margin-top: 100px;
      width: 710px;
      border-top: 1px solid $c-green;
    }
  }
}
