.before__title {

  
  @include onDesktop {
    display: inline;
    grid-column: 1 / 2;
    transform: rotate(-90deg);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    max-width: 70px;
  }

  &-content {
    display: none;

    @include onDesktop {
      color: rgba(52, 79, 16, 0.5);
      display: inline-block;
      white-space: nowrap;
      margin-left: -220%;

      &::before {
        display: block;
        content: "";
        background-color: rgba(52,79,16,0.5);
        height: 1px;
        width: 50%;
        margin-left: -60%;
        margin-bottom: -5%;
      }
    }
  }
}
