.benefits {
  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    @include onPhone {
      flex-direction: column;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    @include onPhone {
      padding-bottom: 50px;
    }
  }

  &__img {
    height: 85px;
    margin-bottom: 40px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(110%);
    }
  }

  &__paragraph {
    @include Poppins400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
