.benefits {

  @include onTablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__photo-container {
    height: 70px;
    margin-bottom: 20px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    &--text {
      text-transform: uppercase;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.05em;

      @include onTablet {
        font-weight: $fontWeigthTablet;
      }
    }

  }
}
