.benefits {

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 50px 230px;
  }

  &__benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
  }

  &__img1 {
    width: 81px;
    height: 60px;
    background-image: url("../images/ingradients/benefit1.svg");
    @extend %bg-cover-noRep-center;
  }

  &__img2 {
    width: 99px;
    height: 84px;
    background-image: url("../images/ingradients/benefit2.svg");
  }

  &__img3 {
    width: 81px;
    height: 74px;
    background-image: url("../images/ingradients/benefit3.svg");
  }

  &__name {
    margin-top: 40px;
    font-size: 14px;
    line-height: 18px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000;
  }
}
