.body {
  background: $main-color;
  overflow: hidden;

  &__container {
    margin: 0 auto;
    padding-inline: 60px;
    @include hugeDevices {
      padding-inline: 130px;
    }
    @include bigDevices {
      padding-inline: 50px;
    }
    @include mediumDevices {
      padding-inline: 27px;
    }
    @include smallDevices {
      padding-inline: 20px;
    }
  }
}
