.page__body {
  margin: 0 auto;
  background: $backgr;
  .disp {
    @include onMobiles {
      display: none;
    }
    @include onTablet {
      display: none;
    }
    @include onDesktop {
      display: block;
    }
  }
  .disp1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include onDesktop {
      display: none;
    }
  }
  &--with-menu {
    overflow: hidden;
  }
}
