.bookmark {
  @include onDesktop {
    color: rgba(52, 79, 16, 0.5);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    position: absolute;
    left: 0;

    &--about__our {
      top: 140px;
    }

    &--creators {
      top: 112px;
    }

    &--product {
      top: -114px;
    }

    &--contact-us {
      top: 232px;
    }

    &::before {

      content: "";
      transform: rotate(90deg);
      border-bottom: 1px solid rgba(52,79,16,0.5);
      width: 100px;
      display: block;
      position: absolute;
      left: -42px;
      top: -60px;
    }

    &-wrapper {
      margin-top: 130px;
    }
  }
}
