.bookmark {
  transform: rotate(-180deg);
  height: max-content;
  width: min-content;
  writing-mode: vertical-lr;
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: rgba(52, 79, 16, 0.5);

  &::after {
    content: '';
    display: block;
    width: 1px;
    height: 100px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    background-color: rgba(52, 79, 16, 0.5);
  }
}
