.bottom-icons {
  &__mb {
    row-gap: 50px;
  }
  &__container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    justify-items: center;
    height: 100%;
  }

  &__text {
    @extend %bottom-icons-text;
    text-transform: uppercase;
    color: $color-black;
    margin-top: 20px;
  }

  &__icon {
    transition: transform 0.5s;

    &--bird:hover {
      transform: rotate(-20deg);
    }

    &--triangle:hover {
      transform: rotate(20deg);
    }

    &--leaf:hover {
      transform: rotate(20deg);
    }
  }
}
