@import "../utils";

.bottom-link {
  padding-bottom: 10px;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: $greenColor;

  &:hover {
    border-bottom: 1px solid $greenColor;
  }
}
