.bottle {
  position: relative;

  &__title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @media (max-width: 800px) {
      font-size: 24px;
    }

    @media (max-width: 380px) {
      line-height: 130%;
    }
  }

  &__scketch {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 1fr 380px;
    grid-template-rows: 1fr;
    margin-right: 20px;
  }

  &__picture-wrap {
    display: flex;
    width: 380px;
    margin-left: 20px;

    @media (max-width: 800px) {
      margin-left: 0;
    }
  }

  &__picture {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 51px;
    margin-top: 40px;
    align-items: flex-end;
    
    @media (max-width: 1000px) {
      margin-right: -40px;
      gap: 40px;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  &__ellipse {
    @media (max-width: 800px) {
      display: none;
    }
  }

  &__text {
    display: flex;
    flex-direction: row;
  }

  &__text-hidden {
    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__link {
    @media (max-width: 380px) {
      position: absolute;
      bottom: 0;
    }
  }
}
