.brand {
  padding: 25px 20px;

  @include onTablet {
    padding: 50px 0;
  }

  @include onDesktop {
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      align-items: start;
      width: 480px;
    }
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;

    @include onTablet {
      width: 466px;

      font-size: 36px;
      line-height: 150%;
      text-transform: capitalize;
    }

    @include onDesktop {
      width: 480px;
      margin-bottom: 30px;

      font-size: 60px;
      line-height: 130%;
      text-transform: none;
      text-align: left;
    }
  }

  &__description {
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 150%;

    @include onTablet {
      margin-bottom: 50px;
    }
  }
}
