.brand-cosmetics {
  position: relative;

  &__img {
    display: block;
    height: $brand-cosmetics__img-height;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 430px;

    @include hover(scale, 0.9);

    @include onTablet {
      position: static;
      height: 500px;
      max-width: 714px;
    }

    @include onDesktop {
      height: 451px;
      max-width: 548px;
    }
  }

  &__info {
    margin-top: $brand-cosmetics__img-height + 25px;

    @include onTablet {
      margin-top: 50px;
    }

    @include onDesktop {
      margin-top: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &__header {
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
    margin-bottom: 10px;

    @include onTablet {
      font-size: 36px;
      line-height: 60px;
    }

    @include onDesktop {
      font-size: 57px;
      line-height: 78px;
      text-align: left;
    }
  }

  &__subheading {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    @include onDesktop {
      text-align: left;
    }
  }
}
