.brand {
  display: flex;
  justify-content: space-between;
  padding: 0 0 200px 50px ;
  @extend %auto;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 0 100px;
  }
  @media (max-width: 425px) {
    padding-bottom: 60px;
  }

  &__name {
    color: $black-tex;
    max-width: 480px;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &__h1 {
    padding-bottom: 20px;
    padding-right: 20px;
    @media (max-width: 768px) {
      padding-top: 50px;
      font-size: 36px;
      line-height: 130%;
      text-align: center;
      br {
        display: none;
      }
    }
    @media (max-width: 425px) {
      font-size: 24px;
      line-height: 31px;
      max-width: 280px;
      padding: 25px 0 12px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 50px;
    @media (max-width: 768px) {
      padding-top: 20px;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
    }
    @media (max-width: 425px) {
      font-size: 18px;
      line-height: 27px;
      max-width: 280px;
      padding-bottom: 46px;
    }
  }
  &__button {
    width: 279px;
    height: 59px;
    color: $f2f2f2;
    background-color: $black-tex;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.15em;
    border: 1px solid $black-tex;
    transition: 0.5s;
    &:hover {
      color: $black-tex;
      background-color: $e4dfd3;
    }
  }
  &__img {
    max-width: 100%;
  }
}
