.burger-menu {
  // display: flex;
  flex-direction: column;
  &-line {
    height: 1px;
    width: 20px;
    background-color: $header-color;
  }
  &-line:not(:last-child) {
    margin-bottom: 5px;
  }
}
