.burger-menu {
  width: 20px;
  height: 13px;
  background-image: url(../images/burger-menu.svg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;

  &--active {
    background-image: url(../images/burger-x.svg);
  }
}
