.button {
  &--center {
    display: flex;
    align-self: center;
  }

  background-color: #333;
  width: 280px;
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid #333;

    &__link {
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.15em;
      text-transform: uppercase;

      width: 100%;
      text-decoration: none;
      padding-block: 20px;
      color: #f2f2f2;

      @include buttonHover;
    }
}

.learn-more__link {
    padding-bottom: 9px;
    width: fit-content;
    text-decoration: none;
    color: #344F10;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    border-bottom: 1px solid #344F10;

  @include OnDesktop {
    border: none;

    &:hover {
    padding-bottom: 8px;
    border-bottom: 1px solid #344F10;
    }
  }
}

