.button-more {
  outline: none;
  border: none;
  text-decoration: none;
  width: max-content;
  padding: 0 0 10px;
  border-bottom: 1px solid transparent;
  background-color: $color-5;
  cursor: pointer;
  transition: 0.3s;
  @include text-decoration (sharp-sb, $fz-2xs, $lh-2, $ls-0, $color-1);

  &:hover {
    border-bottom: 1px solid $color-7;
  }

  &--margin-bottom {
    margin-bottom: 25px;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }
}
