.button-top {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 2%;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 60px solid #344f104a;
  cursor: pointer;

  @include onDesktop {
    display: block;
  }

  @include onHover {
    transform: translateY(-20%);
  }
}
