.button {
  box-sizing: border-box;
  border: 1px solid $main-text-color;
  background-color: $main-text-color;
  text-align: center;
  height: 60px;
  color: rgba(242, 242, 242, 1);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  width: 280px;
  text-transform: uppercase;
  letter-spacing: 2.4px;

  &:hover {
    color: $main-text-color;
    background-color: $background-color;
    transition: 0.5s;
  }
}
