@use '../utils/vars';

.button--type2 {
  display: inline-block;
  padding-bottom: 10px;

  font-family: $font-family;
  font-weight: $decorative-text-weight;
  font-size: $decorative-text-size;
  line-height: $decorative-text-line-height;
  letter-spacing: $decoratice-text-letter-spacing;
  color: $color6;
  text-decoration: none;

  border-bottom: 1px solid $bg-color;

  transition: $page-transition;

  &:hover {
    border-bottom: 1px solid $color6;

    transition: $page-transition;
  }
}
