.button {
  box-sizing: border-box;
  width: 280px;
  height: 60px;

  font-size: 16px;
  line-height: 130%;

  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background-color: $basic-text-color;
  color: $color-button-text;
  transition: $duration;

  &:hover {
    background-color: $background-page;
    color: $basic-text-color;
    border: 1px solid $basic-text-color;
    cursor: pointer;
  }
}
