.buttom {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 60px;

  background-color: $dark-coffeColor;

  &__link {
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 66px;
  }

  &-more {
    display: inline-block;
    color: #344f10;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    border-bottom: 1px solid #344f10;
    padding-bottom: 8px;
  }
}
