.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 50px;

  background-color: $colorBlack;
  border: 2px solid $colorBlack;
  outline: none;
  text-decoration: none;
  color: $colorWhite;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  overflow: hidden;

  transition: all 1s;

  @include onTablet {
    width: 280px;
    margin: 0 auto;
  }

  @include onDesktop {
    margin: 0;
  }

  
  &:hover {
    background-color: $colorBiege;
    color: $colorBlack;
  }
}
