.button-grid-wrapper {
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  @include onDesktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}
