.learn-more {
  position: relative;
  max-width: max-content;
  cursor: pointer;

  @extend %button-link;

  &::before {
    content: "";
    @extend %before-element;
  }

  &:hover::before {
    opacity: 1;
  }
}
