.buy-menu {
  @extend %menu;
  z-index: 1;
  padding-top: 15px;

  background-color: $c-white;

  transform: translateX(100%);

  &__item {
    display: flex;
    flex-direction: column;

    & > .header__button {
      align-self: center;
    }

    & > .shop__image {
      width: 100%;
      margin: 20px 0 0;
    }

  }
}
