.buying-form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__input-field {
    width: 100%;
    padding-bottom: 5px;

    border: none;
    outline: none;
    border-bottom: 1px solid $greyColor;

    background-color: transparent;

    font-weight: 600;
    font-size: 14px;
    line-height: 150%;

    color: $oliveColor;

    &::placeholder {
      font-family: inherit;
      text-transform: capitalize;

      color: #828282;
    }

    &:focus {
      border-color: $blackColor;
    }

    &:invalid {
      color: #eb5757;
  
      border-color: #eb5757;
    }

    &--filled {
      border-color: $oliveColor;
    }
  }
}
