.candles {
  position: relative;

  @include on-desktop {
    margin-top: 50px;

    @include page-grid;
  }

  @include on-big-desktop {
    margin-top: 50px;

    @include page-grid;
  }

  &__image {
    cursor: pointer;
    padding-bottom: 83%;
    background-image: url(../images/candles-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include hover(transform, scale(1.03));

    @include on-desktop {
      grid-column: 7 / -1;
      order: 2;
    }

    @include on-big-desktop {
      grid-column: 7 / -1;
    }
  }

  &__content {
    @include on-desktop {
      grid-column: 2 / 7;
    }

    @include on-big-desktop {
      grid-column: 2 / 7;
    }
  }

  &__title {
    margin-inline: auto;
    color: $text-base;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%; /* 36px */
    letter-spacing: 1.2px;
    text-align: center;
    margin-bottom: 10px;

    @include on-tablet {
      text-transform: capitalize;
    }

    @include on-desktop {
      font-size: 60px;
      text-align: left;
      margin-bottom: 30px;
      text-transform: none;
    }

    @include on-big-desktop {
      font-size: 60px;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  &__sales {
    text-align: center;
    color:  $text-base;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-bottom: 50px;

    @include on-desktop {
      text-align: left;
    }

    @include on-big-desktop {
      text-align: left;
    }

  }

  &__button {
    margin-inline: auto;

    @include on-desktop {
      margin-inline: 0;
    }
  }
}