.cards {
  &__content {
    display: flex;
    justify-content: space-between;

    @include on-mobile {
      flex-direction: column;
      gap: 50px;
    }
    @include on-tablet-mini {
      flex-direction: row;
    }
  }
  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
  }

  &__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 44px;
  }
}
