.cards {
  display: flex;
  flex-direction: row;

  &__face {
    display: flex;
    flex-direction: row;

    @include onTablet {
      @include grid;
    }

    &__hydrophilic-oil {
      @include card;
      display: flex;
      box-sizing: border-box;

      @include onTablet {
        grid-column: 1 / 4;
      }

      &__img {
        width: 100vw;
        display: block;
        margin: 0 calc(-20px) 20px;

        @include onTablet {
          width: 100%;
          margin: 0 0 20px;
        }
      }

      &__title {
        @include h5;

        margin-bottom: 10px;
      }

      &__price {
        @include textPrice;
      }
    }

    &__ubtan {
      visibility: hidden;
      @include card;

      @include onTablet {
        visibility: visible;
        display: flex;
        box-sizing: border-box;

        grid-column: 4 / -1;
      }

      &__img {
        margin-bottom: 20px;
      }

      &__title {
        @include h5;

        margin-bottom: 10px;
      }

      &__price {
        @include textPrice;
      }
    }
  }
}
