.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__image {
    display: flex;
    overflow: hidden;

    img {
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }

  &--hide {
    display: none;

    @include onTablet {
      display: flex;
    }
  }

}
