.card-product {
  display: flex;
  flex-direction: column;

  &__description {
    color: $color-main;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.9px;
    text-transform: uppercase;

    margin-top: 20px;
  }

  &__img {
    width: 100%;
  }

  &__price {
    margin-top: 10px;
    font-weight: 500;
  }

  @include hover (transform, scale(1.1));
}
