.catalog {
  display: flex;
  justify-content: space-between;

  &__link {
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $dark-grey-color;
    transition: color 0.3s;

    &:hover {
      color: $main-font-color;
    }

    @include onTablet {
      font-weight: bold;
    }

    @include onDesktop {
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
