.characteristics {
  &__item {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 0;
    }
  }
}

.characteristic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__photo {
    width: 80px;
    height: 100%;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
  }
}
