.checkout {
  &__checkout {
    margin-bottom: 20px;
    border-bottom: 1px solid $grey-color;
    padding-bottom: 5px;

    text-transform: uppercase;
    letter-spacing: 0.05em;

    @include tablet {
      margin-bottom: 60px;
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
