.checkout {

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 1px;
      background: #bdbdbd;
      margin-top: 5px;
      margin-bottom: 20px;
    }

    @include onTablet {
      margin-bottom: 60px;
    }
  }

  &__shop {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 30px;
  }

  &__form {

    :nth-child(12) {
      margin-bottom: 40px;
    }

    &-field {

      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-transform: capitalize;
      color: #828282;
      border: none;
      background: none;
      outline: none;

      @include onTablet {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #bdbdbd;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 278px;
        margin-bottom: 22px;

      }

      &--line {
        &::after {
          content: "";
          display: block;
          width: 280px;
          height: 1px;
          background: #bdbdbd;
          margin-top: 5px;
          margin-bottom: 22px;

          @include  onTablet {
            display: none;
          }
        }
      }
    }

  }

  &__button {
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
    width: 280px;
    height: 60px;
    background: #333;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #f2f2f2;
    cursor: pointer;

    &-des {

      text-decoration: none;
    }
  }

}
