.choice {
  position: relative;

  &__container {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  &__line-top {
    position: absolute;
    left: 0;
    width: calc(50% - 110px);
    height: 1px;

    background-color: $color-green;
  }

  &__text {
    width: 380px;

    @extend %text;
    letter-spacing: 0;//??
  }

  &__title {
    width: 380px;

    text-transform: uppercase;
  }

  &__line-bottom {
    position: absolute;
    right: 0;
    width: calc(50% - 10px);
    height: 1px;

    background-color: $color-green;
  }

}
