.comment {
  display: none;
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);

  left: 0;
  top: 0;
  color: rgba(52, 79, 16, 0.5);

  &::before {
    display: block;
    position: absolute;
    width: 100px;
    height: 1px;
    content: "";
    transform: translate(-110%) translateY(10px);

    background: rgba(52, 79, 16, 0.5);
  }

  @include onDesktop {
    display: block;
  }
}
