.components {
  padding: 200px 0 50px;

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__element {
    flex-basis: 31%;
  }

  &__img {
    width: 90px;
    height: 90px;
    margin: 0 auto 20px;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
  }

  @media (max-width: 550px) {
    &__block {
      flex-wrap: wrap;
    }
    &__element {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
}
