.confirm {
  &__content {
    @extend %checkoutFlex;
  }

  &__title {
    @extend %checkoutTitle;

    margin-bottom: 67px;
  }

  &__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: $gray1;

    max-width: 450px;
    margin: 0 auto 30px;
  }

  &__img {
    @extend %centerButton;

    margin-bottom: 20px;

    @include onMiddleScreen {
      margin-bottom: 50px;
    }
  }

  &__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $gray1;
    text-decoration: none;
    
    width: fit-content;
    padding-bottom: 5px;
    margin-bottom: 30px;

    border-bottom: 1px solid $gray1;

    @extend %centerButton;
  }
}
