.top {
  &__text {
    width: 80%;
    margin-left: 50px;
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      background-color: $after-line;
      right: 54%;
      left: 0;
      top: 0;

      @media (max-width: 800px) {
        display: none;
      }
    }

    @media (max-width: 800px) {
      display: none;
    }

    @media (min-width: 2000px) {
      font-size: 24px;
    }

    @media (min-width: 2300px) {
      font-size: 34px;
      line-height: 120%;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    height: 313px;

    @media (max-width: 800px) {
      font-size: 18px;
      height: 90px;
      line-height: 27px;
      justify-content: center;
      text-align: center;
      margin-top: 100px;
    }

    @media (max-width: 380px) {
      margin-left: 0;
    }

    @media (min-width: 2000px) {
      font-size: 40px;
    }

    @media (min-width: 2400px) {
      font-size: 55px;
      line-height: 130%;
    }

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: $after-line;
      right: 0;
      left: 54%;
      bottom: 0;

      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}
