.content4 {
  display: none;
  overflow: hidden;

  @include onIPad {
    display: block;
    margin: 101px 0 0 30px;
  }

  @include onTablet {
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  @include onNotebook {
    margin: 159px 0 0 20px;
  }
}
