.container {

  &--with-menu {
    overflow: hidden;
  }

  &__header {
    margin-bottom: 30px;
    @include onTablet {
      height: 70px;
      position: relative;
      margin-bottom: 7px;
    }
    @include onPhone {
      margin-bottom: 5px;
    }
  }
  
  &__brand {
    margin-bottom: 300px;

    @include onTablet {
      margin-bottom: 130px;
    }
    @include onPhone {
      margin-bottom: 100px;
    }
  }
  
  &__gifts {
    margin-bottom: 300px;
    position: relative;
    align-items: center;

    @include onTablet {
      margin-bottom: 130px;
    }
    @include onPhone {
      margin-bottom: 100px;
    }
  }

  &__about {
    margin-bottom: 200px;
    @include onTablet {
      margin-bottom: 130px;
    }
    @include onPhone {
      margin-bottom: 100px;
    }
  }

  &__shop {
    margin-bottom: 200px;
    @include onTablet {
      margin-bottom: 130px;
    }
    @include onPhone {
      margin-bottom: 100px;
    }
  }

  &__creators {
    position: relative;
    margin-bottom: 200px;
    @include onTablet {
      margin-bottom: 130px;
    }
    @include onPhone {
      margin-bottom: 100px;
    }
  }

  &__powder {
    margin-bottom: 200px;
    @include onTablet {
      margin-bottom: 130px;
    }
    @include onPhone {
      margin-bottom: 100px;
    }
  }

  &__contact-us {
    position: relative;
    margin-bottom: 130px;

    @include onPhone {
      margin-bottom: 100px;
    }
  }
}
