.content-footer {
  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
    list-style: none;

    @include onDesktop {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__link {
    color: $lightText;
    text-decoration: none;
  }

  &__copy {
    font-family: Sharp Sans, sans-serif;
    color: $lightText;

    &--first {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    &--second {
      display: block;

      @include onDesktop {
        display: none;
      }
    }
  }
}
