.content {
  &__question {
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 130px;
    }

    @include desktop {
      margin-bottom: 200px;
    }
  }
  
  &__about {
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 130px;
    }

    @include desktop {
      margin-bottom: 200px;
    }

    @include padding;

    @include design {
      margin-bottom: 200px;
    }
  }

  &__shop {
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 130px;
    }

    @include desktop {
      margin-bottom: 200px;
    }

    @include design {
      margin: 0 auto 200px;
      max-width: 1180px;
    }
  }

  &__creators {
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 130px;
    }

    @include desktop {
      margin-bottom: 200px;
    }

    @include padding;

    @include design {
      margin-bottom: 200px;
    }
  }

  &__powder {
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 130px;
    }

    @include desktop {
      margin-bottom: 200px;
    }
  }
}