.content7 {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  @include onIPad {
    margin-bottom: 50px;
  }

  @include onNotebook {
    transform: translate(462px, 186px);
    height: 30px;
  }
}
