.contacts {
  padding: 0 20px;

  &__content {
    width: 100%;

    &-title {
      margin-bottom: 10px;

      @include onDesktop {
        margin-bottom: 30px;
      }
    }

    &-text {
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 20px;
      }

      @include onDesktop {
        margin-bottom: 40px;
      }
    }
  }

  &__button {
    margin: 0;
  }

  &__img {
    display: none;
    overflow: visible;

    @include onTablet {
      display: block;
      box-sizing: border-box;
      object-fit: cover;
      object-position: left;
      height: 409px;
      // width: 368px;
      width: 100%;
    }

    @include onDesktop {
      // width: 529px;
      width: 100%;
      height: 584px;
    }
  }
}
