.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 200px;

  @media (max-width: 800px) {
    gap: 60px;
  }

  &__top {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 120px;
    margin-top: 120px;
    padding-left: 5%;

    @media (max-width: 885px) {
      margin-top: 200px;
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      margin-bottom: 50px;
    }

    @media (max-width: 600px) {
      grid-template-rows: 200px;
    }

    @media (max-width: 600px) {
      grid-template-rows: 200px;
      margin-top: 100px;
    }

    @media (max-width: 500px) {
      margin-top: 50px;
    }
  }

  &__about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 530px;
    gap: 10px;
    padding-left: 10%;
    width: 100%;

    @media (max-width: 800px) {
      grid-template-rows: 320px;
      padding-left: 20px;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 380px) {
      padding-left: 0;
    }

    @media (min-width: 1500px) {
      grid-template-rows: 1fr;
    }
  }

  &__shop {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 11.5%;
    margin-bottom: 50px;
    width: 100%;

    @media (max-width: 800px) {
      padding-left: 5%;
    }

    @media (max-width: 600px) {
      padding-left: 7%;
    }

    @media (max-width: 800px) {
      padding-left: 5%;
    }

    @media (min-width: 1500px) {
      padding-top: 20%;
    }

    @media (min-width: 2000px) {
      padding-top: 10%;
    }
  }

  &__bottle {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding-left: 11.5%;
    padding-top: 150px;
    padding-right: 5%;

    @media (max-width: 800px) {
      padding-top: 250px;
      padding-left: 5.5%;
      padding-right: 0;
    }

    @media (max-width: 380px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 380px) {
      padding-bottom: 100px;
    }

    @media (min-width: 1500px) {
      padding-top: 20%;
    }

    @media (min-width: 2000px) {
      padding-top: 10%;
    }
  }

  &__eco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 115px;
    gap: 20px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 9%;

    @media (max-width: 800px) {
      padding-left: 0;
    }

    @media (max-width: 380px) {
      grid-template-columns: 1fr;
      width: 90%;
    }

    @media (min-width: 1700px) {
      grid-template-rows: 150px;
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    gap: 140px;
    padding-left: 10%;
    padding-bottom: 150px;

    @media (max-width: 1020px) {
      gap: 50px;
    }

    @media (max-width: 800px) {
      padding-left: 5%;
      gap: 20px;
    }

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 2400px) {
      padding-top: 180px;
    }
  }
}
