.content2 {
  display: flex;
  flex-direction: column;

  &--2 {
    @include onTablet {
      margin-right: 100px;
    }

    @include onNotebook {
      margin-right: 120px;
    }

    @include onDesktop {
      margin-right: 120px;
    }
  }

  &--3 {
    @include onNotebook {
      flex-direction: row;
    }
  }
}
