.content3 {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include onIPad {
    padding: 0;
    justify-content: flex-start;
    gap: 14px;
  }

  @include onNotebook {
    gap: 20px;
  }
}
