.top {
  &__text {
    &::before {
      position: absolute;
      content: "";
      height: 1px;
      background: rgba(52, 79, 16, 0.5);
      right: 54%;
      left: 0;
      top: 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    height: 313px;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: $after-line;
      right: 0;
      left: 54%;
      bottom: 0;
    }
  }
}
