.contact {
  &__link {
    grid-row: 1;
    display: none;

    @include onDesktop {
      display: block;
      height: max-content;
      width: max-content;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.05em;
      transform: translateX(-50%) rotate(-90deg);
      color: rgba(52, 79, 16, 0.5);
      text-transform: uppercase;
      transition: 0.5s;

      &:hover {
        transform: translate(-50%, 100%) rotate(-90deg);
      }

      &::before {
        content: "";
        position: relative;
        display: block;
        top: 8px;
        right: 120px;
        height: 1px;
        width: 100px;
        background-color: rgba(52, 79, 16, 0.5);
      }
    }
  }

  &__content {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #344f10;
    margin-bottom: 12px;

    @include onDesktop {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }

  &__description {
    margin-bottom: 20px;

    @include onIpad {
      max-width: 380px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 25px;

    @include onDesktop {
      gap: 30px;
    }
  }

  &__input {
    padding: 5px;
    color: #828282;
    padding-left: 0;
    border-bottom: 1px solid #bdbdbd;
    background-color: transparent;

    @include onDesktop {
      padding: 10px;
      padding-left: 0;
    }

    &:focus {
      color: #828282;
      border-color: #333;
    }

    &:valid {
      color: #344f10;
      border-color: #344f10;
    }

    &:invalid {
      color: #eb5757;
      border-color: #eb5757;
    }

    &-tel {
      margin-bottom: 25px;

      @include onDesktop {
        margin-bottom: 30px;
      }
    }
  }

  &__img {
    display: none;

    @include onIpad {
      position: static;
      display: block;
      width: 110%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    @include onDesktop {
      width: 120%;
      height: 100%;
    }
  }

  &__btn {
    align-self: center;

    @include onIpad {
      align-self: flex-start;
    }
  }
}
