.container {
  position: relative;

  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;

  @include media(tablet) {
    padding: 0 28px;
  }

  @include media(notebook) {
    padding: 0 50px;
  }
}
