.content8 {
  display: block;

  @include onIPad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include onNotebook {
    justify-content: flex-start;
    gap: 400px;
  }
}
