.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include onDesktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__photo {
    margin-bottom: 25px;

    @include onTablet {
      margin: 0 auto 50px;

    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__description {
    text-align: center;

    @include onDesktop {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-left: 50px;
      width: 480px;
    }
  }

  &__title {
    margin-bottom: 10px;

    font-weight: 600;
    font-size: 24px;
    line-height: 130%;

    text-align: center;

    color: $c-dark-gray;

    @include onDesktop {
      text-align: left;
      font-size: 60px;

      margin-bottom: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: $c-dark-gray;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__shop-button {
    margin: 0 auto 100px;

    @include onTablet {
      margin: 0 auto;
    }

    @include onDesktop {
      margin: 0;
    }
  }
}
