.content5 {
  display: none;

  @include onTablet {
    display: block;
    margin: 101px 0 0 20px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  @include onNotebook {
    display: block;
    margin: 159px 0 0 20px;
  }
}
