.container {
  margin: 0 auto;
  max-width: 1180px;
  // padding: 0 100px;

  @include onTablet {
    // padding: 0 130px;
  }

  @include onDesktop {
    // padding: 0 200px;
  }

  &--hidden {
    @include onMobile {
      padding: 0;
    }
  }
}
