.copyrigth {
  font-size: 14px;
  line-height: 130%;

  &--mobile {
    width: 200px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;

    @include onIpad {
      width: 100%;
      margin: 0;
      text-align: left;
      text-transform: unset;
    }

    @include onDesktop {
      display: none;
    }
  }

  &--desktop {
    font-size: 18px;
    line-height: 130%;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
