.creators {

  &__title {
    @extend %title;
  }

  &__photo {
    width: 100%;
    object-fit: cover;

    @include onTablet {
      height: 360px;
    }

    @include onDesktop {
      height: 669px;
    }
  }

  &__text {
    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: block;
    }
  }

  &__button {
    margin-top: 35px;

    @include onTablet {
      margin: 40px 0 0;
    }

    @include onDesktop {
      margin: 50px 0 0;
    }
  }
}
