.creators {
  &__title {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $c-green;

    @include onDesktop {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 34px;
    }
  }

  &__title--line {
    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: block;
    }
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;

    color: $c-gray;

    @include onDesktop {
      margin-bottom: 30px;
    }

    &--desktop {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    @include onTablet {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__info-block {
    margin-bottom: 26px;

    @include onDesktop {
      margin-bottom: 51px;
    }
  }

  &__button {
    @include onTablet {
      margin-left: 0;
    }
  }

  &__photo {
    display: none;
    height: 435px;

    @include onTablet {
      display: block;
    }

    @include onDesktop {
      height: 669px;
    }
  }
}
