.credo {
  display: none;
  @include onDesktop {
    display: block;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
    color: $light-green;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;

    &::before {
      position: absolute;
      content: "";
      display: block;
      background-color: $light-green;
      width: 1px;
      height: 100px;
      right: 9px;
      bottom: 125%;
    }
  }
}
