.container__decorative {
  display: block;
  position: relative;
}

.decorative {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  gap: 10px;
  white-space: nowrap;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  color: rgba(52, 79, 16, 0.5);
  transform-origin: 0 0 ;
  transform: rotate(-90deg) translateX(-100%);

  &:before {
    width: 100px;
    content: "";
    border-bottom: 1px solid #828282;
  }

  @include onDesktop {
    display: flex;
  }
}
