.decorative {
  position: absolute;
  align-items: center;
  gap: 10px;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-100%);
  display: none;

  @include onDesktop {
    display: flex;
  }
  
  &__line {
    background-color: $colorGreenMedium;
    height: 1px;
    width: 100px;
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $colorGreenMedium;
  }
}
