.describe {
  &__hidden {
    display: none;

    @include onDesktop {
      display: flex;
      grid-column: 2 / 6;
      padding-block: 100px;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 165%;
        position: absolute;
        left: -30%;
        top: 0;
        height: 1px;
        background-color: $green;
      }
    }
  }

  &__text {
    grid-column: span 2;
    color: $green;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;

    @include onTablet {
      grid-column: 2 / 6;
      width: 75%;
      margin: 0 auto;
      text-align: center;
    }

    @include onDesktop {
      display: flex;
      grid-column: 7 / -1;
      padding-block: 100px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 160%;
        position: absolute;
        right: -40%;
        bottom: 0;
        height: 1px;
        background-color: $green;
      }
    }
  }
}
