.description {
  padding: 200px 0px;

  @media (max-width: 1024px) {
    padding: 90px 0px;
  }
  // .description__container
  &__container {
  }
  // .description__body
  &__body {
  }
  // .description__row
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  // .description__item
  &__item {
    flex-basis: 33.333%;
    text-align: center;
    padding: 0px 15px;

    @media (max-width: 670px) {
      flex-basis: 100%;
      &:not(:last-child) {
        margin: 0px 0px 50px 0px;
      }
    }
  }
  // .description__icon
  &__icon {
    margin-bottom: 44px;
    min-height: 85px;
  }
  // .description__text
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
