.description {
  font-size: 16px;
  line-height: 150%;

  &__more {
    display: none;

    @include onDesktop {
      display: block;
      margin-top: 30px;
    }
  }

  &__span {
    display: block;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
