.description {
  
  &__jar {
    position: relative;
    display: flex;
    flex-direction: row;
    
    background-image: url(../images/tooth/tooth-powder-image.svg);
    background-position: left 182px center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 30px;

    @include onTablet {
      background-position: left 390px center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 49px;
    padding: 38px 20px;
    margin: 0;
  }
  
  &__item {
    position: relative;
    width: 97px;
    font-size: 16px;
    line-height: 150%;
    list-style: none;

    text-align: end;

    &::after {
      position: absolute;
      content: "";
      width: 32px;
      height: 1px;
      background-color: #000;
      top: 50%;
      margin-left: 20px;
    }

    &::before {
      position: absolute;
      display: flex;
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #000;
      top: 50%;
      margin-left: 148px;

      transform: translateY(-50%);
    }
  }
  
  &__icon {
    position: absolute;
    width: 182px;
    height: 397px;
    left: 150px;
  }

  &__link {
    padding-left: 20px;
    margin-bottom: 100px;
  }

  &__images {
    display: grid;
    text-align: center;
    row-gap: 50px;
  }

  &__image {
    margin-bottom: 20px;
  }
}
