.desktop-nav {
  &__list {
    display: flex;
    column-gap: 40px;
    padding: 0;
    list-style: none;

  }

  &__link {
    font-size: 18px;
    font-weight: 500;
    color: $c-dark-green;
    text-decoration: transparent;
    transition: $transition-time;

    &:hover {
      text-decoration: underline;
    }
  }
}
