.eco-friendly {
  &__grid {
    @media (max-width: 767px) {
      gap: 64px;
    }
  }

  &__img {
    margin: 0 auto 40px;
  }

  &__declaration {
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
