.eco {
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__picture {
    object-fit: contain;

    @media (min-width: 1700px) {
      height: 170px;
      width: 170px;
    }

    @media (min-width: 2000px) {
      height: 200px;
      width: 200px;
    }

    @media (min-width: 2400px) {
      height: 240px;
      width: 240px;
    }
  }

  &__text {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 130%;
    color: #000;

    @media (min-width: 1700px) {
      font-size: 20px;
    }

    @media (min-width: 2400px) {
      font-size: 28px;
    }
  }
}
