.eco {
  &__images {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-bottom: 20px;
  }

  &__motto {
    font-family: Avenir, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  &__img {
    padding-top: 60px;
    max-width: 100px;

    &:nth-child(1) {
      max-width: 70px;
    }
    &:nth-child(5) {
      max-width: 80px;
    }

    @media (min-width: 1025px) {
      max-width: 120px;

      &:nth-child(1) {
        max-width: 82px;
      }
      &:nth-child(5) {
        max-width: 100px;
      }
    }
  }
}
