.ecology {
  &__ecology {
    display: flex;
    flex-direction: column;
    gap: 50px;

    @include onTablet {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__elem {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  &__logo {
    margin-bottom: 20px;

    @include onTablet {
      height: 74px;
    }
  }

  &__text {
    @extend %text2;
    max-width: 260px;
  }
}
