.ecology {
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    gap: 50px;

    @include  contentPaddingInLine;
   
    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__picture {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img--1 {
    width: 62px;
    height: 60px;
    margin-bottom: 20px;

    @include onTablet {
      width: 80px;
      height: 60px;
      margin-bottom: 28px;
    }

    @include onDesktop-small {
      margin-bottom: 61px;
    }
  }

  &__img--2 {
    width: 100px;
    height: 84px;
    margin-bottom: 20px;

    @include onTablet {
      width: 80px;
      height: 68px;
      margin-bottom: 23px;
    }

    @include onDesktop-small {
      width: 99px;
      height: 84px;
      margin-bottom: 40px;
    }
  }

  &__img--3 {
    width: 79px;
    height: 74px;
    margin-bottom: 20px;

    @include onTablet {
      width: 80px;
      height: 75px;
    }

    @include onDesktop-small {
      width: 79px;
      height: 74px;
      margin-bottom: 45px;

    }
  }

  &__text {
    margin: 0;
    width: 280px;

    text-transform: uppercase;
    font-weight: $small-font;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.7px;
    color: #000;

    @include onTablet {
      width: 218px;
    }

    @include onDesktop-small {
      width: 380px;
    }
  }

  &__text--1 {
    height: 18px;
  }

  &__text--2 {
    @include onDesktop-small {
      height: 36px;
    }
  }
}
