.ecology {
  padding: 0 20px;

  @include onTablet {
    padding: 0;
  }

  &__block {
    text-align: center;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      display: block;
      box-sizing: border-box;
      margin: 0 auto 20px;
      width: 80px;
      height: auto;
    }

    &-describe {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000;
    }
  }
}
