.environmental {

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $greenFontColor;

    @include onTablet {
      width: 280px;
      text-align: center;
      margin: 0 auto;
    }

    @include onSmallDesktop {
      font-size: 24px;
      width: 380px;
      text-align: left;
      margin: 0;
    }
  }

  &__top-line {
    display: none;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
    width: 42%;
    margin-bottom: 100px;

    @include onSmallDesktop {
      display: block;
    }
  }

  &__bottom-line {
    display: none;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
    width: 48%;
    margin: 100px 0 0 auto;

    @include onSmallDesktop {
      display: block;
    }
  }

  &__desktop-text {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @include onSmallDesktop {
      display: block;
    }
  }

  &--container {
    @include onSmallDesktop {
      padding: 0 50px;
    }

    @include onDesktop {
      padding: 0 130px;
    }

  }
}
