.features {
  &__item {
    text-align: center;

    &:first-child {
      margin-bottom: 70px;

      @include onTablet {
        margin-bottom: 0;
      }
    }

    &:nth-child(2) {
      margin-bottom: 50px;

      @include onTablet {
        margin-bottom: 0;
      }
    }
  }

  &__item-photo {
    margin-bottom: 20px;

    @include onTablet {
      @include square(80px);
    }

    @include onLaptop {
      @include square(90px);
    }
  }

  &__item-text {
    max-width: 380px;
    margin: 0 auto;
    
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000;

    @include onTablet {
      font-weight: 500;
    }
  }
}
