.features {
  margin: 0 130px 200px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1439px) {
    margin-right: 50px;
    margin-left: 50px;
  }

  &__feature {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 40px;
    width: 80px;
    height: 60px;
  }

  &__description {
    display: flex;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
  }
}
