.first-screen {
  @include onTablet {
    padding: 0 28px;
    max-width: 1280px;
    margin: 0 auto;
  }
  @include onDesktop {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 50px;

    .container {
      padding: 0 0 0 100px;
    }
  }

  &__block {
    &:first-child {
      flex: 1 1 580px;
    }
    &:last-child {
      flex: 1 0 580px;
    }
  }

  &__image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
    margin-bottom: 25px;

    @include onTablet {
      height: 500px;
    }

    @include onDesktop {
      height: 460px;
      margin-bottom: 0;
    }
  }
  &__title {
    font-family: inherit;
    color: $gray-main;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;

    margin-bottom: 10px;

    @include onTablet {
      font-size: 36px;
      max-width: 460px;
      margin: 0 auto 10px;
    }

    @include onDesktop {
      font-size: 60px;
      text-align: left;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      margin: 0 0 30px;
    }
  }

  &__text {
    display: block;
    margin-bottom: 30px;
    color: $gray-main;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    @include onDesktop {
      text-align: left;
    }
  }

  &__button {
    @include onDesktop {
      margin: 0 auto 0 0;
    }

  }
}
