.navf {
  color: $color-gray4;

  &__list {
    list-style: none;
    padding-left: 40px;

    @include onDesktop {
      padding: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      padding-bottom: 20px;
    }

    @include onDesktop {
      display: inline;
      padding-right: 20px;
    }
  }

  &__link {
    color: $color-white;
  }
}
