.navf {

  &__list {
    list-style: none;
    padding-left: 20px;

    @include onDesktop {
      padding: 0;
    }
  }

  &__item {
    &:not(:last-child) {
      padding-bottom: 20px;
    }

    @include onDesktop {
      display: inline;
      padding-right: 20px;
    }
  }

  &__link {
    color: #e4dfd3;
    text-transform: capitalize;
  }
}
