.form-field {
  box-sizing: border-box;
  display: block;
  padding: 10px;
  font-weight: 500;
  width: 100%;
  font-size: 18px;
  line-height: 150%;

  text-transform: capitalize;

  color: #828282;
  background-color: $background-color;
  font-family: inherit;

  margin-bottom: 15px;

  @include onDesktop {
    margin-bottom: 20px;
  }

  border: none;

  border-bottom: 1px solid #828282;
  outline: none;

  &::placeholder {
    color: #828282;
  }

  &:hover {
    border-color: $dark-gray;
  }

  &:focus {
    border-color: $dark-green;
    color: $dark-green;

    &::placeholder {
      color: #828282;
    }
  }

  &:valid {
    color: $dark-green;
  }

  &:invalid {
    color: $red;
    border-color: $red;
  }

  &--textarea {
    margin-bottom: 32px;
    resize: none;
  }
}
