.form-field {
  width: 100%;
  padding: 0 0 5px;
  border: none;
  border-bottom: 1px solid $c-light-beige;
  background-color: transparent;
  outline: none;
  vertical-align: bottom;

  position: relative;

  @include onDesktop {
    padding: 0 0 10px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: $c-border;

    @include onTablet {
      font-weight: 500;
      font-size: 14px;
    }

    @include onDesktop {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }
  }

  &:hover {
    border-bottom: 1px solid $c-border;
  }

  &:focus {
    border-bottom: 1px solid $c-gray;
  }

  &:active {
    color: $c-dark-green;
    border-bottom: 1px solid $c-dark-green;
  }

  &::grammar-error {
    color: $c-red;
    border-bottom: 1px solid $c-red;
  }

  &--textarea {
    resize: none;
    font-family: inherit;
    height: 71px;
    box-sizing: border-box;

    @include onDesktop {
      height: 97px;
    }

    &::placeholder {
      opacity: 1;
      position: absolute;
      bottom: 10px;
      pointer-events: none;

      &:focus,
      &:valid {
        transform: scale(1) translateY(-60px);
        transform-origin: left center;
        opacity: 0;
      }
    }
  }
}
