.form {
  &__field {
    display: block;
    height: 48px;
    width: 100%;
    padding: 14px 16px;

    color: #333;

    background-color: #e4dfd3;
    border-bottom: 1px solid #bdbdbd;

    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-transform: capitalize;
      color: #828282;

      transition: color 0.3s;
    }

    &:hover {
      border-bottom-color: #bdbdbd;

      &::placeholder {
        color: #333;
      }
    }

    &:focus {
      outline: none;
    }

    &--textarea {
      margin-bottom: 30px;

      @include onDesktop {
        margin-bottom: 50px;
      }

      height: 148px;
      resize: none;
      font-family: inherit;
    }
  }
}
