.form-field {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  display: block;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  background-color: transparent;
  padding: 5px 0;
  width: 280px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  color: #828282;

  @include onTablet {
    width: 342px;
  }

  @include onDesktopMore {
    width: 380px;
  }

  &::placeholder {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-transform: capitalize;
    color: #828282;

    @include onDesktopMore {
      font-size: 18px;
    }
  }

  &:hover {
    border-color: #333;
  }

  &:focus {
    border-color: #333;
    outline: none;
  }

  &:valid {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #344f10;
    // border-bottom: 1px solid #344F10;
  }

  &:invalid {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #eb5757;
    // border-bottom: 1px solid #EB5757;
  }
}
