.form {
  display: grid;
  row-gap: 20px;

  @include onDesktop {
    row-gap: 30px;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-2-color;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 10px;
    outline: none;
  }

  &__message {
    resize: none;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;

    @include onDesktop {
      margin-top: 40px;
    }
  }

}
