.gifts-of-nature {
  @include onDesktop {
    display: flex;
    justify-content: flex-start;
    gap: 120px;
    max-width: 1180px;
  }

  @include onDesign {
    margin-left: 230px;
  }

  &__right {
    @include onDesktop {
      display: flex;
      border-bottom: 1px solid $border-color;
    }
  }

  &__title {
    color: $title-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 20px 100px;

    @include onTablet {
      width: 280px;
      margin: 0 auto;
    }

    @include onDesktop {
      width: 380px;
      margin: 0;
      text-align: left;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1.2px;
      padding: 100px 0;
    }
  }

  &__left {
    display: none;
    @include onDesktop {
      padding: 0;
      display: flex;
      border-top: 1px solid $border-color;
    }
  }

  &__info {
    display: none;

    @include onDesktop {
      display: flex;
      width: 380px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin-left: 150px;
      padding-top: 100px;
    }

    @include onDesign {
      margin: 0 auto;
    }
  }
}
