.green-link {
  @extend %links;
    display: inline-block;
    font-size: 14px;
    line-height: 130%;
    color: $green;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid $green;
    transition: 0.3s;

    &:hover {
      color: $black;
      border-color: $black;
      transform: scale(1.1);
    }
}