.grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include On768() {
    grid-template-columns: repeat(6, 1fr);
  }

  @include On1280() {
    grid-template-columns: repeat(12, 1fr);
  }

  &--Tablet {
    display: block;

    @include On768() {
      display: grid;
    }
  }

  &--Notebook {
    position: relative;
    display: block;
    margin: 0 auto;

    @include On1280() {
      display: grid;
      margin: 0;
    }
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }

        &--Tablet-#{$start}-#{$end} {
          @include On768() {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--Notebook-#{$start}-#{$end} {
          @include On1280() {
            grid-column: #{$start} / #{$end + 1} !important;
          }
        }
      }
    }

    /* additional */

    &--disabled-1280 {

      @include On1280 {
        display: none;
      }
    }

    &--shown-1280 {
      display: none;

      @include On1280 {
        display: block;
      }
    }
  }
}
