.grid-container {
  // display: grid;

  @include onDesktopMore {
    display: grid;
    grid-template-columns: repeat(12, 80px);
    gap: 20px;
    width: fit-content;
    // margin: 0 auto;
  }

  &-tab {
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 30px;
    }
  }
}
