.header {
  &__container {
    display: block;
    padding: 40px 50px 80px;
  }
}

.top {
  display: flex;

  &__icon {
    &--logo {
      width: calc(50% + 10px);
    }
  }
}

.menu {
  width: calc(50% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }

  }
}

// .header {
//   padding: 40px 0 80px 0;

//   &__container {
//     display: block;
//   }

//   &__top {
//     display: flex;

//   }
// }
