.header {
  position: relative;
  min-height: 582px;
  box-sizing: border-box;
  align-items: center;

  @include grid;

  @include for-design {
    grid-template-rows: auto 264px 74px 113px;
  }

  @include for-desktop {
    grid-template-rows: auto 264px 74px 113px;
  }

  &__navigation {
    margin-bottom: 81px;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: start;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;

    grid-column: 7 / -1;
    place-self: center end;

    @include for-design {
      grid-row: 2 / -1;
    }

    @include for-desktop {
      grid-row: 2 / -1;
    }

    @include for-tablet {
      height: 500px;
      margin-bottom: 50px;
      object-fit: cover;

      grid-column: 1 / -1;
    }

    @include for-mobile {
      height: auto;
      max-height: 267px;
      width: 100vw;
      margin: 0 calc(-50vw + 50%) 25px;
      object-fit: contain;

      grid-column: 1 / -1;
    }
  }

  &__title {
    margin-bottom: 30px;

    grid-column: 2 / 7;

    color: $dark-grey;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;

    @include for-tablet {
      margin-bottom: 10px;

      grid-column: 2 / -2;

      font-size: 36px;
      text-align: center;
    }

    @include for-mobile {
      margin-bottom: 10px;

      grid-column: span 2;

      font-size: 24px;
      text-align: center;
    }
  }

  &__paragraph {
    margin-bottom: 50px;

    grid-column: 2 / 5;

    color: $dark-grey;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    @include for-tablet {
      grid-column: 2 / -2;
      text-align: center;
    }

    @include for-mobile {
      margin-bottom: 30px;

      grid-column: span 2;

      text-align: center;
    }
  }

  &__button {
    grid-column: 2 / 5;
    place-self: start center;

    @include for-tablet {
      grid-column: 1 / -1;
    }

    @include for-mobile {
      grid-column: 1 / -1;
    }
  }
}
