.header {
  padding-bottom: 0;

  &__container {
    display: block;
    padding: 40px 50px 80px;
  }
}

.top {
  display: flex;

  &__icon {
    &--logo {
      width: calc(50% + 10px);
    }
  }
}

.menu {
  width: calc(50% - 10px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    @extend %text-menu;
    position: relative;
    transform: all 0.5s ease-in-out;

    &:hover {
      &::after {
        position: absolute;
        bottom: -11px;
        left: 0;
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: $color-green;
      }
    }
  }
}
