.header-desktop {
  @include dontShowOnMobile;
  height: 100vw;
  padding: 40px 50px 0;

  @include desktopBreakpoint {
    padding: 40px 130px 0;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #344f10;
  }

  &__logo {
    margin-right: auto;
  }

  &__shopping-bag {
    margin-left: auto;
    height: 32px;
    width: 32px;
  }

  &__content-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;
    margin-top: 92px;
  }

  &__text-wrapper {
    @include customColumns(12);
  }

  &__paragraph {
    margin-top: 30px;
  }

  &__button {
    margin-top: 50px;
  }

  &__img-wrapper {
    @include customColumns(12);
  }
}
