.header {

  &__container {
    margin: $headerTopPaddingPhone 0 25px;

    @include onPad {
      margin: $headerTopPaddingPad 0 35px;
    }

    @include onDesktop {
      margin: $headerTopPaddingDeskTop 0 90px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &--mobile {
    display: block;

    @include onDesktop {
      display: none;
    }
  }

  &--desktop {
    display: none;
    padding-top: 40px;

    @include onDesktop {
      display: block;
    }
  }

  &__desktop-logo {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__logo-title {
    margin: 0;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorDarkGreen;
  }

  &__buy {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
