.something {
  width: 50%;
  height: 1px;
}

.container {
  @media (min-width: 1280px) {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
}

.more {
  border: none;
  &:hover {
    border-bottom: 1px solid #344f10;
  }
}
