.help {
  overflow-x: hidden;

  &__content {
    position: relative;
  }

  &__rotate {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__title {
    margin: 0 0 10px;

    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: #344f10;

    @include onDesktop {
      margin: 0 0 30px;

      font-weight: 600;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }

  &__subtitle {
    margin: 0 0 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #344f10;

    @include onTablet {
      margin: 0 0 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }

    @include onDesktop {
      margin: 0 0 40px;
    }
  }

  &__field {
    display: block;

    &:nth-child(-n + 2) {
      margin: 0 0 25px;

      @include onDesktop {
        margin: 0 0 30px;
      }
    }

    &:nth-child(3) {
      margin: 0 0 45px;
    }

    &:nth-child(4) {
      margin: 0 0 30px;
      overflow-y: hidden;

      @include onDesktop {
        margin: 0 0 50px;
      }
    }
  }

  &__button {
    max-width: 280px;
    transform: translateX(10%);

    @include onTablet {
      transform: translateX(0);
    }
  }

  &__img {
    display: none;

    @include onTablet {
      display: block;
      width: 120%;
      height: 410px;
    }

    @include onDesktop {
      height: 520px;
    }
  }

  &__picture {
    object-position: left;
  }
}
