.hero {
  &__grid {
    grid-auto-flow: dense;
  }
  &__image-container {
    margin: 0 auto;
    margin-bottom: 25px;
    max-height: 267px;
    overflow: hidden;
    @include onTablet {
      margin-bottom: 50px;
      max-height: 500px;
    }
    @include onLaptop {
      margin-bottom: 0;
      max-height: 451px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin-bottom: 10px;
    @include onLaptop {
      margin-bottom: 30px;
    }
  }
  &__discription {
    margin-bottom: 30px;
    @include onTablet {
      margin-bottom: 50px;
    }
  }
}
