.homepage {
  &__photo {
    padding-bottom: 25px;

    @include onTablet {
      padding-bottom: 50px;
    }

    @include onDesktop {
      padding-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include onTablet {
      height: 500px;
    }

    @include onDesktop {
      width: 580px;
      height: 451px;
    }
  }

  &__content {
    margin: 0 auto;
    width: 280px;

    @include onTablet {
      width: 466px;
      grid-column: 2 / 6;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__content-desktop {
    @include onDesktop {
      display: grid;
      grid-column: 2 / 7;
      grid-row: 1;
      height: 400px;
      width: 480px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;

    text-align: center;
    margin: 0;
    padding-bottom: 10px;

    color: $darkgreycolor;

    @include onTablet {
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      text-align: center;
      text-transform: capitalize;

      color: $darkgreycolor;
    }

    @include onDesktop {
      height: 234px;
      font-weight: 600;
      font-size: 60px;
      line-height: 130%;

      text-align: left;
      margin: 0;
      padding-bottom: 30px;

      color: $darkgreycolor;
    }
  }

  &__sale {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;

    color: $darkgreycolor;

    @include onTablet {
      padding-bottom: 50px;
    }

    @include onDesktop {
      padding-bottom: 50px;
      line-height: 150%;
      text-align: left;
    }
  }
  &__button {
    margin: 0 auto;

    @include onDesktop {
      margin-left: 0;

    }
  }
}
