.home {
  margin: 0 130px 200px 230px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  @media (max-width: 1439px) {
    margin-right: 50px;
    margin-left: 50px;
  }

  &__info {
    width: 480px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 60px;
    color: $dark-main;
  }

  &__description {
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 28px;
    color: $dark-main;
  }

  &__link {
    width: 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: $light-gray;
    background-color: $dark-main;
    transition-duration: 0.3s;

    &:hover {
      cursor: pointer;
      color: $dark-main;
      background-color: $background-button;
      border: 1px solid $dark-main;
    }
  }

  &__photo {
    width: 580px;
    height: 450px;
    margin-left: 20px;
  }
}
