.horizontal-line {
  width: 100%;
  position: relative;
  

  @include onDeskTop {
    &:before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba(52, 79, 16, 0.5);;
      height: 2px;
      top: -100px;
      width: 43%;
      left: -10%;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba(52, 79, 16, 0.5);;
      height: 2px;
      bottom: -100px;
      width: 56%;
      right: -7%;
    }
  }
}
