.horizontal-line {
  position: relative;

  @include onDeskTop {
    &:before {
      content: "";
      position: absolute;
      background-color: rgba(52, 79, 16, 0.5);;
      height: 2px;
      top: -100px;
      width: 55%;
      left: -20%;
    }

    &:after {
      content: "";
      position: absolute;
      background-color: rgba(52, 79, 16, 0.5);;
      height: 2px;
      bottom: -100px;
      width: 69%;
      right: -20%;
    }
  }
}
