.icon {
  display: block;
  width: $icon-size;
  height: $icon-size;

  background: center / contain no-repeat;

  &--nav {
    background-image: url(../images/nav.svg);
    
    @include onDesktop {
      display: none;
    }
  }

  &--shop {
    background-image: url(../images/shop.svg);
  }

  &--cross {
    background-image: url(../images/cross.svg);
  }

  &--ig {
    background-image: url(../images/instagram.svg);
  }

  &--fb {
    background-image: url(../images/facebook.svg);
  }
}
