.icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;

  @include hover(transform, scale(1.2));

  &--menu {
    height: 13px;
    width: 20px;
    background-image: url(../images/menu-logo.svg);
  }

  &--logo {
    height: 24px;
    width: 24px;
    background-image: url(../images/title-logo.svg);

    @include onDesctopmin {
      height: 50px;
      width: 50px;
    }
  }

  &--bag {
    height: 24px;
    width: 20px;
    background-image: url(../images/bag-logo.svg);

    @include onTablet {
      width: 24px;
    }
  }

  &--close {
    height: 15px;
    width: 15px;
    background-image: url(../images/button-close.svg);
  }
}
