.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  color: #344f10;

  @include hover(transform, scale(1.1));

  // background-image: url(../images/icons/icon-menu.png);
}

.icon-menu {
  background-image: url(../images/icons/icon-menu.png);
  height: 13px;

  @include onDesktop {
    display: none;
  }
}

.icon--bag {
  background-image: url(../images/icons/icon-bag.png);
}

.icon--close {
  background-image: url(../images/icons/close.png);
  color: #e4dfd3;
}
