.icon {
  &__basket {
    display: inline-block;
    background-image: url(./../images/icons/shop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 32px;
    width: 32px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
