@include onDesktop {
  .footer__icon--facebook:hover {
    stroke-dasharray: 1;
    animation-name: fill-line;
    animation-duration: 1s;
  }
}

@keyframes fill-line {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
