.icon {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &--menu {
    background: url(../images/icons/menu.png);
  }

  &--shop {
    background: url(../images/icons/shop.png);
    
    @include onDesktop {
      background-image: url(../images/icons/shop-desktop.png);
      width: 32px;
      height: 32px;
    }
  }

  &--close {
    background: url(../images/icons/close.png) no-repeat center;
  }

  &:hover {
    transform: scale(1.1);
  }
}
