.icon {
  height: 24px;
  width: 24px;
  display: block;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.15);
  }

  &--menu {
    background-image: url(../images/menuGreen.svg);
  }

  &--cross {
    background-image: url(../images/cross.svg);
  }

  &__logo {
    background-image: url(../images/logo.svg);

    @include onDesktop {
      height: 50px;
      width: 50px;
    }
  }

  &__buy {
    background-image: url(../images/bag.svg);
  }
}
