.if-you {
  grid-column: 1 / - 1;
  // position: relative;
  margin-bottom: 100px;

  @include onDesktop {
    position: relative;
    grid-column: 1 / - 1;
    &::before {
      content: "";
      position: absolute;
      top: -100px;
      left: -20px;
      width: 45%;
      grid-column: 1 / - 1;
      border-bottom: 1px solid rgba(52, 79, 16, 0.5);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -100px;
      right: -20px;
      width: 75%;
      border-bottom: 1px solid #828282;
      grid-column: 5 / - 1;
    }

    @include grid;
  }

  &__text {
    display: none;

    @include onDesktop {
      display: block;
      grid-column: 2 / 5;
      color: $c-gray;
    }
  }

  &__title {
    grid-column: 1 / -1;

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: $coloBbgMenu;
    text-align: center;

    @include onTablet {
      grid-column: span 3 ;
    }

    @include onDesktop {
      grid-column: 7 / 11;
      text-align: start;
    }
  }
}
