.image {
  &-container {
    width: 100%;
    background-size: cover;
    background-position: center;

    &--header {
      background-image: url(../images/brand/brand-image.png);

      margin-bottom: 25px;
      padding-bottom: 100% * 0.83;

      @include onTablet {
        grid-column: 1 / span 6;
        padding-bottom: 500px;
        margin-bottom: 50px;
      }

      @include onDesktop {
        grid-column: 7 / -1;
        margin-bottom: 0;
        padding-bottom: 100% * 0.77;
      }
    }

    &--product {
      background-image: url(../images/shop/shop-photo--1.png);
      margin-bottom: 20px;
      grid-column: span 2;
      padding-bottom: 100% * 0.83;

      @include onTablet {
        padding-bottom: 100% * 0.87;
      }

      @include onDesktop {
        padding-bottom: 100% * 0.94;
      }

      &--2 {
        background-image: url(../images/shop/shop-photo--2.png);
      }

      &--3 {
        background-image: url(../images/shop/shop-photo--3.png);
      }

      &--4 {
        background-image: url(../images/shop/shop-photo--4.png);
      }
    }

    &--about {
      @include onTablet {
        background-image: url(../images/about/about-photo--1.png);
        margin-bottom: 0;
        padding-bottom: 0;
        height: 100%;
        grid-column: 1 / -1;
      }

      @include onDesktop {
        grid-column: span 4;
      }

      &-2 {
        display: none;

        @include onDesktop {
          display: block;
          background-image: url(../images/about/about-photo--2.png);
          grid-column: span 2;
          margin-top: 100px;
          height: 430px;
        }
      }
    }

    &--creators {
      @include onTablet {
        background-image: url(../images/creators/creators-photo--1.png);
        margin-bottom: 0;
        padding-bottom: 0;
        height: 100%;
      }
    }

    &--tooth {
      display: block;
      position: absolute;
      margin: 0;
      padding: 0;
      width: 381px;
      height: 397px;
      top: 90px;
      left: 60%;
      background-image: url(../images/tooth/tooth-powder-image.svg);

      @include onTablet {
        top: 0;
      }

      @include onDesktop {
        left: 66.5%;
      }
    }

    &--contact {
      @include onTablet {
        background-image: url(../images/contact-us/contact-us-photo.png);
        margin-bottom: 0;
        padding-bottom: 0;
        height: 100%;
      }
    }
  }
}
