.image {
  display: none;

  @include onTablet {
    display: block;
    width: 374px;
    height: 318px;
  }

  &--for-desktop {
    display: none;

    @include onDesktop {
      display: none;
      // display: block;
      // width: 130px;
      // height: 430px;

      // background-size: cover;
    }
  }

  &--creators {
    height: 100%;
  }
}
