.image {
  &-hydrophilic-oil {
    background-image: url(../../src/images/3-1.jpg);
  }

  &-face-cream {
    background-image: url(../../src/images/3-2.jpg);
  }

  &-ubtan {
    background-image: url(../../src/images/3-3.jpg);
  }
}
