.info {
  &__img {
    margin-top: 20px;
  }

  &__title {
    @media (min-width: 1280px) {
      width: 380px;
    }
  }
  &__img--mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__img--tablet {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }

    @media (min-width: 1280px) {
      display: none;
    }
  }

  &__img--desktop {
    display: none;

    @media (min-width: 1280px) {
      display: block;
    }
  }

  &__prg {
    font-size: 16px;
    text-align: right;
    color: $color-black;
  }

  &__prg--first {
    margin-top: 58px;
  }

  &__prg--second,
  &__prg--fourth {
    margin-top: 52px;

    @media (min-width: 1280px) {
      margin-top: 46px;
    }
  }

  &__prg--third,
  &__prg--fifth {
    margin-top: 49px;
  }

  &__details {
    font-size: 14px;
    color: $color-green;
    font-weight: 500;
    margin-top: 55px;
    cursor: pointer;

    &:hover {
      width: 86px;
      border-bottom: 1px solid $color-green;
    }
  }

  &__wrap {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    @media (min-width: 768px) {
      height: 400px;
      justify-content: space-around;
    }
  }

  &__container {
    padding-inline-start: 20px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding-inline-start: 27px;
    }

    @media (min-width: 1280px) {
      padding-inline-start: 0;
    }
  }

  &--first {
    @media (min-width: 1280px) {
      display: flex;
    }
  }

  &--main {
    @media (min-width: 1280px) {
      padding-left: 80px;
    }
  }
}
