.ingredients {

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

    @include onTablet {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__item {
    margin: 0 auto;
  }

  &__image {
    display: block;
    width: 80px;
    height: 70px;
    margin: 0 auto 20px;

    @include onDesktop {
      margin: 0 auto 40px;
    }
  }

  &__text {
    @extend %text14regular18;
    letter-spacing: 0.05em;
    color: #000;
    text-align: center;
    text-transform: uppercase;
  }
}
