.ingridients {
  &-wrapper {
    margin-top: 100px;

    @include onTablet {
      @include pageGrid;
      margin-top: 130px;
    }
  }
  &-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    &-1 {
      @include onTablet {
        grid-column: 1 / 3;
      }
    }

    &-2 {
      @include onTablet {
        grid-row-start: 1;
        grid-column: 3 / 5;
      }
    }

    &-3 {
      @include onTablet {
        grid-row-start: 1;
        grid-column: 5 / 7;
      }
    }
  }

  &-info {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 50px;

    &--1 {
      @include onTablet {
        grid-column: 1 / 3;
      }
    }

    &--2 {
      @include onTablet {
        grid-column: 3 / 5;
      }
    }

    &--3 {
      @include onTablet {
        grid-column: 5 / 7;
      }
    }
  }
}
