.input-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color__Vapor-Blue;
  padding-bottom: 5px;
  background: $color__Hourglass;
  font-family: inherit;

  @include on-desktop {
    padding-bottom: 10px;
  }

  &::placeholder {
    @include input-text;
    color: $color__Trolley-Grey;
  }

  &:focus {
    outline: none;
  }

  &--massage {
    resize: none;
  }
}
