@import "../utils/vars";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #bdbdbd;
  -webkit-text-fill-color: $colorTitle;
  -webkit-box-shadow: 0 0 0 1000px $colorWhite inset;
  transition: background-color 5000s ease-in-out 0s;
}
