.input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $dark-grey;
  color: $dark-grey;
  padding: 5px 0;
  resize: none;
  outline: none;

  font-family: "Avenir", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;

  transition: 0.3s;

  @include onTablet {
    font-weight: bold;
  }
  
  @include onDesktop {
    padding: 10px 0;
  }

  &:nth-child(2),
  &:nth-child(4) {
    text-transform: none;
  }

  &:focus {
    border-color: $dark-color;
  }

  &:valid {
    color: $dark-green;
    border-color: $dark-green;
  }

  &:invalid {
    color: #eb5757;
    border-color: #eb5757;
  }

  &:not(:focus) {
    outline: none;
    border-color: $dark-grey;
    color: $dark-grey;
  }
}
