.intermediate {
  @include page-grid;

  @include on-mobile {
    padding-inline: 20px;
  }

  @include on-tablet {
    text-align: center;
  }

  &__biologists {
    display: none;
    color: $text-base;
    font-size: 16px;
    font-weight: 400;

    @include on-desktop {
      display: block;
      grid-column: 2 / 6;
    }

    @include on-big-desktop {
      display: block;
      grid-column: 2 / 6;
    }
  }

  &__if-choose {
    grid-column: 1 / -1;
    max-width: 280px;
    color: $text-green;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: 0.9px;
    text-transform: uppercase;

    @include on-tablet {
      margin-inline: auto;
    }

    @include on-desktop {
      grid-column: 7 / 11;
      text-align: left;
    }
  }
}