.intro {

  &__photo {
    height: 268px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/photos/header.jpg);
    margin-bottom: 25px;
    cursor: pointer;
    transition: transform $transition-time;

    &:hover {
      transform: scale(105%);
    }

    @include onTablet {
      height: 500px;
      margin-bottom: 50px;
    }

    @include onDesktop {
      height: 451px;
      margin-bottom: 200px;
    }
  }

  &__block {
    &--title {
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      text-align: center;
      color: $color-grey;
      margin-bottom: 10px;

      @include onTablet {
        font-size: 36px;
        line-height: 150%;
        text-align: center;
        text-transform: capitalize;
      }

      @include onDesktop {
        font-size: 60px;
        text-align: left;
        margin-bottom: 30px;
      }
    }

    &--text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: $color-grey;
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 50px;
      }

      @include onDesktop {
        text-align: left;
        margin-bottom: 50px;
      }
    }
  }
}
