.intro {
  display: flex;
  justify-content: center;

  &__info-wrapper {
    display: none;

    @media (min-width: $widthLaptopS) {
      display: flex;
      width: 100%;
      margin-left: -$contentPaddingX-laptop;
      margin-right: 120px;
      justify-content: flex-end;
      border-top: 1px solid rgba(52, 79, 16, 0.5);
      border-bottom: 1px solid transparent;
    }
  }

  &__info {
    display: block;
    width: 380px;
    padding-top: 100px;
    padding-bottom: 93px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }

  &__text-wrapper {
    width: 280px;
    // margin: 60px auto;

    @media (min-width: $width-iPad) {
      // margin: 100px auto;
      text-align: center;
    }

    @media (min-width: $widthLaptopS) {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin: 0;
      margin-right: -$contentPaddingX-laptop;

      border-top: 1px solid transparent;
      border-bottom: 1px solid rgba(52, 79, 16, 0.5);
    }
  }

  &__text {
    font-size: 18px;
    line-height: 27px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #344f10;

    @media (min-width: $width-iPad) {
      font-weight: 600;
    }

    @media (min-width: $widthLaptopS) {
      width: 370px;
      padding-top: 105px;
      padding-bottom: 100px;

      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      text-align: left;
    }
  }
}
