.introduce {
  font-family: "Avenir", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px 200px 150px;

  &__text {
    max-width: 480px;
    margin-right: 20px;
    color: #333;
    .text1 {
      font-size: 60px;
    }
    .text2 {
      padding-top: 30px;
      padding-bottom: 52px;
      font-size: 22px;
    }
    .introduce__button {
      font-family: "Sharp Sans Display no2", sans-serif;
      font-size: 16px;
      width: 280px;
      height: 60px;
      text-transform: uppercase;
      color: #f2f2f2;
      background: #333;
    }
  }

  &__img {
    width: 580px;
    height: 451px;
  }
}
