.intoduction {

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: row-reverse;
    padding: 100px 250px 0 150px;
  }

  &__title {
    padding-inline: 20px;
    font-size: 18px;
    color: $color-green;
    text-transform: uppercase;

    @media (min-width: 768px) {
      text-align: center;
      padding-inline: 0;
      margin-inline: 244px;
    }

    @media (min-width: 1280px) {
      width: 380px;
      font-size: 24px;
      margin-left: 120px;
      margin-right: 0;
      text-align: left;
    }
  }

  &__prg {
    display: none;

    @media (min-width: 1280px) {
      display: block;
      width: 380px;
    }
  }
}
