@import "../utils/mixins";
@import "../utils/vars";

.items {
  box-sizing: border-box;
  padding: 60px 0 20px;

  @include onTalet {
    padding: 74px 0 72px;
  }

  @include onDesctop {
    padding: 171px 0 72px;
  }

  &__container {

    @include onTalet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include onTalet {
      grid-column: 2 / -2;
    }
  }

  &__name {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorMain;

    @include onTalet {
      margin: 0 0 25px;
      order: 2;
    }
  }

  &__price {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorMain;

    @include onTalet {
      margin: 0 0 10px;
      order: 3;
    }

    &--last {
      display: none;

      @include onTalet {
        margin: 0 0 30px;
        display: block;
      }
    }
  }

  &__image {
    margin-bottom: 30px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;

    @include onTalet {
      margin-bottom: 27px;
      max-height: 520px;
      order: 1;
    }

    &::after {
      display: block;
      content: "";
      padding-bottom: 89%;

      @include onTalet {
        padding-bottom: 95%;
      }
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__button {
    display: flex;
    margin: 0 auto 50px;

    @include onTalet {
      margin: 0 auto 60px;
      order: 4;
    }
  }

  &__text {
    margin: 0;

    @include onTalet {
      order: 5;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include onTalet {
        margin-bottom: 25px;
      }
    }
  }
}
