.learn-more {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $c-green;
  text-decoration: none;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: all $animat-time;

  &:hover {
    border-color: $c-green;
  }
}
