.learn-more {
  display: block;
  box-sizing: border-box;
  padding: 0 0 10px;
  margin-bottom: 40px;

  width: max-content;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $dark-green;
  border-bottom: 1px solid transparent;
  text-decoration: none;

  transition: border-color 0.3s;

  &:hover {
    border-bottom: 1px solid $dark-green;
  }
}
