.learn {
  display: block;
  width: max-content;
  padding: 10px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
  color: $colorSecondary;
  border-bottom: 1px solid transparent;
  transition: 0.3s;

  &:hover {
    border-color: $colorSecondary;
  }
}
