.learn {
  font-weight: 500;
  font-size: 14px;
  line-height: 18;
  margin: 0;

  &-more {
    display: inline;
    text-decoration: none;
    padding-bottom: 10px;
    color: #344f10;
    transition: border-bottom 0.3s;

    &:hover {
      border-bottom: 1px solid #344f10;
    }
  }
}
