.learn-more {
  position: relative;
  padding-bottom: 10px;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #344f10;

  transition: all 0.3s;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: #344f10;
    }
  }
}
