.learn-more {
  &__link {
    display: inline-block;
    padding-bottom: 10px;
    @extend %decorative-text;
    border-bottom: 1px solid transparent;
    transition: $transition-duration;

    &:hover {
      border-bottom: 1px solid $dark-green-c;
    }

    @include hover (transform, scale(1.1));
  }
}
