.learn-more-link {
  display: block;
  @include linkStyle;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $c-olive;
  width: max-content;
  padding-bottom: 12px;
  border-bottom: 1px solid transparent;
  transition: 300ms;

  &:hover {
    border-color: $c-olive;
  }
}
