.leftbar {
  display: none;

  @include on1280 {
    position: absolute;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
  }
  

  &--line {
    width: 88px;
    height: 1px;
    background: rgba(52, 79, 16, 0.5);
    margin-right: 8px;
  }

  &--text {
    font-family: "Sharp Sans No2", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: rgba(52, 79, 16, 0.5);
  }

  &--tooth {
    @include on1280 {
      left: -70px;
      top: 80px;
    }
    
    @include on1440 {
      left: -80px;
    }
  }

  &--contact {
    @include on1280 {
      left: 0;
      top: 55px;
    }
    
    @include on1440 {
      left: 80px;
    }
  }

  &--creators {
    @include on1280 {
      position: absolute;
      left: -100px;
      top: 100px;
    }
    
    @include on1440 {
      left: -109px;
    }
  }

  &--about {
    @include on1280 {
      position: absolute;
      left: -120px;
      top: 120px;
    }
    
    @include on1440 {
      left: -134px;
    }
  }

  &--shop {
    @include on1280 {
      position: absolute;
      left: 0;
      top: 55px;
    }

    @include on1440 {
      left: 60px;
    }
  }
}
