.left-strip {
  position: absolute;
  top: 0;
  left: 0;

  width: max-content;
  transform: $rotate-left-strip;

  @include decorative-text;
  color: $color__Decorative-Element;

  &::before {
    content: "";
    position: relative;
    top: 10px;
    right: 110px;
    display: block;
    border-bottom: $thin-line;
    width: 100px;
  }

  &__brand {
    transform: $rotate-left-strip translate(-84px, -76px);
  }

  &__shop {
    transform: $rotate-left-strip translate(18px, -42px);
  }

  &__creators {
    transform: $rotate-left-strip translate(-64px, -58px);
  }

  &__tooth-powder {
    transform: $rotate-left-strip translate(-28px, -40px);
  }

  &__contact-us {
    transform: $rotate-left-strip translate(16px, -40px);
  }
}
