.left {
  display: none;

  @include onDesktop {
    display: block;
    grid-column: 1 / 2;
    background-repeat: no-repeat;
  }

  &--about {
    background-image: url(../images/left-about-our-brand.svg);
    height: 302px;
  }

  &--shop {
    background-image: url(../images/left-shop.svg);
    height: 145px;
  }

  &--about-the-creators {
    background-image: url(../images/left-about-the-creators.svg);
    height: 229px;
  }

  &--powder {
    background-image: url(../images/left-ingredients.svg);
  }

  &--contact {
    background-image: url(../images/left-help.svg);
  }
}
