.line {
  height: 1px;
  background-color: $dark-green-color-blur;
}

.hr-line {
  border: none;
  border-bottom: 1px solid $border-grey-color;
  margin-bottom: 5px;
  &--total {
    border: none;
    border-bottom: 2px solid $dark-green-color;
    margin-bottom: 10px;
  }
}
