.line {
  // display: flex;
  // position: relative;
  height: 5px;
  border-bottom: 1px solid #344f10;
  width: 100px;
  display: none;

  @include onDesktop() {
    display: block;
  }

  &--1 {

    // display: block;
    // position: absolute;
    width: 45%;
    left: 0;
    top: -100%;
  }

  &--2 {
    margin-left: 50%;
    position: absolute;
    // display: block;
    width: 50%;
    right: 0;
    // top: 150%;
  }
}
