.line {
  display: none;

  &--left {
    margin-top: 200px;
  }

  &--rigth {
    margin-top: 100px;

    @include onDesktop {
      justify-content: flex-end;
    }
  }

  &__style {
    width: 43%;
    height: 1px;
    background: rgba(52, 79, 16, 0.5);

    &--right {
      width: 50%;
    }
  }

  @include onDesktop {
    display: flex;
  }
}
