.line {
  display: none;
  width: 100%;
  height: 1px;
  background: rgba(52, 79, 16, 0.5);

  @include onDesktop {
    display: block;
  }

  &--left {
    width: 43%;
    margin-bottom: 60px;
  }

  &--rigth {
    margin-top: 100px;
    margin-bottom: 200px;
    position: absolute;
    right: 0;
    width: 47%;
  }
}
