.link-learn-more {
  display: inline-block;
  padding-bottom: 8px;

  @include font(14px, 130%, 700);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $content-color;

  border-bottom: 1px solid transparent;
  transition-property: border;
  @include transition-linear(0.3s);

  &:hover {
    border-bottom: 1px solid $content-color;
  }
}
