.link {
  text-decoration: none;
  color: $color-holly;
  // font-family: "SharpSans";

  &--learn-more {
    font-family: "SharpSans", serif;
    font-weight: bold;
    // border: 1px solid red;
    position: relative;
    color: $color-holly;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &::after {
      position: absolute;
      top: 28px;
      left: 0;
      content: "";
      height: 1px;
      width: 100%;
      background-color: transparent;

      @include mobile {
        top: 22px;
      }

      @include ipadPage {
        top: 21px;
      }

      @include desktopMainPage {
        top: 29px;
      }
    }

    &:hover {
      &::after {
        background-color: $color-holly;
        cursor: pointer;
      }
    }
  }
}
