.link {
  &__nav {
    display: flex;
    width: max-content;

    color: #828282;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    transition: all 0.3s;
    
    &:hover {
      color: $t-color;
      border-bottom: 2px solid $t-color;
    }
  }
}
