.link {
  position: relative;
  display: block;
  padding-bottom: 10px;
  width: max-content;
  font-size: 14px;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #344f10;
  border-bottom: solid 1px #e4dfd3;
  transition: 0.5s;

  &:hover {
    border-color: #344f10;
  }
}
