.link-learn {
  display: inline-block;
  position: relative;

  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: $green-color;

  &::after {
    --scale: 1;

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 1px;
    background-color: $green-color;

    transform: scaleX(var(--scale));
    transform-origin: var(--x);
    transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  }

  &:hover::after {
    --scale: 0;
  }
}
