.link-with-underline {
  @include decorative-text;
  color: $color__Navy-Green;
  text-decoration: none;

  width: max-content;
  padding-bottom: $padding-for-bottom-line;
  border-bottom: 1px solid #fff0;
  transition: border-color $transition-time;

  &:hover {
    border-color: $color__Navy-Green;
  }
}
