.list {
  display: none;
  &__item {
    list-style: none;
    padding-right: 40px;
  }

  &__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    color: $c-green;
    transition: border-bottom 0.3s;

    &:hover {
      border-bottom: 2px solid $c-green;
    }
  }

  &--desktop {
    @include onDesktop {
      display: flex;
    }
  }
}
