.list {
  &__item {
    list-style: none;
    padding-right: 40px;
  }

  &__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
  }

  &--desktop {
    @include onDesktop {
      display: flex;
    }
  }
}
