.logo {
  text-decoration: none;

  &--desktop {
    display: flex;
    align-items: center;
    gap: 12px;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
  }

  &__image {
    display: block;
    height: 24px;
    width: 24px;
    object-fit: contain;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    @include Desktop {
      height: 50px;
      width: 50px;
    }
  }
}
