.logo {
  display: flex;
  align-items: center;

  font-size: 14px;
  letter-spacing: $usual-spacing;

  &__text {
    margin-left: 12px;
    display: none;

    @include media-breakpoint-up($md) {
      display: block;
    }
  }
}
