.logo {
  background-image: url(../images/logo-for-tabletmenu.svg);
  height: 24px;
  width: 24px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onDesktop {
    height: 50px;
    width: 50px;

    &::after {
      content: "witch of mountain winds";
      display: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0;
      width: 208px;
      color: #344f10;
      padding: 14px 0 14px 60px;
    }

    @include onDesktop {
      width: 48px;
      height: 48px;
  
      &::after {
        display: block;
      }
    }
  }
}