.losung {
  text-transform: uppercase;
  color: $green-text-color;
  margin-top: 100px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 5%;
  display: flex;
  justify-content: center;
}
