.main-content {
  @include flex-column;
  position: relative;

  &__brand {
    margin: 30px 130px 200px 230px;

    @include tablet {
      margin: 30px 50px 200px 150px;
    }

    @include iPad {
      margin: 0 27px 100px;
    }

    @include mobile {
      margin: 0;
    }
  }

  &__scroll-down {
    padding: 100px 10vw;

    @media (min-width: 320px) and (max-width: 1024px) {
      padding: 100px 0 0;
    }
  }

  &__aboutBrand {
    margin: 200px 0 100px 230px;

    @include tablet {
      margin: 200px 0 0 10vw;
    }

    @include iPad {
      margin: 100px 27px 0;
    }

    @include mobile {
      margin: 100px 20px 0;
    }
  }

  &__shop {
    margin: 100px 0 100px 230px;

    @include tablet {
      margin: 200px 0 14px 10vw;
    }

    @include iPad {
      margin: 80px 27px 0;
    }

    @include mobile {
      margin: 100px 0 0;
    }
  }

  &__aboutCreators {
    margin: 100px 130px 0 230px;

    @include tablet {
      margin: 100px 50px 0 10vw;
    }

    @include iPad {
      margin: 70px 0 0 27px;
    }

    @include mobile {
      margin: 70px 20px 100px;
    }
  }

  &__toothPowder {
    margin: 200px 130px 0 230px;

    @include tablet {
      margin: 200px 50px 0 10vw;
    }

    @include iPad {
      margin: 130px 0 0 27px;
    }

    @include mobile {
      margin: 100px 0 0 20px;
    }
  }

  &__marking {
    margin: 200px 130px 0;

    @include tablet {
      margin: 200px 50px 0;
    }

    @include iPad {
      margin: 125px 27px 0;
    }

    @include mobile {
      margin: 100px 20px 0;
    }
  }

  &__contactUs {
    margin: 200px 0 200px 230px;

    @include tablet {
      margin: 200px 0 200px 150px;
    }

    @include iPad {
      margin: 130px 0 130px 27px;
    }

    @include mobile {
      margin: 100px 20px;
    }
  }
}
