.main {
  padding-top: 70px;
}

@media (max-width: $tabletBreakPoint) {
  .main {
    padding-top: 30px;
  }
}

@media (max-width: $mobileBreakPoint) {
  .main {
    padding-top: 12px;
  }
}

@media (max-width: 1280px) {
  body {
    background: $beige;
  }
}
