.main-offer {

  &__picture {
    width: 100vw;
    margin-left: -20px;
    margin-bottom: 25px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 500;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 46px;
  }

  &__button {
    display: block;
    @extend %button-style;
  }

  &__button:hover {
    @extend %button-hover-style;
  }

  @include onTablet {
    &__picture {
      width: 100%;
      margin-left: 0;
      margin-bottom: 50px;
      max-height: 500px;
      object-fit: cover;
      object-position: center;
    }

    &__block {
      max-width: 500px;
      margin: 0 auto;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 36px;
      letter-spacing: 1px;
    }

    &__subtitle {
      letter-spacing: 1px;
      margin-bottom: 57px;
    }
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: 1fr 5fr 6fr;

    &__picture {
      order: 1;
      grid-column: 3/4;
      margin-bottom: 0;
    }

    &__block {
      grid-column: 2/3;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
    }

    &__title {
      font-size: 60px;
      line-height: 72px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 50px;
    }
  }

  @include onLargeScreen {
    justify-content: center;
    max-width: 1180px;
  }
}
