@import "main-parts/about-brand.scss";
@import "main-parts/shop.scss";
@import "main-parts/creators.scss";
@import "main-parts/ingredients.scss";
@import "main-parts/contact.scss";

.main {
  @include limitContentWidth;
  // padding-left: 50px;
  padding-top: 200px;

  @include forTablet {
    overflow: hidden;
    padding: 130px 27px 0;
  }

  @include forMobile {
    overflow: hidden;
    padding: 0 20px;
  }
}
