.main {
  padding-top: 60px;

  @media (min-width: $width-iPad) {
    padding-top: 100px;
  }

  @media (min-width: $widthLaptopS) {
    padding: 0;
  }

  &__content {
    @media (min-width: $width-iPad) {
      max-width: 768px;
      margin: 0 auto;
    }

    @media (min-width: $widthLaptopS) {
      max-width: 1200px;
      margin: 0 auto;
    }

    @media (min-width: $widthLaptopM) {
      max-width: 1265px;
      margin: 0 auto;
    }

    @media (min-width: $widthLaptopL) {
      max-width: 1425px;
    }
  }

  &__section {
    margin-bottom: 60px;

    @media (min-width: $width-iPad) {
      margin-bottom: 0;
    }
  }
}
