@import "main-parts/about-brand.scss";
@import "main-parts/shop.scss";
@import "main-parts/creators.scss";
@import "main-parts/ingredients.scss";
@import "main-parts/contact.scss";

.main {
  @include bigLimitContentWidth;
  padding-left: 50px;
  padding-top: 200px;

  @include forMobile {
    padding: 0 20px;
  }
}
