.main-block {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 100px;

  @include onTablet {
    gap: 130px;
    padding-bottom: 132px;
  }

  @include onDesktop {
    gap: 200px;
    padding-bottom: 130px;
  }

  & > :not(:first-child) {
    position: relative;
  }
}
