@media (max-width: 1200px) {
  section {
    margin-bottom: 100px;
  }
  
  .header {
    padding: 23px 27px;
    margin-bottom: 30px;
    position: relative;

    &__logo-text {
      display: none;
    }

    &__logo-icon {
      position: absolute;
      left: 50%;
      width: 24px;
      height: 24px;
    }

    &__nav-icon {
      display: block;
      width: 20px;
      height: 13px;
    }
  
    &__checkout-logo {
      width: 24px;
      height: 24px;
    }
  }

  .nav {
    position: absolute;
    top: -100vh;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: $dark-main;
    width: 100vw;
    height: 100vh;

    &__list {
      width: 90%;
      margin-top: 100px;
      flex-direction: column;
      text-align: center  ;
    }

    &__item {
      width: 100%;
      margin-bottom: 50px;
      border-bottom: 1px solid $background;
    }

    &__link {
      color: $background;
    }
  }

  .home {
    margin: 0 27px 100px;
    flex-direction: column;
    align-items: center;

    &__photo {
      margin: 0;
      margin-bottom: 50px;
      width: 714px;
      height: 500px;
    }

    &__title {
      width: 460px;
      font-size: 36px;
      text-align: center;
    }

    &__description {
      text-align: center;
    }

    &__info {
      align-items: center;
    }
  }

  .facts {
    margin-bottom: 100px;

    &__left {
      display: none;
    }

    &__right {
      border: none;
      justify-content: center;
    }

    &__title {
      width: 280px;
      padding: 0;
      font-size: 18px;
      text-align: center;
    }
  }

  .about {
    margin-left: 27px;
    padding: 0;

    &__sign {
      display: none;
    }

    &__paragraph-2 {
      display: none;
    }

    &__photo-2 {
      display: none;
    }

    &__photo-1 {
      width: 370px;
      height: 320px;
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      margin-right: 30px;
    }
  }

  .shop {
    margin: 0 27px 100px;
    padding: 0;

    &__sign {
      display: none;
    }

    &__menu {
      margin-bottom: 20px;

      &-item {
        padding-bottom: 10px;
      }
    }

    &__gallery-img {
      width: 342px;
      height: 300px;
    }

    .item-3 {
      display: none;
    }

    &__slider-wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__slider {
      align-self: flex-end;
    }
  }

  .about-creators {
    margin: 0 27px 100px;
    padding: 0;

    &__sign {
      display: none;
    }

    &__title {
      padding: 0;
      margin-top: 0;
      font-size: 24px;
      line-height: 36px;
    }

    &__paragraph {
      margin-bottom: 12px;
    }

    &__paragraph-3 {
      display: none;
    }

    &__photo {
      width: 370px;
      height: 435px;
    }

    &__link {
      margin-bottom: 30px;
    }
  }

  .ingredients {
    margin: 0 27px 100px;
    padding: 0;
    overflow: hidden;

    &__sign {
      display: none;
    }

    &__title {
      padding: 0;
      width: 342px;
      font-size: 24px;
      line-height: 36px;
    }

    &__list {
      margin-right: 0;
    }

    &__item {
      margin-bottom: 35px;

      &-line::after {
        display: none;
      }
    }
  }

  .features {
    &__feature {
      width: 218px;
    }
  }

  .contact {
    margin: 0 27px 100px;
    padding: 0;

    &__sign {
      display: none;
    }

    &__title {
      margin-bottom: 12px;
      font-size: 24px;
      line-height: 36px;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
    }

    &__input,
    &__textarea {
      margin-bottom: 20px;
      padding: 5px;
      font-size: 14px;
    }

    &__img {
      width: 370px;
      height: 409px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 20px 0;
    margin-bottom: 18px;
  }

  .home {
    margin: 0;
    margin-bottom: 60px;

    &__photo {
      width: 100%;
      height: 100%;
    }
  }

  .facts {
    margin: 0;
    margin-bottom: 60px;
  }

  .about {
    margin: 0;
    margin-bottom: 60px;

    &__container {
      justify-content: center;
    }

    &__text {
      margin: 0 20px;
      padding: 0;
      width: 100%;
    }

    &__photos {
      display: none;
    }
  }

  .shop {
    margin: 0;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__menu {
      width: 100%;
      justify-content: center;
    }

    &__gallery {
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: center;

      &-item {
        margin: 0;
      }
    }

    &__slider {
      margin-right: 20px;

      &-wrapper {
        width: 100%;
      }
    }
  }

  .about-creators {
    justify-content: center;
    &__left-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      margin-bottom: 12px;
    }

    &__paragraph-1,
    &__paragraph-2 {
      width: 100%;
    }

    &__paragraph-1 {
      margin-bottom: 36px;
    }

    &__paragraph-2 {
      margin-bottom: 45px;
    }

    &__photo {
      display: none;
    }
  }

  .item-2,
  .item-3 {
    display: none;
  }
}

@media (min-width: 974px) and (max-width: 1050px) {
  .ingredients__item {
    margin-bottom: 40px;
  }
}

@media (min-width: 1051px) {
  .ingredients__item {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1267px) {
  .ingredients__item {
    margin-bottom: 45px;
  }
}
