.menu-mobile {

background-color: $colorBlack;
height: 100vh;

  &__list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  &__item {
   // margin-right: 40px;

   // &:last-child {
   //   margin-right: 0;
   // }
  }

  &__link {
    text-decoration: none;

    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: $colorBeige;
  }
}


