.menu {
  background-color: $t-color;

  &__content {
    height: 100vh;
    box-sizing: border-box;

    &-top {
      margin-bottom: 78px;

      &-closer {
        padding-top: 20px;
        display: block;
        width: 20px;
        height: 20px;

        padding-bottom: 20px;

        background-image: url(../images/cross.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: 280px;
    padding-bottom: 41px;
    padding-left: 27px;

  }

  &__link {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid transparent;

    padding-bottom: 10px;
    text-decoration: none;
    color: #e4dfd3;
    transition: border-color 0.3s;

    &:hover {
      border-color:#828282;
    }
  }

  @include onDesktop {
    display: none;
  }
}
