.menu-desktop {
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;

    margin: 0;
    padding: 0;
  }

  &__item {
    padding-right: 40px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    text-transform: capitalize;
    color: $greencolor;

    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      border-color: $greencolor;
    }
  }
}
