.menu {
  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $colorDarkGreen;
    text-transform: capitalize;

    @extend %inputs-menu;
  }
}
