.menu-mobile {
background-color: $colorBlack;
height: 100vh;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;

    gap: 30px;

    margin-top: 60px;
    padding: 0;
  }

  &__item {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid $colorGrey3;

    text-align: center;
  }

  &__link {
    position: relative;

    text-decoration: none;
    display: block;

    font-weight: 600;
    font-size: 18px;
    line-height: 23px;

    color: $colorBeige;
  }
}
