.mini-title {
  margin: 0;
  width: max-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: rgba(52, 79, 16, 0.5);
  transform: rotate(-90deg);

  &::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    height: 1px;
    background: rgba(52, 79, 16, 0.5);
  }
}
