.mobile-menu {
  background-color: $dark-gray;
  z-index: 10;

  &__container {
    padding: 0 27px;
    padding-top: 28px;
  }

  &__content {
    height: 100vh;
  }

  &__list {
    text-align: center;
    list-style: none;
  }

  &__link {
    display: block;
    margin: 100px 0 61px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: $font-weight-bold;
    border-bottom: 1px solid $additional-gray;
    color: $main-color;

    @media (max-width:$mobile) {
      margin: 45px 0 40px;
    }
  }
}
