.motivation {

  color: $c-green;

  font-size: 18px;
  font-weight: 600;
  line-height: 150%; /* 27px */
  letter-spacing: 0.9px;
  text-transform: uppercase;

  // &__text {
  //   margin: 0;
  // }
}
