.motto {
  color: $darkGreen;

  &__before {
    border-bottom: 1px solid;
    margin-bottom: 100px;
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__after {
    border-bottom: 1px solid;
    margin-top: 100px;

    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__content {

    &--small {
      display: none;

      @include onDesktop {
        display: block;
        font-size: 16px;
        line-height: 150%;
        max-width: 380px;
      }
    }

    &--big {
      text-transform: uppercase;
      font-size: 18px;
      line-height: 150%;

      @include onTablet {
        text-align: center;
      }

      @include onDesktop {
        text-align: unset;
        font-size: 24px;
      }
    }
  }
}
