.names {
  display: flex;
  flex-direction: column;
  font-family: Avenir, sans-serif;
  color: $darkGreen;

  &__item {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 45px;
  }

  &__name {
    text-align: end;
    padding-right: 15px;

    @include onTablet {
      font-weight: $fontWeigthTablet;
    }
  }

  &__line {
    width: 80px;
    border-top: 1px solid $darkGray;
  }

  &__circle {
    display: none;
    height: 5px;
    width: 5px;
    background-color: $darkGray;
    border-radius: 50%;

    @include onDesktop {
      display: block;
    }
  }

  &__image {
    position: relative;
    right: 8%;
    bottom: 40px;

    @include onTablet {
      right: 5%;
    }

    @include onDesktop {
      right: 0;
      left: 5%;
    }
  }
}
