.nature-care {

  @include onDesktop {
    &__container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 160px;
    }

    &__natural {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__paragraph {
      display: flex;
      justify-content: center;
      text-align: center;

      width: 350px;
      height: 36px;

      // @extend %text-2;
    }
  }
}
