.nature-care {
  &__container {
    height: 450px;
    justify-content: space-between;

    @include onTablet {
      // width: 100%;
      height: 131px;
      // justify-content: space-evenlys;
    }

    @include onDesktop {
      // justify-content: space-evenly;
      width: 100%;
      height: 160px;
    }
  }

  &__natural {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      width: 218px;
    }

    @include onDesktop {
      width: 380px;
    }
  }

  &__paragraph {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    text-align: center;

    height: 36px;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;

    text-transform: uppercase;
    color: #000;

    @include onTablet {
      margin-top: 0;
    }
  }
}
