.natural-choice {
  position: relative;

  &__title {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-green;

    @include onTablet {
      width: 280px;
      text-align: center;
    }

    @include onDesktop {
      width: 100%;
      font-size: 24px;
      padding: 100px 0;
      text-align: start;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        content: "";
        display: block;
        width: 50%;
        height: 2px;
        background-color: rgba(52, 79, 16, 0.5);
      }
    }
  }

  &__text {
    display: none;
    margin: 0;
    @include onDesktop {
      display: block;
      line-height: 150%;
      padding: 100px 0 ;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        display: block;
        width: calc(50vw - 120px);
        height: 2px;
        background-color: rgba(52, 79, 16, 0.5);
      }
    }
  }
}
