.nav-block {
  &__list {
    display: flex;
    gap: 10px;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    padding-bottom: $padding-for-bottom-line;
    @include menu-SemiBold;
    color: $color__Hourglass;
    text-decoration: none;
    border-bottom: 1px solid #fff0;
    transition: border-color $transition-time;

    &:hover {
      border-color: $color__Hourglass;
    }
  }
}
