.nav-block {
  &__list {
    display: flex;
    gap: 10px;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    @include menu-SemiBold;
    color: $color__Hourglass;
    text-decoration: none;
  }
}
