.nav-footer {
  &__item {
    padding-bottom: 11px;
    list-style: none;

    @include onDesktop {
      display: inline;
      padding-right: 40px;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__link {
    @include Poppins500;

    @include onTablet {
      @include Poppins400;
      font-size: 14px;
      line-height: 21px;
    }

    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    text-decoration: none;
    color: $milk-color;

    &--copyright {
      margin-top: 40px;
    }
  }
}
