.nav-desktop {
  display: none;
  justify-content: center;

  @include onDeskTop {
    display: flex;
  }

  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 40px;
    
    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    text-decoration: none;
    color: $burgerMenu-color;
    font-size: 18px;
    line-height: 130%;
  }
}