.nav {
  display: none;

  @include onDesktop {
    display: flex;
    align-items: center;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__link {
    text-decoration: none;
    color: $colorGreen;

    @extend %poppins-500;

    font-size: 18px;
    line-height: 150%;

    &:hover {
      color: #8c9772;
    }
  }
}
