.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  padding: 15 20 20;

  &__icon {
    vertical-align: bottom;

    &--menu {
      margin-top: 5px;
    }
  }
}
