* {
  box-sizing: border-box;
}

html,
body,
input {
  font-family: "Sharp Sans Display no2",
    "Calibri",
    "Arial",
    sans-serif;
}

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  background-color: $body-bgc;
}
