* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Sharp Sans Display no2",
    "Calibri",
    "Arial",
    sans-serif;
}

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  width: 100%;
  background-color: #e4dfd3;
}
