html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(228, 223, 211, 1);
  margin: 0;
  padding: 0;
}

.page {
  &:has(.menu:target) {
    overflow: hidden;
  }
}

.section-unique {
  padding-inline: 0;
}

.margin {
  margin-bottom: 36px;
}

.width {
  width: 98px;
}

.margin-top {
  margin-top: 30px;
}
