.office-info {
  display: inline-flex;
  flex-direction: column;

  &__link {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin-bottom: 12px;
    width: fit-content;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}
