.page {
  &__body {
    margin: 0;
    background-color: $mainBgc;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: transform $transitionTime;
    transform: translateX(-100%);

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 100px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }
}
