.page {
  font-family: Avenir, sans-serif;  
  font-style: normal;
  font-weight: 500;
  color: #333333;
  background-color: #E4DFD3;
  width: 100%;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__menu {
    padding-top: 15px;

    @include Tablet {
      padding-top: 23px;
    }

    @include onDesktop {
      padding-top: 30px;
    }
  }
}