.paragraph {
  font-size: 16px;
  line-height: 150%;
  color: $c-dark-gray;

  &--sm {
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: $text-transform;
  }

  &--md {
    font-size: 18px;
    text-transform: $text-transform;
    color: $c-green;
    letter-spacing: 0.05em;
  }

  &--xl {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: $text-transform;
    color: $c-dark-gray;
  }
}
