.payment {
  padding: 0 0 20px;

  @include onTablet {
    padding: 107px 0 20px;
  }

  @include onDesktop {
    padding: 0 0 72px;
  }

  &__checkout {
    margin: 0 0 20px;
    padding-bottom: 5px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-bottom: 1px solid $c-gray;
    color: $c-darkGray2;
  
    @include onTablet {
      margin: 0 0 60px;
      width: 218px;
    }
  }

  &__title {
    margin: 0 0 30px;

    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $c-black;

    @include onTablet {
      margin: 0 0 40px;
    }
  }

  &__choose {
    margin: 0 0 50px;
    font-weight: 600;
    text-align: center;
    color: $c-black;
  }

  &__item {
    margin-bottom: 40px;
    text-align: center;

    &:nth-child(5) {
      margin-bottom: 73px;

      @include onTablet {
        margin-bottom: 50px;
      }
    }
  }

  &__image {
    margin: 0 auto 15px;
    display: block;
    text-decoration: none;
    background-position: center;
    background-repeat: no-repeat;
    width: 55px;
    height: 32px;
    transition: all 0.3s;

    &--card {
      background-image: url("../images/icons/card.svg");
    }

    &--auto {
      background-image: url("../images/icons/auto.svg");
    }
  }

  &__text {
    font-weight: 600;
    color: $c-black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
  }

  &__btn {
    margin: 0 auto;
  }

  &__icon {
    display: block;
    width: max-content;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.3s;

  }

  &__icon:hover &__text {
    border-bottom: 1px solid $c-green;
  }

  &__icon:hover &__image--card {
    background-image: url("../images/icons/card-hover.svg");
  }

  &__icon:hover &__image--auto {
    background-image: url("../images/icons/auto-hover.svg");
  }
}
