.payment {
  background-color: $c-nude-main;

  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;

  transform: translateX(144%);
  transition: transform 0.3s ease;
  overflow-y: auto;
  z-index: 5;

  &.show {
    transform: translateX(12%);
  }

  &__wrapper {
    padding: 25px 20px 60px;

    @include onTablet {
      padding: 25px 27px 60px;
    }

    @include onDesktop {
      padding: 25px 50px 60px;
    }

    @include offDesktop {
      padding: 25px 130px 60px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  &__subheader {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $c-gray;
    padding-bottom: 1px;
    border-bottom: 1px solid #bdbdbd;
    max-width: 218px;
    align-self: flex-start;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  &__header {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    text-align: center;
    color: $c-gray;
    padding-top: 20px;

    &:nth-of-type(2) {
      padding-bottom: 60px;
      text-transform: capitalize;
    }
  }

  &__option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
  }

  &__img {
    position: relative;
    height: 55px;
    width: 55px;
    margin: 5px;

    &--credit {
      background: url("/images/Logos/credit.svg") no-repeat;
    }

    &--car {
      background: url("/images/Logos/car.svg") no-repeat;
    }

  }

  &__label input[type="radio"] {
    display: none;

    &:checked + .payment__option {
      background-color: rgba(0, 0, 0, 0.2);
      color: $c-green;

      .payment__img {
        color: $c-green;
      }
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  &__button {
    @include toTablet {
      width: 240px;
    }

    @include onTablet {
      width: 280px;
    }
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
