.payment {

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;

    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 1px;
      background: #bdbdbd;
      margin-top: 5px;
      margin-bottom: 20px;
    }
    @include onTablet {
      margin-bottom: 60px;
    }
  }

  &__shop {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 280px;
    height: 60px;
    background: #333;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #f2f2f2;
    cursor: pointer;

    &-des {
      text-decoration: none;
    }
  }

  &__paragraf {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #333;
  }

  &__bottom1 {
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 60px;
    }
  }

  &__bottom2 {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 35px;
    }
  }

  &__bottom3 {
    margin-bottom: 73px;

    @include onTablet {
      margin-bottom: 50px;
    }

  }

  &__photo1 {
    width: 55px;
    height: 31px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 3px;

    @include onTablet {
      margin-bottom: 12px;
    }
  }

  &__photo2 {
    width: 53.5px;
    height: 31px;
    margin: 0 auto;
    margin-bottom: 15px;

    @include onTablet {
      margin-bottom: 12px;
    }
  }
}
