.photo {
  left: 0;
  right: 0;
  width: calc(100% + 40px);
  padding-top: 100%;
  align-items: center;
  margin: 0 -20px 25px;

  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center;

  @include onTablet {
    width: 100%;
    margin: 0 auto 30px;
  }

  @include onDesktop {
    margin-bottom: 0;
  }
}
