.photo {
  &--desktop {
    display: none;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: block;
    }
  }

  &--tablet {
    display: none;

    @include onTablet {
      display: block;
    }

    @include onDesktop {
      display: none;
    }
  }

  &--mobile {
    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: none;
    }
  }
}
