.photo {
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 25px;

  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center;

  @include onDesktop {
    margin-bottom: 0;
  }
}
