.pictures {
  grid-column: 2 / -1;
  display: flex;
  gap: 20px;

  @include onTablet {
    align-items: baseline;
    grid-column: 4 / -1;
  }

  @include onDesktop {
    grid-column: 7 / -1;
  }

  &__item {
    display: none;

    &--hide {
      @include onTablet {
        display: block;
      }
    }

    &--tooth-powder {
      display: block;
    }
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--item {
      color: $color-main;
      text-align: right;

      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  &--about-us {
    @include onTablet {
      & :first-child {
        display: block;
      }
    }

    @include onDesktop {
      & > * {
        display: block;
      }
    }
  }

  &--tooth-powder {
    @include onTablet {
      align-items: normal;
      grid-column: 3 / -1;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }
  }

}
