@import "../utils/mixins";

.pictures {
  display: grid;
  align-items: baseline;
  margin-bottom: 200px;

  &__part {
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;

  }

  &__one {
    margin: 0 0 50px;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000;

    @include onTablet {
      display: grid;

    }
  }
}
