.pictures {
  display: none;

  @include onTablet {
    display: flex;
    gap: 20px;
    align-items: baseline;
    grid-column: 4 / -1;
  }

  @include onDesktop {
    grid-column: 7 / -1;
  }

  &__item {
    display: none;
  }
  &--about-us {

    @include onTablet {
      & :first-child {
        display: block;
      }
    }

    @include onDesktop {
      & > * {
        display: block;
      }
    }
  }
}
