.powder {
  overflow: hidden;

  &__title {
    margin-bottom: 21px;

    @include onTablet {
      margin-bottom: 0;
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 2 / 6;
    }
  }

  &__jar-wrapper {
    display: flex;
    column-gap: 11px;
    margin-bottom: 31px;

    @include onTablet {
      column-gap: 19px;
      margin-bottom: 0;
      grid-row: 1 / 3;
      grid-column: 4 / -1;
      margin-left: -150px;
    }

    @include onDesktop {
      margin-left: 0;
      grid-column: 6 / -1;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    flex-grow: 1;

    list-style-type: none;
  }

  &__item {
    position: relative;

    display: flex;
    column-gap: 20px;
    align-items: center;

    &::after {
      display: block;
      content: "";
      width: 32px;
      height: 1px;

      background-color: $mainColor;

      @include onTablet {
        width: 76px;
      }
    }

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      display: block;
      content: "";
      width: 5px;
      height: 5px;

      border-radius: 50%;
      background-color: $mainColor;
    }
  }

  &__link {
    @include onTablet {
      grid-column: 1 / 4;
      align-self: end;
    }

    @include onDesktop {
      grid-column: 2 / 6;
    }
  }
}
