.prefix {

  display: none;
  position: absolute;

  font-family: Sharp Sans, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;

  letter-spacing: 0.05em;
  white-space: nowrap;

  color: rgba(52, 79, 16, 0.5);

  @include onDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:before {

    display: block;

    content: "";
    height: 1px;
    width: 100px;
    margin-right: 10px;
    background-color: rgba(52, 79, 16, 0.3);

  }

}
