.principles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;

  @include onTablet {
    flex-direction: row;
    gap: 30px;
  }

  &__element {
    margin: 0 auto;
  }

  &__icon {
    display: block;
    width: 80px;
    height: 70px;
    margin: 0 auto 20px;

    @include onDesktop {
      margin: 0 auto 40px;
    }
  }

  &__text {
    @extend %text14Regular;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 130%;
    max-width: 400px;
    text-transform: uppercase;
    color: #000;
  }
}
