.product-symbols {
  display: grid;
  padding: 250px 50px;
  grid-template-columns: repeat(3,380px);
  justify-items: center;
  justify-content: center;
  gap: 20px;

  @include onTablet {
    padding: 0 $tablet-padding;
    margin: 0 auto 150px;
    grid-template-columns: repeat(3,218px);
    gap: 20px;
  }

  @include onMobile {
    margin-bottom: 10px;
    grid-template-columns: 230px;
  }

  &__description {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;

    @include onMobile {
      margin-bottom: 50px;
    }

    &-duck {
      @include onMobile {
        order: 3;
      }
    }

    &-renew {
      @include onMobile {
        order: 5;
      }
    }

    &-leaf {
      @include onMobile {
        order: 7;
      }
    }
  }

  &__duck {
    @include onMobile {
      order: 2;
    }
  }

  &__renew {
    @include onMobile {
      order: 4;
    }
  }

  &__leaf {
    @include onMobile {
      order: 6;
    }
  }
}
