.product-card {
  box-sizing: border-box;
  height: 100vh;
  background-color: $c-gray;
  overflow: auto;
  padding-bottom: 20px;
  z-index: 1;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__describtion {
    @include flaxColumnGap20;
    margin-top: 50px;
  }

  &__span {
    color: #344F10;
  }

  &__wrap {
    @include paddingInline;
  }
}

