.products {
  width: 100vw;
  background-color: $secondary-color;

  &__top {
    @extend %sticky-top;
  }

  &__block {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 45px;
    }

    @include desktop {
      margin-bottom: 55px;
    }
  }

  &__learn-more {
    margin-bottom: 10px;
  }
}
