.product-card {
  background-color: $lightColor;

  &__content {
    height: 100vh;
  }

  &__title {
    @include h5;

    color: $grayColor;
    margin-bottom: 10px;
  }

  &__price {
    @include text__2;

    color: $grayColor;
    margin-bottom: 20px;
  }

  &__image {
    height: 267px;
    width: 100%;
    margin-bottom: 30px;

    background-image: url(./../images/bg__card.png);
    background-size: cover;
    background-position: center top;

    @include onTablet {
      height: 466px;
      width: 440px;
      margin-bottom: 30px;
    }
  }

  &__button {
    margin-bottom: 50px;
  }

  &__paragrapgs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text {
    @include small__text;

    &--green {
      color: $greenColor;
    }
  }
}
