.main {
  background-color: $pinky-color;

  .product-card {
    padding: 20px;

    @media (min-width: 767px) {
      padding: 50px 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-transform: uppercase;
      color: $green-color;
      padding-bottom: 10px;

      @media (min-width: 1279px) {
        font-size: 36px;
      }
    }

    &__price {
      @media (min-width: 1279px) {
        font-size: 26px;
      }
    }

    &__img {
      margin-top: 20px;
      margin-bottom: 30px;
      width: 100%;

      @media (min-width: 1279px) {
        width: 50%;
      }
    }

    &__btn {
      @extend %btn-default;
      margin-bottom: 50px;

      &:hover {
        @extend %btn-hover;
      }
    }

    &__description {
      color: $black-color;
      padding-bottom: 20px;

      @media (min-width: 1279px) {
        font-size: 18px;
      }
      .span {
        color: $green-color;
      }
    }
  }
}
