.product-benefits {
  &__element {
    margin: 0 0 50px;

    @include on-tablet {
      margin: 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__logo-wrapper {
    position: relative;
    margin: 0 0 20px;
    height: 84px;

    @include on-tablet {
      height: 76px;
    }

    @include on-desktop {
      margin: 0 0 40px;
      height: 84px;
    }
  }

  &__logo-element {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
  }

  &__description-element {
    margin: 0;
    @include text-2;
    color: $color__Black;
    text-align: center;
  }
}
