.promo {
  font-family: Avenir, serif;
  font-weight: 500;

  &__photo {
    margin-bottom: 25px;

    @include onTablet {
      margin-bottom: 50px;
    }
  }

  &__title {
    margin: 0 0 12px;

    @include onTablet {
      margin-bottom: 20px;
    }

    font-size: 36px;
    line-height: 130%;
    color: $darkGray;
  }

  &__subtitle {
    margin: 0 0 46px;

    @include onTablet {
      margin-bottom: 50px;
    }

    line-height: 150%;
    font-size: 18px;
  }
}
