.promo {

  &__background {
    height: 270px;
    margin-bottom: 25px;
    background-image: url(../images/photos/brand-of.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include onTablet {
      margin: 0 30px;
      margin-bottom: 50px;
      height: 500px;
    }

    @include onDesktop {
      display: none;
    }
  }

  @include onTablet {
    background-image: none;
  }

  @include onDesktop {
    background-image: none;
  }

  &__photo {
    display: none;

    margin-bottom: 25px;

    @include onDesktop {
      display: block;
      margin-bottom: 50px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onDesktop {
      align-items: flex-start;
    }

    &--title {
      margin: 0 0 12px;
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      line-height: 130%;
      color: $darkGray;

      @include onTablet {
        margin-bottom: 20px;
        font-weight: 500;
      }

      @include onDesktop {
        text-align: unset;
        font-size: 60px;
        line-height: 60px;
        font-weight: 500;
      }
    }

    &--subtitle {
      margin: 0 0 46px;
      line-height: 150%;
      font-size: 18px;

      @include onMobile {
        font-weight: 400;
      }

      @include onTablet {
        margin-bottom: 50px;
      }
    }
  }
}
