
.pros {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &--img {
    height: 80px;
  }

  &--description {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18.2px;
    letter-spacing: 0.7px;
    margin: 0;
    text-align: center;
  }
}
