.quality-mark {

  &__icon {
    width: 80px;
    height: 75px;
    margin: 0 auto;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__description {
    margin-top: 20px;
    text-align: center;
    @include font(16px, 130%, 500);
  }

  @media (min-width: $size-M) {
    &__description {
      max-width: 200px;
    }
  }

  @media (min-width: $size-L) {
    &__description {
      max-width: 300px;
    }
  }

  @media (min-width: $size-XXL) {
    &__description {
      margin-top: 30px;
    }
  }
}
