.quote {

  &__text {
    display: none;

    @include onDesktop {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: $color-grey;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-green;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      font-size: 24px;
      text-align: left;
    }
  }
}
