.right-image {
  @include onTablet {
    background-size: cover;
    background-position: center;
    width: 100%;
    grid-column: 4 / 7;
    position: relative;
    padding-left: 27px;
    margin-left: -27px;
    right: -27px;
  }

  @include onDesktop {
    grid-column: 7 / 13;
    position: static;
    padding-left: 0;
    margin-left: 0;
    right: 0;
  }
}
