.rools-icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 50px;

  @include onTablet {
    flex-direction: row;
    row-gap: 30px;
  }

  &__box {
    display: grid;
    grid-template-rows: 100px 20px;
    justify-items: center;
  }

  &__text {
    @extend %text2;

    text-align: center;
    justify-items: center;
    align-items: end;
  }

  &__image {
    @include hover(transform, rotate(360deg));
  }
}
