.rotate {

  &__about {
    display: none;

    @include on-desktop {
      position: absolute;
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #344f1080;
      transform: rotate(270deg);
      margin-left: -140px;
      margin-top: 72px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 10px;
        left: -100px;
        padding-right: 70px;
        background-color: #344f1080;
        height: 1px;
        width: 10%;
        border-radius: 8px;
      }
    }
  }

  &__shop {
    display: none;

    @include on-desktop {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #344f1080;
      transform: rotate(270deg);
      position: absolute;
      margin-left: -85px;
      margin-top: 20px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #344f1080;
        height: 1px;
        width: 400%;
        border-radius: 8px;
        bottom: 9px;
        left: -160px;
      }
    }
  }

  &__creators {
    display: none;

    @include on-desktop {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #344f1080;
      transform: rotate(270deg);
      position: absolute;
      margin-left: -125px;
      margin-top: 60px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #344f1080;
      height: 1px;
      width: 80%;
      border-radius: 8px;
      bottom: 9px;
      left: -120px;
    }
  }

  &__ayurvedic {
    display: none;

    @include on-desktop {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #344f1080;
      transform: rotate(270deg);
      position: absolute;
      margin-top: 60px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #344f1080;
      height: 1px;
      width: 80%;
      border-radius: 8px;
      bottom: 9px;
      left: -100px;
      padding-left: 20px;
    }
  }

  &__contacts {
    display: none;

    @include on-desktop {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #344f1080;
      transform: rotate(270deg);
      position: absolute;
      margin-left: -35px;
      margin-top: 40px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #344f1080;
      height: 1px;
      width: 80%;
      border-radius: 8px;
      bottom: 9px;
      left: -100px;
      padding-left: 50px;
    }
  }
}
