.rotate {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  
  color: #344f1080;
  transform: rotate(-90deg);

  &::before {
    content: "";
    position: relative;
    top: 10px;
    right: 110px;
    display: block;
    border-bottom: 1px solid #344f1080;
    width: 100px;
  }

  &__wmw {
    transform: rotate(-90deg) translate(-84px, -76px);
  }

  &__shop {
    transform: rotate(-90deg) translate(18px, -42px);
  }

  &__creators {
    transform: rotate(-90deg) translate(-64px, -58px);
  }

  &__powder {
    transform: rotate(-90deg) translate(-28px, -40px);
  }

  &__help {
    transform: rotate(-90deg) translate(16px, -40px);
  }
}
