.scroll {

  overflow: hidden;

  &__line {
    display: block;
    position: relative;
    padding: 0;

   
    @include onDesktop {
      padding: 100px 0 120px;
    }
  }

  &__paragraph {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 530px;
      right: 0;
      top: 0;
      border: 1px solid rgba(52, 79, 16, 0.5);
    }

    @include onDesktop {
      display: block;
    }
  }
}
