.second-section {
  &__vertical-logo {
    height: 302px;
    justify-items: start;
  }

  &__h2 {
    margin: 42px 0 20px;
    text-transform: uppercase;

    @include onMinDesktop {
      font-weight: 500;
      font-size: 30px;
      line-height: 120%;
    }
  }

  &__left-text {
    margin-bottom: 30px;
    &:nth-child(3) {
      margin-bottom: 40px;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__imgFull {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    
  }

  &__small-img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
