.second-info {
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;

  &::before {
    display: none;

    @include on-desktop {
      display: block;
      content: '';
      background: rgba(52, 79, 16, 0.5);
      height: 1px;
      width: calc(530px + ((100vw - 1280px) / 2));
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &::after {
    display: none;

    @include on-desktop {
      display: block;
      content: '';
      background: rgba(52, 79, 16, 0.5);
      height: 1px;
      width: calc(630px + ((100vw - 1280px) / 2));
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  @include on-tablet {
    padding-bottom: 130px;
    padding-top: 130px;
  }

  @include on-desktop {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  &__text {
    display: none;

    @extend %poppins-400;

    @include on-desktop {
      display: block;
      font-size: 16px;
      line-height: 150%;
      color: $colorBlack;
    }
  }

  &__title {
    @extend %poppins-600;

    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorGreen;

    @include on-tablet {
      text-align: center;
    }

    @include on-desktop {
      text-align: left;
      font-size: 24px;
      height: 108px;
    }
  }
}
