.sections {
  &__presentation-block {
    padding-top: 51px;
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 100px;
      padding-top: 77px;
    }

    @include onDesktop {
      margin-bottom: 250px;
      padding-top: 160px;
      height: 100%;
    }
  }

  &__about {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      margin-bottom: 200px;
    }
  }

  &__shop-section {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 138px;
    }

    @include onDesktop {
      margin-bottom: 214px;
    }
  }

  &__creators {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 100px;
    }

    @include onDesktop {
      margin-bottom: 214px;
    }
  }

  &__powder {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 160px;
    }

    @include onDesktop {
      margin-bottom: 250px;
    }
  }

  &__advantages {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 150px;
    }

    @include onDesktop {
      margin-bottom: 250px;
    }
  }

  &__contact-us {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 100px;
    }

    @include onDesktop {
      margin-bottom: 150px;
    }
  }
}
