.section-intro {

  &__wrapper {
    @include max-width-content($size-XXXL);
  }

  &__title {
    max-width: $section-block_size-S;
    margin: 0 auto;

    text-align: center;
    @include font(18px, 150%, 500);
    color: $content-color;
  }

  &__paragraph {
    display: none;
  }

  @media (min-width: $design-jump) {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__content-container {
      display: flex;
      align-items: center;
      padding: 60px 0;

      @each $size, $padding in $section-intro_paddings {
        @media (min-width: #{$size}) {
          & {
            padding: $padding 0;
          }
        }
      }

      &--left {
        flex-shrink: 0;
        margin-right: 30px;
        padding-left: 27px;
        border-top: 1px solid rgba(52, 79, 16, 0.5);

        @each $size, $gap in $section-containers_gap {
          @media (min-width: #{$size}) {
            & {
              margin-right: $gap;
            }
          }
        }
      }

      &--right {
        flex-grow: 1;
        border-bottom: 1px solid rgba(52, 79, 16, 0.5);
      }
    }
    
    &__title {
      min-width: $section-block_size-L;
      margin: 0;

      text-align: left;
      @include font(24px, 150%, 500);
    }

    &__paragraph {
      width: $section-block_size-L;
      display: block;
    }
  }

  @media (min-width: $size-L) {
    &__title {
      min-width: $section-block_size-XL;
    }

    &__paragraph {
      width: $section-block_size-XL;
    }
  }

  @media (min-width: $size-XL) {
    &__paragraph {
      margin-left: 100px;
    }
  }

  @media (min-width: $size-XXL) {
    &__content-container {
     
      &--left {
        padding-left: $wrapper_paddings_size-XXL;
      }
    }
  }

  @media (min-width: $size-XXXL) {
    &__content-container {
     
      &--left {
        padding-left: $wrapper_paddings_size-XXXL;
      }
    }
  }
}
