.section {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px 100px;

  @include onTablet {
    padding: 0 27px 130px;
  }

  @include onDesktop {
    padding: 0 50px 200px;
  }

  @include offDesktop {
    padding: 0 130px 200px;
  }
}
