.section-title {
  margin: 0;
  text-transform: uppercase;
  color: $main-title-color;

  &__about-brand {
    margin-bottom: 40px;
  }

  &--align-center {
    text-align: center;

    @include onTablet {
      text-align: left;
    }

    @include onDesktop {
      grid-column: 2/4;
    }
  }

  & br {
    @include onTablet {
      display: none;
    }
  }
}
