.section-label {
  transform: rotateZ(180deg);
  text-align: end;
  writing-mode: vertical-lr;

  @include font(14px, 20px, 500);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(52, 79, 16, 0.5);

  &::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100px;
    transform: translate(200%, -10px);

    background-color: rgba(52, 79, 16, 0.5);
  }
}
