.section-titles {
  margin: 0;
  margin-bottom: 10px;

  text-align: left;
  color: $text-color-green;

  @include onSmallDesktop {
    font-size: 34px;
  }

  &--align-center {
    text-align: center;

    @include onTablet {
      text-align: left;
      @include paddingInline;
    }
  }
}
