.section-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  @include onTablet {
    font-size: 16px;
  }

  &--hero {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
    @include onTablet {
      margin-bottom: 50px;
      margin-top: 10px;
    }
    @include onDesktop {
      display: block;
      text-align: left;
      margin-bottom: 50px;
    }
  }

  &--information {
    display: none;
    @include onDesktop {
      display: block;
      grid-column: 2 / 6;
    }
  }

  &--about-brand--top {
    margin-bottom: 30px;
    @include onDesktop {
      margin-bottom: 30px;
    }
  }

  &--about-brand--bottom {
    display: none;
    @include onDesktop {
      display: block;
      margin-bottom: 40px;
    }
  }

  &--about-creators {
    &--container {
      @include onDesktop {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 20px;
      }
    }

    &--top {
      margin-bottom: 20px;
      @include onTablet {
        margin-bottom: 15px;
      }
      @include onDesktop {
        margin: 0;
      }
    }

    &--center {
      margin-bottom: 30px;
      @include onTablet {
        margin-bottom: 20px;
      }
      @include onDesktop {
        margin: 0;
      }
    }

    &--bottom {
      display: none;
      @include onDesktop {
        display: block;
      }
    }
  }

  &--contacts {
    margin-bottom: 30px;
    @include onTablet {
      margin-bottom: 20px;
    }
    @include onDesktop {
      margin-bottom: 40px;
    }
  }
}
