.tooth {

  &__title {
    width: 280px;
    margin: 0 0 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $textGreen;

    @include onTablet {
      width: 342px;
      margin: 0 0 310px;
    }

    @include onDesktop {
      width: 380px;
      margin: 0 0 287px;
      font-size: 36px;
      line-height: 40px;
    }
  }

  &__image {
    display: flex;
    justify-content: right;
    margin-bottom: 31px;

    @include minTablet {
      margin: 0;
    }

    &-text {
      height: 322px;
      width: 97px;
      margin: 38px 20px 0 0;
      background-repeat: no-repeat;
      background-image: url(../images/imageText.svg);

      @include onTablet {
        margin: 38px 20px 0 -136px;
      }
    }

    &-bank {
      height: 397px;
      width: 182px;
      background-repeat: no-repeat;
      margin-right: -20px;
      background-image: url(../images/mobilesvg1.svg);

      @include onTablet {
        width: 388px;
        margin-right: -25px;
        background-image: url(../images/tabletsvg1.svg);
      }

      @include onDesktop {
        width: 480px;
        background-image: url(../images/desktopsvg1.svg);
      }
    }
  }

  // &__section {

  // }

  &__synthetics-image {
    height: 60px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/syntheticssvg.svg);

    @include onTablet {
      margin-bottom: 28px;
      background-image: url(../images/syntheticsDsvg.svg);
    }

    @include onDesktop {
      margin-bottom: 61px;
      background-image: url(../images/syntheticsDsvg.svg);
    }
  }

  &__section {
    margin-bottom: 50px;

    @include minTablet {
      margin-bottom: 0;
    }
  }

  &__recycled-image {
    height: 84px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/recycledsvg.svg);

    @include onTablet {
      height: 68px;
      margin-bottom: 23px;
      background-image: url(../images/recycledDsvg.svg);
    }

    @include onDesktop {
      height: 84px;
      margin-bottom: 40px;
      background-image: url(../images/recycledDsvg.svg);
    }
  }

  &__natural-image {
    height: 75px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/naturalsvg.svg);

    @include onTablet {
      margin-bottom: 14px;
    }

    @include onDesktop {
      margin-bottom: 45px;
      background-image: url(../images/naturalsvg.svg);
    }
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
  }
}
