.creators {

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $textBlack;

    @include minTablet {
      font-size: 16px;
      line-height: 24px;
    }

    &-first {
      margin: 0 0 20px;

      @include onTablet {
        margin: 0 0 15px;
      }

      @include onDesktop {
        margin: 0 0 30px;
      }
    }

    &-second {
      margin: 0 0 30px;

      @include onTablet {
        margin: 0 0 20px;
      }

      @include onDesktop {
        margin: 0 0 30px;
      }
    }

    &-third {
      display: none;

      @include onDesktop {
        display: grid;
        margin: 0 0 20px;
      }
    }
  }

  &__image {
    display: none;

    @include onTablet {
      display: grid;
      height: 440px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/tablet5.jpg);
    }

    @include onDesktop {
      display: grid;
      height: 659px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../images/desktop6.jpg);
    }
  }
}
