.section-title {
  color: $dark-green-color;
  text-transform: uppercase;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  @include onDesktop {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 1.8px;
  }

  &--hero {
    line-height: 130%;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    color: $main-black-color;
    text-transform: none;
    @include onTablet {
      text-transform: capitalize;
      line-height: 150%;
      font-size: 36px;
      width: 466px;
      margin: 0 auto;
    }
    @include onDesktop {
      font-size: 60px;
      width: 100%;
      font-weight: 600;
      line-height: 130%;
      text-align: left;
      margin-bottom: 30px;
      text-transform: none;
    }
  }

  &--about-brand {
    margin-bottom: 10px;
    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &--product {
    text-align: center;
    margin-bottom: 20px;
    display: block;
    @include onTablet {
      text-align: left;
    }
    @include onDesktop {
      padding-inline-start: 100px;
    }
  }

  &--about-creators {
    text-align: left;
    width: 200px;
    letter-spacing: 1.2;
    margin-bottom: 10px;
    @include onTablet {
      width: 100%;
    }
    @include onDesktop {
      font-size: 36px;
      margin-bottom: 34px;
    }
    @include onDesign {
      margin-bottom: 20px;
    }
  }

  &--toothpaste {
    width: 280px;
    @include onDesktop {
      width: 380px;
      grid-column: 2 / 6;
    }
  }

  &--contacts {
    margin-bottom: 10px;
    @include onDesktop {
      margin-bottom: 30px;
    }
  }
}
