.section-title {
  color: $green-color;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  @include onDesktop {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 1.8px;
  }
}
