.section-about-store {

  &__wrapper {
    @include max-width-content($size-XXXL);
    padding: 0 $wrapper_paddings_size-S;
  }

  &__title {
    margin-bottom: 12px;
    color: $content-color;
  }

  &__paragraph {
    color: $content-color;

    &--additional {
      display: none;
    }
  }

  &__link {
    margin-top: 40px;
  }

  &__content-container--right {
    display: none;
  }

  &__photo {
    display: block;

    background-image: url(../images/photo/Photo_AboutBrand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--bigger {
      flex-grow: 4;
      flex-shrink: 0;
      width: $image-about_width;
      max-width: $image-about_width;
      height: 100%;
    }

    &--smaller {
      align-self: flex-end;
      flex-grow: 1;
      max-width: $image-about_width;
      height: 85%;
      margin-left: 20px;
    }
  }

  &__label {
    display: none;
  }

  @media (min-width: $size-S) {
    &__wrapper {
      display: flex;
      @include max-width-content(
        $content_max-width + 2 * $wrapper_paddings_size-S
      );

      padding: 0 0 0 $wrapper_paddings_size-S;
    }

    &__content-container--left {
      flex-shrink: 0;
      margin: 0 30px 0 0;
      width: $section-block_size-M;

      @each $size, $gap in $section-containers_gap {
        @media (min-width: #{$size}) {
          & {
            margin-right: $gap;
          }
        }
      }
    }

    &__content-container--right {
      overflow: visible;
      align-self: stretch;
      flex-grow: 1;
      display: flex;
      overflow-x: hidden;
    }

    &__title {
      margin-top: 10px;
    }
  }

  @media (min-width: $size-M) {
    &__content-container--left {
      width: $section-block_size-L;
    }

    &__wrapper {
      padding: 0 0 0 $wrapper_paddings_size-L;
    }
  }

  @media (min-width: $size-L) {
    &__content-container--left {
      width: $section-block_size-XL;
    }

    &__title {
      margin: 40px 0 20px;
    }

    &__paragraph--additional {
      display: block;
      margin-top: 30px;
    }

    &__photo {
      
      &--bigger {
        width: $image-about_width-large;
        max-width: $image-about_width-large;
      }

      &--smaller {
        max-width: $image-about_width-large;
      }
    }

    &__link {
      padding-bottom: 10px;
    }
  }

  @media (min-width: $size-XL) {
    &__label {
      display: inline-block;
    }

    &__content-container--left {
      margin-left: 80px;
    }
  }

  @media (min-width: $content_max-width) {
    &__content-container--right {
      overflow: visible;
    }

    &__photo--smaller {
      width: 208px;
      max-width: $image-about_width-large;
    }
  }

  @media (min-width: $size-XXL) {
    &__wrapper {
      @include max-width-content(
        $content_max-width + 2 * $wrapper_paddings_size-XXL
      );

      padding-left: $wrapper_paddings_size-XXL;
    }
  }

  @media (min-width: $size-XXXL) {
    &__wrapper {
      @include max-width-content(
        $content_max-width + 2 * $wrapper_paddings_size-XXXL
      );

      padding-left: $wrapper_paddings_size-XXXL;
    }
  }
}
