.section-about-store {

  &__wrapper {
    @include max-width-content($content_max-width + $wrapper_paddings);

    @media (min-width: $size-XL) {
      & {
        padding: 0 0 0 27px;
      }
    }
  }

  &__title {
    margin-bottom: 12px;
    color: $content-color;
  }

  &__paragraph {
    color: $content-color;

    &--additional {
      display: none;
    }
  }

  &__link {
    margin-top: 40px;
  }

  &__content-container--right {
    display: none;
  }

  &__photo {
    display: block;

    background-image: url(../images/photo/Photo_AboutBrand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--bigger {
      flex-grow: 4;
      flex-shrink: 0;
      width: $image-about_width;
      max-width: $image-about_width;
      height: 100%;
    }

    &--smaller {
      align-self: flex-end;
      flex-grow: 1;
      max-width: $image-about_width;
      height: 85%;
      margin-left: 20px;
    }
  }

  &__label {
    display: none;

    @media (min-width: $content_max-width) {
      display: inline-block;
      margin-right: 80px;
    }
  }

  @media (min-width: $size-S) {
    &__wrapper {
      display: flex;
    }

    &__content-container--left {
      flex-shrink: 0;
      box-sizing: content-box;
      margin: 0 30px 0 0;
      width: $section-block_size-M;
      padding: 0 0 0 20px;

      @media (min-width: $size-M) {
        & {
          width: $section-block_size-L;
          padding: 0 0 0 27px;
        }
      }

      @media (min-width: $size-L) {
        & {
          width: $section-block_size-XL;
        }
      }

      @media (min-width: $size-XL) {
        & {
          padding: 0;
        }
      }

      @each $size, $gap in $section-containers_gap {
        @media (min-width: #{$size}) {
          & {
            margin-right: $gap;
          }
        }
      }
    }

    &__content-container--right {
      align-self: stretch;
      flex-grow: 1;
      display: flex;
      overflow-x: hidden;
    }

    &__title {
      margin-top: 10px;

      @media (min-width: $size-L) {
        & {
          margin: 40px 0 20px;
        }
      }
    }
  }

  @media (min-width: $size-L) {
    &__paragraph--additional {
      display: block;
      margin-top: 30px;
    }

    &__photo {
      
      &--bigger {
        width: $image-about_width-large;
        max-width: $image-about_width-large;
      }

      &--smaller {
        max-width: $image-about_width-large;
      }
    }

    &__link {
      padding-bottom: 10px;
    }
  }
}
