.section-creators {
  &__vertical-img {
    height: 248px;
  }

  &__h2 {
    text-transform: uppercase;
  }
  &__text1 {
    margin: 20px 0 54px;

    @include onMinDesktop {
      margin-bottom: 40px;
    }
  }

  &__text2 {
    margin-bottom: 30px;

    @include onMinDesktop {
      margin-bottom: 20px;
    }
  }

  &__text3 {
    margin-bottom: 8px;
  }

  &__button {
    margin-top: 40px;

    @include onMinDesktop {
      margin-top: 30px;
    }
  }

  &__img {
    width: 100%;
    height: 669px;

    object-fit: cover;
    object-position: center;
  }
}
