.section-about-creators {

  &__wrapper {
    display: flex;

    @include max-width-content(
      $content_max-width + 2 * $wrapper_paddings_size-XXXL
    );

    padding: 0 $wrapper_paddings_size-S;
  }

  &__content-wrapper {
    @each $size, $margin in $section-containers_gap {
      @media (min-width: #{$size}) {
        margin-right: $margin;
      }
    }

    @each $size, $width in $section-block_size-list {
      @media (min-width: #{$size}) {
        & {
          width: $width;
        }
      }
    }
  }

  &__label {
    display: none;
  }

  &__title {
    margin-bottom: 12px;
    color: $content-color;
  }

  &__paragraph {
    margin-bottom: 30px;
    color: $content-color;

    &--additional {
      display: none;
    }
  }

  &__link {
    margin-top: 10px;
  }

  &__contact-us {
    margin: 30px auto 0;
  }

  &__image-wrapper {
    display: none;
    flex-grow: 1;
    max-width: 580px;

    background-image: url(../images/photo/Photo_AboutCreators.jpg);
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $size-S) {
    &__wrapper {
      padding: 0 0 0 $wrapper_paddings_size-S;
    }

    &__title {
      margin-top: 10px;
    }

    &__contact-us {
      margin: 30px 0 0;
    }

    &__image-wrapper {
      display: block;
    }
  }

  @media (min-width: $design-jump) {
    &__wrapper {
      padding-left: $wrapper_paddings_size-L;

      @each $size, $padding in $wrapper_padding-list {
        @media (min-width: #{$size}) {
          padding-left: $padding;
        }
      }
    }
  }

  @media (min-width: $size-L) {
    &__title {
      margin: 20px 0;
      line-height: 130%;
    }

    &__link {
      padding-bottom: 10px;
    }
  }

  @media (min-width: $size-XL) {
    &__content-wrapper {
      margin-left: 80px;
    }

    &__label {
      display: inline-block;
    }

    &__contact-us {
      margin-top: 50px;
    }
  }
}
