.contact {

  &__about {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    @include onTablet {
      margin: 0 0 20px;
      font-size: 16px;
      line-height: 24px;
    }

    @include onDesktop {
      margin: 0 0 40px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__input {
    width: 100%;
    margin: 0 0 25px;
    padding-bottom: 5px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    text-transform: capitalize;
    color: #828282;
    background-color: inherit;
    outline: none;

    &:nth-of-type(3) {
      margin: 0 0 45px;
    }

    &:last-of-type {
      margin: 0 0 30px;
    }

    @include onDesktop {
      margin: 0 0 30px;
      font-size: 18px;
      line-height: 27px;

      &:nth-of-type(3) {
        margin: 0 0 60px;
      }

      &:last-of-type {
        margin: 0 0 50px;
      }
    }
  }

  &__image {
    display: none;

    @include onTablet {
      display: grid;
      height: 407px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url(../images/tablet6.jpg);
    }

    @include onDesktop {
      display: grid;
      height: 539px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url(../images/desktop7.jpg);
    }
  }
}
