.shipping {

  &__title {
    @extend %text16semiBold;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__checkout {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid $color-border-bottom;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-total_page;

    @include onTablet {
      width: 20%;
      margin-bottom: 60px;
    }
  }

  &__sibtitle {
    @extend %text16semiBold;
    margin-bottom: 50px;
    text-align: center;
  }

  &__form {

    @include onTablet {
      width: 380px;
      margin: 0 auto;
    }

    @include onDesktop {
      width: 480px;
    }
  }

  &__card {
    @extend %photo;
    display: block;
    margin: 0 auto 15px;
    width: 55px;
    height: 31px;

    &--1 {
      background-image: url(../images/payment/payment1.svg);
    }

    &--2 {
      background-image: url(../images/payment/payment2.svg);
    }

    &-title {
      @extend %text16semiBold;
      margin-bottom: 40px;
      text-align: center;

      &--last {
        margin-bottom: 70px;
      }
    }
  }

  &__main {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    padding-top: 37px;

    @include onTablet {
      width: 470px;
      margin: 0 auto;
      padding-top: 50px;
    }
  }

  &__image {
    @extend %photo;
    background-size: contain;
    display: block;
    margin: 30px auto 140px;
    width: 52px;
    height: 40px;
    background-image: url(../images/payment/payment3.svg);

    @include onTablet {
      margin: 30px auto 50px;
    }
  }
}
