.product-card {
  @include onTablet {
    width: 470px;
    margin: 0 auto;
  }

  &__photo {
    height: 280px;
    margin-bottom: 30px;

    @include onTablet {
      height: 440px;
    }
  }

  &__block {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__name {
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 25px;
    }
  }

  &__price {
    margin-bottom: 10px;
  }

  &__element {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    @include onTablet {
      flex-direction: column-reverse;
    }
  }

  &__button {
    display: block;
    margin: 0 auto 50px;
  }

  &__part {
    @extend %text14Regular;
    padding-bottom: 20px;

    &--last {
      padding-bottom: 0;
    }
  }
}
