.shop-card {
  &__image-container {
    @include img-hover-container (268px);

    @include tablet {
      @include img-hover-container (300px);
    }

    @include desktop {
      @include img-hover-container (500px);
    }
  }

  &__image {
    @include img-rules;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 0 20px;

    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include tablet {
      margin: 20px 0 0;
      gap: 14px;
    }
  }
}
