// #region Menu
.shop-menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $c-beige;

  overflow: auto;

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__top {
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $c-beige;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-top: 132px;
    margin-bottom: 32px;
    width: 100%;
  }
}

// #endregion
