.shop {
  position: relative;

  &__side-content {
    position: absolute;
    top: 143px;
  }

  &__title-content {
    @include on-desktop {
      @include page-grid;
    }

    @include on-big-desktop {
      @include page-grid;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include on-mobile {
      padding-inline: 20px;
    }

    @include on-tablet {
      margin-bottom: 10px;
    }

    @include on-desktop {
      grid-column: 2 / 3;
      margin-bottom: 30px;
    }

    @include on-big-desktop {
      grid-column: 2 / 3;
      margin-bottom: 30px;
    }
  }

  &__header {
    margin-bottom: 27px;

    @include on-mobile {
      padding-inline: 20px;
    }

    @include on-tablet {
      margin-bottom: 37px;

      @include page-grid;
    }

    @include on-desktop {
      margin-bottom: 62px;
    }

    @include on-big-desktop {
      margin-bottom: 62px;
    }
  }

  &__nav {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 2 / 6;
    }

    @include on-big-desktop {
      grid-column: 2 / 6;

    }
  }

  &__products-content {
    @include page-grid;

    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 50px;
    }

    @include on-desktop {
      margin-bottom: 40px;
    }

    @include on-big-desktop {
      margin-bottom: 40px;
    }
  }

  &__products {
    grid-column: 1 / -1;
    display: flex;
    column-gap: 20px;

    @include on-tablet {
      column-gap: 30px;
    }

    @include on-desktop {
      grid-column: 2 / -1;
    }
  }

  &__product {
    grid-column: 1 / -1;
  }

  &__button {
    margin-inline: auto;
  }
}