.payment {
  &__subtitle {
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;

    &--main {
      margin-bottom: 50px;
    }
  }

  &__option {
    margin-bottom: 40px;

    &--last {
      margin-bottom: 75px;
    }
  }

  &__image {
    width: 55px;
    height: 31px;
    margin: 0 auto 15px;

    &--one {
      background-image: url(../images/card.png);
    }

    &--two {
      background-image: url(../images/car.png);
    }
  }

  &__link {
    color: $c-gray;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
  }

  &__button {
    margin: 0 auto;
  }
}
