.confirmation {
  &__subtitle {
    margin-bottom: 70px;
  }

  &__text {
    width: 270px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: $c-gray;

    margin: 0 auto 30px;

    @include onTablet {
      width: 470px;
    }
  }

  &__image {
    @extend %photo;
    height: 50px;
    width: 40px;
    background-image: url(../images/leafe2.png);

    margin: 0 auto 140px;

    @include onTablet {
      margin-bottom: 50px;
    }
  }

  &__link-container {
    display: block;
    text-align: center;
  }

  &__link {
    font-weight: 600;
    line-height: 150%;

    text-align: center;
  }
}
