.shop-page {
  min-height: 100vh;
  background-color: $yellow;

  @include desktop {
    display: none;
  }

  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    @include padding;
    padding-top: 15px;

    @include tablet {
      margin-bottom: 30px;
      padding-top: 23px;
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    background: url("../images/icons/burger.svg") no-repeat center;
  }

  &__logo-image {
    width: 24px;
    height: 24px;
    background: url("../images/icons/logo.svg") no-repeat center;
  }

  &__bag {
    width: 24px;
    height: 24px;
    background: url("../images/icons/bag.svg") no-repeat center;
  }

  &__product {
    margin-bottom: 23px;
    padding: 0 20px;

    @include tablet {
      margin-bottom: 30px;
      padding: 0 151px;
    }
  }

  &__info {
    @include tablet {
      display: none;
    }

    &--tablet {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: $big-weight;
    font-size: $bigger-size;
    line-height: 27px;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $black;

    @include tablet {
      margin-bottom: 25px;
    }
  }

  &__price {
    margin-bottom: 20px;
    font-size: $main-size;
    line-height: $bigger-size;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $black;

    @include tablet {
      margin-bottom: 10px;
      font-weight: $link-weight;
      font-size: $bigger-size;
      line-height: 27px;
      color: $green;
    }
  }
  
  &__image {
    width: 100%;
    max-height: 440px;
    object-fit: cover;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__weight {
    font-weight: $link-weight;
    font-size: $bigger-size;
    line-height: 27px;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
    color: $black;
  }

  &__button {
    margin: 0 auto 50px;
    width: calc(100% - 40px);

    @include tablet {
      margin-bottom: 60px;
      width: 280px;
    }
  }

  &__text {
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: $main-size;
    line-height: 21px;
    color: $black;

    @include tablet {
      margin-bottom: 25px;
      padding: 0 151px;
      font-size: $display-size;
      line-height: $title-size;

      &:last-child {
        margin-bottom: 72px;
      }
    }
  }

  &__descript {
    color: $green;
  }
}