.shipping {
  &__subtitle {
    margin-bottom: 20px;
  }

  &__form {
    @include onTablet {
      width: 380px;
      margin: 0 auto 50px;
    }
  }

  &__last-field {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 50px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
