.side-text {
  display: none;
  
  @include onDesktop {
    display: block;
    transform-origin: top;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    width: 100%;
    transform: translateX(-50%) rotate(-90deg);
    color: rgba(52, 79, 16, 0.5);
    text-transform: uppercase;

    &::before {
      content: "";
      position: relative;
      display: block;
      top: 8px;
      right: 120px;
      height: 1px;
      width: 100px;
      background-color: rgba(52, 79, 16, 0.5);
    }
  }
}
