.side-link {
  display: none;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: $green;
  opacity: 0.5;
  @extend %links;
  font-size: 14px;
  line-height: 130%;
  transform: rotate(-90deg);
  pointer-events: none;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;

  @include onDesktop {
    display: flex;
  }

  &:before {
    display: block;
    content: "";
    background-color: $green;
    opacity: 0.5;
    height: 1px;
    width: 100px;
  }
}