.side-text {
  display: none;
  position: absolute;
  @include decorative__text;
  color: rgba(52, 79, 16, 0.5);
  left: -50px;
  transform: rotate(-90deg) translateX(-50%);
  width: fit-content;

  @include onDesktop {
    display: block;
  }
}
