.side-element {
  position: relative;
  transform: rotate(-90deg) translate(-50%, 50%);
  height: min-content;
  text-transform: uppercase;
  opacity: 50%;

  &::before {
    content: "";
    display: block;
    position: relative;
    transform: translate(-110%);
    top: 11px;
    height: 1px;
    width: 100px;
    background-color: $main-font-color;
  }
}
