.sidemenu {
  background-color: $color-black;
  z-index: 1;

  box-sizing: border-box;
  padding-top: 20px;

  overflow-y: auto;
 
  @include Tablet {
    padding-top: 27px;
  }

  &__top {
    padding: 0;
    margin-bottom: 48px;
  }

  &__item {
    margin-bottom: 30px;

    @include Tablet {
      margin-bottom: 50px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    display: block;
    font-family: Sharp Sans No2;
    font-size: 18px;
    line-height: 130%;
    text-align: center;

    color: $color-creamy;
    border-bottom: 1px solid $color-dark-grey;
    padding-bottom: 10px;
    transition: border-color 0.3s;

    &:hover {
      border-color: $color-white;
    }
  }
}
