.side-title {

  &__content {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    align-items: center;
  }

  &__text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
  
  &__line {
    width: 1px;
    height: 100px;
    background-color: $color-dark-olive;
  }
}
