.side-title {
  &__content {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    opacity: 0.5;

    align-items: center;
  }

  &__text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    user-select: none;

    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: $color-dark-olive;
  }

  &__line {
    width: 1px;
    height: 88px;
    background-color: $color-dark-olive;
    margin-top: 10px
  }
}
