.side {
  display: none;

  @include onDesktop {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;

    color: $c-green-2;
    opacity: 0.5;
    transform: rotate(-90deg) translateX(calc(-100% - 20px));
    transform-origin: left;

    &::before {
      content: "";
      display: inline-block;
      height: 1px;
      width: 100px;
      background-color: $c-green-2;
      opacity: 0.5;
      margin: 0 10px 4px 0;
    }
  }
}
