.side-bar {
  writing-mode: vertical-lr;
  transform: scale(-1);
  position: relative;
  white-space: nowrap;

  &::before {
    position: absolute;
    content: "";
    height: 100px;
    width: 1px;
    background-color: $color-holly;
    top: -115px;
    left: 10px;
  }
}
