.side-title {
  display: none;

  @include on-desktop {
    display: block;
    position: absolute;
    left: -70px;
    top: 70px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: $green-c;
    transform: rotate(-90deg);

    &::after {
      position: absolute;
      display: block;
      bottom: 10px;
      left: -120px;
      content: "";
      width: 100px;
      height: 1px;
      background: $green-c;
    }

    &--shop {
      top: 10px;
      left: -10px;
    }

    &--creators {
      top: 50px;
      left: -50px;
    }

    &--tooth {
      top: 30px;
      left: -28px;
    }

    &--contacts {
      top: 10px;
      left: -6px;
    }
  }
}