.side-info {
  display: none;

  @include onDesktopL {
    display: block;
    position: absolute;
    height: fit-content;
    width: fit-content;

    white-space: nowrap;

    @include decorativeText;
    color: $light-green;

    transform: rotate(-90deg) translateX(-50%) translateY(-80px);

    &::before {
      content: "";
      height: 100px;
      border: 1px solid $light-green;

      position: absolute;

      transform: rotate(90deg) translate(-41px , 60px);
    }
  }
}
