.side-element {
  position: relative;
  transform: rotate(-90deg) translate(-50%, 50%);
  height: min-content;
  text-transform: uppercase;
  color: rgba(52, 79, 16, 0.5);
  cursor: default;
  transition: 0.3s;

  &::before {
    content: "";
    display: block;
    position: relative;
    transform: translate(-110%);
    top: 11px;
    height: 1px;
    width: 100px;
    background-color: rgba(52, 79, 16, 0.5);
  }

  &:hover {
    transform: rotate(-90deg) translate(-50%, 50%) translate(-5px);
  }
}
