.side-text {
  display: none;
  align-items: center;
  gap: 15px;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-100%, 0);
  color: $dark-green;
  opacity: 50%;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;

  &:before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: $dark-green;
    opacity: 50%;
  }

  @include onDesktop {
    display: flex;
  }
}
