.signs {
  margin: 0 auto;
  max-width: 1280px;
  margin-bottom: 100px;
  @include onTablet {
    margin-bottom: 130px;
  }

  @include onDesktopMore {
    margin-bottom: 200px;
  }

  @include onTabletMore {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  &__item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;

    @include onTablet {
      width: 200px;

      @include onDesktopMore {
        width: 400px;
      }
    }
  }
}
