.signature {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  gap: 10px;
  align-items: center;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);
  opacity: 0.5;
  grid-column: 1 / -1;

  @include onDesktop {
    display: flex;
  }

  &__line {
    background-color: $color-acent-1;
    height: 1px;

    &--100 {
      width: 100px;
    }

    &--88 {
      width: 88px;
    }
  }

  &__text {
    @extend %decorative-text;
    color: $color-acent-1;
  }
}
