.signs {
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  &__prg {
    font-size: 14px;
    margin-top: 20px;
    color: $color-darkBlack;

    @media (min-width: 768px) {
      width: 218px;
    }
  }

  &__img {
    margin-top: 50px;

    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}
