.signs {
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__prg {
    font-size: 14px;
    margin-top: 20px;
    color: $color-darkBlack;

    @media (min-width: 768px) {
      width: 218px;
    }

    @media (min-width: 1280px) {
      width: 380px;
    }
  }

  &__prg--bird,
  &__prg--cicle {
    margin-bottom: 50px;
  }
}
