.single-product {
  @include pageGrid;
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: $background-grey;
  z-index: 1;

  &__product {
    grid-column: 1/-1;

    @include hover (transform, scale(1.2));

    @include onTablet {
      grid-column: 2/-2;
    }

    @include onDesktop {
      grid-column: 1/-1;
      margin: 0 auto;
      margin-top: 30px;
    }
  }

  &__button {
    margin: 0 auto;
    margin-top: 30px;
    grid-column: 1/-1;
  }

  &__description {
    margin-top: 50px;
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @include onTablet {
      grid-column: 2/-2;
    }

    @include onDesktop {
      max-width: 530px;
      margin: 0 auto;
      margin-top: 50px;
    }
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 21px;

    &--green {
      color: $base-green;
    }
  }
}
