.skils {

  &__content {
    margin-top: 90px;
  
    & > :nth-of-type(n + 2) {
      margin-top: 68px;
  
      @include onIPad {
        margin-top: 0;
      }
    }
  
    @include onIPad {
      display: flex;
      justify-content: space-around;
  
      margin-top: 165px;
    }
  
    @include onDesktop {
      margin-top: 207px;
    }
  }
  
  &__skil {
    @include onIPad {
      width: 30%;
    }
  
    @include onDesktop {
      margin-left: 100px;
    }
  }
  
  &__photo {
    display: flex;
    justify-content: center;
  }
  
  &__img {
    height: 75px;
  }
  
  &__text {
    margin-top: 20px;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
  
    @include onIPad {
      letter-spacing: 1px;
      margin-top: 25px;
    }
  
    @include onDesktop {
      margin-top: 21px;
    }
  }
}
