.slide {
  background-color: #e5e5e5;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100vh;
  
  &__container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 15px 20px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    @include onIPad {
      padding: 24px 28px 30px;
    }

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      padding: 40px 50px 81px;
    }

    @include onNotebook {
      padding: 40px 0 81px;
    }

    @include onDesktop {
      padding: 40px 0 70px;
    }

    @include onDesign {
      padding: 40px 0 70px;
    }

    @include onFullHD {
      padding: 40px 0 70px;
    }

    @include onLargeScreens {
      padding: 40px 200px 70px;
    }

    &--2 {
      margin: 0 auto;
      max-width: 1180px;
      padding: 0 20px;
  
      @include onIPad {
        display: flex;
        flex-direction: column;
        
        padding: 0 151px;
      }
  
      @include onTablet {
        padding: 0 278px;
      }
  
      @include onNotebook {
        padding: 0 365px;
      }
  
      @include onDesktop {
        padding: 0 445px;
      }
  
      @include onDesign {
        padding: 0 525px;
      }
  
      @include onFullHD {
        padding: 0 685px;
      }
  
      @include onLargeScreens {
        padding: 0 1005px;
      }
    }
  }

  &__logo2 {
    display: none;

    @include onTablet {
      display: block;
      width: 50px;
      height: 50px;
      grid-column: 1/7;
    }
  }

  &__part {
    display: none;

    @include onTablet {
      display: flex;
      grid-column: 7/12;
      gap: 40px;
    }
  }

  &__item {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;

    @include onIPad {
      margin-bottom: 25px;
    }
  }

  &__price {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 20px;

    @include onIPad {
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: #344f10;
    }
  }

  &__weight {
    display: none;

    @include onIPad {
      display: flex;
      margin-bottom: 30px;

      font-family: Poppins, sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333;
    }
  }

  &__frame {
    display: block;
    margin-bottom: 30px;

    @include onIPad {
      order: -1;
      margin-bottom: 27px;
    }

    @include onTablet {
      @include onTablet {
        transition: transform 0.5s;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__photo {
    display: block;
    height: 248px;
    width: 280px;
    object-fit: cover;

    @include onIPad {
      height: 440px;
      width: 466px;
      object-fit: fill;
    }

    @include onNotebook {
      height: 500px;
      width: 550px;
      object-fit: fill;
    }
  }

  &__button {
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
    
    background-color: #333;
    border: none;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #f2f2f2;
    cursor: pointer;

    @include onIPad {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      margin-bottom: 60px;
    }

    @include onTablet {
      transition: all 0.5s;

      &:hover {
        background-color: #e5e5e5;
        border: 1px solid #333;
        color: #333;
      }
    }
  }

  &__text {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #344f10;
    margin-bottom: 20px;

    @include onIPad {
      margin-bottom: 25px;
    }

    &--2 {
      @include onIPad {
        margin-bottom: 72px;
      }
    }
  }
}
