.sliders {
  display: flex;
  gap: 30px;
  grid-row: 5;
  grid-column: 2 / 4;
  margin: 30px 10px;

  &__left {
    background-image: url("./../images/prev.svg");
  }

  &__right {
    background-image: url("./../images/next.svg");
  }
}

.slider {
  display: block;
  width: 28px;
  height: 28px;

  &:disabled {
    background-color: rgb(212, 207, 207);
  }

  @include onDesktop {
    display: none;
  }

  @include onBigScreen {
    display: none;
  }
}
