.slim-link {
  display: inline-block;
  color: $colorDarkGreen;
  @extend %decorative;

  text-decoration: none;

  padding-bottom: 10px;
  border-bottom: 1px solid transparent;

  transition: border-bottom 0.4s;

  &:hover {
    border-color: $colorDarkGreen;
  }
}
