@import "../utils";

.slogan {

  @include onTablet {
    padding: 0;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include onDesktop {
      position: relative;

      justify-content: space-between;
      gap: 120px;
    }

    @include onTablet {
      justify-content: center;
    }
  }

  &__desktop-text {
    display: none;

    @include onDesktop {
      display: block;
      max-width: 380px;

      font-size: 16px;
      line-height: 24px;
      color: $menuBgr;

      &::after {
        content: "";

        width: 530px;
        height: 1px;

        position: absolute;
        left: 0;
        top: -100px;

        background-color: $lightGreen;
      }
    }
  }

  &__main-text {
    margin: 100px 0;

    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 5%;
    color: $greenColor;
    text-transform: uppercase;

    @include onTablet {
      margin: 150px 0 130px;
    }

    @include onDesktop {
      margin: 0;

      font-size: 24px;
      line-height: 36px;

      &::before {
        content: "";

        width: 630px;
        height: 1px;

        position: absolute;
        right: 0;
        bottom: -100px;

        background-color: $lightGreen;
      }
    }
  }
}
