.soc {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  &__facebook {
    background-image: url(../images/facebook.svg);
    @media (min-width:1280px) {
      margin-bottom: 0;
    }
  }

  &__inst {
    background-image: url(../images/inst.svg);
    @media (min-width:1280px) {
      margin-bottom: 0;
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    @media (min-width:1280px) {
      display: none;
    }
  
    &--desktop {
      display: none;
      @media (min-width:1280px) {
        display: flex;
        align-items: center;
        margin-right: 360px;
      }
    }
  }
}
