.social {
  display: flex;
  gap: 15px;

  &__item {
    width: 20px;
    height: 20px;

    &--fb {
      background-image: url(../images/icons/fb.svg);
    }

    &--inst {
      background-image: url(../images/icons/inst.svg);
    }
  }
}
