.socials {
  display: flex;
  gap: 20px;

  &--mobile {
    @include onDesktop {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include onDesktop {
      display: flex;
      width: 40%;
    }
  }
}
