.social {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;

  @include onDesktop {
    margin-bottom: 0;
  }

  &--tablet {
    margin-bottom: 50px;

    @include onDesktop {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include onDesktop {
      display: flex;
    }
  }

  &__item {
    width: 20px;
    height: 20px;

    &--fb {
      background-image: url(../images/icons/fb.svg);
    }

    &--inst {
      background-image: url(../images/icons/inst.svg);
    }
  }
}
