.socials {
  display: flex;
  gap: 14px;

  &__icon {
    display: inline;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;

    &--fb {
      background-image: url(./images/footer/facebook.svg);
      fill: $sand;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    &--ig {
      background-image: url(./images/footer/instagram.svg);
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
}
