.social {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;

  @include onDesktop {
    margin-bottom: 0;
  }

  &--tablet {
    margin-bottom: 50px;

    @include onDesktop {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include onDesktop {
      display: flex;
    }
  }

  &__item {
    width: 20px;
    height: 20px;
    transition: 0.3s;

    &:hover {
      transform: scale(120%);
    }

    &--fb {
      background-image: url(../images/icons/fb.svg);
    }

    &--inst {
      background-image: url(../images/icons/inst.svg);
    }
  }
}
