.sticked-label {
  @extend %FontFamily-Sharp;
  // position: absolute;
  display: flex;
  align-items: center;
  transform-origin: top left;
  // top: calc(12em + 170px);
  // left: 50px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(270deg);
  user-select: none;

  &::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 100px;
    margin-right: 10px;
    background-color: #977272;
  }
}
