.sticked-label {
  @extend %FontFamily-Sharp;
  display: flex;
  align-items: center;
  transform-origin: top left;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(270deg);
  user-select: none;

  &::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 100px;
    margin-right: 10px;
    background-color: $second-main-color;
  }
}
