.sticker {
  display: none;
  position: relative;
  margin: 0 auto;

  font-family: "Sharp Sans Display No2", sans-serif;
  font-size: 14px;
  line-height: 130%;

  text-align: center;
  letter-spacing: 0.05em;
  writing-mode: vertical-lr;
  transform: scale(-1);
  white-space: nowrap;

  color: #344f1080;

  &::before {
    content: "";
    position: absolute;
    top: -110px;
    right: 10px;
    width: 1px;
    height: 100px;
    background-color: rgba(52,79,16,0.5);
  }

  @include onDesktop() {
    display: block;
  }
}
