.subtitle {
  display: none;
  position: relative;
  writing-mode: vertical-rl;
  height: max-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: rgba(52, 79, 16, 0.5);
  transform: rotate(-180deg);
  @include onLaptop {
    display: inline-block;
  }
  &::before {
    content: "";
    position: absolute;
    top: -70%;
    left: 10px;
    width: 1px;
    height: 100px;
    background-color: rgba(52, 79, 16, 0.5);
  }
}
