.support {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;

  @include onIpad {
    font-weight: 500;
  }

  @include onDesktop {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
  }

  @include onIpad {
    width: 50%;
  }

  @include onDesktop {
    width: 40%;
    gap: 20px;
  }

  &__link {
    display: block;
    color: #e4dfd3;
  }

  &__time {
    line-height: 150%;
    width: 280px;

    @include onIpad {
      width: 100%;
    }

    @include onDesktop {
      width: 100%;
    }
  }

  &__phone {
    margin-bottom: 8px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
