.slider {

  @include onTablet {
    display: none;
  }

  &__slide {
    object-fit: cover;

    @include onTablet {
      display: none;
    }
  }

  &__button {

    @include onTablet {
      display: none;
    }

    @include onTablet {
      display: none;
    }

    &::after {
      padding: 11px 13px;
      font-size: 10px;
      font-weight: bold;
      color: $white;

      @include onTablet {
        display: none;
      }
    }

    &:active::after {
      background-color: black;

      @include onTablet {
        display: none;
      }
    }
  }

  &__descriptions {
    position: relative;
    left: 21px;
    bottom: 80px;
    z-index: 1;

    @include onTablet {
      display: none;
    }
  }

}

.swiper {

  @include onTablet {
    display: none;
  }

}
