.symbols {
  overflow-x: hidden;
}

.symbol {
  &__photo-container {
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 24px;
    margin-bottom: 28px;
  }

  &__photo {
    grid-column: 2/4;
    max-height: 80px;
    width: 100%;
  }

  &__meaning {
    margin: 0;
    text-align: center;
  }
}
