.symbols {
  overflow-x: hidden;
}

.symbol {
  &__photo-container {
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 24px;
    margin-bottom: 28px;
  }

  &__photo {
    grid-column: 2/4;
    max-height: 80px;
    width: 100%;
  }

  &__meaning {
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;

    @include onTablet {
      font-weight: 500;
    }

    @include onDesktop {
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}
