.tab {
  &__list {
    display: flex;
    gap: 16px;
    list-style-type: none;

    @include onTablet {
      gap: 60px;
    }
  }

  &__link {
    padding: 2px 5px 10px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;

    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #828282;

    @include onDesktop {
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
    }

    &:hover {
      border-color: #333;
      color: #333;
    }
  }
}
