.tabs {
  display: block;
  padding-bottom: $padding-for-bottom-line;
  @include text-2;
  color: $color__Trolley-Grey;
  text-decoration: none;

  @include on-desktop {
    @include h5;
  }

  &--active {
    color: $color__Carbon;
    width: max-content;
    border-bottom: 2px solid $color__Carbon;
  }
}
