.text {
  font-size: 16px;
  line-height: 150%;
  color: $c-dark-gray;

  @include onTablet {
    font-weight: 500;
  }

  &--sm {
    font-size: 14px;
    line-height: 130%;

    @include onLaptop {
      font-size: 18px;
    }
  }

  &--md {
    font-size: 18px;
  }

  &--lg {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: $text-uppercase;
    color: $c-dark-gray;
  }
}
