.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: $darkgreycolor;

  @include onTablet {
    font-size: 16px;
  }

  @include onDesktop {
    font-size: 16px;
  }
}
