.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  
  font-size: 16px;
  line-height: 150%;
  color: $dark-color;

  @include onTablet {
    font-weight: bold;
  }
}
