.title {
  display: flex;
  gap: 20px;

  &__item {
    @extend %flex-center;
    width: 50%;
  }

  &__text {
    max-width: 380px;
  }

  &__no-break {
    white-space: nowrap;
  }

  &__title {
    color: $black;
    font-weight: 500;
    font-size: 60px;
    line-height: 1.2em;
    margin-bottom: 20px;
  }

  &__paragraph {
    margin-bottom: 50px;
    color: $black;
    font-size: 22px;
    line-height: 1.3em;
  }

  &__button {
    width: 280px;
    height: 60px;
  }

  &__image {
    overflow: hidden;
  }
}