.title {
  color: $text-green;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%; /* 36px */
  letter-spacing: 1.2px;
  text-transform: uppercase;

  @include on-desktop {
    font-size: 36px;
  }
}