.title-decoration {
  position: relative;

  &__flexbox {
    display: flex;
    align-items: center;

    gap: 10px;

    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100%);

    position: absolute;
    top: 0;
    left: 0;
  }

  &__line {
    width: 100px;
    height: 1px;

    color: rgba($color: $oliveColor, $alpha: 0.5);
  }

  &__text {
    width: max-content;
    @extend %decorative-text;

    color: rgba($color: $oliveColor, $alpha: 0.5);
  }
}
