.title {
  margin-bottom: 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  letter-spacing: 1.2px;
  color: $dark-color;
  text-transform: uppercase;
}
