.tooth-powder {
  overflow: hidden;
  flex-wrap: wrap;
  padding-left: 20px;

  &--wrapper {
    display: flex;
    position: relative;
    height: 397px;
    gap: 20px;
    justify-items: right;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;

    margin-bottom: 30px;

    @include onDeskTop {
      display: inline-block;
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 0;
      min-width: 380px;
    }
  }

  &__container {
    @include onDeskTop {
      max-width: 1180px;
    }
  }

  &__order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__ingredient {
    display: block;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #333;
  }


  &__image {
      position: absolute;
      height: 397px;
      bottom: 0;
    }
  }

  .lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;

 }

 .pointer {
    width: 100%;
    display: flex;
    align-items: center;

    &__line {
      height: 1px;
      width: 76px;
      background-color: #333;
    }

    &__point {
      display: none;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: #333;

      @include onDeskTop {
        display: block;
      }
    }
 }
