@use '../utils/vars';
@use '../utils/mixins' as *;

.tooth-power {
  position: relative;
  display: grid;
  justify-content: center;
  padding: 10px 0 20px;

  grid-template-columns: 1fr 1.5fr;
  gap: 20px;

  grid-column: span 2;

  @include for-tablet {
    position: absolute;
    grid-column: span 6;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 38px 0 37px;

    font-family: $font-family;
    font-weight: $text1-weight;
    font-size: $text1-size;
    line-height: $text1-line-height;
    letter-spacing: $text1-letter-spacing;
    color: $color1;

    text-align: right;
  }

  &__picture {
    object-fit: cover;
    width: 100%;
    object-position: 18%;
    height: 397px;
  }

  &__underlined-button {
    margin: 10px 20px 0;
    grid-column: span 2;

    @include for-tablet {
      z-index: 1;
      margin: 300px 20px 0;
      grid-column: 1 / 2;
    }

    @include for-desktop {
      grid-column: 2/ 3;
    }
  }
}
