.top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;

  @include onTablet {
    padding-block: 25px;
  }

  @include onDesktop {
    display: none;
  }
}
