.top-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  margin-bottom: 32px;

  &--title {
    text-decoration: none;
    color: #344F10;
    font-size: 14px;

    display: none;

    @include onDeskTop {
      display: flex;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #344F10;
    font-size: 14px;
    padding: 12px;
    border-bottom: 1px solid transparent;
    transition: 0.3s;

    &:hover {
      border-bottom: 1px solid #344f10;
    }
  }

  &--actions {
    display: none;

    @include onDeskTop {
      display: flex;
    }
  }
}
