.top-info {
  @include on-desktop {
    padding-bottom: 200px;
  }

  &-container {
    display: flex;
    flex-direction: column-reverse;

    @include on-desktop {
      flex-direction: row;
    }
  }

  &__image-container {
    width: 100%;
    height: 267px;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    background-image: url(../images/header-image.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;

    &:hover {
      border-radius: 10px;
    }

    @include on-tablet {
      height: 500px;
      margin-bottom: 50px;
    }

    @include on-desktop {
      height: 451px;
      margin: 0 0 0 auto; // Corrigido: removido margin-bottom redundante
      max-width: 580px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-desktop {
      align-items: flex-start;
      margin-left: 100px;
    }

    &-title {
      @extend %poppins-600;

      font-size: 24px;
      line-height: 130%;
      text-align: center;
      color: $colorBlack;
      margin-bottom: 10px;

      @include on-tablet {
        text-transform: capitalize;
        font-size: 36px;
        line-height: 150%;
        max-width: 466px;
      }

      @include on-desktop {
        text-align: left;
        font-size: 60px;
        line-height: 130%;
        text-transform: none;
        margin-bottom: 30px;
        width: 480px;
        margin-right: 20px;
      }
    }

    &-text {
      @extend %poppins-400;

      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: $colorBlack;
      margin-bottom: 30px;

      @include on-tablet {
        margin-bottom: 50px;
      }

      @include on-desktop {
        text-align: left;
      }
    }

    &-button {
      margin: 0 auto;
      max-width: 280px;

      @include on-desktop {
        margin: 0;
      }
    }
  }
}
