.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &--mobile {
    padding: 15px 20px 12px;
    @media (min-width: 768px) {
      padding: 23px 30px 27px;
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: 1208px) {
      display: flex;
      padding: 40px 50px 81px;
    }
  }

  &__item {
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    text-decoration: none;
    color: #344f10;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}
