.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;

  @include onTablet {
    padding-top: 25px;
  }

  &__item {
    @include onLaptop {
      width: 33.33%;

      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
