.top-actions {
  padding-bottom: 20px;
  --icon-width: 20px;

  display: grid;
  grid-template-columns: var(--icon-width) 1fr var(--icon-width);
  justify-items: center;
  align-items: center;

  @include onDesktop {
    padding-bottom: 92px;
    grid-template-columns: 270px 22px;
    justify-content: space-between;
  }
}
