.top__action {
  margin-bottom: 20px;

  --icon-width: 24px;

  display: grid;

  grid-template-columns: var(--icon-width) 1fr var(--icon-width);
  justify-content: space-between;
  justify-items: center;

  &--menu {
    grid-template-columns: var(--icon-width) 1fr;
  }

  &__menu-desktop {
    display: flex;
    align-items: center;
  }

  @include onDesktop {
    justify-items: start;
    grid-template-columns: 1fr 1fr var(--icon-width);
  }

  @media (max-width: 1024px) {
    &__menu-desktop {
      display: none;
    }
  }
}
