.top-line-pc {
  display: none;

  @include onDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
  }

  &__icon,
  &__logo {
    transition: transform 300ms;

    &:hover {
      transform: scale(1.2);
    }
  }
}
