.top-navigations {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  align-items: center;

  @media (min-width: $screen-m) {
    height: 80px;
    padding: 0 30px;
  }

  @media (min-width: $screen-l) {
    height: 170px;
    padding: 0 50px;
  }

  &__list {
    display: none;

    @media (min-width: $screen-l) {
      display: flex;
      column-gap: 40px;
    }
  }

  &__link {
    height: 100%;
    color: $c-green-1;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
  }
}
