.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onDesktop {
    display: none;
  }
  
  &__icon {
    display: flex;
    width: 24px;
  }

  &__icon-image {
    object-fit: contain;
    object-position: center;
  }
}
