.top {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 20px;

  @include onTablet {
    padding: 23px 0 30px;
  }

  @include onDesktop {
    padding: 40px 0 80px;
    grid-column: 1 / 13;
  }

  &__bigLogo {
    display: none;

    @include onDesktop {
      display: flex;
      gap: 12px;
      align-items: center;
    }
  }

  &__slogan {
    color: $dark-green;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }
}
