.underline {
  display: none;

  @include onSmallDesktop {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: rotate(-90deg);
    position: absolute;
    top: 140px;
    left: -130px;
    pointer-events: none;
  }

  &--shop {
    top: 75px;
    left: -70px;
  }

  &--creators {
    top: 120px;
    left: -115px;
  }

  &--powder {
    top: 90px;
    left: -90px;
  }

  &--contacts {
    top: 72px;
    left: -68px;
  }

  &__text {
    color: rgba(52, 79, 16, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
  }

  &__line {
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
    width: 100px;
  }
}
