.vertical-text {
  display: none;
  // what another option?
  @include onDesktop {
    display: flex;
    align-items: center;
    position: absolute;
    color: rgba(52, 79, 16, 0.5);
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
    transform-origin: top right;
    transform: translateX(-100%) rotate(-90deg);

    &::before {
      content: "";
      width: 100px;
      height: 1px;
      margin-right: 10px;
      background: rgba(52, 79, 16, 0.5);
    }
  }
}
