.vertical {
  display: none;

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--prg {
    @media (min-width: 1280px) {
      color: $color-green;
      text-orientation: mixed;
      writing-mode: vertical-rl;
    }
  }

  &--line {
    @media (min-width: 1280px) {
      width: 1px;
      height: 100px;
      background-color: $color-green;
      margin-top: 10px;
    }
  }
}
