.vertical {
  display: none;

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--prg {
    @media (min-width: 1280px) {
      font-weight: 400;
      color: $color-line;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
    }
  }

  &--line {
    @media (min-width: 1280px) {
      width: 1px;
      height: 100px;
      background-color: $color-line;
      margin-top: 10px;
    }
  }
}
