.vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  writing-mode: sideways-lr;
  text-orientation: mixed;

  opacity: 0.5;

  &__text {
    color: $forest;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    white-space: nowrap;
  }

  &__line {
    width: 1px;
    height: 100px;
    background-color: $forest;
    flex-shrink: 0;
  }

  @include for-tablet {
    display: none;
  }

  @include for-mobile {
    display: none;
  }
}
