.vertical-item {
  display: none;

  @include onDesktop {
  
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(52, 79, 16, 0.5);

    writing-mode: vertical-lr;
    transform: rotate(-180deg);
  
    &::before {
      content: "";

      display: inline-block;
      width: 1px;
      height: 88px;
      background-color: rgba(52, 79, 16, 0.5);
      margin-bottom: 10px;
    }
  }
}
