.vertical {
  display: none;
  @include OnDesktop {
    grid-column: span 1;
    justify-self: start;


    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;

    cursor: default;
  }


  &__title {
    @include OnDesktop {
      writing-mode: vertical-lr;
      transform: rotate(180deg);

      color: rgba(52, 79, 16, 0.50);
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
    }
  }
}


