.why-us {
  @include onDesktop {
    margin-top: 12vh;
  }

  &__headline {
    margin: 17vh 0;
    @include h3;

    @include onTablet {
      margin: 12vh;
    }

    @include onDesktop {
      margin: 0;
    }
  }

  &__description {
    display: none;

    @include onDesktop {
      display: block;

      @include text;
    }
  }

  &__line {
    @include onDesktop {
      margin-top: 12vh;
      margin-bottom: 8vh;
      margin-left: auto;
      width: 50vw;
    }
  }
}
