.wrapper-with-picture {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}
