.header {

  max-width: 1280px;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    padding: 0 20px;

    @media (min-width: 500px) {
      height: 77px;
      padding: 0 27px;
    }

    @media (min-width: 1050px) {
      height: 130px;
      padding: 0 50px;
      margin-bottom: 50px;
    }
  }

  &__logo {
    width: 24px;
    height: 24px;

    background-image: url("../images/icons/logo.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 1050px) {
      width: 249px;
      height: 50px;

      background-image: url("../images/icons/logo1.png");
    }
  }

  &__basket {
    width: 20px;
    height: 24px;

    background-image: url("../images/icons/basket.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
