@use '../utils/variables' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  background-color: $color-button-bg;
  border: $color-button-bg solid 1px;
  color: $color-button-text;
  font-size: $font-size-medium;
  font-weight: $font-weight-semibold;
  line-height: $line-height-xsmall;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 15%;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: $color-button-bg-hover;
    color: $color-button-text-hover;
  }
}
