@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.icon {
  width: 24px;
  height: 24px;

  @include hover-zoom;

  &--menu {
    background-image: url(../assets/images/icons/menu.svg);
  }

  &--logo {
    background-image: url(../assets/images/icons/logo-icon.svg);
  }

  &--shop {
    background-image: url(../assets/images/icons/shop.svg);
  }

  &--close {
    background-image: url(../assets/images/icons/close.svg);
    top: 20px;
    left: 20px;
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
    color: $color-icon-close;
  }
}
