// Variáveis SCSS para o projeto

$container-widths: (
  small: 320px,
  medium: 640px,
  large-header: 1180px,
  large: 1280px,
  xlarge: 1440px,
);
$breakpoints: (
  mobile: 320px,
  tablet: 640px,
  desktop: 1280px,
  desktop-design: 1440px,
);

// Fonts
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Avenir', sans-serif;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Font Sizes
$font-size-small: 12px;
$font-size-xsmall: 14px;
$font-size-medium: 16px;
$font-size-medium-2: 18px;
$font-size-large: 20px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 36px;
$font-size-xxxlarge: 60px;

// Font line heights
$line-height-small: 1.2; // Ex: 120%
$line-height-xsmall: 1.3; // Ex: 130%
$line-height-xsmall-2: 1.4; // Ex: 140%
$line-height-medium: 1.5; // Ex: 150%
$line-height-large: 1.6; // Ex: 160%
$line-height-xlarge: 1.7; // Ex: 170%
$line-height-xxlarge: 1.8; // Ex: 180%

// Cores (exemplos)
$color-primary-text: #333;
$color-secondary-text: #828282;
$color-tertiary-text: #344f10;
$color-subtitle-text: #000;
$color-title: #344f10;
$color-page-bg: #e4dfd3;
$color-menu-bg: #333;
$color-menu-text: #e4dfd3;
$color-menu-text-after: #828282;
$color-button-bg: #333;
$color-button-bg-hover: #e4dfd3;
$color-button-text: #f2f2f2;
$color-button-text-hover: #333;
$color-footer-bg: #8c9772;
$color-input-error: #eb5757;
$color-input-success: #344f10;
$color-input-selected: #333;
$color-input: #828282;
$color-input-border: #bdbdbd;
$color-icon-close: #e4dfd3;
$color-footer-font: #e4dfd3;
