.section--about-our-brand {
  position: relative;

  .section__images-container {
    @include onDesktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}
