<section class="powder">
  <app-left-text
  class="powder_left-text"
  [text]="'Ingredients'"
  [top]="100"
  [left]="-60"
  ></app-left-text>
  <div class="powder_conteiner">
    <div class="powder_conteiner_content">
      <h2 class="powder_conteiner_content_title">
        Ayurvedic Tooth Powder
      </h2>
      <div class="powder_conteiner_content_image">
        <img
          src="./assets/images/creators/powder.svg"
          alt="Powder"
          class="powder_conteiner_content_image_img"
        >
      </div>
      <a class="powder_conteiner_content_link" routerLink="contact">
        LEARN MORE
      </a>
    </div>
    <div class="powder_conteiner_image">
      <img
        src="./assets/images/creators/powder.svg"
        alt="Powder"
        class="powder_conteiner_image_img"
      >
    </div>
  </div>
</section>
