@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.section__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  scroll-margin-top: 50px; // Ajuste conforme a altura do seu header

  &--img-90 {
    display: none;

    @include respond-to(desktop) {
      display: flex;
      width: 18px;
      height: 132px;
    }
  }

  &--img {
    display: none;

    @include respond-to(tablet) {
      display: flex;
      width: 284px;
      height: 338px;
      background-image: url('../assets/images/tablet/img_tablet-6.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @include hover-zoom;
    }

    @include respond-to(desktop) {
      width: 580px;
      height: 539px;
      background-image: url('../assets/images/desktop/img_desktop-7.svg');
      align-self: flex-end;
    }
  }

  &--block {
    @include respond-to(tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }
  }

  &--container {
    display: flex;
    flex-direction: column;

    @include respond-to(tablet) {
      width: 284px;
      height: 338px;
    }

    @include respond-to(desktop) {
      width: 460px;
      height: 539px;
      margin-left: 82px;
    }
  }

  &--title {
    color: $color-title;
    font-size: $font-size-xlarge;
    font-weight: $font-weight-semibold;
    line-height: $line-height-medium;
    letter-spacing: 5%;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 10px;

    @include respond-to(tablet) {
      line-height: $line-height-xsmall;
      margin-bottom: 5px;
    }

    @include respond-to(desktop) {
      font-size: $font-size-xxlarge;
      line-height: $line-height-medium;
      margin-bottom: 20px;
    }
  }

  &--subtitle {
    color: $color-primary-text;
    font-size: $font-size-xsmall;
    font-weight: $font-weight-regular;
    line-height: $line-height-medium;
    text-align: start;
    margin-bottom: 30px;

    @include respond-to(tablet) {
      margin-bottom: 10px;
    }

    @include respond-to(desktop) {
      width: 380;
      font-size: $font-size-medium;
      margin-bottom: 40px;
    }
  }

  &--form {
    display: flex;
    flex-direction: column;

    @include respond-to(tablet) {
      width: 284px;
    }

    @include respond-to(desktop) {
      width: 380px;
    }
  }

  &--button {
    @include respond-to(tablet) {
      margin-top: 15px;
    }

    @include respond-to(desktop) {
      margin-top: 30px;
    }
  }
}
