.aboutCreators {

  &__content-container {
    position: relative;
  }

  &__image {
    hei

    &-container {
      display: none;

      @include onPad {
        display: block;
      }
    }
  }
}
