.aboutCreators {

  &__content-container {
    position: relative;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: co;
    object-position: center;

    &-container {
      height: 100%;
      display: none;

      @include onPad {
        display: block;
      }
    }
  }
}
