.aboutCreators {

  &__content-container {
    position: relative;
  }

  &__image {
    height: 100%;
    width: 100%;

    &-container {
      display: none;

      @include onPad {
        display: block;
      }
    }
  }
}
