.about {

  &__content-container {
    position: relative;
  }

  &__paragraf {

    &--second {
      display: none;

      @include onPad {
        display: block;
      }
    }
  }

  &__image {
    height: 100%;
    width: 100%;

    &-container {
      display: none;
      height: 320px;

      @include onPad {
        display: block;
      }
    }
    }
}
