.aboutCreators {

  &__content-container {
    position: relative;
  }

  &__button {
    margin-top: 25px;

    @include onPad {
      margin-top: 40px;
    }

    @include onDesktop {
      margin-top: 40px;
    }
  }

  &__paragraph {
    margin: 0 0 20px;

    @include onDesktop {
      margin: 0 0 30px;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

    &-container {
      height: 100%;
      display: none;

      @include onPad {
        display: block;
      }
    }
  }
}
