.about {

  &{

  }

  &__paragraf {

    &--second {
      display: none;

      @include onPad {
        display: block;
      }
    }
  }

  &__image {
    display: none;
    background-image: url(../images/lavandaCendal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;

    @include onPad {
      display: block;
    }
  }
}
