.about {

  &__content-container {
    position: relative;
  }

  &__paragraf {

    &--second {
      display: none;

      @include onPad {
        display: block;
      }
    }
  }

  &__image {
    display: none;
    height: 100%;
    width: 100%;

    
}
