.benefits {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  &__image {
    padding-bottom: 20px;
    align-: center;

    @include onDesktop {
      padding-bottom: 40px;
    }
  }
}
