.benefits {

  &__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  }

  &__text {
    font-size: 14px;
line-height: 130%;
/* or 18px */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;

  }

  &__image {
    height: 80px;
    width: max-content;
    margin: 0 auto;
    padding-bottom: 20px;


    display: flex;

    @include onDesktop {
      padding-bottom: 40px;
    }

    &-item {
      height: 100%;
      width: 100%;
      padding: 0;
    }
  }
}
