.benefits {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  &__item {
  }

  &__image {
    height: 80px;
    width: 80px;
    display: inline;

    display: flex
    align-items: center;

    @include onDesktop {
      padding-bottom: 40px;
    }

    &-item {
      height: 100%;
      width: 100%;
      padding: 0;
    }
  }
}
