.benefits {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  &__item {
  }

  &__image {
    height: 80px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include onDesktop {
      padding-bottom: 40px;
    }

    &-item {
      height: 1;
    }
  }
}
