.benefits {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    padding-bottom: 20px;

    @include onDesktop {
      padding-bottom: 40px;
    }
  }
}
