.button {
  height: 60px;
  width: 280px;
  display: block;
  box-sizing: border-box;

  font-weight: 600;
  background-color: $colorDarkGrey;
  line-height: 130%;

  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $colordarkWhite;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    border: 1px solid $colorDarkGrey;
    background-color: $colordarkWhite;
    color: $colorDarkGrey;
  }
}
