.contact {
  &--pad {
    display: none;

    @include onPad {
      display: block;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-item {
      border-bottom: 1px sol;
    }

    &-field {
      display: block;
      box-sizing: border-box;
      height: 20px;
      padding-bottom: 5px;
    }
  }
}
