.container {
  margin: 0;

  &--desktop {
    @include onDesktop {
      margin: 0 30px;
    }

    @include onPad {
      margin: 0 50px;
    }
  }

  &--right {
    @include onDesktop {
      margin: 0 0 0 30px;
    }

    @include onPad {
      margin: 0 0 0 50px;
    }
  }
}
