.contact {
  &--pad {
    display: none;

    @include onPad {
      display: block;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: stretch;

    &-field {
      
    }
  }
}
