.footer {
  padding-bottom: 110px;

  background-color: #8C9772;
  position: relative;

  &__contant {
    display: block;

    @include onPad {
      display: flex;
    }
  }

  &__add-info {
    margin-bottom: 10px;
    font-size: 14px;
    color: $colordarkWhite;

    @include onDesktop {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }

  &__leagal {
    position: absolute;
    bottom: 40px;
    text-align: center;

  }
}
