.footer {
  background-color: #8C9772;
  position: relative;

  &__contant {
    display: block;

    @include onPad {
      display: flex;
    }
  }

  &__leagal {
    position: absolute;
    bottom: 40px;
    text-align: center;

  }
  
}
