.footer {
  padding-bottom: 110px;

  background-color: $colorLightGreen;
  color: $colordarkWhite;
  position: relative;

  @include onDesktop {
    padding-bottom: 60px;
  }

  &__content {
    display: block;
    position: relative;
    padding: 30px 0 40px;

    @include onPad {
      display: flex;
    }

    @include onDesktop {
      padding: 60px 0;
    }
  }

  &__menu {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 0;
      padding: 0 0 20px;

      text-align: left;

      @include onPad {
        gap: 15px;
      }
    }

    &-item {
      margin: 0;
      padding: 0;
      border: 0;

      justify-content: flex-start;
    }

    &-link {

    }
  }

  &__add-info {
    margin-bottom: 10px;
    font-size: 14px;

    @include onDesktop {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }

  &__socialMedia {
    display: flex;
    gap: 20px;
  }

  &__leagal {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
  }
}
