.header {
  &__actions {

    &--mobile {
      display: block;
      display: flex;
      jus

      @include onDesktop {
        display: none;
      }
    }
  }

  &--desktop {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
