.header {

  &__container {
    margin: $headerTopPaddingPhone 0 25px;

    @include onPad {
      margin: $headerTopPaddingPad 0 35px;
    }

    @include onDesktop {
      margin: $headerTopPaddingDeskTop 0 90px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    
  }

  &--desktop {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
