.header {
  &__actions {

    &--mobile {
      display: block;
      display: flex;
      justify-content: space-between;

      @include onDesktop {
        display: none;
      }
    }
  }

  &--desktop {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  __menu {
    ba
  }
}
