.icon {
  height: 20px;
  width: 20px;
  display: block;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/menuGreen.svg);
    {}

    &--cross {
      background-image: url(../images/cross.png);
    }


  &__logo {
    background-image: url(../images/logo.svg);
  }

  &__buy {
    background-image: url(../images/bagGreen.svg);
  }
}
