.ingridients {

  &__content-container {
    position: relative;
  }

  &--mobile {
    display: block;

    @include onPad {
      display: none;
    }
  }

  &--pad {
    display: none;

    @include onPad {
      display: block;
    }
  }

  &__toothPowder {
    display: ;
  }
}
