.learnMore {
  position: relative;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $colorDarkGreen;
  text-transform: uppercase;

  &::before {
    position: absolute;
    bottom: 0;
    
  }
}
