.learnMore {
  padding-bottom: 10px;
  display: inline;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $colorDarkGreen;
  text-transform: uppercase;

  &

  &:hover {
    border-bottom: 1px solid $colorDarkGreen;
  }

  &__link {
    text-decoration: none;
    color: $colorDarkGreen;
  }
}
