.learnMore {
  display: inline;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $colorDarkGreen;
  text-transform: uppercase;

  &__link {
    padding-bottom: 10px;
    text-decoration: none;
    color: $colorDarkGreen;

    &:hover {
      border-bottom: 1px solid $colorDarkGreen;
    }
  }
}
