.menu {
  height: 100hv;
  background-color: $colorDarkGrey;

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  &__item {
    padding: 0 0 30px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;

      content: "";
      display: block;
      background-color: $colordarkWhite;
    }
  }

  &__link {
    lin
  }
}
