.menu {
  
  height: 100vh;
  background-color: $colorDarkGrey;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px;
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;

      content: "";
      display: block;
      background-color: $colordarkWhite;
    }
  }

  &__link {
    list-style: none;
    text-decoration: none;
    color: $colordarkWhite;
  }
}
