.page {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #333;
  background-color: $colorBezh;

  &__body {
    margin: 0;
  }

  &__section {
    margin-bottom: 100px;

    @include onPad {
      margin-bottom: 130px;
    }

    @include onDesktop {
      margin-bottom: 200px;

      &:first-child {
        padding-bottom: 200px;
        margin-bottom: 0;
      }
    }

    &-title {

      font-weight: 600;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $colorDarkGreen;

      // @include onDesktop {
      //   padding-bottom: 30px;
      // }
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
    }
  }
}
