.page {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #333333;
  background-color: $colorBackGraund;

  &__body {
    margin: 0;
  }

  &__section {
    margin-bottom: 100px;

  @include onPad {
    margin-bottom: 130px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }
  }
}
