.shop {
  &__catalog {
    display: flex;
    gap: 15px;

    @include onDesktop {
      gap: 20px;
    }

    &-item {
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #828282;
      padding-bottom: 10px;

      @include onDesktop {
        font-weight: 600;
        font-size: 18px;
      }

      &:hover,
      &: {
        color: $colorDarkGrey;
        border-bottom: 1px solid $colorDarkGrey;
      }
    }
  }
}
