.shop {
  &__catalog {
    margin-bottom: 15px;

    @include onPad {
      margin-bottom: 25px;
    }

    @include onDesktop {
      margin-bottom: 50px;
    }

    &-list {
      padding: 0;
      display: flex;
      gap: 15px;

      list-style: none;

      @include onDesktop {
        gap: 20px;
      }
    }

    &-link {
      text-decoration: none;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #828282;
      padding-bottom: 10px;

      @include onPad {
        font-weight: 600;
        font-size: 18px;
      }

      &:hover,
      &:active {
        color: $colorDarkGrey;
        border-bottom: 1px solid $colorDarkGrey;
      }
    }
  }

  &__product {
    &-image {
      margin-bottom: 20px;
        max-height: 260px;
        width: 320px;
        object-fit: cover;
        object-position: center;

        &-container {
          height: 260px;
          margin-left: -20px;

          @media (min-width: 340px) {
            margin-left: 0;
          }
        }
    }

    &-name {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
}


// &__image {
//   height: 100%;
//   width: 580px;
//   object-fit: cover;
//   object-position: right;

//   &-container {
//     height: 100%;
//     display: none;

//     @include onPad {
//       display: block;
//     }
//   }
// }
