.shop {
  &__catalog {
    margin-bottom: 15px;

    @include onPad {
      margin-bottom: 25px;
    }

    @include onPad {
      margin-bottom: 25px;
    }

    &-list {
      padding: 0;
      display: flex;
      gap: 15px;

      list-style: none;

      @include onDesktop {
        gap: 20px;
      }
    }

    &-link {
      text-decoration: none;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #828282;
      padding-bottom: 10px;

      @include onDesktop {
        font-weight: 600;
        font-size: 18px;
      }

      &:hover,
      &:active {
        color: $colorDarkGrey;
        border-bottom: 1px solid $colorDarkGrey;
      }
    }
  }
}
