.shop {
  &__catalog {
    display: flex;
    gap: 15px;

    @include onDesktop {
      gap: 20px;
    }

    &-item {
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #828282;

      @include onDesktop {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
