.shop {
  &__catalog {
    display: flex;
    gap: 15px;

    @include onDesktop {
      gap: 20px;
    }
    &-item {
      font-weight: 600;
font-size: 18px;
letter-spacing: 0.05em;
text-transform: uppercase;
color
    }
  }
}
