.vertical-nav {
  display: none;

  @include onPad {
    display: block;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;

    content: "";
    display: block;
    background-color: rgba(52, 79, 16, 0.5);
  }
}
