.vertical-nav {
  margin: 0;
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: rgba(52, 79, 16, 0.5);

  transform: rotate(-90deg);

  @include onDesktop {
    display: inline-block;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: -110px;

    height: 1px;
    width: 90px;

    content: "";
    display: block;
    background-color: rgba(52, 79, 16, 0.5);
  }
}
