.vertical-nav {
  margin: 0;
  display: none;
  position: relative;
  tra

  @include onPad {
    display: block;
  }

  &::before {
    position: absolute;

    height: 1px;
    width: 90px;

    content: "";
    display: block;
    background-color: rgba(52, 79, 16, 0.5);
  }
}
