.welcome {

  &__content {
    display: flex;
    flex-direction: column-reverse;

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;

    &-container {
      margin-bottom: 25px;
      height: 260px;

      @include onPad {
        margin-bottom: 0;
        height: 500px;
      }

      @include onDesktop {
        height: 450px;
        flex-grow: ;
      }
    }
  }

  &__title {
    margin: 0 0 10px;

    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    line-height: 130%;

    @include onPad {
      font-size: 36px;
      line-height: 150%;
    }

    @include onDesktop {
      margin: 0 0 30px;

      font-size: 60px;
      line-height: 130%;
      text-align: left;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
  }

  &__descrirtion {
    margin-bottom: 30px;

    @include onPad {
      margin-bottom: 50px;
    }
  }
}
