.welcome {
  &__image {
    display: block;
    height: 260px;
    width: 100%;
    background-image: url(../images/headerImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include onPad {
      height: 500px;
    }

    @include onDesktop {
      height: 450px;
    }
  }

  &__title {
    margin: 0 0 10px;

    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 130%;

    @include onPad {
      font-size: 36px;
      line-height: 150%;
    }

    @include onDesktop {
      font-size: 60px;
      margin: 0 0 30px;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
