.welcomeAdd {
  position: relative;

  &::after {
    display: none;

    position: absolute;
    bottom: 0;
    right
    height: 1px;
    width: 40%;

    content: "";
    background-color: rgba(52, 79, 16, 0.5);

    @include onDesktop {
      display: block;
    }

  &__left {
    padding: 100px 0;
  }

  &__right {
    padding: 100px 0;
    position: relative;

    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorDarkGreen;

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1px;

      content: "";
      display: block;
      background-color: rgba(52, 79, 16, 0.5);
    }
  }
}
