.welcome {
  &__image {
    margin-bottom: 50px;

    display: block;
    height: 260px;
    width: 100%;
    background-image: url(../images/headerImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include onPad {
      margin-bottom: 0px;
      height: 500px;
    }

    @include onDesktop {
      margin-bottom: 0px;
      height: 450px;
    }
  }

  &__title {
    margin: 0 0 10px;

    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    line-height: 130%;

    @include onPad {
      font-size: 36px;
      line-height: 150%;
    }

    @include onDesktop {
      margin: 0 0 30px;

      font-size: 60px;
      text-align: left;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  

  &__order {
    order: 2;
  }
}
