.welcomeAdd {

  &__left {
    margin;
    &::before {
      content: "";
      display: block;
      height: 1px;
      background-color: rgba(52, 79, 16, 0.5);
    }
  }

  &__right {
    font-weight: 600;
    font-size: 24px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $colorDarkGreen;
  }
}
