.welcomeAdd {
  &__left {

  }

  &__right {
    padding: ;
    position: relative;

    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $colorDarkGreen;

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1px;

      content: "";
      display: block;
      background-color: rgba(52, 79, 16, 0.5);
    }
  }
}
