.welcome {
  &__image {
    height: 260px;
    background-image: url(../images/headerImg.png);
    background-repeat: no-repeat;
    background-size: contain;

    @include onDesktop {
      height: 450px;
    }

    @include onPad {
      height: 500px;
    }

  }
}
