.welcome {
  &__image {
    height: 260px;
    width: 100%;
    background-image: url(../images/headerImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include onDesktop {
      height: 450px;
    }

    @include onPad {
      height: 500px;
    }
  }

  &__title {
    font-weight: 600;
font-size: 36px;
  }
}
