.container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 24px;
  @include onLaptop {
    padding: 0 48px;
  }
  &--menu {
    padding-top: 24px;
    min-height: 100vh;
    background-color: #333;
  }
}
