<footer>
  <div class="footer">
    <div class="footer_conteiner">
      <div>
        <nav class="footer_navigation">
          <a class="footer_navigation_link" routerLink="/shop">Shop</a>
          <a class="footer_navigation_link" routerLink="/contact">Contact</a>
          <a class="footer_navigation_link" routerLink="/about">About</a>
        </nav>
        <div class="footer_socials">
          <a class="footer_socials_link footer_socials_fb" href="https://uk-ua.facebook.com/" target="_blank"></a>
          <a class="footer_socials_link footer_socials_insta" href="https://www.instagram.com/" target="_blank"></a>
        </div>
      </div>
      <div class="footer_contacts">
        <p class="footer_contacts_text">
          Ukraine
        </p>
        <a class="footer_contacts_text footer_contacts_link" href="mailto:support.mountain@gmail.com" target="_blank">
          support.mountain@gmail.com
        </a>
        <a
          class="footer_contacts_text footer_contacts_link"
          href="tel:+380934476839"
          target="_blank"
        >
          +380934476839
        </a>
        <p class="footer_contacts_text">
          Support is available Monday - Friday 9am-6pm
        </p>
      </div>
    </div>
    <div class="footer_content">
      <p class="footer_about">
        <span class="footer_about_desctop-text">
          Copyright
        </span>
        &#169; 2023 witch of mountain winds
      </p>
      <div class="footer_about_socials">
        <a class="footer_about_socials_link footer_socials_fb" href="https://uk-ua.facebook.com/" target="_blank"></a>
        <a class="footer_about_socials_link footer_socials_insta" href="https://www.instagram.com/" target="_blank"></a>
      </div>
    </div>
  </div>
</footer>
