$colorBackGraund:#e5e5e5;
$colorDarkGreen: #344F10;
$colorLightGreen: #8C9772;
$colorBezh: #e4dfd3;
$colordarkWhite: #f2f2f2;
$colorLightGrey: #bdbdbd;
$colorMiddleGrey: #8E8D8C;
$colorDarkGrey: #33333;
