$colorBackGraund:#e5e5e5;
$colorDarkGreen: #344f10;
$colorLightGreen: #8C9772;
$colorBezh: #e4dfd3;
$colordarkWhite: #f2f2f2;
$colorLightGrey: #bdbdbd;
$colorMiddleGrey: #8e8d8C;
$colorDarkGrey: #333;
