.promotion {
  padding-top: 64px;
  @include onLaptop {
    position: relative;
    padding: 100px 0;
  }
  &::after,
  &::before {
    display: none;
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    background-color: $lightGreenColor;
    @include onLaptop {
      display: block;
    }
  }
  &::after {
    top: 0;
    right: 70%;
  }
  &::before {
    bottom: 0;
    left: 70%;
  }
  &__description {
    display: none;
    @include onLaptop {
      display: block;
      font-weight: 500;
      grid-column: 2/6;
    }
  }
  &__info {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
    grid-column: 1/3;
    color: $darkGreenColor;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @include onTablet {
      grid-column: 3/5;
      font-weight: 500;
    }
    @include onLaptop {
      max-width: 380px;
      grid-column: 7/11;
      font-size: 24px;
    }
  }
}
