.brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 0 50px 0 150px;

  &__section {
    margin-bottom: 200px;
  }

  &--active-header {
    margin-top: 100vh;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 480px;
    max-width: 480px;
  }

  &__img {
    width: 100%;

    @include hover(transform, scale(1.1));
  }

  &__heading {
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    padding-bottom: 30px;
  }

  &__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    padding-bottom: 52px;
  }

  &__small {
    margin-top: 99px;
    width: 130px;
    height: 430px;
    margin-left: 20px;

    background-size: cover;
    background-position: 50%;
  }

  &__button {
    width: 280px;
  }
}

@media (min-width: $the-design-screen-breakpoint) {
  .brand {
    justify-content: center;
    gap: 200px;
  }
}

@media (max-width: 1200px) {
  .brand {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    &__section {
      margin-bottom: 100px;
    }

    &__left {
      align-items: center;
    }

    &__right {
      align-items: center;
      order: -1;
      padding: 0;
    }

    &__heading {
      text-align: center;
    }
  }
}

@media (max-width: $normal-screen-breakpoint) {
  .brand {
    &__heading {
      font-size: 36px;
      line-height: 42px;
      max-width: 420px;
    }
  }
}

@media (max-width: $ipad-mini-screen-breakpoint) {
  .brand {
    &__section {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $iphone-se-screen-breakpoint) {
  .brand {
    &__section {
      margin-bottom: 0;
    }

    &__left {
      max-width: 280px;
      padding: 0 20px;
    }

    &__right {
      margin: 0 -20px;
    }

    &__heading {
      font-size: 24px;
      line-height: 31.2px;
      text-align: center;
      padding: 0 20px;
      max-width: 280px;
      padding-bottom: 12px;
    }

    &__text {
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      padding: 0 20px 46px;
    }
  }
}
