.button {
  display: block;
  padding: 20px;

  font-family: "Sharp-Sans-Display-No2-Medium", sans-serif;
  font-size: 14px;
  line-height: 18.2px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: $fourth;

  background: $text-color;

  transition: background-color 1s;

  &:hover {
    color: $text-color;
    background-color: $background-gray;
  }
}
