.button {
  display: block;
  padding: 20px;

  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #f2f2f2;

  background: #333;

  transition: background-color 0.7s;

  &:hover {
    color: #333;
    background-color: #e4dfd3;
  }
}
