
.concepts {
  width: 100%;
  background-color: $background-gray;

  &__container {
    display: flex;
    justify-content: center;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 27px 250px;

    @media (max-width: $optimizing-standart-screen-breakpoint) {
      padding: 0 0 150px 27px;
    }

    @media (max-width: $analog-standart-ipad-screen-breakpoint) {
      padding: 0 27px 150px;
    }

    @media (max-width: $phones-screen-breakpoint) {
      padding-right: 27px;
    }

    @media (max-width: $iphone-se-screen-breakpoint) {
      padding: 0 20px 60px;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      grid-template-rows: 142px 166px 166px;
      row-gap: 50px;

      & :first-child {
        & :first-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 140px;
  }

  &__picture {
    min-height: 100px;
    margin-bottom: 24px;
    object-fit: none;
  }

  &__text {
    max-width: 380px;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: $ipad-mini-screen-breakpoint) {
      max-width: 218px;
    }
  }
}
