.menu {
  background-color: $grey;
  height: 100vh;

  &__img {
    padding-top: 20px;
    margin-bottom: 40px;

    @include tablet {
      padding-top: 28px;
    }
  }

  &__block-links {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;

    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
  }

  &__link1 {
    grid-row: 1;

    text-decoration: none;
    color: #e4dfd3;

    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 1px;
      background-color: #828282;

      margin-top: 10px;

      @include tablet {
        width: 700px;
      }
    }
  }

  &__link2 {
    grid-row: 2;

    text-decoration: none;
    color: #e4dfd3;

    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 1px;
      background-color: #828282;

      margin-top: 10px;

      @include tablet {
        width: 700px;
      }
    }
  }

  &__link3 {
    grid-row: 3;

    text-decoration: none;
    color: #e4dfd3;

    &::after {
      content: "";
      display: block;
      width: 280px;
      height: 1px;
      background-color: #828282;

      margin-top: 10px;

      @include tablet {
        width: 700px;
      }
    }
  }
}
