.nav {
  display: flex;
  text-align: center;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    display: block;
    position: relative;
    padding: 10px;
    margin: 0 40px;
    font-size: 18px;
    color: $brand-color;
    cursor: pointer;

    &::after {
      display: block;
      position: absolute;
      bottom: 2px;
      left: 10px;
      width: 0;
      height: 1px;
      background-color: #9aa788;
      content: "";
      transition: width 0.3s ease-out;
    }

    &:hover::after {
      width: calc(100% - 2 * #{10px});

      @media (max-width: 768px) {
        width: 0;
      }
    }

    &:visited {
      color: $brand-color;

      @media (max-width: 768px) {
        color: $background-gray;
      }
    }
  }
}
