.page {
  &__body {
    font-family: "Poppins", sans-serif;
    background-color: #e5e5e5;
    scroll-behavior: smooth;
  }

  &__resset,
  h1,
  h2,
  h3,
  h4,
  p,
  body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: 0.5s;

    &:target {
      transform: translateX(0);
    }
  }
}
