.phrase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 100px;

  &__text {
    padding: 100px 0;
    font-size: 16px;
    line-height: 24px;
    max-width: 380px;
    border-top: 1px solid rgba(52, 79, 16, 0.5);
  }

  &__title {
    padding: 100px 0;
    font-size: 24px;
    line-height: 36px;
    color: $brand-color;
    text-transform: uppercase;
    max-width: 380px;
    border-bottom: 1px solid rgba(52, 79, 16, 0.5);
  }

  // &::before,
  // &::after {
  //   position: absolute;
  //   content: "";
  //   display: block;
  //   height: 1px;
  //   background-color: rgba(52, 79, 16, 0.5);
  // }

  // &::before {
  //   left: 0;
  //   top: -100px;
  //   width: 530px;
  // }

  // &::after {
  //   right: 0;
  //   top: 160px;
  //   width: 630px;
  // }
}
