.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-bottom: 200px;
  padding-left: 150px;

  &__vertical {
    left: -150px;
    top: 30px;
  }

  &__name {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0.05em;
    text-align: left;
    color: $brand-color;
    margin-bottom: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 85px;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    display: block;
    margin: 0 20px;
    padding: 0;
    border-radius: 8px;
    font-size: 18px;
    color: $text-color;
    text-decoration: none;

    &:first-child {
      margin-left: 0;
    }
  }

  &__arrows {
    font-size: 28px;
    margin-bottom: 27px;
  }

  &__left-arrow,
  &__right-arrow {
    border: none;
    font-size: 28px;
    color: $text-color;
    outline: none;

    &:hover {
      color: $light-button;
    }
  }

  &__button {
    width: 280px;
    margin: 0 auto 203px;
  }
}

.is-active {
  position: relative;
  color: $text-color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $text-color;
    border-radius: 8px;
    height: 2px;
    top: 54px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 320px) {
  .is-active {
    &::after {
      height: 2px;
      top: 26px;
    }
  }
}

@media screen and (max-width: 320px) {
  .shop {
    padding: 0;

    &__name {
      font-size: 24px;
    }

    &__link {
      font-size: 14px;
    }
  }
}
