.vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  position: relative;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  color: $brand-color-half;

  &::after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
    left: -41px;
    top: 34%;
    width: 100px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(90deg);
  }
}
