.about-our-brand {
  &__content {
    @include onTablet {
      @include pageGrid;
    }
  }
  &__description {
    display: flex;
    gap: 10px;
    flex-direction: column;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onSmallDesktop {
      grid-column: 2 / 6;
      gap: 40px;
    }
  }

  &__paragraphs {
    padding-bottom: 20px;

    @include onSmallDesktop {
      padding-bottom: 0;

      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__paragraph2 {
    @include onTablet {
      display: none;
    }

    @include onSmallDesktop {
      display: inline;

    }
  }

  &__image {
    display: none;

    &--big {
      @include onTablet {
        display: block;
        grid-column: span 3;
        background-image: url(../images/cosmetic-image.png);
        background-position: center;
        background-size: cover;
      }

      @include onSmallDesktop {
        grid-column: 7 / span 4;
      }
    }

    &--small {
      @include onSmallDesktop {
        display: block;
        background-image: url(../images/cosmetic-image-small.png);
        height: 430px;

        position: relative;
        top: 126px;

        grid-column: span 2;
      }
    }
  }

  &__button {
    @include onTablet {
      grid-column: span 1;
    }

    @include onSmallDesktop {
      padding-bottom: 10px;
      margin-bottom: 40px;
    }
  }
}
