.about-brand {

  position: relative;
  display: flex;
  justify-content: space-between;

  padding: 200px 0 100px 150px;
  border-bottom: 1px solid black;

  @media (max-width: 999px) {
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 27px;
  }

  @media (max-width: 824px) {
    padding: 60px 20px 0;
  }

  &__side-description {
    top: 414px;
    left: 50px;

    @media (max-width: 999px) {
      display: none;
    }
  }

  &__info {
    @extend %text;
    width: 380px;

    @media (max-width: 824px) {
      width: 280px;
    }
  }

  &__title {
    padding-top: 42px;
    color: $green;

    @media (max-width: 999px) {
      padding: 0;
      font-size: 24px;
    }
  }

  &__text {
    margin-top: 20px;

    @media (max-width: 999px) {
      margin-top: 12px;
    }
  }

  &__our-brand {
    color: $lightblack;

    @media (max-width: 999px) {
      width: 342px;
    }

    @media (max-width: 824px) {
      width: 280px;
    }
  }

  &__we-are-neighbors {
    margin-top: 30px;
    color: $lightblack;

    @media (max-width: 999px) {
      display: none;
    }
  }

  &__learn-more {
    margin-top: 40px;
    margin-left: -10px;

    @media (max-width: 999px) {
      margin-top: 10px;
    }
  }

  &__image--big {
    width: 500px;
    height: 529px;
    // margin-left: 100px;

    @media (max-width: 999px) {
      width: 369px;
      height: 318px;
      margin-left: 0;
    }

    @media (max-width: 824px) {
      display: none;
    }
  }

  &__image--small {
    width: 130px;
    height: 430px;
    margin: 99px 0 20px;

    @media (max-width: 1180px) {
      display: none;
    }
  }
}
