.brand {
  display: flex;
  flex-direction: row-reverse;
  color: #333;
  padding: 40px 0 200px;
  border-bottom: 1px solid black;
  max-width: 1280px;

  &__image {
    height: 451px;
    width: 577px;
    margin: 0 53px 0 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    padding-left: 150px;
  }

  &__sale {
    font-family: "Sharp", sans-serif;
    font-size: 22px;
    line-height: 1.3em;
  }

  &__shop-link {
    display: inline-block;
  }
}

@media (max-width: 999px) {
  .brand {
    flex-direction: column;
    align-items: center;
    max-width: 767px;
    padding: 7px 0 100px;

    &__image {
      margin: 0 27px;
    }

    &__content {
      padding: 0;
      align-items: center;
    }

    &__title {
      width: 466px;
      margin-top: 50px;
      font-size: 36px;
      line-height: 1.3em;
      text-align: center;
    }

    &__sale {
      width: 278px;
      margin-top: 20px;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
    }

    &__shop-link {
      margin-top: 30px;
    }
  }
}
