.button {
  width: 280px;
  height: 60px;
  margin-top: 50px;

  font-size: 16px;
  line-height: 130%;
  color: $grayLightColor;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background-color: $darkColor;
  transition: color 0.5s, border 0.5s, background-color 0.5s;

  &:hover {
    border: 1px solid $darkColor;
    color: $darkColor;
    background-color: $beigeGrayColor;
  }

  @include mobile {
    width: 100%;
  }
}
