.button-learn {
  position: relative;
  padding-bottom: 12px;
  margin-top: 40px;
  color: $khakiColor;
  font-size: 14px;
  line-height: 100%;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: $khakiColor;
    transition: width 0.3s ease-out;
  }

  &:hover::after {
    width: 100%;
  }
}
