.categories {
  &__list {
    list-style: none;

    display: flex;
    justify-content: space-between;

    @include onTablet {
      gap: 14px;
      justify-content: start;
    }

  }

  &__link {
    text-decoration: none;
    line-height: 130%;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: $catalog-text-color;
    position: relative;

    @include hover(color,$main-text-color);

    &--1 {
      color: $main-text-color;
    }
    &:active,
    &--1 {
      &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: $main-text-color;
        height: 2px;
        width: 100%;
        bottom: -10px;
      }
    }

    @include onSmallDesktop {
      font-size: 18px;
      font-weight: 600;
      line-height: 150%;
    }
  }
}
