.contact-us {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 200px 0 150px 150px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    padding: 100px 0 100px 27px;
  }

  @media (max-width: $phone-width) {
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
  }

  &__side-description {
    top: 240px;
    left: 50px;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &__info {
    @media (max-width: 1140px) {
      width: 380px;
    }

    @media (max-width: $phone-width) {
      width: 280px;
    }
  }

  &__title {
    color: $darkgreen;
    text-transform: capitalize;

    @media (max-width: $tablet-width) {
      font-size: 24px;
    }
  }

  &__text {
    width: 380px;
    margin-top: 20px;
    font-family: "Sharp", sans-serif;
    font-size: 24px;
    line-height: 1.5em;
    text-transform: lowercase;

    @media (max-width: 1140px) {
      width: 411px;
    }

    @media (max-width: $tablet-width) {
      width: 342px;
      margin-top: 12px;
      font-size: 16px;
    }

    @media (max-width: $phone-width) {
      width: 280px;
    }
  }

  &__name {
    @include form-field;
    padding-top: 20px;

    @media (max-width: 1140px) {
      width: 380px;
    }

    @media (max-width: $tablet-width) {
      @include form-field-tablet;
    }

    @media (max-width: $phone-width) {
      width: 280px;
    }
  }

  &__e-mail {
    @include form-field;
    padding-top: 30px;

    @media (max-width: 1140px) {
      width: 380px;
    }

    @media (max-width: $tablet-width) {
      padding-top: 25px;
      @include form-field-tablet;
    }

    @media (max-width: $phone-width) {
      width: 280px;
    }
  }

  &__phone {
    @include form-field;
    padding-top: 30px;

    @media (max-width: 1140px) {
      width: 380px;
    }

    @media (max-width: $tablet-width) {
      padding-top: 25px;
      @include form-field-tablet;
    }

    @media (max-width: $phone-width) {
      width: 280px;
    }
  }

  &__message {
    @include form-field;
    padding-top: 60px;
    resize: none;
    overflow: auto;

    @media (max-width: 1140px) {
      width: 380px;
    }

    @media (max-width: $tablet-width) {
      padding-top: 20px;
      @include form-field-tablet;
    }

    @media (max-width: $phone-width) {
      width: 280px;
    }
  }

  &__button {
    margin-top: 50px;
    cursor: pointer;

    @media (max-width: $tablet-width) {
      margin-top: 30px;
    }

    @media (max-width: $phone-width) {
      margin: 30px auto 0;
    }
  }

  &__image {
    // width: 550px;
    height: 584px;
    margin-left: 20px;

    @media (max-width: 1192px) {
      // width: 515px;
      height: 526px;
    }

    @media (max-width: 1140px) {
      // width: 465px;
      height: 468px;
    }

    @media (max-width: $tablet-width) {
      // width: 368px;
      height: 409px;
      margin-left: 10px;
    }

    @media (max-width: $phone-width) {
      display: none;
    }
  }
}
