.eco {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  column-gap: 20px;
  justify-content: center;
  align-items: baseline;
  padding: 50px 0;
  border-bottom: 1px solid black;

  @media (max-width: 999px) {
    grid-template-columns: repeat(3, 218px);
    column-gap: 30px;
  }

  @media (max-width: 824px) {
    grid-template-columns: repeat(1, 218px);
    row-gap: 50px;
    padding: 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: $black;
  }

  &__no-microplastic {
    margin-bottom: 44px;
  }

  &__recycable {
    margin-bottom: 19px;
  }

  &__natural {
    margin-bottom: 24px;
  }

  &__description {
    @extend %text2;
  }
}

// @media (max-width: 999px) {
//   .eco {
//     &__container {
//       grid-template-columns: repeat(3, 218px);
//       column-gap: 30px;
//       max-width: 767px;
//     }
//   }
// }
