.eco {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    column-gap: 20px;
    justify-content: center;
    align-items: baseline;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px solid black;
  }

  &__card {
    // width: 380px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000;
  }

  &__no-microplastic {
    margin-bottom: 44px;
  }

  &__recycable {
    margin-bottom: 19px;
    &:hover {
      fill: #344f10;
    }
  }

  &__natural {
    margin-bottom: 24px;
  }

  &__description {
    @extend %text2;
  }
}

@media (max-width: 999px) {
  .eco {
    &__container {
      grid-template-columns: repeat(3, 218px);
      column-gap: 30px;
      max-width: 767px;
    }
  }
}
