.ingredients {
  &__container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 50px 205px 150px;
    border-bottom: 1px solid black;
  }

  &__side-description {
    top: 198px;
    left: 50px;
  }

  &____content {
    margin-right: 80px;
  }

  &__title {
    width: 300px;
    margin-top: 40px;
    color: #344f10;
  }

  &__learn-more {
    margin-top: 139px;
  }

  &__tooth-powder {
    display: flex;
  }

  &__item {
    @extend %text;
    // display: block;
    display: flex;
    justify-content: flex-end;
    text-transform: capitalize;
    color: #333;
    margin-bottom: 50px;
    border: 1px solid red;

    &:first-child {
      margin-top: 40px;
    }
  }

  &__item-line {
    position: relative;
    display: inline-block;
    width: 76px;
    height: 1px;
    margin-left: 20px;
    margin-right: 23px;
    background-color: #333;
    // transform: translate(0 -100px);

    &::after {
      position: absolute;
      top: -(5px / 2);
      left: 100%;
      display: block;
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #333;
    }
  }

  &__product {
    // display: block;
    margin-right: 50px;
  }
}
