.intro {

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  @media (max-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__title {
    width: 630px;
    margin: 100px 0 0 120px;
    padding: 0 250px 100px 0;
    color: $green;
    border-bottom: 1px solid $lightgreen;

    @media (max-width: $tablet-width) {
      width: 280px;
      margin: 0;
      padding: 0;
      font-size: 18px;
      text-align: center;
      border-bottom: none;
    }
  }

  &__text {
    width: 530px;
    height: 244px;
    @extend %text;
    padding: 100px 0 0 150px;
    border-top: 1px solid $lightgreen;
    color: $lightblack;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
