.powder {
  &__content {
    @include onTablet {
      @include pageGrid;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include onTablet {
      grid-column: 1 / 4;
      grid-row: 1;
    }

    @include onSmallDesktop {
      grid-column: 2 / 7;
    }
  }

  &__block {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 31px;
    @include onTablet {
      grid-column: 3 / span 5;
      grid-row: 1 / 4;
      margin-bottom: 0;
    }

    @include onSmallDesktop {
      grid-column: 7 / span 6;
      gap: 15px;
    }

  }

  &__image-box {
    height: 398px;
    width: 80%;
    position: relative;
    right: -20px;

    @include onTablet {
      right: -27px;
    }

    @include onSmallDesktop {
      right: 0;
    }

  }

  &__image {
    background-image: url(../images/Union1.svg);
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 398px;
    width: 100%;

  }

  &__list {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 50px;

  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;

    @include onSmallDesktop {
      gap: 15px;
    }
  }

  &__item-name {
    width: 98px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    display: flex;
    justify-content: end;
  }

  &__line {
    position: relative;
    width: 32px;
    height: 1px;
    background-color: $main-text-color;
    display: flex;
    justify-content: end;

    &::after {
      position: absolute;
      bottom: -2px;
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $main-text-color;

    }

    @include onTablet {
      width: 70px;
    }

    @include onSmallDesktop {
      width: 60px;
    }
  }

  &__button-lear-more {
    @include onTablet {
      grid-column: 1 / 2;
      grid-row: 3;
    }

    @include onSmallDesktop {
      grid-column: 2 / 4;
    }
  }
}
