.section {

  &__title {
    color: $navyGreen;
    text-transform: uppercase;
    margin: 0;

    @include onTablet {
      text-align: center;
      grid-column: 3 / -3;
      min-width: 280px;
    }

    @include onDesktop {
      grid-column: 7 / span 4;
      position: relative;
      text-align: left;
    }
  }

  &__text {
    display: none;
    margin: 0;

    @include onDesktop {
      display: flex;
      grid-column: 2 / span 4;
      grid-row: 1;
    }
  }
}
