.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: $title-color;

  &--first-type {
    font-size: 17px;
    letter-spacing: 0.9px;

    @include onTablet {
      font-size: 18px;
      letter-spacing: 1.2px;
    }

    @include onSmallDesktop {
      font-size: 24px;
      letter-spacing: 1.2px;
    }
  }

  @include onSmallDesktop {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 1.8px;
  }
}
