.shop {
  &__content {
    @include onSmallDesktop {
      @include pageGrid;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 10px;
      text-align: left;
    }

    @include onSmallDesktop {
      margin-bottom: 30px;
      grid-column: 2 / 4;
    }
  }

  &__categories {
    margin-bottom: 27px;

    @include onTablet {
      margin-bottom: 37px;
    }

    @include onSmallDesktop {
      margin-bottom: 60px;
      grid-column: 2 / 6;
    }
  }

  &__products {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 50px;
      display: flex;
      gap: 30px;
    }

    @include onSmallDesktop {
      grid-column: 2 / 13;
      gap: 20px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    @include onSmallDesktop {
      grid-column: 2 / 13;
    }
  }
}
