.shop {
  &__container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0 100px 150px;
    border-bottom: 1px solid black;
  }

  &__side-description {
    // top: 596px;
    top: 676px;
    left: 50px;
  }

  &__title {
    color: #344f10;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    column-gap: 20px;
  }

  &__item {
    @extend %h5;
    color: #333;
    padding: 20px 7px 0;
    transition: color 0.3s;

    &:first-child {
      margin-left: -7px;
    }

    &--is-active {
      text-shadow: 0 0 5px #8c9772;

      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        margin-top: 20px;
        background-color: #333;
      }
    }

    &:hover {
      color: #828282;
    }
  }

  &__catalog {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 20px;
    margin-top: 36px;
  }

  &__pagination-buttons {
    margin-top: 45px;
  }

  &__all-products {
    margin: 30px auto 0;
  }
}

@media (max-width: 999px) {
  .shop {
    &__container {
      max-width: 767px;
      padding: 80px 27px 0;
    }

    &__side-description {
      display: none;
    }

    &__list {
      column-gap: 14px;
    }

    &__item {
      padding: 12px 5px 0;
      font-size: 14px;

      &:first-child {
        margin-left: -5px;
      }
    }

    &--is-active {
      &::after {
        margin-top: 10px;
      }
    }

    &__catalog {
      grid-template-columns: repeat(2, min-content);
      column-gap: 30px;
      margin-top: 20px;
    }

    &__card {
      &:nth-child(2) {
        display: none;
      }
    }

    &__all-products {
      margin: 29px auto 0;
    }
  }
}
