.container {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 27px;
  }

  @include onDekstop {
    padding-inline: 50px;
  }

  @include onDekstopXL {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 130px;
  }
}
