.learn-more-link {
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  color: $accent-color;
  padding-bottom: 10px;
  &__wrapper {
    @include onDesktop {
      grid-column: 2 / 5;
    }
  }
  @include hover(border-bottom, 1px solid $accent-color);
}
