.brand {
  overflow: hidden;
  padding-bottom: 10px;

  &__block {
    position: relative;
  }

  &__left-paragraph {
    display: none;
  }

  &__title {
    margin: 0 0 10px;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
  }

  &__text--primary {
    margin: 0 0 30px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333;
  }

  &__text--secondary {
    display: none;
    margin: 0 0 30px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333;
  }

  &__image-block-big {
    display: none;
  }

  &__big-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
  }

  &__image-block-small {
    display: none;
  }

  &__small-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }

  &__link {
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: #344f10;
    text-decoration: none;
    width: max-content;
    padding-bottom: 9px;
    border-bottom: 1px solid #fff0;
    transition: border-color 0.3s;

    &:hover {
      border-color: #344f10;
    }
  }
}
