.creators {
  &__wrapper {
    position: relative;
  }

  &__left-part {
    display: none;
  }

  &__title {
    margin: 0 0 10px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
  }

  &__text {
    margin: 0 0 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333;

    &:nth-child(3) {
      margin: 0 0 30px;
    }

    &:nth-child(4) {
      display: none;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: #344f10;
    text-decoration: none;
    width: max-content;
    padding-bottom: 9px;
    border-bottom: 1px solid #fff0;
    transition: border-color 0.3s;

    &:hover {
      border-color: #344f10;
    }
  }

  &__button {
    margin-top: 35px;
  }

  &__picture-container {
    display: none;
  }
}
