.form {

  &__item {
    display: block;

    &:nth-child(-n + 2) {
      margin: 0 0 25px;
    }

    &:nth-child(3) {
      margin: 0 0 45px;
    }

    &:nth-child(4) {
      margin: 0 0 30px;
      overflow-y: hidden;
    }
  }

  &__label {
    display: none;
  }

  &__input {
    border: none;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    border-bottom: 1px solid #bdbdbd;
    background-color: #e4dfd3;
    padding-bottom: 5px;
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 150%;
    font-style: normal;
    font-weight: 400;

    &::placeholder {
      color: #828282;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid #333;

      &::placeholder {
        color: transparent;
      }
    }

    &:not(:focus):not(:placeholder-shown):valid {
      color: #344f10;
      border-bottom: 1px solid #344f10;
    }

    &:not(:focus):not(:placeholder-shown):invalid {
      color: #eb5757;
      border-bottom: 1px solid #eb5757;
    }
  }

  &__text-area {
    font-family: inherit;
    resize: none;
  }
}
