.page {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: #e4dfd3;
  color: #333;

  &__body {
    margin: 0;
  }

  &__header {
    margin-bottom: 100px;
  }

  &__gifts {
    margin-bottom: 100px;
  }

  &__brand {
    margin-bottom: 100px;
  }

  &__shop {
    margin-bottom: 100px;
  }

  &__creators {
    margin-bottom: 100px;
  }

  &__tooth-powder {
    margin-bottom: 100px;
  }

  &__product-advantages {
    margin-bottom: 100px;
  }
}
