.price__tab {
  display: block;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #828282;
  text-decoration: none;

  &--is-active {
    color: #333;
    width: max-content;
    border-bottom: 2px solid #333;
  }
}
