@use '../../utils/media';
@use '../../utils/poppins';
@use '../../utils/button';
@use '../../utils/vars';

.pros {
  @include media.grid-320;

  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 20px;

  margin-bottom: 100px;

  &__item {
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    flex-direction: column;

    &-text {
      @include poppins.text-2;

      text-transform: uppercase;
      text-align: center;
    }

    img {
      margin: 50px 0 20px;
      width: 100px;
    }
  }

  @include media.grid-768 {
    margin: 133px 0 130px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    &__item {
      grid-column: auto;

      display: grid;
      grid-template-rows: auto 1fr;

      img {
        grid-row: 1;
        width: 80px;

        margin: 0 0 27px;

        justify-self: center;
      }

      p {
        grid-row: 2;
      }
    }
  }

  @include media.grid-1280 {
    margin: 200px 0;
  }

  @include media.grid-1440 {
    margin: 201px 0;
  }
}
