.shop {
  overflow-x: hidden;

  &__wrapper {
    position: relative;
  }

  &__left-part {
    display: none;
  }

  &__title {
    margin: 0 0 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    text-align: center;
  }

  &__tabs-bar {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    margin: 0 auto 15px;
  }

  &__product-item {
    display: none;
    margin: 0 0 30px;

    &:nth-child(-n + 1) {
      display: block;
    }
  }

  &__product-picture-block {
    left: -10%;
  }
}
