.address{
  &__content{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #E4DFD3;
    margin-top: 10px;
  }

  &--distance{
    margin-top: 40px;
  }

  &__link{
    text-decoration: none;
    margin-top: 10px;
  }
}
