.aTP-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-right: -20px;
  justify-content: space-between;

  &__link{
    margin-top: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333;
  }

  &--link-primary{
    margin-top: 38px;
  }

  &--link-secondary{
    margin-top: 49px;
  }

  &__list{
    text-align: right;
  }
}




