.button {
  display: block;
  width: 100%;
  padding: 20px;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.4px;
  text-align: center;
  text-transform: uppercase;
  color: white;

  background-color: black;
  border: 1px solid transparent;
  cursor: pointer;

  transition: all 0.5s;

  @include onTablet {
    width: 280px;
  }

  &:hover {
    color: $colorMain;
    background-color: $backgroundColorMain;
    border-color: $colorMain;
  }
}
