.footer {
  background-color: #8c9772;
  margin-top: 100px;

  &__icon {
    width: 20px;
    height: 20px;
    object-position: 20px 0;
    margin-right: 20px;
  }

  &__container {
    margin-top: 20px;
  }

  &__copy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #e4dfd3;
    margin-top: 40px;
    padding-bottom: 40px;
  }
}
