.link {
  display: block;
  width: fit-content;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  color: $colorGreen;

  padding-bottom: 10px;
  border-bottom: 1px solid transparent;

  @include hover(border-color, $colorGreen);
}
