.list-sec{
  padding-top:19px;

  &__link{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: #E4DFD3;
    text-decoration: none;
  }

  &__list{
    margin-top: 11px;
  }
}
