.main{
  padding: 100px 20px;
  box-sizing: border-box;

  &__paragraph{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344F10;
  }
}
