.main {
  display: flex;
  flex-direction: column;
  row-gap: 100px;

  min-width: 320px;
  max-width: 1400px;

  @include onTablet {
    row-gap: 130px;
  }

  @include onDesktop {
    row-gap: 200px;
  }

  &--product-card {
    @include onDesktop {
      @include contentPaddingInline;
    }
  }
}
