.main {
  box-sizing: border-box;
  padding: 0 20px;

  &__paragraph {
    margin-top: 100px;

    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 150%;
    color: #344f10;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &--distance {
    margin-bottom: 100px;
  }
}
