.menu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);

  box-sizing: border-box;
  height: 100vh;
  padding: 15px 20px;

  background-color: #333;

  transition: 1s ease-in-out;

  &:target{
    transform: translateX(0);
  }

  &__link{
    display: block;

    margin-bottom: 41px;
    border-bottom: 1px solid #828282;

    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 130%;
    color: #E4DFD3;
    text-align: center;
    text-decoration: none;

    &--primary{
      margin-top: 45px;
    }
  }

  &__close{
    padding: 15px 0;
  }
}
