.shop{
  &__image{
    height: 267px;
    width: 320px;
    object-fit:cover;
    margin: 15px -20px 0;
    vertical-align: middle;
  }

  &__product-name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    margin-top: 20px;
  }

  &__product-value{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    margin-top: 10px;
  }
}
