.signs {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__paragraph {
    margin-top: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__picture {
    margin-top: 50px;
    object-fit: contain;
    height: 84px;
    width: 100px;

    &--primary {
      width: 62px;
      height: 60px;
      object-fit: contain;
    }
  }
}
