.signs{
  display: flex;
  flex-direction: column;
  align-items: center;

  &--section{
    margin-top: 50px;
  }

  &__paragraph{
    margin-top: 20px;
  }

  &__picture{
    margin-top: 50px;
    object-fit:contain;
    height: 60px;
    width: 62px;
  }
}
