.social {
  display: flex;
  gap: 20px;

  @include onDesktop {
    gap: 14px;
  }

  &__link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;

    &--facebook {
      background-image: url(../images/_icons/_social/facebook.png);
    }

    &--instagram {
      background-image: url(../images/_icons/_social/instagram.png);
    }

    @include hover(opacity, 0.5);
  }
}
