.tab{
  overflow: hidden;

  & button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 10px;
    transition: 0.3s;

    &:hover{
      border-bottom: 1px solid #828282;
    }

    &.active{
      color: #333;
      border-bottom: 1px solid #333;
    }
  }
}

.tabcontent{
  display: none;

  &__active{
    display: contents;
  }
}

.tablinks{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #828282;
}
