.title {
  color: #333;

  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 31.2px;
  letter-spacing: 0%;
  text-align: center;

  &--primary {
    margin-top: 25px;
  }

  &--secondary {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    text-align: left;

    margin-top: 100px;
  }

  &__highlight {
    margin-top: 30px;
    display: inline-block;
    border-bottom: 1px solid #344f10;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 38.2px;
    color: #344f10;
    text-transform: uppercase;
  }

  &--shop {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    text-align: center;

    margin-top: 100px;
  }
}
