.contacts {
  .section__image {
    padding-bottom: 119%;
  
    @include on-tablet {
      padding-bottom: 92.93%;
    }
  }
  
  .section__link {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}