.info {
  &__container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
    align-items: baseline;
  }

  &__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto auto / 1fr;
    gap: 50px;

    img {
      max-width: 80px;
      margin: 0 auto;
    }
  }

  &__text {
    color: #000;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: center;
  }
}
