.contact {
  @include page-grid;
  @include constent-padding-inline;

  &__content {
    grid-column: 1 / -1;

    @include on-table {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 2 / 6;
    }
  }

  &__title {
    margin-bottom: 10px;
    text-align: left;

    @include font-text-heading-regular-second-level;

    @include on-desktop {
      margin-bottom: 30px;
    }
  }

  &__description {
    margin-bottom: 30px;
    text-align: left;

    @include font-text-regular(14px, $main-text-page-color);

    @include on-table {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @include on-desktop {
      margin-bottom: 40px;
    }
  }

  &__link-img {
    display: none;

    @include on-table {
      grid-column: 4 / -1;

      display: block;

      position: relative;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__img {
    display: none;

    @include on-table {
      position: absolute;

      @include img-size;
    }
  }
}
