.social-media-list {
  display: flex;
  gap: 20px;

  @include onDesktop {
    gap: 14px;
  }

  &__item {
    @include hover(transform,scale(1.2));
  }

  &__sign {
    width: 20px;
    height: 20px;
  }
}
