.form {
  &__input {
    transition: border-bottom $duration;
    &:hover,
    &:focus {
      border-bottom: 1px solid $darkColor;
    }
    &:-webkit-autofill {
      background-color: none;
    }
    &:focus:invalid {
      color: $redColor;
      border-bottom: 1px solid $redColor;
    }
    &:valid {
      color: $darkGreenColor;
      border-bottom: 1px solid $darkGreenColor;
    }
  }
}
