.about-creator {
  padding: 80px 20px 20px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  @media (min-width: 1280px) {
    width: 100%;
    max-width: 1180px;
    box-sizing: border-box;
    gap: 40px;
    margin: auto;
  }

  &_description {
    @media (min-width: 1280px) {
      margin-left: 40px;
    }

    &-title {
      span {
        display: block;

        @media (min-width: 768px) {
          display: inline;
        }
      }
    }

    &-text {
      color: $color-dark;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 25px;

      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 24px;
      }

      &--bigger-screen {
        display: none;

        @media (min-width: 1280px) {
          display: block;
          color: $color-dark;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 25px;
        }
      }
    }
  }

  &_image {
    &-photo {
      &--tablet {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }

        @media (min-width: 1280px) {
          display: none;
        }
      }

      &--desktop {
        display: none;

        @media (min-width: 768px) {
          display: none;
        }

        @media (min-width: 1280px) {
          display: block;
        }
      }
    }
  }
}
