.about-brand {
  width: 280px;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: 768px) {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px 40px;
    margin: 0;
  }

  @media (min-width: 1280px) {
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  &_description {
    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1280px) {
      width: 380px;
      margin-left: 40px;
    }

    &-text {
      color: $color-dark;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      margin-bottom: 25px;

      &--bigger-screen {
        display: none;

        @media (min-width: 1280px) {
          display: block;
          color: $color-dark;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 25px;
        }
      }

      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &_images {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }

    &-tablet {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }

      @media (min-width: 1280px) {
        display: none;
      }
    }

    &-desktop {
      display: none;

      @media (min-width: 1280px) {
        display: block;
      }

      &--small {
        width: 200px;
        padding-left: 10px;
      }
    }
  }
}
