.about-brand {
  display: flex;
  justify-content: space-between;

  &__text {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 192px;

    @media (max-width: 750px) {
      margin: 0 auto 110px;
    }
  }

  &__heading {
    @media (max-width: 1250px) {
      padding-bottom: 20px;
    }
  }

  &__img-big {
    width: 500px;
    height: 529px;
    margin-right: 20px;

    @media (max-width: 1250px) {
      width: 369px;
      height: 318px;
    }

    @media (max-width: 750px) {
      display: none;
    }
  }

  &__img-small {
    width: 130px;
    height: 430px;

    @media (max-width: 1250px) {
      display: none;
    }
  }

  &__link {
    margin-top: 30px;
  }

  &__paragraph {
    @media (max-width: 1250px) {
      display: none;
    }
  }
}
