* {
  box-sizing: border-box;
}

body {
  font-family: "Sharp Sans No2 Medium", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: $primary-color;
  background: $bg-color;
  overflow-x: hidden;
}

.container {
  width: 1280px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;

  @media (max-width: 1280px) {
    width: 992px;
  }

  @media (max-width: 992px) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

}

h2 {
  font-family: "Sharp Sans No2 SemiBold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $secondary-color;
}

h4 {
  font-family: "Sharp Sans No2 SemiBold", sans-serif;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $secondary-color;
}

p {
  font-size: 16px;
  line-height: 150%;
  margin: 20px 0;
}

.button {
  width: 280px;
  height: 60px;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #f2f2f2;
  background-color: $primary-color;
  border: none;
  cursor: pointer;
  transition: color $transition-duration ease-in-out,
    background-color $transition-duration ease-in-out;

  &:hover {
    color: $primary-color;
    background-color: $bg-color;
    border: 1px solid $primary-color;
  }
}
