.btn {
  width: 280px;
  height: 60px;
  background-color: $c-grey;
  color: $c-white;
  border: 1px solid $c-grey;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  transition: background-color 500ms;

  @media (max-width: $phoneBreakPoint) {
    align-self: center;
  }

  &:hover {
    background-color: $c-beige;
    color: $c-grey;
  }
}
