.button {
  display: block;
  padding-top: 20px;
  width: 280px;
  height: 60px;

  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: $white-color;
  background-color: $main-dark-color;
  border: 1px solid $main-dark-color;

  @include hover (background-color, $gray-color);
  @include hover (color, $main-dark-color);
}
