.button {
  width: 260px;
  height: 60px;
  
  font-family: "Sharp Semibold", sans-serif;
  letter-spacing: 0.15em;
  font-size: 16px;
  text-transform: uppercase;
  color: #f2f2f2;
  background-color: #333;
  border: none;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    background-color: $accent-color;
  }
}
