.filled-big-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: $colorLightGray;
  background-color: $colorDark;
  border: 1px solid $colorDark;
  transition-duration: $transitionDuration;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: $colorDark;
    background-color: $colorPaleBrown;
  }
}

.learn-more-button {
  display: inline-block;
  padding: $buttonLearnMorePaddingVertical 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $colorSaturatedGreen;
  // border-bottom: 2px solid transparent;
  transition-duration: $transitionDuration;
  cursor: pointer;
  user-select: none;
  text-align: center;
  &:after {
    content: "";
    display: block;
    margin-top: 12px;
    width: 100%;
    height: 2px;
    background-color: $colorSaturatedGreen;
    transition-duration: 0.5s;
  }
  &:hover {
    &::after {
      width: 0;
    }
  }
}

.sliders-chapter-button {
  display: inline-block;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $colorSemiDark;
  border-bottom: 2px solid transparent;
  transition-duration: $transitionDuration;
  cursor: pointer;
  @media (max-width: $screenLaptop) {
    padding-bottom: 10px;
    font-size: 14px;
  }

  &:hover {
    color: $colorDark;
  }
}
