.card {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  &__photo {
    width: 380px;
    height: 500px;
    margin-bottom: 20px;
    object-fit: cover;

    transition: transform 500ms;

    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: $tabletBreakPoint) {
      width: 342px;
      height: 300px;
    }

    @media (max-width: $phoneBreakPoint) {
      width: 320px;
      height: 267px;
    }
  }

  &:last-child {
    @media (max-width: $tabletBreakPoint) {
      display: none;
    }
  }

  &:nth-last-child(2) {
    @media (max-width: $phoneBreakPoint) {
      display: none;
    }
  }

  &__name {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $c-grey;
    margin-bottom: 10px;

    @media (max-width: $phoneBreakPoint) {
      margin-left: 20px;
    }
  }

  &__price {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: $phoneBreakPoint) {
      margin-left: 20px;
    }
  }
}
