.choose-the-gift {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;

  @media (min-width: 768px) {
    padding-top: 100px;
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: 1280px) {
    box-sizing: border-box;
    margin-top: 90px;
    display: flex;
    width: 100%;
    max-width: 1180px;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
  }

  &_description {
    text-align: center;

    &--bigger-screen {
      display: none;

      @media (min-width: 1280px) {
        display: block;
        margin-left: 70px;
      }
    }

    &-information {
      width: 380px;
      height: 380px;
      color: $color-dark;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    }

    &-text {
      width: 280px;
      margin: auto;
      text-align: center;
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
      text-transform: uppercase;
      color: $color-dark-green;

      @media (min-width: 1280px) {
        width: 380px;
        height: 380px;
        font-size: 24px;
        line-height: 36px;
        text-align: left;
        margin-right: 270px;
      }
    }
  }
}
