.content {
  max-width: 1280px;
  margin: 0 auto;

  &__promo {
    margin-bottom: 300px;
    margin-left: 100px;

    @media (max-width: $tabletBreakPoint) {
      margin-bottom: 100px;
      margin-left: 0;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 60px;
    }
  }

  &__scroll-down {
    margin-bottom: 270px;
    margin-left: 150px;

    @media (max-width: $tabletBreakPoint) {
      margin-bottom: 100px;
      margin-left: 0;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 60px;
    }
  }

  &__about {
    margin-bottom: 200px;
    margin-left: 150px;

    @media (max-width: $tabletBreakPoint) {
      margin-bottom: 100px;
      margin-left: 0;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 60px;
    }
  }

  &__shop {
    margin-bottom: 200px;
    margin-left: 150px;

    @media (max-width: $tabletBreakPoint) {
      margin-left: 20px;
      margin-bottom: 100px;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 60px;
      margin-left: 0;
    }
  }

  &__creators {
    margin-bottom: 200px;
    margin-left: 150px;

    @media (max-width: $tabletBreakPoint) {
      margin-bottom: 100px;
      margin-left: 0;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 60px;
    }
  }

  &__tooth {
    margin-bottom: 250px;
    margin-left: 150px;

    @media (max-width: $tabletBreakPoint) {
      margin-bottom: 150px;
      margin-left: 0;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 100px;
    }
  }

  &__info {
    margin: 0 auto 250px;

    @media (max-width: $tabletBreakPoint) {
      margin-bottom: 150px;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 60px;
    }
  }

  &__contacts {
    margin-bottom: 150px;
    margin-left: 150px;

    @media (max-width: $tabletBreakPoint) {
      margin-bottom: 100px;
      margin-left: 30px;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 60px;
      margin-left: 0;
    }
  }
}
