.content {
  max-width: 1280px;
  margin: 0 auto;

  &__promo {
    margin-bottom: 300px;

    @media (max-width: $tabletBreakPoint) {
      margin-bottom: 100px;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 60px;
    }
  }

  &__scroll-down {
    margin-bottom: 270px;
  }

  &__about {
    margin-bottom: 100px;
  }
}
