// src/styles/_creators.scss
@use 'utils/mixins' as m;
@use 'utils/vars' as v;

.creators {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 100px 0;
  padding: 0 20px;

  text-align: center;

  @include m.on-tablet {
    @include m.page-grid;

    padding: 0;
    text-align: left;
  }

  &__wrapper {
    width: 100%;
    max-width: 500px;

    @include m.on-tablet {
      grid-column: 1 / 4;
      max-width: none;
    }

    @include m.on-desktop {
      grid-column: 2 / 7;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: v.$title-color;
    text-transform: uppercase;
    letter-spacing: 1.2px;

    @include m.on-tablet {
      font-size: 28px;
    }

    @include m.on-desktop {
      font-size: 32px;
    }
  }

  &__text {
    margin-bottom: 15px;

    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: v.$main-text-color;

    @include m.onTablet {
      font-size: 16px;
    }
  }

  &__paragraph {
    &--desktop-only {
      display: none;

      @include m.on-desktop {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &__learn-more {
    position: relative;

    display: inline-block;

    margin-top: 30px;

    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    color: v.$title-color;
    text-decoration: none;
    text-transform: uppercase;

    @include m.smooth-transition(all);

    &:hover {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

      &::after {
        content: '';

        position: absolute;
        bottom: -5px;
        left: 0;

        width: 100%;
        height: 1px;

        background-color: v.$title-color;

        @include m.smooth-transition(all);
      }
    }
  }

  &__image {
    display: none;
    width: 100%;
    height: auto;
    object-fit: cover;

    @include m.on-tablet {
      display: block;
      grid-column: 4 / 7;
      margin-top: 30px;
    }

    @include m.on-desktop {
      grid-column: 8 / 13;
      margin-top: 0;
    }
  }

  &__button {
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 280px;
    height: 60px;
    margin: 30px auto 0;
    border: none;
    border-radius: 4px;

    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    color: v.$button-color;
    text-transform: uppercase;
    letter-spacing: 2.4px;

    background-color: v.$main-text-color;

    @include m.smooth-transition(all);

    &:hover {
      border: 1px solid v.$main-text-color;
      color: v.$main-text-color;
      background-color: transparent;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @include m.on-desktop {
      margin-left: 0;
    }
  }

  &__side-decoration {
    display: none;

    @include m.on-desktop {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(180deg);

      display: flex;
      flex-direction: row-reverse;
      gap: 20px;
      align-items: center;

      writing-mode: vertical-lr;
    }

    &-text {
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
      color: rgba(v.$title-color, 0.5);
    }

    &-line {
      width: 1px;
      height: 100px;
      background: rgba(v.$title-color, 0.5);
    }
  }
}
