html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  @extend %fontAvenir;
  font-size: 1.8rem;
  background-color: #e4dfd3;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: calc(100% - 100px);
}
