.creators {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 100px;

  text-align: center;

  @include on-tablet {
    @include page-grid;
  }

  &__wrapper {
    grid-column: 1 / 3;

    @include on-tablet {
      grid-column: 1 / 3;
      font-size: 16px;
    }

    @include on-desktop {
      grid-column: 2 / 7;
    }
  }

  &__title {
    display: block;

    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 150%;
    color: $title-color;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  &__text {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: $main-text-color;
  }

  &__part3 {
    display: none;

    @include on-desktop {
      display: block;
      grid-column: 2 / 7;
    }
  }

  &__learn {
    position: relative;

    margin-top: 30px;

    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 130%;
    color: $title-color;
    text-decoration: none;
    text-shadow: none;

    transition: box-shadow 0.3s ease;

    &:hover {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

      &::after {
        content: '';

        position: absolute;
        bottom: -10px;
        left: 0;

        display: block;

        width: 100%;
        border-bottom: 1px solid $title-color;
      }
    }
  }

  &__img {
    display: none;

    @include on-tablet {
      display: block;
      grid-column: 4 / 7;
      width: 100%;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }

  &__button {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 280px;
    height: 60px;
    margin: auto;
    margin-top: 25px;
    border: none;

    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 130%;
    color: $button-color;
    text-transform: uppercase;
    letter-spacing: 2.4px;

    background-color: $main-text-color;

    transition: all 0.3s;

    @include on-tablet {
      margin-top: 30px;
    }

    @include on-desktop {
      margin-top: 40px;
    }
  }

  &__button:hover {
    border: 1px solid $main-text-color;
    color: $main-text-color;
    background-color: $bg-color;
  }

  &__left-side {
    display: none;

    @include on-desktop {
      position: absolute;

      display: flex;
      flex-direction: row-reverse;
      place-self: start start;

      writing-mode: vertical-lr;
      white-space: nowrap;
    }
  }

  &__line {
    width: 1px;
    height: 100px;
    margin-top: 10px;
    background: rgba(52, 79, 16, 0.5);
  }

  &__left {
    transform: rotate(-180deg);

    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 130%;
    color: rgba(52, 79, 16, 0.5);
    text-align: center;
  }
}
