.creators {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 50px;
  position: relative;

  &__info {
    padding-bottom: 12px;

    @media (max-width: $tabletSize) {
      padding-bottom: 0;
    }
  }

  &__subtext {

    @media (max-width: $tabletSize) {
      display: none;
    }
  }

  &__btn {

    @media (max-width: 600px) {
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $mainGreen;
    font-weight: 600;
    padding-bottom: 20px;

    @media (max-width: $tabletSize) {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    color: $textColor;
    max-width: 420px;
    padding-bottom: 30px;
    font-weight: 500;

    @media (max-width: $tabletSize) {
      padding-bottom: 20px;
    }
  }

  &__img {
    width: 600px;
    height: 670px;
    transition: transform 0.4s;
    object-fit: cover;
    object-position: center;

    @media (max-width: $tabletSize) {
      max-width: 370px;
      height: 435px;
      margin-left: 30px;
    }

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__img:hover {
    transform: scale(1.1);
  }

  &__elem {
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(52, 79, 16, 0.5);
    transform: rotate(-90deg);
    position: absolute;
    left: -10px;
    top: 416px;

    text-transform: uppercase;

    &::before {
      content: "";
      height: 1px;
      width: 100px;
      background: rgba(52, 79, 16, 0.5);
      position: absolute;
      bottom: 10px;
      left: -110px;
    }

    @media (max-width: $tabletSize) {
      display: none;
    }
  }

  @media (max-width: $tabletSize) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
  }
}
