.creators {
  display: flex;
  justify-content: space-between;

  &__heading {
    padding-top: 20px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 30px;

    @media (max-width: 750px) {
      margin: 0 auto;
    }
  }

  &__img {
    width: 600px;

    @media (max-width: 1250px) {
      width: 360px;
      height: 430px;
    }

    @media (max-width: 750px) {
      display: none;
    }
  }

  &__link {
    margin-bottom: 50px;
  }

  &__paragraph {
    @media (max-width: 1250px) {
      display: none;
    }
  }
}
