@font-face {
  font-family: "Sharp Sans No2";
  src: local("Sharp Sans No2 Medium Regular"), url("../fonts/SharpSansNo2/SharpSansNo2Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans No2";
  src: local("Sharp Sans No2 Semibold Regular"), url("../fonts/SharpSansNo2/SharpSansNo2Semibold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
