@font-face {
  font-family: "Sharp";
  src: url("../fonts/SharpSansNo2/SharpSansMedium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sharp";
  src: url("../fonts/SharpSansNo2/SharpSansSemibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
