@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir_ff/AvenirMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans Display";
  src: url("../fonts/SharpSansNo2/Sharp\ Sans\ No2\ Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
