.form {
  position: relative;
  padding-top: 10px;

  &__line {
    position: relative;

    & textarea {
      resize: none;
    }

    &__label {
      position: absolute;
      top: 10px;
      display: block;
      text-transform: capitalize;
      transition: 0.2s;
      @extend %inputsMenuText;
      color: #828282;
    }

    &__field {
      width: 100%;
      border: 0;
      outline: 0;
      padding-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid $l-gray;
      @extend %inputsMenuText;
      color: #828282;
      background: transparent;

      transition: border-color 0.2s;

      @media (max-width: 1024px) {
        padding-top: 25px;
      }

      &:focus {

        ~ .form__line__label {
          position: absolute;
          top: 14px;
          display: block;
          transition: 0.2s;
          font-size: 15px;
          line-height: 15px;
        }

        border-color: #333;
      }

      &::placeholder {
        color: transparent;
      }

      &:placeholder-shown ~ .form__line__label {
        cursor: text;
        top: 36px;

        &--textarea {
          top: 75px !important;
        }

        @media (max-width: 1024px) {
          top: 31px;
        }
      }

      &:required,
      &:invalid {
        box-shadow: none;
      }

      &:invalid:not(:focus):not(:placeholder-shown) {
        color: #eb5757;
        border-color: #eb5757;
      }

      &:valid:not(:focus):not(:placeholder-shown) {
        color: #344f10;
        border-color: #344f10;
      }
    }
  }
}
