.form {
  position: relative;
  padding-top: 10px;

  &__label {
    position: absolute;
    top: 0;
    display: block;
    text-transform: capitalize;
    transition: 0.2s;
    @extend %inputsMenuText;
    color: #828282;
  }

  &__field {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid $l-gray;
    @extend %inputsMenuText;
    color: #828282;
    background: transparent;

    transition: border-color 0.2s;

    &:focus {
      ~ .form__label {
        position: absolute;
        top: 3px;
        display: block;
        transition: 0.2s;
        font-size: 15px;
        line-height: 15px;
      }

      border-color: #333;
    }

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      cursor: text;
      top: 20px;
    }

    &:required,
    &:invalid {
      box-shadow: none;
    }

    &:invalid:not(:focus):not(:placeholder-shown) {
      color: #eb5757;
      border-color: #eb5757;
    }

    &:valid:not(:focus):not(:placeholder-shown) {
      color: #344f10;
      border-color: #344f10;
    }
  }
}
