.header__magic-candles {
  text-align: center;
  width: 100%;

  @media (min-width: 1280px) {
    max-width: 1180px;
    display: flex;
    padding-top: 80px;
    flex-direction: row-reverse;
    justify-content: center;
    margin: auto;
  }

  &_photo {
    background-image: url(../images/img-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    padding-top: 56.25%;

    @media (min-width: 768px) {
      background-image: url(../images/img-header-tablet.png);
      background-size: cover;
      width: 100%;
      margin: auto;
    }

    @media (min-width: 1280px) {
      max-width: 580px;
      background-image: url(../images/img-header-desktop.png);
      background-size: contain;
    }
  }

  &_bottom {
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px 20px 0;

    @media (min-width: 768px) {
      padding-top: 40px;
    }

    @media (min-width: 1280px) {
      padding-top: 0;
      margin-left: 70px;
    }

    @media (min-width: 1280px) {
      padding-right: 100px;
    }

    &-title {
      text-align: center;
      color: $color-dark;
      font-size: 24px;
      font-weight: 600;
      line-height: 31px;
      margin-bottom: 18px;

      @media (min-width: 768px) {
        width: 466px;
        margin: 0 auto;
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 20px;
      }

      @media (min-width: 1280px) {
        text-align: left;
        width: 480px;
        font-size: 60px;
        line-height: 78px;
        margin-bottom: 20px;
      }
    }

    &-subtitle {
      font-size: 16px;
      line-height: 24px;
      color: $color-dark;
      font-weight: 400;

      @media (min-width: 1280px) {
        margin-bottom: 40px;
        text-align: left;
      }
    }

    &-button {
      @media (min-width: 1280px) {
        margin: 0;
      }
    }
  }
}
