.heading {
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $main-color;
  @include hover ( color , $main-dark-color);
  cursor: pointer;

  @media (max-width: 1250px) {
    font-size: 24px;
  }
}
