.icon {
  position: relative;
  display: block;
  background-position: center;
  background-size: cover;

  @include hover-effect(transform, scale(1.2));

  &--menu {
    width: 20px;
    height: 13px;
    background-image: url('../images/icons/menu.png');
  }

  &--logo {
    width: 24px;
    height: 24px;
    background-image: url('../images/icons/logo.png');
  }

  &--shop {
    width: 20px;
    height: 24px;
    background-image: url('../images/icons/shop.png');
  }

  &--close {
    width: 15px;
    height: 15px;
    background-image: url('../images/icons/icon-close.png');
  }

  &--bird {
    width: 62px;
    height: 60px;
    margin: auto;
    margin-top: 110px;

    background-image: url('../images/icons/dead-bird.png');

    @include on-tablet {
      width: 80px;
      height: 60px;
    }
  }

  &--res {
    width: 100px;
    height: 84px;
    margin: auto;
    margin-top: 50px;

    background-image: url('../images/icons/icon-res.png');

    @include on-tablet {
      width: 80px;
      height: 67px;
    }
  }

  &--leave {
    width: 79px;
    height: 74px;
    margin: auto;
    margin-top: 50px;

    background-image: url('../images/icons/leaves.png');
  }

  &--facebook {
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/facebook-icon.png');
  }

  &--instagram {
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/instagram-icon.png');
  }

  &--c {
    width: 15px;
    height: 15px;
    background-image: url('../images/icons/icon-c.png');
  }

  &--logo-desk {
    width: 50px;
    height: 50px;
    background-image: url('../images/logo/logo-desktop.png');
  }

  &--shop-desk {
    position: absolute;
    top: 30px;
    right: 50px;

    width: 32px;
    height: 32px;

    background-image: url('../images/icons/shop-desktop.png');
  }
}
