.icon {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 1280px) {
    height: 50px;
    width: 270px;
  }

  &--menu {
    background-image: url(../images/icons/icon-Menu.png);

    @media (min-width: 1280px) {
      background-image: url(../images/icons/icon-logo-desktop.png);
      width: 200px;
    }
  }

  &--logo {
    background-image: url(../images/icons/logo.png);

    @media (min-width: 1280px) {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
    background-size: contain;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  &--bag {
    background-image: url(../images/icons/icon-bag.png);

    @media (min-width: 1280px) {
      height: 30px;
      width: 30px;
    }
  }

  &--microplastics {
    background-image: url(../images/icons/icon-microplastics.svg);
  }

  &--recycled {
    background-image: url(../images/icons/icon-recycled.svg);
  }

  &--natural {
    background-image: url(../images/icons/icon-natural.svg);
  }

  &--facebook {
    background-image: url(../images/icons/icon-facebook.svg);
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &--instagram {
    background-image: url(../images/icons/icon-instagram.svg);
    background-repeat: no-repeat;
    cursor: pointer;

    path:hover {
      fill: red;
    }
  }
}
