.icon {
  position: relative;

  display: block;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  &--menu {
    background-image: url('src/images/icons/menu.png');
    width: 20px;
    height: 13px;
  }

  &--logo {
    background-image: url('src/images/icons/logo.png');
    width: 24px;
    height: 24px;
  }

  &--shop {
    background-image: url('src/images/icons/shop.png');
    width: 20px;
    height: 24px
  }

  &--close {
    background-image: url('src/images/icons/icon-close.png');
    width: 15px;
    height: 15px;
  }

  &--bird {
    background-image: url('src/images/icons/dead-bird.png');
    width: 62px;
    height: 60px;
    margin: auto;
    margin-top: 110px;

    @include onTablet {
      width: 80px;
      height: 60px;
    }
  }

  &--res {
    background-image: url('src/images/icons/icon-res.png');
    width: 100px;
    height: 84px;
    margin: auto;
    margin-top: 50px;

    @include onTablet {
      width: 80px;
      height: 67px;
    }
  }

  &--leave {
    background-image: url('src/images/icons/leaves.png');
    width: 79px;
    height: 74px;
    margin: auto;
    margin-top: 50px;
  }

  &--facebook {
    width: 20px;
    height: 20px;
    background-image: url('src/images/icons/facebook-icon.png');
  }

  &--instagram {
    width: 20px;
    height: 20px;
    background-image: url('src/images/icons/instagram-icon.png');
  }

  &--c {
    width: 15px;
    height: 15px;
    background-image: url('src/images/icons/icon-c.png');
  }

  &--logo-desk {
    width: 50px;
    height: 50px;
    background-image: url('src/images/logo/logo-desktop.png');
  }

  &--shop-desk {
    width: 32px;
    height: 32px;
    background-image: url('src/images/icons/shop-desktop.png');
    position: absolute;
    top: 30px;
    right: 50px;
  }
}


