.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 380px;
    margin-bottom: 50px;

    @media (max-width: $tabletBreakPoint) {
      max-width: 240px;
    }
  }

  &__img {
    width: 100px;
    height: 84px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}
