.ingredients {
  display: flex;
  justify-content: space-around;

  @media (max-width: 750px) {
    flex-direction: column;
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 135px;

    @media (max-width: 1250px) {
      gap: 35px;
    }
  }

  &__tooth {
    background: url(../images/tooth.svg), no-repeat center;
    background-size: cover;
    width: 41vw;
    height: 24vw;

    @media (max-width: 1250px) {
      width: 55vw;
      height: 35vw;
    }

    @media (max-width: 750px) {
      background: url(../images/tooth-small.svg), no-repeat center;
      width: 400px;
      height: 500px;
      background-size: cover;
    }
  }

  &__link {
    @media (max-width: 750px) {
      display: none;
    }
  }

  &__link-mobile {
    display: none;
    @media (max-width: 750px) {
      display: block;
    }
  }
}
