.input {
  padding: 10px 0;
  font-family: $fontFamily;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  color: $colorSemiDark;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  transition-duration: $transitionDuration;
  outline: none;
  &:valid {
    color: $colorSaturatedGreen;
    border-bottom-color: $colorSaturatedGreen;
  }
  &:invalid {
    color: $colorRed;
    border-bottom-color: $colorRed;
  }
  &:not(:focus) {
    color: $colorSemiDark;
    border-bottom-color: $colorSemiDark;
  }
}
