.link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-color;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      width: 92px;
      height: 1px;
      top: 27px;
      left: 0;

      background: $main-color;
    }
  }
}
