.link-learn {
  padding-bottom: 12px;
  display: block;
  width: fit-content;
  height: fit-content;

  font-family: "Sharp Semibold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $accent-color-dark;

  text-decoration: none;
  border-bottom: 1px solid $accent-color-dark;
  transition: 300ms;

  &:hover {
    color: #333;
    border-color: #333;
  }

  @media screen and (min-width: 1900px) {
    font-size: 30px;
  }
}
