$desktop: 1280px;
$tablet-above: 1024px;
$tablet: 1023px;
$mobile-above: 768px;
$mobile: 767px;
$mobile-mini-above: 480px;
$mobile-mini: 479px;

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile-mini {
  @media (max-width: $mobile-mini) {
    @content;
  }
}

@mixin mobile-mini-above {
  @media (min-width: $mobile-mini-above) {
    @content;
  }
}
