.menu {
  box-sizing: border-box;
  height: 100vh;
  padding: 20px;

  font-weight: 600;

  background-color: $main-text-color;

  @include on-desktop {
    display: none;
  }
}

.menu__top {
  display: flex;
  justify-content: space-between;
}
