.menu {
  font-weight: 600;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  background-color: $main-text-color;

  @include onDesktop {
    display: none;
  }
}

.menu__top {
  display: flex;
  justify-content: space-between;
}
