@mixin fluid-text($max: 48, $min: 14) {
  font-size: clamp(#{$min}px, #{$max / 1280 * 100}vw, #{$max}px);
}

@mixin page-grid {
  --colomns: 12;

  display: grid;
  grid-template-columns: repeat(var(--colomns), 1fr);
  column-gap: 20px;

  @include tablet {
    --colomns: 6;

    column-gap: 30px;
  }

  @include mobile-mini {
    --colomns: 2;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
