.mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  right: 100vw;
  z-index: 1;
  width: 100%;

  font-size: 18px;
  font-weight: 500;
  line-height: 130%;

  padding: 120px 20px;
  background-color: $c-grey;
  transition: right 1s;

  @media (max-width: $tabletBreakPoint) {
    display: block;
  }

  &__item {
    margin-bottom: 50px;
    border-bottom: 1px solid $c-beige;
    text-align: center;
  }

  &__link {
    color: $c-beige;
    display: block;
    margin-bottom: 10px;
  }
}
