.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px 80px;
  color: $accent-color-dark;

  &__logo-info {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 50px;
    height: 50px;
  }

  &__brand {
    letter-spacing: 0.05em;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 12px;
  }

  &__menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    transition: transform 300ms;
  }

  &__shopping-cart {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      border-color: $accent-color;
    }
  }

  &__photo-card {
    width: 24px;
    height: 24px;
  }

  &__toggler-label {
    display: none;
    color: #000;
    z-index: 2;
  }

  &__toggler-label::before {
    content: "\2630";
    font-size: 24px;

    color: #344f10;
  }

  &__toggler:checked ~ &__toggler-label::before {
    content: "x";
    font-size: 24px;

    color: #e4dfd3;

  }

  &__toggler {
    display: none;
  }

  @media screen and(max-width: 1000px) {
    padding: 25px 30px 30px;

    &__shopping-cart {
      padding: 0;
    }

    &__brand {
      display: none;
    }

    &__logo-info {
      position: absolute;
      top: 30px;
      left: calc(50% - 24px);
    }

    &__logo {
      width: 24px;
      height: 24px;
    }

    &__toggler-label {
      display: inline-block;
    }

    &__menu {
      flex-direction: column;
      align-items: center;
      padding: 140px 30px 0;
    }
  
    &__toggler:not(:checked) ~ &__menu {
      transform: translate(-100%, 0);
    }
  }

  @media screen and(max-width: 740px) {
    padding: 15px;

    &__logo-info {
      top: 20px;
    }
  }

  @media screen and (min-width: 1900px) {
    &__logo,
    &__photo-card {
      width: 60px;
      height: 60px;
    }

    &__brand {
      font-size: 24px;
    }
  }
}
