.nav {
  &__list {
    display: flex;
    @media (max-width: $tabletBreakPoint) {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item {
    margin: 5px;
    @media (max-width: $tabletBreakPoint) {
      width: 100%;
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid $c-beige;
      margin-bottom: 50px;
    }

    @media (max-width: $phoneBreakPoint) {
      margin-bottom: 30px;
    }
  }

  &__link {
    padding: 15px;
    color: $c-green1;
    font-size: 18px;
    line-height: 130%;

    @media (max-width: $tabletBreakPoint) {
      color: $c-beige;
    }
  }
}
