.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px 80px;
  color: $accent-color-dark;

  &__logo-info {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 50px;
    height: 50px;
  }

  &__brand {
    letter-spacing: 0.05em;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 12px;
  }

  &__menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    width: fit-content;
    list-style-type: none;
  }

  &__item-link {
    margin: 0 20px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 80%;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: 300ms;

    &:visited {
      color: $accent-color-dark;
    }

    &:hover {
      color: #e4dfd3;
      background-color: $accent-color;
    }
  }

  &__shopping-cart {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      border-color: $accent-color;
    }
  }

  &__photo-card {
    width: 24px;
    height: 24px;
  }
}
