.nav {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: 1280px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    color: $main-color;
    font-size: 18px;
    line-height: 23px;

    @include hover (box-shadow, 1px 1px $green-color);

    @media (min-width: 2700px) {
      font-size: 50px;
    }
  }

  &__link-footer {
    color: white;
  }
}
