.page-heading {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Sharp Semibold", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $accent-color-dark;
}
