.page-heading {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Sharp Semibold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $accent-color-dark;

  @media screen and (min-width: 1900px) {
    padding-bottom: 30px;

    font-size: 46px;
  }

  @media screen and (max-width: 1099px) {
    font-size: 24px;
    padding-bottom: 12px;
  }

  @media screen and (max-width: 740px) {
    width: fit-content;
  }
}
