.powder {
  box-sizing: border-box;
  padding: 80px 20px;

  @media (min-width: 1280px) {
    width: 100%;
    max-width: 1180px;
    box-sizing: border-box;
    margin: auto;
  }

  &_photos {
    padding: 20px 0 50px;
    margin-left: 40px;

    @media (min-width: 768px) {
      display: flex;
    }

    &-mobile {
      @media (min-width: 768px) {
        display: none;
      }

      @media (min-width: 1280px) {
        display: none;
      }
    }

    &-tablet {
      display: none;

      @media (min-width: 768px) {
        display: block;
        margin-left: auto;
      }
    }
  }
}
