.powder {

  &__title {
    margin-top: 100px;
    text-align: center;
    color: $title-color;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    @include onTablet {
      text-align: left;
    }

    @include onDesktop {
      margin-left: 120px;
    }
  }

  &__contain-img {
    margin-top: 20px;
    float: right;
    margin-left: 20px;

    @include onTablet {
      display: none;
    }
  }

  &__contain-tabl {
    display: none;

    @include onTablet {
      display: block;
      margin-top: 20px;
      float: right;
      margin-left: 20px;

      @include onDesktop {
        display: none;
      }
    }
  }

  &__contain {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 78px;
    color: $main-text-color;
    text-align: right;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 67px;
  }

  &__learn {
    text-align: center;
    color: $title-color;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration: none;
    position: relative;
    text-shadow: none;
    transition:  box-shadow 0.3s ease;

    &:hover {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

      &::after {
          content: "";
          display: block;
          border-bottom: 1px solid $title-color;
          position: absolute;
          left: 0;
          bottom: -10px;
          width: 100%;
      }
    }

    @include onDesktop {
      margin-left: 120px;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  &__icons {
    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: first baseline;
    }
  }

  &__contain-desk {
    display: none;

    @include onDesktop {
      display: block;
      margin-top: 20px;
      float: right;
      margin-left: 20px;
    }
  }

  &__left-side {
    display: none;

    @include onDesktop {
      display: flex;
      flex-direction: row-reverse;
      writing-mode: vertical-lr;
      place-self: start start;
      align-items: baseline;
      position: absolute;
    }
  }

  &__line {
    width: 1px;
    height: 100px;
    background: rgba(52, 79, 16, 0.50);
    margin-top: 10px;
  }

  &__left {
    color: rgba(52, 79, 16, 0.50);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    transform: rotate(-180deg);
  }
}
