.product-categories {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;

  font-family: "Sharp Semibold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  list-style-type: none;

  &__item {
    margin-right: 40px;
  }

  &__item-link {
    text-decoration: none;
    color: #828282;
    cursor: pointer;
    transition: 300ms;

    &:visited {
      color: #828282;
    }

    &:hover {
      color: #333;
    }

    &--is-active {
      color: #333;

      &::after {
        content: "";
        border-bottom: 2px solid #333;
        padding-bottom: 20px;
        display: block;
      }

      &:visited {
        color: #333;
      }
    }
  }

  @media screen and (min-width: 1900px) {
    font-size: 30px;

    &__item {
      margin-right: 80px;
    }
  }

  @media screen and (max-width: 1099px) {
    font-size: 14px;
  }

  @media screen and (max-width: 740px) {
    justify-content: center;
    padding-bottom: 0;

    &__item {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
