.product-composition {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: end;

  &__image {
    height: 380px;

    background: url(/images/tooth.svg) no-repeat;
    background-size: contain;
  }

  &__page-heading {
    max-width: 300px;
  }

  &__link {
    margin-top: 140px;
  }

  @media screen and(max-width: 1099px) {
    overflow: hidden;

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &__page-heading {
      max-width: 150px;
    }

    &__image {
      background: url(/images/tooth-small.svg) no-repeat;
      background-size: auto 100%;
      background-position-x: left;
      background-position-y: top;
    }
  }

  @media screen and(max-width: 740px) {
    grid-template-columns: 1fr;
    &__image {
      position: relative;
      left: 20px;

      background: url(/images/tooth-mobile.svg) no-repeat;
      background-size: cover;
    }
  }
}
