.product-composition {
  display: grid;
  grid-template-columns: auto 2fr;

  &__link {
    grid-column: 1;
    grid-row: 2;

    align-self: end;
  }

  &__image {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 380px;

    background: url(/images/tooth.svg) no-repeat;
    background-size: contain;
    background-position: right;
  }

  &__page-heading {
    max-width: 300px;
    grid-column: 1;
    grid-row: 1;
    align-self: center;

    padding-bottom: 0;
  }

  @media screen and(max-width: 1099px) {
    overflow: hidden;
    column-gap: 180px;

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &__page-heading {
      max-width: 150px;
      align-self: start;
    }

    &__image {
      background: url(/images/tooth-mobile.svg) no-repeat;
      background-size: auto 100%;
      background-position-x: left;
      background-position-y: top;
    }
  }

  @media screen and(max-width: 740px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__link {
      order: 3;
      margin-top: 20px;
    }

    &__image {
      width: 100%;
    }
  }

  @media screen and (min-width: 1900px) {
    &__page-heading {
      max-width: 600px;
      align-self: start;
    }

    &__image {
      height: 600px;
    }
  }
}
