.product-composition {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: end;

  &__diagram {
    display: flex;
    justify-content: flex-end;
  }

  &__page-heading {
    max-width: 300px;
  }

  &__link {
    margin-top: 140px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
    align-content: center;

    text-align: right;

    font-size: 16px;
    color: #333;
    list-style-type: none;
  }

  &__rectangle {
    margin: 0 -5px 2px 20px;
  }

  &__image {
    width: 380px;
    height: 395px;
  }
}
