.promo {
  display: flex;
  justify-content: center;

  @media (max-width: $tabletBreakPoint) {
    flex-direction: column;
    align-items: center;
  }

  &__left {
    width: 480px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;

    @media (max-width: $tabletBreakPoint) {
      order: 2;
      width: 450px;
      margin: 0 auto;
      align-items: center;
    }

    @media (max-width: $phoneBreakPoint) {
      width: calc(100% - 40px);
    }
  }

  &__right {
    width: 577px;
    margin-left: 20px;
    margin-right: 50px;

    @media (max-width: $tabletBreakPoint) {
      width: calc(100% - 54px);
      margin: 0 auto 50px;
    }

    @media (max-width: $phoneBreakPoint) {
      width: 100%;
    }
  }

  &__title {
    font-size: 60px;
    line-height: 72px;
    color: $c-grey;
    font-weight: 600;
    margin-bottom: 20px;

    @media (max-width: $tabletBreakPoint) {
      font-size: 36px;
      line-height: 130%;
      text-align: center;
    }

    @media (max-width: $phoneBreakPoint) {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 50px;

    @media (max-width: $tabletBreakPoint) {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 30px;
    }
    @media (max-width: $phoneBreakPoint) {
      padding: 0 20px;
      text-align: center;
    }
  }
}
