.product-symbols {
  display: flex;
  justify-content: space-around;

  &__symbol {
    margin: 50px 0;
  }

  @media screen and (max-width: 740px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__symbol {
      margin: 0 0 50px;

      &:last-child {
        margin: 0;
      }
    }
  }
}
