.product {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__img {
    width: 380px;
    height: 500px;

    @media (max-width: 1280px) {
      width: 342px;
      height: 300px;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $main-dark-color;
  }

  &__price {
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &_big_screen {
    @media (max-width: 1280px) {
      display: none;
    }
  }

  &_medium_screen {
    @media (max-width: 750px) {
      display: none;
    }
  }

}
