html,
body,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
p,
input {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "SSsemibold", sans-serif;
  color: #333;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
