* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05em;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Sharp Sans Display No2", sans-serif;
  background-color: $backgroundColor;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
