*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "SharpSansNo2", sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: $c-beige;
  max-width: 100%;
  overflow-x: hidden;
}

a,
ul,
p,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid $c-grey;
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}
