.section {
  position: relative;
  max-width: 2000px;
  left: 50%;
  transform: translate(-50%,0%,);
  padding: 32px 20px 140px 150px;

  @media (max-width: 1250px) {
    padding: 0 20px 140px 50px;
  }

  @media (max-width: 750px) {
    padding: 0 20px 40px 10px;
  }

  &__lateral {
    position: relative;
    right: 650px;
    bottom: 300px;
    color: rgba(52, 79, 16, 0.5);
    transform: rotate(-90deg);

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100px;
      left: -60px;
      bottom: -38px;
      background: rgba(52, 79, 16, 0.5);
      transform: rotate(-90deg);
    }
  }
}
