.symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 380px;

  &__image {
    width: 100px;
    height: 80px;
  }

  &__subtitle {
    margin-top: 30px;

    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
  }

  @media screen and(max-width: 1099px) {
    max-width: 220px;
  }

  @media screen and(min-width: 1900px) {
    max-width: 500px;
    &__image {
      width: 220px;
      height: 200px;
    }

    &__subtitle {
      margin-top: 50px;
  
      font-size: 30px;
    }
  }
}
