.symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  &__image {
    width: 100px;
    height: 80px;
  }

  &__subtitle {
    margin-top: 30px;

    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
  }
}
