.h1 {
  position: relative;
  font-family: "Sharp", sans-serif;
  font-weight: 600;
  font-size: 375%;
  line-height: 130%;
  letter-spacing: 0;
  color: $black;
}

.h2 {
  font-family: "Sharp", sans-serif;
  color: $black;
  font-style: normal;
  font-weight: 600;
  font-size: 225%;
  line-height: 110%;
  letter-spacing: 0;
}

.h3 {
  font-family: "Sharp", sans-serif;
  color: $black;
  font-style: normal;
  font-weight: 600;
  font-size: 225%;
  line-height: 150%;
}

.h4 {
  font-family: "Sharp", sans-serif;
  color: $black;
  font-weight: 600;
  font-size: 150%;
  line-height: 150%;
}

.h5 {
  font-family: "Sharp", sans-serif;
  font-weight: 600;
  color: $black;
  font-size: 112.5%;
  line-height: 150%;
}

.text {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: $black;
}
