@mixin h1 {
  font-family: $f-semibold;
  font-size: 60px;
  line-height: 72px;
}

@mixin h2 {
  font-family: $f-semibold;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin h3 {
  font-family: $f-semibold;
  font-size: 36px;
  line-height: 150%;
}

@mixin h4 {
  font-family: $f-semibold;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin text-1 {
  font-family: $f-medium;
  font-size: 16px;
  line-height: 150%;
}

@mixin text-2 {
  font-family: $f-medium;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin text-3 {
  font-family: $f-semibold;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin text-price {
  font-family: $f-medium;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

@mixin text-input-menu {
  font-family: $f-medium;
  font-size: 18px;
  line-height: 130%;
}

@mixin text-buttons {
  font-family: $f-semibold;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

@mixin text-decorative {
  font-family: $f-medium;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
