h1 {
  font-size: 60px;
  font-weight: $semiBold;
  line-height: 120%;
  color: $darkGrey;
}

h2 {
  font-size: 36px;
  @include semiboldText;
  color: $headers;
}

h3 {
  font-size: 36px;
  font-weight: $semiBold;
  line-height: 150%;
  color: $headers;
}

h4 {
  font-size: 24px;
  @include semiboldText;
  color: $headers;
}

h5 {
  font-size: 18px;
  @include semiboldText;
}
