:root {
  --section-padding-y: 100px;

  @include tablet {
    --section-padding-y: 65px;
  }

  @include mobile {
    --section-padding-y: 50px;
  }
}

$color-light: #e4dfd3;
$color-light-alt: #f2f2f2;
$color-dark: #333;
$color-gray: #828282;
$color-accent: #344f10;
$color-accent-transparent: #344f1080;
$color-accent-alt: #89946E;
$container-width: 1180px;
$container-padding-x: 20px;
$transition-duration: 0.2s
