//breakpoits
$screenExtraLarge: 1500px;
$screenDesctop: 1200px;
$screenLaptop: 992px;
$screenSmallLaptop: 768px;
$screenMobile: 576px;

// @media (max-width: $screenDesctop) {

// }
// @media (max-width: $screenLaptop) {

// }
// @media (max-width: $screenSmallLaptop) {

// }
// @media (max-width: $screenMobile) {

// }

//colors
$colorDark: #333;
$colorSemiDark: #8e8d8c;
$colorDarkGray: #bdbdbd;
$colorLightGray: #f2f2f2;
$colorPaleBrown: #e4dfd3;
// $colorPaleGreen: #8c9772;
$colorPaleGreen: #977272;
// $colorSaturatedGreen: #344f10;
$colorSaturatedGreen: #4f1010;
$colorRed: #eb5757;

//fonts
$fontFamily: "Sharp Sans Display no2", "Calibri", "Ubuntu", arial, sans-serif;

//animation
$transitionDuration: 0.5s;

//sizes
$bodyRightPadding: 50px;
$bodyLeftPadding: 150px;
$bodyLaptopSidePadding: 27px;
$bodyMobileSidePadding: 20px;

//buttons
$buttonLearnMorePaddingVertical: 12px;

//header
$headerMenuButtonSides: 20px;
$headerMenuButtonLineFattnes: 2px;
$headerMenuButtonPadding: 5px;

//about-brand
$aboutBrandTopPadding: 200px;
$aboutBrandBigPhotoWidth: 500px;
$aboutBrandIndentationBetweenPhotos: 20px;

//shop + slider
$sliderSlideWidth: 380px;
$sliderSlideSideMargin: 20px;
$sliderSlidesNumber: 16;
$sliderImageHeight: 500px;

$sliderSlideWidthDesctop: calc(100% / 3 - #{$sliderSlideSideMargin} / 3 * 2);
$sliderSlideWidthLaptop: calc(100% / 2 - #{$sliderSlideSideMargin} / 2);
$sliderSlideWidthMobile: 100vw;

$sliderImageHeightSmallLaptop: 350px;
$sliderImageHeightMobile: 100vw;

//ingredients
$ingredientsPaddingTop: 200px;
$ingredientsPaddingBottom: 200px;
$ingredientsPaddingTopLaptop: 100px;
$ingredientsPaddingVerticalMobile: 60px;
$ingredientsPaddingBottomLaptop: 150px;
$ingredientsImageHeight: 395px;
$ingredientsImageWidth: 380px;
