$colorKhaki: #344f10;
$colorKhakiLight: rgba(52, 79, 16, 0.5);
$colorGrey1: #333;
$colorGreyForm: #bdbdbd;
$colorWhite: #f3f3f3;
$colorFooter: #e4dfd3;

$containerPadding: 50px;
$contentMaxWidth: 1200px;
$cardWidth: 380px;
