$darkGrey: #828282;
$darkGrayishGreen: #8c9772;
$lightGrayishOrange: #e4dfd3;
$veryLightGray: #f2f2f2;
$gray: #bdbdbd;
$darkGrayishOrange: #8e8d8c;
$veryDarkGray: #333;
$backGroundColor: #e5e5e5;

$medium-font: "Sharp Sans No2 Medium";

$big-screen: 990px;
$medium-screen: 770px;
$small-screen: 575px;

$transDuration: 0.3s;
