.about {
  display: flex;
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;

  &__pointer {
    position: absolute;
    bottom: 97%;
    left: -295px;
    transform:rotate(-90deg);
    transform-origin: right;

    color: $colorKhakiLight;
    font-size: 14px;
    text-transform: uppercase;
    
    &::before {
      content: " ";
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 6px;
      height: 1px;
      width: 100px;
      background-color: $colorKhakiLight;
    }
  }

  &__card {
    width: $cardWidth;
    margin-top: 40px;
    margin-left: 100px;
  }

  &__title {
    font-size: 36px;
    text-transform: uppercase;
    color: $colorKhaki;
  }

  &__text {
    color: $colorGrey1;
    line-height: 1.5;

    &-second {
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }

  &__button {
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: $colorKhaki;

    &::after {
      content: " ";
      display: block;
      margin-top: 6px;
      margin-bottom: 20px;
      height: 1px;
      width: 88px;

      background-color: $colorKhaki;
    }
  }

  &__image {
    width: 480px;
    height: 530px;
    margin-left: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/about-image.jpg);

    &-half {
      position: absolute;
      right: -120px;
      bottom: 13px;
      min-width: 130px;
      height: 430px;
      margin-left: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url(../images/about-image.jpg);
    }
  }
}