.about-brand {
  margin-top: 260px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__text {
    max-width: 380px;
  }

  &__link {
    font-family: "Sharp Sans No2 SemiBold", sans-serif;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $secondary-color;
    padding: 12px 0;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: border-color $transition-duration ease-in-out;

    &:hover {
      border-color: $secondary-color;
    }
  }

  &__big-img {
    width: 500px;
    height: 530px;
    object-fit: cover;
    margin-right: 20px;
  }

  &__small-img {
    width: 130px;
    height: 430px;
    object-fit: cover;
    margin-right: -50px;
  }
}
