.about__creators {
  align-items: flex-start;
  justify-content: space-between;
  height: 669px;
  @media (max-width: $mediaStopL) {
    margin-top: 100px;
    height: 435px;
  }

  @media (max-width: $mediaStopS) {
    margin-top: 60px;
  }
}

.about__right--image {
  width: 600px;
  height: 669px;
  margin-left: 20px;

  @media (max-width: $mediaStopL) {
    width: 368px;
    height: 435px;
  }
}

.shop__button--creators {
  margin: 0;
}

.about__left--creators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 669px;

  @media (max-width: $mediaStopL) {
    height: 435px;
  }
}

.about__description--pt1,
.about__description--pt2,
.about__description--pt3,
.about__learn-more--creators {
  margin-top: 0;
}

.about__id--creators {
  top: 234px;
  left: -120px;
}
