.about-creators {
  display: flex;
  justify-content: flex-start;
  position: relative;

  &__side-text {
    top: 170px;
    left: 130px;
  }

  &__text {
    margin: 20px 120px 0 100px;
    min-width: 380px;
    width: 380px;
  }

  &__paragraph-1 {
    margin-top: 20px;

    font-weight: bold;
    color: #333;
  }

  &__paragraph-2,
  &__paragraph-3 {
    margin-top: 30px;

    font-weight: bold;
    color: #333;
  }

  &__link {
    margin-top: 20px;
  }

  &__button {
    margin-top: 62px;
  }
}

@media screen and (max-width: $medium-screen-breakpoint) {
  .about-creators {
    &__side-text {
      left: 50px;
    }
  }
}
