.about-creators {
  display: flex;

  &__text {
    width: 380px;
  }

  &__title {
    @extend %h2;
    color: $c-green;
    padding-bottom: 16px;
  }
  &__discription {
    @include text;
    color: $c-dark-grey;
    &--1 {
      padding-bottom: 30px;
    }
    &--2 {
      padding-bottom: 40px;
    }
  }
  &__button {
    padding: 19px 63px;
  }
  &__link {
    display: inline-block;
    position: relative;
    color: $c-green;
    @include decorative-text;
    text-decoration: none;
    padding: 20px 0 63px;
    
    &:hover::after {
      content: "";
      position: absolute;
      top: 37px;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: $c-green;
    }
  }

  &__image-big {
    width: 580px;
    height: 669px;
    padding-left: 120px;
  }
}
