.creator {

  &__title {
    margin: 0;
    margin-bottom: 10px;
    color: $c-green;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  &__descr1 {
    margin: 0;
    color: $c-grey-dark;
    line-height: 150%;
    margin-bottom: 20px;
  }

  &__descr2 {
    margin: 0;
    color: $c-grey-dark;
    line-height: 150%;
    margin-bottom: 30px;
  }

}
