.about-brand {

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  &__side-text {
    top: 0;

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__text {
    width: 380px;

    @media (max-width: 992px) {
      width: 286px;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 50px;
      order: 2;
    }
  }

  &__p2 {
    @media (max-width: 992px) {
      display: none;
    }
  }

  &__link {
    margin-top: 40px;
    width: 94px;

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

  &__big-img {
    width: 500px;
    height: 530px;
    object-fit: cover;
    margin-right: 60px;

    @media (max-width: 1280px) {
      width: 440px;
      margin-right: 0;
    }

    @media (max-width: 992px) {
      width: 350px;
      height: 460px;
    }

    @media (max-width: 768px) {
      width: 100vw;
      margin-left: -20px;
      margin-right: -20px;
      height: 220px;
      order: 1;
    }
  }

  &__small-img {
    width: 130px;
    height: 430px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: -40px;

    @media (max-width: 1280px) {
      display: none;
    }
  }
}
