.about__brand_container {
  overflow: hidden;
  padding: 0 20px;
  @include Mobile {
    margin-top: 60px;
  }
  @include Tablet {
    display: grid;
    padding: 0;
    margin-top: 100px;
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content;
  }
  @include Notebook {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    position: relative;
    padding-left: 150px;
  }
  @include t1440 {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    position: relative;
    padding-left: 230px;
  }
  @include TheDesign {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    position: relative;
    padding-left: 230px;
  }
  @include FullHD {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    position: relative;
    padding-left: 230px;
  }
  @include LargeScreens {
    margin-top: 250px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    position: relative;
    padding-left: 230px;
  }
}

.about__brand_title {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  /* identical to box height, or 36px */

  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: 100%;

  color: #344f10;
  @include Mobile {
    margin-top: 60px;
  }
  @include Tablet {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  @include Notebook {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
  }
  @include t1440 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
  }
  @include TheDesign {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
  }
  @include FullHD {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
  }
  @include LargeScreens {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 36px;
  }
}

.about__text_brand {
  display: none;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Gray 1 */

  color: #333;

  @include Mobile {
    margin-top: 12px;
    display: block;
  }
  @include Tablet {
    display: block;
    width: 342px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  @include Notebook {
    display: block;
    width: 390px;
    margin-top: -70px;
    font-size: 18px;
  }
  @include t1440 {
    display: block;
    width: 390px;
    margin-top: 20px;
    font-size: 18px;
  }
  @include TheDesign {
    display: block;
    width: 390px;
    margin-top: 20px;
    font-size: 18px;
  }
  @include FullHD {
    display: block;
    width: 390px;
    margin-top: 20px;
    font-size: 18px;
  }
  @include LargeScreens {
    display: block;
    width: 390px;
    margin-top: 20px;
    font-size: 18px;
  }
}

.about__text_brand2 {
  display: none;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #333;
  @include Notebook {
    display: block;
    width: 390px;
    margin-top: 30px;
    font-size: 18px;
  }
  @include t1440 {
    display: block;
    width: 390px;
    margin-top: 30px;
    font-size: 18px;
  }
  @include TheDesign {
    display: block;
    width: 390px;
    margin-top: 30px;
    font-size: 18px;
  }
  @include FullHD {
    display: block;
    width: 390px;
    margin-top: 30px;
    font-size: 18px;
  }
  @include LargeScreens {
    display: block;
    width: 390px;
    margin-top: 30px;
    font-size: 18px;
  }
}

.about__brand_image {
  @include Mobile {
    display: none;
  }
  @include Tablet {
    width: 369px;
    height: 318px;
    display: block;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
  }
  @include Notebook {
    display: block;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    width: 480px;
    height: 100%;
  }
  @include t1440 {
    display: block;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    width: 480px;
    height: 100%;
  }
  @include TheDesign {
    display: block;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    width: 480px;
    height: 100%;
  }
  @include FullHD {
    display: block;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    width: 480px;
    height: 100%;
  }
  @include LargeScreens {
    display: block;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    width: 480px;
    height: 100%;
  }
}

.about__brand_image2 {
  display: none;
  @include Notebook {
    display: block;
    grid-row: 1 / 5;
    grid-column: 3 / 4;
    width: 300px;
    height: 430px;
    margin-left: -120px;
    margin-top: 80px;
    object-fit: cover;
    object-position: right;
  }
  @include t1440 {
    display: block;
    grid-row: 1 / 5;
    grid-column: 3 / 4;
    width: 300px;
    height: 430px;
    margin-left: -150px;
    margin-top: 80px;
    object-fit: cover;
    object-position: right;
  }
  @include TheDesign {
    display: block;
    grid-row: 1 / 5;
    grid-column: 3 / 4;
    width: 300px;
    height: 430px;
    margin-left: -240px;
    margin-top: 80px;
    object-fit: cover;
    object-position: right;
  }
  @include FullHD {
    display: block;
    grid-row: 1 / 5;
    grid-column: 3 / 4;
    width: 300px;
    height: 430px;
    margin-left: -240px;
    margin-top: 80px;
    object-fit: cover;
    object-position: right;
  }
  @include LargeScreens {
    display: block;
    grid-row: 1 / 5;
    grid-column: 3 / 4;
    width: 300px;
    height: 430px;
    margin-left: -240px;
    margin-top: 80px;
    object-fit: cover;
    object-position: right;
  }
}

.about__brand_link {
  font-family: Sharp Sans Display No2, sans-serif;
  font-size: 14px;
  line-height: 130%;
  height: 40px;
  /* or 18px */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #344f10;
  @include Mobile {
    margin-top: 24px;
  }
  @include Tablet {
    grid-column: 1 / 2;
    margin-top: 24px;
  }
  @include Notebook {
    margin-top: 24px;
  }
  &:hover {
    &::after {
      margin-top: 11px;
      content: "";
      width: 90px;
      height: 1px;
      background-color: #344f10;
      display: flex;
      flex-direction: column;
    }
  }
}

.about__text_side {
  margin-left: -100px;
  width: 20px;
  height: 10px;
  top: 150px;
}

.side__text_position {
  position: relative;
  display: inline-block;
  transform: rotate(-90deg);
  top: 180px;
  left: -180px;
  white-space: nowrap;
  font-family: Sharp Sans Display No2, sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(52, 79, 16, 0.5);
  &::before {
    position: absolute;
    margin-left: -110px;
    top: 50%;
    content: "";
    display: block;
    background-color: rgba(52, 79, 16, 0.5);
    height: 1px;
    width: 100px;
  }
  @include Mobile {
    display: none;
  }
  @include SmallPhone {
    display: none;
  }
  @include Tablet {
    display: none;
  }
}
