.about {
  &__wrapper {
    @include paddingInLine;
    @include forWrapper;
    margin-block-end: 100px;

    @include onTablet {
      width: 714px;
      margin-block: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__introduction {
    padding-block: 100px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 5%;
    color: $c-green;

    @include onTablet {
      width: 280px;
      text-align: center;
      padding-top: 0;
      padding-bottom: 130px;
    }
  }

  &__bottom {
    @include onTablet {
      display: flex;
      gap: 30px;
    }
  }

  &__text {
    @include onTablet {
      width: 50%;
    }
  }

  &__title {
    @include forTitles;
    padding-bottom: 10px;
  }

  &__description {
    padding-bottom: 30px;

    @include onTablet {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__link {
    @include forLinks;
  }

  &__image {
    @include onTablet {
      background-image: url(..//images/tablet/candle.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 342px;
      height: 321px;
    }
  }
}
