.creator {
  position: relative;
  margin-bottom: 100px;
  @include onTablet {
    margin-bottom: 130px;
  }
  @include onDesktop {
    margin-bottom: 200px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    color: $c-green;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    @include onTablet {
      grid-column: 1/4;
    }
    @include onDesktop {
      margin-bottom: 34px;
      grid-column: 2/6;
      font-size: 36px;
      letter-spacing: 1.8px;
    }
  }

  &__descr1 {
    margin: 0;
    color: $c-grey-dark;
    line-height: 150%;
    margin-bottom: 20px;
    @include onTablet {
      margin-bottom: 15px;
      grid-column: 1/4;
    }
    @include onDesktop {
      margin-bottom: 30px;
      grid-column: 2/6;
    }
  }

  &__descr2 {
    margin: 0;
    color: $c-grey-dark;
    line-height: 150%;
    margin-bottom: 30px;
    @include onTablet {
      margin-bottom: 20px;
      grid-column: 1/4;
    }
    @include onDesktop {
      margin-bottom: 30px;
      grid-column: 2/6;
    }
  }

  &__descr3 {
    @include onPhone {
      display: none;
    }
    margin: 0;
    color: $c-grey-dark;
    line-height: 150%;
    margin-bottom: 30px;
    @include onTablet {
      margin-bottom: 20px;
      grid-column: 1/4;
    }
    @include onDesktop {
      margin-bottom: 20px;
      grid-column: 2/6;
    }
  }

  &__pic {

    @include onPhone {
      display: none;
    }
    grid-column: 4/-1;
    grid-row: 1/7;
    @include onDesktop {
      grid-column: 7/-1;

    }

    &-img {
      object-fit: cover;
      width: 100%;
      height: 100%;

    }

  }

}
