@media (min-width: 320px) {
  .about {
    margin-top: 100px;

    &__big-bird {
      display: none;
    }

    &__text-title {
      margin: 0;
    }

    &__text-title::after {
      display: none;
    }

    &__text-title::before {
      display: none;
    }

    &__text-text1 {
      margin: 10px 0 0;
    }

    &__text-text2 {
      margin: 20px 0 0;
    }

    &__text-text3 {
      margin: 20px 0 0;
    }

    &__text-link {
      width: 100%;
      margin: 30px 0 0 ;
    }

    &__text-button {
      width: 100%;
    }

    &__big-bird-644px {
      display: none;
    }
  }
}

@media (min-width: 644px) {
  .about {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__big-bird {
      display: none;
    }

    &__big-bird-644px {
      display: flex;
      width: 45%;
      min-height: 484px;
      object-fit: cover;
    }

    &__text-text3 {
      display: none;
    }

    &__Big-container {
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__text-container {
      width: 45%;
      height: 100%;
    }

    &__text-button {
      margin-top: 40px;
    }

    &__text-title {
      margin: 0;
      font-size: 22px;
    }

    &__text-text1 {
      margin: 10px 0;
    }

    &__text-text2 {
      margin: 10px 0s;
    }
  }
}

@media (min-width: 1280px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;

    &__big-bird-644px {
      display: none;
    }

    &__Big-container {
      width: 90%;
    }

    &__text-container {
      width: 380px;

      height: 699px;
    }

    &__text-text1 {
      margin-top: 20px;
    }

    &__text-text2 {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    &__text-button {
      margin-top: 50px;
    }

    &__big-bird {
      display: unset;
      max-height: 699px;
    }

    &__text-title {
      position: relative;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #344f10;
    }

    &__text-title::before {
      display: unset;
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      left: -84px;
      top: 250px;
      transform: rotate(90deg);
      background: rgba(52, 79, 16, 0.5);
    }

    &__text-link {
      margin-bottom: 55px;
    }

    &__text-text3 {
      display: unset;
      margin-top: 12px;
    }

    &__text-title::after {
      display: unset;
      content: "about the creators";
      position: absolute;
      height: 18px;
      width: 192px;
      bottom: -25px;
      left: -130px;
      border-radius: 8px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      transform: rotate(271deg);
    }
  }
}
