.adv {
  display: grid;
  padding: 100px 0;
  grid-template-columns: 1fr 4fr 5fr;
  justify-content: start;
  position: relative;
  font-family: "Sharp Sans Display No2", sans-serif;

  &__info {
    width: 380px;
    height: 144px;
    line-height: 150%;
    font-size: 16px;
    grid-column: 2;
    color: $text-grey;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 530px;
      background-color: rgba(52, 79, 16, 0.5);
    }
  }

  &__title {
    width: 380px;
    height: 108px;
    grid-column: 3;
    line-height: 150%;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: $headings-color;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 630px;
      background-color: rgba(52, 79, 16, 0.5);
    }
  }
}
