.advantages {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-align: center;

  &__text {
    margin-top: 20px;
    @include textLink($c-black);
    max-width: $general-text-w;
    letter-spacing: 0.05rem;
  }
}
