.advantages {
  display: flex;
  gap: 50px;
  @include decorative-text;
  justify-content: center;

  margin-top: 200px;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    text-align: center;
  }
  &__icon {
    align-self: center;
    height: 70px;
    width: 80px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .advantages {
    margin-top: 60px;
  }
}
