.advantages {
  margin-left: -$mainPaddingLeft;
  display: flex;
  justify-content: space-between;

  &__card {
    padding: 20px;
    width: 380px;
    display: flex;
    flex-direction: column;
    @include text2;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__icon {
    height: 100px;
    margin-bottom: 20px;
  }

  &__text {
    text-align: center;
  }
}
