@keyframes scaleForIcon {
  0% {
    transform: rotate(2deg) scale(1.05);
  }

  25% {
    transform: rotate(-30deg) scale(1.1);
  }

  50% {
    transform: rotate(15deg) scale(1.2);
  }

  100% {
    transform: rotate(-5deg) scale(1.1);
  }
}
