.animation-left {
  transform: translateX(-200%);
}

.animation-right {
  transform: translateX(200%);
}

.animation-top {
  opacity: 0;
  transform: translateY(100%);
}

.show-left {
  transition: transform 1.5s ease-out;
  transform: translateX(0);
}

.show-right {
  transition: transform 1.5s ease-out;
  transform: translateX(0);
}

.show-top {
  transition: all 1.5s ease-out;
  opacity: 1;
  transform: translateY(0);
}

.scroll {
  color: $main-background-color;
  box-shadow: 0 -5px 5px -5px $footer-color, 0 5px 5px -5px $footer-color;
  background-color: rgba(140, 151, 114, 0.7);
}

.menu-fixed {
  background-image: url(../images/icons/menu-fixed.svg);
}
