.arrow {

  &__item {
    height: 18px;
    width: 18px;
    border: solid #828282;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transition: border-color $hover-duration;

    &:hover {
      border-color: $main-color;
    }

    &_right {
      transform: rotate(-45deg);
    }

    &_left {
      transform: rotate(135deg);
    }
  }
}
