.arrow {
  display: flex;
  width: 66px;
  justify-content: space-between;

  &__item {
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &_right {
      background-image: url(../images/arrow-normal.svg);
      transform: rotate(180deg);
      
      &:hover {
        background-image: url(../images/arrow-active.svg);
        transform: none;
      }
    }

    &_left {
      background-image: url(../images/arrow-normal.svg);

      &:hover {
        background-image: url(../images/arrow-active.svg);
        transform: rotate(180deg);
      }
    }
  }
}
