.article {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding-bottom: 200px;
  padding-left: 100px;

  &__outer {

    &-text {
      position: absolute;
      left: -80px;
      top: 70px;
  
      font-size: 14px;
      line-height: 1.3;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: rgba(52, 79, 16, 0.5);
  
      transform: rotate(-90deg);
  
      &::before {
        content: "";
        position: absolute;
        top: -40px;
        right: 260px;
        width: 1px;
        height: 100px;
        background: rgba(52, 79, 16, 0.5);
        transform: rotate(-90deg);
      }

      &--contact {
        left: 0;
        top: 50%;

        &::before {
          left: -60px;
        }
      }
    }
  }

  &__text {
    margin-right: 100px;
  }

  &__title {
    font-size: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-color;

    &--ingredient {
      margin-bottom: 200px;
    }
  }

  &__words {
    font-family: $medium-font;

    margin-bottom: 30px;

    &--contact {
      font-size: 24px;
    }
  }

  &__link {
    padding-bottom: 12px;

    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    border-bottom: 1px solid $text-color;
    
    text-transform: uppercase;
    color: $text-color;
    transition-duration: all 0.3s ease;

    &:hover {
      color: $main-color;
      border-bottom: 1px solid $main-color;
    }
  }

  &__button {
    margin-top: 60px;
  }

  &__images {
    object-fit: cover;
    object-position: center;

    &--big {
      margin-right: 20px;
      width: 45%;
      height: 529px;
    }

    &--small {
      width: 25%;
      height: 430px;
    }

    &--creators {
      margin-right: 50px;
      width: 55%;
      height: 670px;
    }

    &--contact {
      width: 50%;
      height: 580px;
    }
  }
}

@media (max-width: 1030px) {
  .article__words--hiden {
    display: none;
  }
}

@media (max-width: $big-screen) {
  .article {

    &__images--big {
      width: 50%;
    }

    &__images--small {
      display: none;
    }
  }
}

@media (max-width: $medium-screen) {
  .article {
    padding-bottom: 120px;
    padding-left: 30px;

    &__outer {
      display: none;
    }

    &__title {
      font-size: 24px;

      &--ingredient {
        margin-bottom: 250px;
      }
    }

    &__text {
      margin-right: 30px;
      flex: 50%;
    }

    &__words {
      margin-bottom: 20px;

      &--contact {
        font-size: 16px;
      }
    }

    &__images {
      &--big {
        width: 50%;
        margin: 0;
        height: 318px;
      }

      &--creators {
        height: 440px;
      }

      &--contact {
        height: 500px;
        width: 400px;
      }
    }

    &__button {
      margin-top: 30px;
    }
  }
}

@media (max-width: $small-screen) {
  .article {
    padding: 0 20px 70px;

    &__images {
      display: none;
    }

    &__text {
      margin-right: 0;
    }

    &__title--ingredient {
      margin-bottom: 420px;
    }
  }
}
