.attraction {
  max-width: 1280px;
  height: 313px;
  display: grid;
  grid-template-columns: 530px 630px;
  gap: 120px;

  // margin-left: -150px;
  // margin-right: -150px;
  // justify-content: space-between;
  // align-content: center;
  // height: 120px;
  // padding: 100px 250px 69px 150px;
  // margin-bottom: 200px;

  &__text-holder {
    display: flex;
    // justify-content: center;
    padding-left: 150px;
    align-items: center;
    height: 100%;
    // width: 46vw;
    // padding-left: 150px;
    // padding-top: 100px;
    // padding-left: 150px;
    // padding-bottom: 69px;

    border-top: 1px solid rgba(52, 79, 16, 0.5);
  }

  &__title-holder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    // width: 54vw;

    // padding-top: 100px;
    // padding-right: 250px;
    // padding-bottom: 100px;

    border-bottom: 1px solid rgba(52, 79, 16, 0.5);

  }

  &__text {
    // display: flex;
    width: 380px;

    font-family: "Sharp Sans No2", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  &__title {
    width: 380px;

    font-family: "Sharp Sans No2", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;

    text-transform: uppercase;
  }

}
