.ayurvedic {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-top: 50px;

  &__tooth {
    position: relative;
  }

  &__sideline {
    position: absolute;
    @include sharpM;
    top: 40px;
    left: -116px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(52, 79, 16, 0.5);
    transform: rotate(-90deg);
    text-transform: uppercase;

    &::before {
      content: "";
      display: flex;
      position: absolute;
      width: 1px;
      height: 100px;
      left: -64px;
      bottom: -43px;
      transform: rotate(-90deg);
      background: rgba(52, 79, 16, 0.5);
    }
  }




  &__title {
    @include avenirM;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344F10;
    max-width: 300px;
    padding-top: 43px;
    padding-bottom: 139px;
  }



  &__more {
    @include sharpM;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344F10;
    padding-top: 10px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      left: 0;
      bottom: -12px;
      background: #344F10;
    }
  }

  &__scheme-img {
    display: flex;
  }

  &__description {
    padding-top: 24px;
  }

  &__details {
    @include avenirM;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    text-transform: capitalize;
    color: #333333;
    position: relative;
    padding-bottom: 49px;
    text-align: right;

    &::after {
      content: "";
      position: absolute;
      width: 76px;
      height: 1px;
      display: block;
      background: #333333;
      transform: rotate(-180deg);
      right: -100px;
      top: 13px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #333333;
      right: -102px;
      top: 11px;
    }
  }

  &__ayurvedic__details-hight {
    padding-bottom: 3px;
  }

  &__jar {
    padding-left: 160px;
  }

  &__jar-photo {
    max-width: 100%;
    object-fit: cover;
  }
}