.ayurvedic {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-top: 50px;
 

  @media (max-width: 768px) {
    padding-top: 0;
    padding-left: 0;
  }
  @media (max-width: 627px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__tooth {
    position: relative;
    @media (max-width: 768px) {
      padding-left: 27px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__sideline {
    position: absolute;
    @include sharpM;
    top: 40px;
    left: -116px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(52, 79, 16, 0.5);
    transform: rotate(-90deg);
    text-transform: uppercase;
    @media (max-width: 768px) {
      display: none;
    }

    &::before {
      content: "";
      display: flex;
      position: absolute;
      width: 1px;
      height: 100px;
      left: -64px;
      bottom: -43px;
      transform: rotate(-90deg);
      background: rgba(52, 79, 16, 0.5);
    }
  }

  &__title {
    @include avenirR;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    max-width: 300px;
    padding-top: 43px;
    padding-bottom: 139px;
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 36px;
    }
    @media (max-width: 732px) {
      padding-top: 15px;
      padding-bottom: 37px;
    }
    
  }

  &__more {
    @include sharpM;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    padding-top: 10px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 98px;
      height: 1px;
      left: 0;
      bottom: -12px;
      background: #344f10;
      @media (max-width: 627px) {
        left: 5px;
      }
    }
    @media (max-width: 768px) {
      // margin-bottom: 30px;
    }
    @media (max-width: 627px) {
      position: absolute;
      bottom: -450px;
      left: 2px;
    }
    @media (max-width: 357px) {
      left: 13px;
    }
    @media (max-width: 327px) {
      left: 17px;
    }
  }

  &__scheme-img {
    display: flex;
    @media (max-width: 627px) {
      padding-left: 70px;
    }
    @media (max-width: 527px) {
      padding-left: 0;
      width: 100%;
    }
  }

  &__description {
    position: relative;
    padding-top: 24px;

    @media (max-width: 768px) {
      top: 5px;
      left: 25px;
    }

    @media (max-width: 527px) {
      left: 85px;
    }
  }

  &__details {
    @include avenirR;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    text-transform: capitalize;
    color: #333;
    position: relative;
    padding-bottom: 49px;

    &::after {
      content: "";
      position: absolute;
      width: 76px;
      height: 1px;
      display: block;
      background: #333;
      transform: rotate(-180deg);
      right: -100px;
      top: 13px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #333;
      right: -102px;
      top: 11px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__ayurvedic__details-hight {
    padding-bottom: 3px;
  }

  &__jar {
    padding-left: 160px;
    overflow: hidden;
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__jar-photo {
    @media (max-width: 768px) {
      position: relative;
      left: 50px;
    }

    @media (max-width: 527px) {
      position: relative;
      left: 130px;
    }
  }
}
