.bio {
  &__position {
    @extend %blocks;
    max-width: 1180px;
    margin: 0 auto;
    padding: 100px 20px 69px;

    @media screen and (max-width: 1244px) {
      max-width: 320px;
      padding: 100px 20px 0;

      flex-direction: column;
    }
  }

  &__text {
    max-width: 320px;

    @extend %text-block;
    margin-right: 180px;

    @media screen and (max-width: 1244px) {
      display: none;
    }
  }

  &__title {
    max-width: 380px;

    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: $color-header;

    @media screen and (max-width: 1244px) {
      margin-bottom: 50px;

      font-size: 18px;
      text-align: center;
      letter-spacing: 0.05em;
    }

    @media screen and (max-width: 780px) {
      font-size: 18px;
    }
  }
}
