.birds {
  display: flex;
  margin-bottom: $marginBetween / 2;

  @media (max-width: 950px) {
    text-align: center;
    justify-content: center;
    margin-bottom: $marginBetween / 2;
  }

  @media (max-width: 650px) {
    margin-bottom: $marginBetween / 3;
  }

  &__description {
    width: 500px;
    padding-right: 120px;
    @include secondaryText;

    @media (max-width: 950px) {
      display: none;
    }
  }

  &__article {
    width: 380px;

    @media (max-width: 950px) {
      font-size: 18px;
    }
  }
}
