.bottle {
  display: grid;
  gap: 0 20px;
  grid-template-columns: max-content auto auto;
  grid-template-rows: 1fr;

  &__text {
    grid-column: 1;
    display: grid;
    align-items: center;
    justify-items: end;
  }

  &__stick {
    grid-column: 2;
    display: grid;
    align-items: center;
  }

  &__image {
    grid-column: 3;
  }
}

@media screen and (max-width: 785px) {
  .bottle {
    gap: 0;
    grid-template-columns: min-content min-content auto;

    &__text {
      justify-items: end;
      text-align: end;
      grid-column-start: 1;
      transform: translateX(70%);
    }

    &__stick {
      grid-column-start: 2;
      transform: translateX(80%);
    }
  }
}
