.bottle {
  display: grid;
  gap: 0 20px;
  grid-template-columns: max-content auto auto;
  grid-template-rows: 1fr;

  &__text {
    grid-column: 1;
    display: grid;
    align-items: center;
    justify-items: end;
  }

  &__stick {
    grid-column: 2;
    display: grid;
    align-items: center;
  }

  &__image {
    grid-column: 3;
  }
}
