.brand {
  &__position {
    display: flex;
    width: 1077px;
    padding: 81px 0 200px;
    margin: 0 auto;

    @media screen and (max-width: 1140px) {
      width: auto;
      margin: 25px 20px 0;
      flex-direction: column;
    }
  }

  &__block {
    max-width: 480px;
    margin-right: 20px;
  }

  &__head {
    max-width: 480px;
    font-size: 60px;
    margin-bottom: 30px;

    @media screen and (max-width: 400px) {
      font-size: 35px;
    }
  }

  &__text {
    font-size: 22px;
    margin-bottom: 54px;
  }

  &__btn {
    @extend %btn;

    @media screen and (max-width: 1231px) {
      margin-bottom: 50px;
    }
  }

  &__img {
    max-width: 577px;
    margin: 0 20px;
    object-fit: cover;
  }
}
