.brand {

  &__title {
    margin: 0 0 30px;
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;

    @include onPhone {
      font-size: 24px;
      text-align: center;
    }

    @include onTablet {
      font-size: 36px;
      line-height: 150%;
      text-align: center;
    }
  }

  &__paragraph {
    margin-bottom: 50px;
    line-height: 150%;

    @include onPhone {
      text-align: center;
    }

    @include onTablet {
      text-align: center;
    }
  }

  &__photo--container {
    box-sizing: border-box;
    width: 100%;
    max-height: 450px;
    overflow: hidden;

    @include onTablet {
      max-height: 500px;
      margin-bottom: 50px;
    }

    @include onPhone {
      max-height: 250px;
      margin-bottom: 25px;
    }
  }

  &__photo {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
  }
}
