@import "utils";

.btn {
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #f2f2f2;
  width: 100%;
  padding: 20px 0;
  background: $text-color;
  border: none;

  cursor: pointer;

  @include hover(background, $second-background-color);

  @media screen and (min-width: 767px) {
    width: 280px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 1.25vw;
    padding: 1.56vw 0;
    width: 21.87vw;
  }
}
