.burger-menu {
  display: block;
  padding: 28px 27px;
  background-color: #333;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(-100%);

  &__close {
    width: 15px;
    height: 15px;
    margin-bottom: 50px;
  }

  &__item {
    padding-bottom: 10px;
    padding-top: 50px;
    border-bottom: 1px solid #828282;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #E4DFD3;
  }
}

.show-burger {
  transform: translate(0);
}
