.first-line {
  width: 20px;
  height: 1px;
  background-color: #344f10;
}

.second-line {
  margin-top: 5px;
  width: 20px;
  height: 1px;
  background-color: #344f10;
}

.third-line {
  margin-top: 5px;
  width: 20px;
  height: 1px;
  background-color: #344f10;
}
