.burger {
  display: none;
  position: absolute;
  top: 0;
  right: 100vw;

  height: 100vh;
  z-index: 1;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  padding: 120px 20px;
  background-color: #333;

  transition: right 1s;

  @media (max-width: 990px) {
    display: block;
  }

  &__item {
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #828282;
  }

  &__link {
    color: #e4dfd3;
    display: block;
    margin-bottom: 10px;
  }
}
