.button {
  width: 280px;
  height: 60px;
  background-color: $titlesColor;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #f2f2f2;
}
