.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  @include textButton;
  border: 2px solid $c-black;
  background-color: $c-black;
  cursor: pointer;
  transition: color 0.5s linear, background-color 0.5s linear;

  &:hover {
    color: $c-black;
    background-color: transparent;
  }
}
