
.candles__main {
  margin-bottom: 200px;

  @media (max-width: 1050px) {
    margin-bottom: calc(200px / 2);
  }

  @media (max-width: 650px) {
    margin-bottom: calc(200px / 3);
  }
}

.candles {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1050px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
}

.candles__proposition {
  display: flex;
  flex-direction: column;

  @media (max-width: 1050px) {
    align-items: center;
  }
}

.brand__title {
  max-width: 480px;
  margin-bottom: 30px;
  @include H1;

  @media (max-width: 1440px) {
    margin-bottom: 20px;
    @include H1;
  }

  @media (max-width: 1240px) {
    margin-bottom: 20px;
    margin-right: 20px;
    @include H1_1;
  }

  @media (max-width: 1050px) {
    margin-bottom: 20px;
    margin-right: 0;
    @include h1IpadMini;
  }

  @media (max-width: 650px) {
    margin-bottom: 12px;
    @include h1Mobil;
  }
}

.brand__discount {
  margin-bottom: 52px;
  @include discountText;

  @media (max-width: 1440px) {
    margin-bottom: 50px;
    @include discountText;
  }

  @media (max-width: 1240px) {
    margin-bottom: 30px;
    @include discountText;
    font-size: 18px;
  }

  @media (max-width: 1050px) {
    @include discountTextIpadMini;
    margin-bottom: 57px;
  }

  @media (max-width: 650px) {
    @include discountTextMobil;
    margin-bottom: 46px;
  }
}

.brand__button {
  @include buttonShop;
  margin-bottom: 0;

  @media (max-width: 1440px) {
    margin-bottom: 52px;
  }

  @media (max-width: 1240px) {
    margin-bottom: 0;
    margin-right: 20px;
  }

  @media (max-width: 1050px) {
    margin-bottom: 0;
    margin-right: 0;
  }
}

.candles__photo {
  max-width: 580px;
  max-height: 451px;

  @media (max-width: 1050px) {
    margin-bottom: 50px;
  }

  @media (max-width: 650px) {
    max-width: 320px;
    margin-bottom: 25px;
  }
}
