.card {
  width: $shopCardWidth;
  margin-right: 20px;
  margin-bottom: 50px;

  &__photo {
    height: $shopCardHeight;
    width: $shopCardWidth;
    object-fit: cover;
    margin-bottom: 20px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__name {
    margin-bottom: 10px;
    @include h5;
  }

  &__price {
    @include text2;
  }

}
