.card {
  display: flex;
  flex-direction: column;

  &__img {
    margin-bottom: 20px;

    @media (max-width: 850px) {
      width: 342px;
      height: 300px;
      object-fit: cover;
    }

    @media (max-width: 750px) {
      width: 280px;
      height: 248px;
      object-fit: cover;
    }

    @media (max-width: 650px) {
      width: 280px;
      height: 248px;
      object-fit: cover;
    }
  }

  &__name {
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: $semiBold;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $darkGrey;
  }

  &__price {
    margin-bottom: 20px;

    @include priceText;
  }
}
