.card {
  margin-bottom: 50px;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(n+3) {
    @media (max-width: 900px) {
      display: none;
    }
  }

  &:nth-child(n+2) {
    @media (max-width: 680px) {
      display: none;
    }
  }

  &__photo {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__name {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (max-width: $tabletSize) {
      font-size: 14px;
    }
  }

  &__price {
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $mainGreen;
  }
}
