.choose {
  position: relative;
  @include pageGrid;
  margin-bottom: 100px;

  @include onTablet {
    margin-bottom: 130px;
  }

  @include onDesktop {
    margin-bottom: 200px;

    &::before {
      position: absolute;
      content: "";
      margin-left: -50px;
      grid-row: 1;
      grid-column: 1 / 6;
      width: calc(100% + 50px);
      height: 1px;
      background-color: $c-green;
      opacity: 0.5;
    }

    &::after {
      position: absolute;
      content: "";
      right: -50px;
      grid-row: 2;
      grid-column: 6 / -1;
      width: calc(100% - 50px);
      height: 1px;
      background-color: $c-green;
      opacity: 0.5;
    }
  }

  @include onDesktopBig {
    &::before {
      margin-left: -130px;
      width: calc(100% + 130px);
    }

    &::after {
      right: -130px;
      width: calc(100% + 30px);
    }
  }

  &__title {
    grid-column: 1/ -1;
    @extend %h5;
    text-transform: uppercase;
    color: $c-green;

    @include onTablet {
      grid-column: 2 / 6;
      text-align: center;
    }

    @include onDesktop {
      padding-top: 105px;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 1.2px;
      grid-column: 7 / 11;
      text-align: left;
    }
  }

  &__content {
    align-self: center;
    display: none;
    @extend %text;
    color: $c-dark-grey;
    margin: 100px 0 100px;

    @include onDesktop {
      display: block;
      grid-row: 1;
      grid-column: 2 / 6;
    }
  }
}
