@import "utils";

.close-burger {
  display: block;
  width: 20px;
  height: 20px;

  outline: none;
  background: transparent;
  border: none;

  z-index: 11;

  @media (min-width: 1280px) {
    display: none;
  }

  &__line {
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;

    background: $background-color;

    &:first-child {
      transform: translateY(-50%) rotate(45deg);
    }

    &:last-child {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
