.btn {
  display: block;
  width: 100%;
  width: 280px;
  padding: 17px 0 17px;
  color: #F2F2F2;
  background-color: #333;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #333;
    background: #E4DFD3;
    color:#333;
  }
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #344F10;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  padding-top: 10px;
  transition: all .3s ease;
  text-transform: uppercase;

  &:hover {
    border-bottom: 1px solid #344F10;
  }
}

.title {
  width: 100%;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #344F10;
  margin-bottom: 40px;

  @include oniPad {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  min-width: 280px;

  @include oniPad {
    max-width: 714px;
  }

  @include onMobile() {
    max-width: 280px;
  }
}

.section {
  overflow: hidden;

  @include onMobile() {
    padding: 50px 0;
  }
}
