.company {

  &__logo {
    width: $logo-size;
    height: auto;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    @include textLink($c-green);

    &::after {
      position: absolute;
      content: "Witch of mountain winds";
      width: max-content;
      top: 50%;
      left: $logo-size + 12px;
      transform: translate(0, -50%);
    }
  }

}
