.composition {
  position: relative;

  &__sideImg {
    @include sideImg;
  }

  margin-bottom: $marginBetween;

  display: flex;
  justify-content: space-between;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (max-width: 1050px) {
      justify-content: space-between;
    }

    @media (max-width: 650px) {
      height: 550px;
    }

    @media (max-width: 500px) {
      height: 700px;
    }
  }

  &__link {
    @include textUC;
    color: $headers;
    height: 31px;
    position: relative;

    &:hover {
      &::after {
        content: "";
        height: 1px;
        width: 95px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $headers;
      }
    }
  }

  &__scheme {
    display: flex;

    @media (max-width: 800px) {
      width: 496px;
      overflow: hidden;
    }

    @media (max-width: 650px) {
      height: 550px;
      align-items: center;
    }

    @media (max-width: 600px) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-40%);
      width: 280px;
      overflow: hidden;
    }
  }
}

.scheme {
  display: grid;
  grid-template-columns: 1fr 85px;
  grid-template-rows: repeat(5, auto);
  gap: 20px 10px;
  grid-auto-flow: column;
  text-align: end;
  align-items: center;

  @media (max-width: 800px) {
    position: relative;
    left: 40px;
    grid-template-rows: repeat(5, 60px);
  }

  &__hide {
    @media (max-width: 950px) {
      display: none;
    }
  }

  &__line {
    width: 76px;
    height: 1px;
    background-color: $darkGrey;

    position: relative;
  }

  &__dot {
    width: 5px;
    height: 5px;
    background-color: $darkGrey;
    border-radius: 50%;

    position: absolute;
    right: -5px;
    bottom: -2px;
  }

  &__img {
    margin-left: 20px;
    height: 380px;

    @media (max-width: 800px) {
      margin-right: -100px;
    }
  }
}
