.company {

  &__logo {
    width: $logo-size;
    height: auto;

    @media screen and (max-width: 768px) {
      width: $logo-size / 2;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    @include textLink($c-green);

    &::after {
      position: absolute;
      content: "Witch of mountain winds";
      width: max-content;
      top: 50%;
      left: $logo-size + 12px;
      transform: translate(0, -50%);

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

}
