.contact-us {
  display: flex;
  justify-content: space-between;
  position: relative;

  padding-left: 130px;
  transition: padding $transition-duration;

  &__side-text {
    top: 40px;
    left: 130px;
  }

  &__text {
    margin-left: 100px;
    margin-right: 120px;
    width: 480px;
  }

  &__heading {
    line-height: 150%;
    text-transform: capitalize;
  }

  &__description {
    margin-top: 20px;
    width: 380px;

    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #333;
  }
}

@media screen and (min-width: $large-screen-breakpoint) {
  .contact-us {
    justify-content: center;

    &__text {
      margin-right: 220px;
    }
  }
}

@media screen and (max-width: $medium-screen-breakpoint) {
  .contact-us {
    padding-left: 50px;

    &__side-text {
      left: 50px;
    }
  }
}
