@import "utils";

.contacts {
  position: relative;

  &__inner {
    width: 100%;

    @media screen and (min-width: 769px) {
      width: 50%;
    }

    @media screen and (min-width: 1280px) {
      width: 37.5vw;
    }
  }

  &__title {
    text-transform: capitalize;
    color: $section-text-color;

    margin-bottom: 12px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 1.56vw;
    }
  }

  &__subtitle {
    width: 100%;
    margin-bottom: 20px;

    @media screen and (min-width: 1280px) {
      width: 29.69vw;
      margin-bottom: 1.56vw;
    }
  }

  &__picture {
    display: none;

    @media (min-width: 769px) {
      width: 47.91vw;

      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -27px;
    }

    @media (min-width: 1280px) {
      width: 42.97vw;
      right: -3.99vw;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
