.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px;

  @media (max-width: $tabletScreenBreakpoint) {
    padding: 27px;
  }

  @media (max-width: $mobileScreenBreakpoint) {
    padding: 20px;
  }
}
