.contacts {
  @include paddingInLine;

  &__wrapper {
    @include forWrapper;
    margin-bottom: 100px;
  }

  &__title {
    @include forTitles;
    padding-bottom: 10px;
  }

  &__description {
    padding-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }

  &__input {
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid $c-light-gray;
    padding-bottom: 5px;
    transition: all 0.3s;

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
    }

    &:hover::placeholder {
      color: $c-green;
    }

    &:hover {
      border-bottom: 1px solid $c-green;
    }
  }

  &__input--message {
    margin-top: 20px;
    resize: none;
  }

  &__btn {
    @include forButton;
  }
}
