.contact {
  @extend %maxWidth;
  height: 584px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  position: relative;

  @media (max-width: $mediaStopL) {
    margin-bottom: 100px;
    height: 409px;
  }

  @media (max-width: $mediaStopM) {
    margin-bottom: 60px;
  }
}

.contact__left {
  @extend %marginLeft;
  max-width: 480px;

  @media (max-width: $mediaStopL) {
    height: 409px;
  }

  @media (max-width: $mediaStopM) {
    max-width: 100%;
    width: 100%;
  }
}

.contact__caption {
  @include text($accentColor, 36px, 1.5);
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $mediaStopSpecial) {
    font-size: 24px;
  }

  @media (max-width: $mediaStopL) {
    max-width: 100%;
    margin-top: 0;
  }
}

.contact__description {
  max-width: 380px;
  @include text($mainTextColor, 24px, 1.5);
  text-transform: lowercase;
  margin-top: 20px;

  @media (max-width: $mediaStopL) {
    font-size: 18px;
  }
}

.contact__button {
  margin-top: 50px;

  @media (max-width: $mediaStopL) {
    margin-top: 30px;
  }
}

.contact__image {
  margin-right: -50px;

  @media (max-width: $mediaStopL) {
    width: 368px;
    height: 409px;
  }

  @media (max-width: $mediaStopM) {
    display: none;
  }
}

.contact__id {
  display: flex;
  align-items: center;
  @include text(rgba(52, 79, 16, 0.5), 14px, 1.3);
  letter-spacing: 0.05em;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 200px;
  left: -85px;
  text-transform: uppercase;

  @media (max-width: $mediaStopSpecial) {
    display: none;
  }
}

.contact__line {
  height: 1px;
  width: 100px;
  background-color: rgba(52, 79, 16, 0.5);
  margin-right: 10px;
}
