.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 480px;
  padding-right: 120px;

  &__title {
    @extend %h2;

    color: $c-green;
    padding-bottom: 20px;
  }

  &__text {
    @extend %h4;

    max-width: 380px;
    padding-bottom: 10px;

    text-transform: none;
  }

  &__image {
    height: 584px;
    width: 529px;

    align-self: right;
  }
  
  &__button {
    padding: 19px 59px;
    align-self: flex-end;
  }
}
