.contact {

  &__form-elements {
    background-color: #e5e5e5;
    border: none;
    margin-top: 25px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-transform: capitalize;
    color: #828282;
  }

  &__form-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
  }

  &__form-text {
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333;
  }

  &__form-button {
    margin-top: 49px;
    border: none;
    width: 280px;
    height: 60px;
    left: 20px;
    top: 4032px;
    background: #333;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #f2f2f2;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__big-container {
    display: flex;
  }
}

.label-line {
  position: relative;
}

.label-line::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -10px;
  left: 0;
  border-radius: 8px;
  background-color: #bdbdbd;
}
