.contact {
  &__position {
    @extend %blocks;
    width: 1077px;
    margin: 0 auto;
    padding: 250px 0 150px;

    @media screen and (max-width: 1225px) {
      width: auto;
      margin: 0 20px;

      flex-direction: column;
    }
  }

  &__block {
    margin-right: 100px;
    @media screen and (max-width: 1225px) {
      max-width: 900px;
    }

  }

  &__title {
    margin-top: 20px;
    text-transform: capitalize;
    @extend %heading_blocks;
  }

  &__text {
    font-size: 24px;
    line-height: 150%;
  }

  &__img {
    max-width: 550px;

    object-fit: cover;

    @media screen and (max-width: 1225px) {
      margin-top: 15px;
    }

    @media screen and (max-width: 400px) {
      object-fit: contain;
      height: 340px;
    }
  }
}
