@media (min-width: 320px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;

    &__bird-photo-644px {
      display: none;
    }

    &__bird-photo {
      display: none;
    }

    &__big-container {
      width: 90%;
    }
  }
}

@media (min-width: 644px) {
  .contact {
    margin-top: 130px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__form-container {
      width: 45%;
    }

    &__big-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 95%;
    }

    &__bird-photo-644px {
      display: flex;
      width: 45%;
      height: 460px;
      object-fit: cover;
    }
  }
}

@media (min-width: 1280px) {
  .label-line {
    margin-top: 20px;
  }

  .contact {
    &__bird-photo-644px {
      display: none;
    }

    &__bird-photo {
      display: unset;
      height: 584px;
    }

    &__form-container {
      height: 584px;
    }

    &__form-title {
      margin-top: 0;
      font-size: 40px;
      position: relative;
    }

    &__form-button {
      margin-top: 40px;
    }

    &__big-container {
      width: 95%;
    }

    &__form-title::after {
      content: "help";
      position: absolute;
      height: 18px;
      width: 192px;
      bottom: 90px;
      left: -130px;
      border-radius: 8px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      transform: rotate(271deg);
    }

    &__form-title::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      left: -84px;
      top: 115px;
      transform: rotate(90deg);
      background: rgba(52, 79, 16, 0.5);
    }

    &__form-text {
      width: 380px;
    }
  }
}
