.creators {
  padding: 100px 0;

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__text {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  &__heading {
    padding-top: 20px;

    font-size: 36px;
    line-height: 47px;
    color: #344f10;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }

  &__p {
    font-size: 16px;
    line-height: 150%;
    color: #333;
    margin-bottom: 30px;
  }

  &__link {
    max-width: 104px;
    padding-bottom: 12px;
    border-bottom: 1px solid #344f10;
    line-height: 23px;
    color: #1d4f10;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid #1d4f10;
  
      transition: all 0.2s;
    }
  }

  &__button {
    display: block;
    padding: 20px 63px;
    margin-top: 50px;
    width: 70%;
  }

  &__img {
    position: relative;
    left: 120px;
    
    background: url(../images/bird.png) center no-repeat;
    width: 60%;
    height: auto;
    background-size: cover;
  }
}

@media (max-width: $tablet) {
  .creators {
    padding: 50px 0;

    &__text {
      display: block;
    }

    &__heading {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0;
    }

    &__p {
      margin: 0;
      padding-top: 12px;

      &:nth-child(3) {
        padding-bottom: 20px;
      }

      &--invisible {
        display: none;
      }
    }

    &__img {
      width: 368px;
      height: auto;
      position: relative;
      left: 27px;
    }

    &__link {
      margin-top: 10px;
      width: 92px;
      font-size: 14px;
      line-height: 18px;
    }

    &__button {
      margin-top: 30px;
      width: 100%;
    }
  }
}

@media (max-width: $phone) {
  .creators {
    padding: 0 20px;

    &__img {
      display: none;
    }

    &__text {
      width: 100%;
    }
  }

  .products {

    &__title {
      margin-left: 20px;
    }

    &__subtitle {
      margin-left: 20px;
    }
  }
}
