.creator {
  &__position {
    @extend %blocks;
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 200px;

    @media screen and (max-width: 1225px) {
      padding-top: 100px;
      justify-content: space-between;
      margin: 0 20px;
    }

    @media screen and (max-width: 780px) {
      max-width: 320px;
      margin: 0 auto;
    }
  }

  &__title {
    width: 300px;
    @extend %heading_blocks;
    @media screen and (max-width: 1225px) {
      font-size: 24px;
      line-height: 150%;
      white-space: nowrap;
    }
  }

  &__block {
    max-width: 900px;
    margin-right: 80px;
    margin-top: 66px;
    @extend %text-block;

    @media screen and (max-width: 1225px) {
      width: 342px;
      margin-top: 0;
    }
  }

  &__header,
  &__main {
    margin-bottom: 30px;
  }

  &__footer {
    margin-bottom: 20px;

    @media screen and (max-width: 1225px) {
      display: none;
    }
  }

  &__btn {
    &--lern {
      display: block;
      margin-bottom: 50px;
      @extend %btn-lern;
    }

    &--contact {
      @extend %btn;
    }
  }

  &__images {
    &--big {
      width: 800px;
      background-image: url("../images/bird.png");
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (max-width: 1244px) {
        max-width: 500px;
      }

      @media screen and (max-width: 780px) {
        display: none;
      }
    }
  }
}
