.creators {
  @include paddingInLine;

  &__wrapper {
    @include forWrapper;
    margin-block: 100px;
  }

  &__title {
    @include forTitles;
    padding-bottom: 10px;
  }

  &__description {
    padding-bottom: 30px;
  }

  &__link {
    @include forLinks;
  }

  &__btn {
    margin-top: 25px;
    @include forButton;
  }
}
