.creator {
  &__position {
    @extend %blocks;
    width: 1077px;
    margin: 0 auto;
    padding-top: 200px;

    @media screen and (max-width: 1225px) {
      width: auto;
      margin: 0 20px;

      flex-direction: column;
    }
  }

  &__title {
    width: 300px;
    margin-top: 66px;
    @extend %heading_blocks;
  }

  &__block {
    max-width: 900px;
    margin-right: 80px;
    @extend %text-block;

    @media screen and (max-width: 1225px) {
      margin-bottom: 15px;
    }
  }

  &__header,
  &__main {
    margin-bottom: 30px;
  }

  &__footer {
    margin-bottom: 20px;
  }

  &__btn {
    &--lern {
      display: block;
      margin-bottom: 50px;
      @extend %btn-lern;
    }

    &--contact {
      @extend %btn;
    }
  }

  &__images {
    object-fit: cover;
    &-big {
      max-width: 600px;
      height: 669px;
    }

    @media screen and (max-width: 400px) {
      object-fit: contain;
    }
  }
}
