.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  &__text {
    // grid-column-start: 2;
        justify-self: center;

  }

  &__main {
    font-size: 60px;
    line-height: 120%;
    color: #333333;
  }

  &__image {
    // grid-column-start: 3;
    width: 577px;
    height: 451px;
    object-fit: contain;
  }

  &__sale {
    font-size: 22px;
    line-height: 130%;
  }

  &__shop {
    display: block;
    height: 60px;
    text-align: center;
    line-height: 60px;
    width: 280px;
    color: #F2F2F2;
    font-size: 16px;
    background-color: #333333;
  }

}

.description__image img {
  display: block;
  width: 100%;
}
