.drawings {
  padding-top: 201px;
  padding-right: 51px;

  &__title {
    margin-top: 65px;

    font-family: "Sharp Sans No2", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    color: #344f10;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__link {
    display: inline-block;
    margin-top: 139px;

    font-family: "Sharp Sans No2", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #344f10;
    text-transform: uppercase;

    &::after {
      content: "";
      display: block;
      margin-top: 12px;
      width: 100%;
      height: 1px;
      background-color: #344f10;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__scheme {
    display: flex;

    &-list {
      margin-top: 34px;
      padding-right: 119px;

      &-item {
        position: relative;
        // width: fit-content;
        
        text-align: end;
        font-family: "Sharp Sans No2", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #333;

        &:nth-child(even) {
          margin-bottom: 49px;
        }

        &:nth-child(odd):not(:last-child) {
          margin-bottom: 52px;
        }

        &::after {
          content: "";
          position: absolute;
          left: 105%;
          bottom: 50%;
          display: block;
          width: 76px;
          height: 1px;
          background-color: #333;

        }

        &::before {
          content: "";
          position: absolute;
          left: calc(105% + 76px);
          top: 39%;
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #333;
        }

      }
    }
  }

}
