.drawings-set {
  margin-top: 251px; //!!!
  display: grid;
  grid-template-columns: repeat(3,380px);
  gap: 20px;

  &__item {
    height: 107px;
    display: flex;
    flex-direction: column;
    align-content: center;

    &-text {

      display: block;

      font-family: "Sharp Sans No2", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;

    }

    &-img1 {
      margin-bottom: 44px;
    }

    &-img2 {
      margin-bottom: 19px;
    }

    &-img3 {
      margin-bottom: 24px;
    }

  }

}
