.eco-friendly {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Sharp Sans Display No2";
  justify-items: center;
  margin: 200px 0;

  &__tile {
    display: grid;
    grid-template-columns: fit-content(350px);
    grid-template-rows: 100px auto;
    justify-items: center;
    align-items: start;

    p {
      text-transform: uppercase;
      font-size: 14px;
      color: black;
      text-align: center;
    }
  }
}
