.eco {
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;

  @include onTablet {
    margin-bottom: 80px;
  }

  &__block {
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &_1 {
      background-image: url(/images/eco1.svg);
    }
  
    &_2 {
      background-image: url(/images/eco2.svg);
    }
  
    &_3 {
      background-image: url(/images/eco3.svg);
    }
  }

  &__caption {
    text-align: center;

    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5%;
  }
}