.entry {
  width: 100%;

  display: flex;
  justify-content: space-between;
  column-gap: 50px;

  &__textContainer {
    padding: 100px 0 0 150px;
    border-top: 1px solid $mainElementColor;
  }

  &__text {
    display: block;
    min-width: 250px;
    max-width: 380px;

    font-family: $mainFont;
    font-size: 16px;
    line-height: 150%;
    color: $secondTextColor;
  }

  &__titleContainer {
    padding: 105px 250px 100px 0;
    border-bottom: 1px solid $mainElementColor;
  }

  &__title {
    display: block;
    width: 380px;

    font-family: $mainBoldFont;
    font-size: 24px;
    line-height: 150%;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $mainTextColor;
  }
}

@media screen and (max-width: 1210px) {
  .entry {
    column-gap: 25px;
  }

  .entry__textContainer {
    padding: 50px 0 0 100px;
  }

  .entry__text {
    font-size: 14px;
  }

  .entry__titleContainer {
    padding: 50px 150px 50px 0;
  }

  .entry__title {
    font-size: 18px;
    max-width: 300px;
  }
}
