.environmental-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 280px;
  @include onTab {
    width: min-content;
  }

  &__daed_bird {
    display: block;
    height: 59px;
    width: 62px;
  }
  &__rows {
    display: block;
    height: 84px;
    width: 100px;
  }
  &__leaves {
    display: block;
    height: 73px;
    width: 79px;
    
  }

  &__name {
    margin-top: 20px;
    width: 218px;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    @include onDesktop {
      width: 380px;
    }
  }
}
