.environmentalism__main {
  margin-bottom: 200px;

  @media (max-width: 950px) {
    margin-bottom: calc(200px / 2);
  }

  @media (max-width: 650px) {
    margin-bottom: calc(200px / 3);
  }
}

.environmentalism {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: 70px, 20px;
  justify-content: center;
  text-align: center;
  gap: 41px 20px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 258px);
    gap: 31px 25px;
  }

  @media (max-width: 950px) {
    grid-template-columns: repeat(3, 190px);
    gap: 23px 30px;
  }

  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .environmentalism__img-one {
      order: 1;
    }
    
    .environmentalism__img-two {
      order: 3;
    }

    .environmentalism__img-three {
      order: 5;
    }

    .environmentalism__text-one {
      order: 2;
    }

    .environmentalism__text-two {
      order: 4;
    }

    .environmentalism__text-three {
      order: 6;
    }
  }

  &__img {
    max-width: 70px;
    max-height: 70px;
    margin-left: 50%;
    transform: translate(-50%, 0);

    @media (max-width: 650px) {
      // margin-bottom: 20px;
      margin-left: 25%;
      transform: translate(-50%, 0);

    }
  }

  &__text {
    @include decorateText;

    @media (max-width: 950px) {
      @include decorateText_1;
    }

    @media (max-width: 650px) {
      max-width: 280px;
      margin-bottom: 50px;
    }
  }
}
