.features {
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  display: grid;
  grid-template-columns: repeat(3, minmax(218px, 380px));
  justify-content: space-between;
  grid-column-gap: 20px;

  &__block {
    height: 100%;
    box-sizing: content-box;
  }

  &__title {
    padding-top: 20px;
  }

  &__img {
    height: 84px;
    object-fit: none;
    object-position: top;
  }
}

@media screen and(max-width: $mobile-screen-width) {
  .features {
    grid-template-columns: 280px;
    justify-content: center;
    grid-row-gap: 50px;
  }
}
