@font-face {
  font-family: "Sharp Sans Display No2";
  src: url(../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Medium.otf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans Display No2";
  src: url(../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Medium_Oblique.otf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Sharp Sans Display No2";
  src: url(../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Semibold.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans Display No2";
  src: url(../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Semibold_Oblique.otf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir/Avenir.ttc);
}
