@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir_Book.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir_Heavy.ttf") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sharp_Sans_No2_";
  src: url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_bold.otf") format("woff");
  font-weight: 700;
  font-style: normal;
}
