@font-face {
  font-family: "Aviner";
  src: url("../fonts/Avenir/Avenir.ttc") format("ttc");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans";
  src: url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Black.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin: 0;
}
