.footer {
  background-color: $colorKhakiLight;
  color: $colorFooter;
  padding: 60px 100px 60px 50px;
  display: flex;
  justify-content: space-between;

  @include onMobile {
    position: relative;
    padding: 30px;
    flex-direction: column;
  }

  &__wrapper {
    @include onMobile {
      position: absolute;
      bottom: 0;
      text-align: center;
      padding-bottom: 20px;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    color: $colorFooter;
    margin-right: 40px;
    transition: 0.4s;

    @include onTablet {
      margin-bottom: 20px;
      display: block;
    }
    &:hover {
      color: $colorKhaki;
    }
  }

  &__copyright-name {
    &::after {
      content: "©";
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;

    &-link {
      margin-bottom: 20px;
      color: $colorFooter;
      transition: 0.4s;

      &:hover {
        color: $colorKhaki;
      }

      @include onMobile {
        order: 2;
      }
    }
  }

  &__schedule {
    @include onMobile {
      order: 3;
      padding-bottom: 70px;
    }
  }

  &__network-link {
    margin-top: 30px;
    display: inline-block;
    width: 20px;
    height: 20px;

    background-size: contain;
    background-repeat: no-repeat;

    @include onMobile {
      order: 1;
      margin-top: 0;
      margin-bottom: 20px;
    }
    
    &_1 {
      margin-right: 15px;
      background-image: url(/images/facebook.svg);
    }

    &_2 {
      background-image: url(/images/inst.svg);
    }
  }
}
