@media (min-width: 320px) {
  .footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__big-container {
      width: 90%;
    }

    &__details-container {
      display: flex;
      flex-direction: column;
    }

    &__smaller-container {
      display: flex;
      flex-direction: column;
    }

    &__links-copyright {
      display: none;
    }

    &__links-copyright-text {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      text-align: center;
      color: #e4dfd3;
    }

    &__first {
      order: 1;
    }

    &__copyright {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__second {
      order: 2;
      margin-top: 40px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #e4dfd3;
    }

    &__icon-container-after-about {
      display: none;
    }

    &__third {
      order: 3;
    }

    &__fourth {
      order: 4;
    }

    &__fifth {
      order: 5;
    }
  }
}

@media (min-width: 644px) {
  .footer {
    &__icon-container {
      display: none;
    }

    &__icon-container-after-about {
      display: flex;
    }

    &__smaller-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__big-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__links-copyright-text {
      text-align: left;
    }

    &__links-copyright {
      display: flex;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #e4dfd3;
      margin-right: 4px;
    }

    &__copyright {
      text-align: left;
      box-sizing: border-box;
    }
  }
}

@media (min-width: 1280px) {
  .footer {
    &__icon-container-after-about {
      display: none;
    }

    &__links-container {
      display: flex;
      flex-direction: row;
    }

    &__smaller-container {
      align-items: flex-start;
    }

    &__second {
      margin-top: 18px;
    }

    &__icon-container {
      display: flex;
      order: 5;
    }

    &__links-link {
      margin-right: 40px;
    }
  }
}
