.form {
  &__input {
    width: 100%;
    background-color: $bgColor;
    color: $basicColorLighter;
    border-bottom: 1px solid $basicColorLighter;
    padding-bottom: 10px;
    margin-bottom: 30px;
    @include inputAndMenu;

    @media (max-width: $tabletScreenBreakpoint) {
      padding-bottom: 5px;
      margin-bottom: 25px;
    }

  }

  &__textarea {
    resize: none;
    @include inputAndMenu;
    margin-bottom: 50px;

    @media (max-width: $tabletScreenBreakpoint) {
      margin-bottom: 30px;
    }
  }
}
