.gallery {
  display: flex;
  color: $btn-color;

  @media screen and (max-width: 1225px) {
    flex-direction: column;
    max-width: 380px;
    margin: auto;
  }

  &__oil,
  &__cream {
    margin-right: 20px;
  }

  &__title {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__price {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__img {
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
  }
}
