*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Sharp Sans No2 Semibold", sans-serif;
}

html,
body,
p,
div,
nav,
ul,
li,
a,
h1,
h2,
h3,
button {
  margin: 0;
  padding: 0;
}
