.gift {

  &__title {
    color: #344f10;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 40px;
    grid-column: 1 / -1;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      font-size: 24px;
      grid-column: 8 / 12;
      text-align: left;
      margin-top: 0;
    }
  }

  &__content {
    display: none;

    @include onDesktop {
      display: block;
      grid-column: 2 / 6;
      margin-top: 0;
    }
  }

  &__line--top {
    display: none;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
    width: 530px;
    grid-row: 1;

    @include onDesktop {
      display: block;
    }
  }

  &__line--bottom {
    display: none;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
    width: 630px;
    grid-row: 1;
    margin-left: auto;

    @include onDesktop {
      display: block;
    }
  }

  &__grid {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);

    @include onDesktop {
      --columns: 12;
      padding-block: 100px;
    }
  }
}
