.grid {
  display: grid;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }

  @include iPad {
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }

  @include Desk {
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
  }

  &--change {
    display: block;

    @include iPad {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} /#{$end + 1};
        }

        &--iPad-#{$start}-#{$end} {
          @include iPad {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--Desk-#{$start}-#{$end} {
          @include Desk {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
