@media (min-width: 320px) {

  .container-head {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
    &__description-bigContainer {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }

    &__links-container {
      display: none;
    }

    &__description-smallContainer {
      margin-top: 25px;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__description-title {
      margin: 0;
      text-align: center;
      font-size: 24px;
      width: 280px;
    }

    &__links-link {
      display: none;
    }

    &__content-title {
      display: none;
    }

    &__bigPhoto {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

@media (min-width: 640px) {
  .header {
    &__bigPhoto {
      width: 95%;
    }

    &__description-title {
      width: 466px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 150%;
      text-align: left;
      text-transform: capitalize;
      color: #333;
    }
  }
}

@media (min-width: 1280px) {
  .burger-icon {
    display: none;
  }

  .container-head {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .header {
    &__description-smallContainer {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__logo-container {
      display: flex;
    }

    &__links-container {
      display: flex;
    }

    &__description-bigContainer {
      width: 90%;
      display: flex;
      flex-direction: row;
    }

    &__content {
      width: 100%;
    }

    &__links-link {
      display: flex;
    }

    &__content-title {
      display: flex;
    }
  }
}
