.heading {
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $highlight-color;
  font-weight: 600;
  font-size: 36px;

}

@media screen and(max-width: $tablet-screen-width) {
  .heading {
    font-size: 24px;
  }
}
