.header {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(min-content, 1fr);
  align-items: center;
  font-family: "Sharp Sans Display No2", sans-serif;

  &--position {
    padding: 40px 50px;
  }

  &__logo {
    justify-self: start;
  }

  &__nav {
    justify-self: center;

    &--color {
      color: $headings-color;
    }
  }

  &__cart {
    justify-self: end;
    width: 20px;
    height: 24px;
  }
}
