.heading {
  display: flex;
  justify-content: space-between;

  &__info {
    margin-left: 100px;
    margin-right: 20px;
  }

  &__main-heading {
    width: 480px;
    margin-bottom: 20px;
  }

  &__additional-info {
    margin-bottom: 50px;

    font-family: Avenir-Book, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    color: #333;
  }

  &__button {
    font-family: Avenir-Book, sans-serif;
  }
}

@media screen and (min-width: $large-screen-breakpoint) {
  .heading {
    justify-content: center;

    &__info {
      margin-right: 100px;
    }
  }
}
