.favicon {
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .header {
    padding-bottom: 200px;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .header__top {
    padding: 52px 0;
  }
}

.header__top-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__top-logo-img {
  width: 24px;
  height: 24px;
}
@media (min-width: 1024px) {
  .header__top-logo-img {
    width: 50px;
    height: 50px;
  }
}

.header__top-logo-text {
  text-decoration: none;
  color: #344f10;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  display: none;
}
@media (min-width: 1024px) {
  .header__top-logo-text {
    display: block;
  }
}

.header__top-menu-icon,
.header__top-cart-icon {
  width: 20px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__top-menu-icon {
  background-image: url("../images/Menu.svg");
}
@media (min-width: 1024px) {
  .header__top-menu-icon {
    display: none;
    width: 32px;
    height: 32px;
  }
}

.header__top-cart-icon {
  background-image: url("../images/shop.svg");
}
@media (min-width: 1024px) {
  .header__top-cart-icon {
    width: 32px;
    height: 32px;
  }
}

.header__top-menu {
  list-style: none;
  margin: 0;
  padding: 0 0 0 15px;
  display: none;
  flex-direction: row;
  gap: 40px;
}
@media (min-width: 1024px) {
  .header__top-menu {
    display: flex;
  }
}

.header__top-menu-item {
  height: 100%;
}

.header__top-menu-link {
  text-decoration: none;
  color: #344f10;
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
}

.header__top-menu-link:hover {
  border-bottom: 1px solid #344f10;
}

.header__image {
  display: block;
  width: calc(100% + 40px);
  min-height: 267px;
  margin-left: -20px;
}
@media (min-width: 744px) {
  .header__image {
    width: 100%;
    margin: 0;
    min-height: 500px;
  }
}
@media (min-width: 1024px) {
  .header__image {
    display: none;
  }
}

.header__title {
  text-align: center;
  padding-top: 25px;
}
@media (min-width: 744px) {
  .header__title {
    padding-top: 50px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    padding-top: 0;
    text-align: left;
    padding-left: 100px;
  }
}

.header__info {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
@media (min-width: 744px) {
  .header__info {
    padding-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .header__info {
    padding-top: 15px;
    text-align: left;
    padding-left: 100px;
  }
}

.header__button {
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .header__button {
    justify-content: start;
    padding-left: 100px;
  }
}
@media (min-width: 1024px) {
  .header__content {
    display: flex;
    flex-direction: row;
  }
}

.header__content-right {
  display: none;
}
@media (min-width: 1024px) {
  .header__content-right {
    display: block;
    width: 50%;
  }
}

.header__content-right-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__content-left {
  width: 100%;
}

@media (min-width: 1024px) {
  .header__content-left {
    width: 50%;
  }
}
/*# sourceMappingURL=header.css.map */
