.header {
  background-color: $c-beige;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include iPadMini {
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.1);
  }

  &__nav {
    height: $header-h;
    @include iPadMini {
      height: $header-h / 2;
      order: -1;
    }
  }

  &__shop {
    &:hover {
      animation: bell 1s ease-in;
    }
  }
}

@keyframes bell {
  0% {
    transform: rotate(-30deg) scale(1.1);
  }

  50% {
    transform: rotate(15deg) scale(1.2);
  }

  100% {
    transform: rotate(-5deg) scale(1.1);
  }
}
