.help {
  display: flex;

  &__contents {
    align-self: flex-end;
    bottom: 150px + $contents-h;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__content {
    max-width: $general-text-w;
  }

  &__title {
    @include titleMain;
    text-transform: capitalize;
  }

  &__text {
    margin-bottom: 20px;
    font-family: "Sharp-Sans", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }

  &__form {
    margin-bottom: 50px;
  }
}
