.help {
  display: flex;

  &__contents {
    align-self: flex-end;
    bottom: 150px + $contents-h;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    column-gap: $gap-column-t-i;
  }

  &__content {
    max-width: $general-text-w;
  }

  &__title {
    @include titleMain;
  }

  &__text {
    margin-bottom: 20px;
    font-family: "Sharp-Sans", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;

    @include iPadMini {
      font-size: 16px;
    }
  }

  &__form {
    margin-bottom: 50px;

    @include iPadMini {
      margin-bottom: 25px;
    }
  }

  &__img {
    width: $help-img-w;
    height: auto;
    object-fit: cover;

    @include tablet {
      width: $image-mobile-w;
      height: auto;
    }

    @include mobile {
      display: none;
    }
  }
}
