.home {
  @media (min-width: 1280px) {
    display: flex;
    flex-direction: row-reverse;
  }

  &__img {
    height: 267px;
    width: 100vw;
    margin-bottom: 25px;
    transform: translateX(-20px);

    background: url("../images/face-creams-home.png") no-repeat center;
    background-size: cover;

    @media (min-width: 768px) {
      height: 500px;
      width: 100%;
      margin-bottom: 50px;
      transform: translateX(0);
    }

    @media (min-width: 1280px) {
      width: 50%;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 130%;
    text-align: center;

    width: 280px;
    margin: 0 auto;

    @media (min-width: 768px) {
      font-size: 36px;

      width: 466px;
      margin-bottom: 20px;
    }

    @media (min-width: 1280px) {
      font-size: 4.68vw;
      line-height: 5.62vw;
      text-align: left;

      width: 37.5vw;
      margin: 0 0 2.34vw;
    }
  }

  &__title-break-point {
    display: none;

    @media (min-width: 1280px) {
      display: block;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 150%;
    text-align: center;

    width: 279px;
    margin: 0 auto 20px;

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media (min-width: 1280px) {
      font-size: 1.71vw;
      line-height: 130%;
      text-align: left;

      width: auto;
      margin: 0 0 4.06vw;
    }
  }

  &__btn {
    margin: 0 auto;

    @media (min-width: 1280px) {
      margin: 0;
    }
  }
}
