.icons {
  &__logo {
    width: 24px;
    height: 24px;

    @include on-desktop {
      width: 50px;
      height: 50px;
    }
  }

  &__shop {
    width: 20px;
    height: 24px;

    @include on-tablet {
      width: 24px;
    }

    @include on-desktop {
      width: 32px;
      height: 32px;
    }
  }

  &__menu {
    width: 15px;
    height: 15px;

    @include on-desktop {
      display: none;
    }
  }
}
