.icon {
  width: 380px;

  &__picture {
    margin: auto;
    width: 82px;
    height: 75px;

    background-repeat: no-repeat;
    background-position: center;

    &--bird {
      background-image: url(../images/icons/bird_icon.svg);
    }

    &--recycle {
      background-image: url(../images/icons/processing_icon.svg);
    }

    &--natural {
      background-image: url(../images/icons/leave_icon.svg);
    }
  }

  &__text {
    margin-top: 40px;

    font-weight: bold;
    font-size: 14px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000;
  }
}
