// @import "./icon-fonts/variables.scss";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src:
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?o3q5gc") format("truetype"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?o3q5gc") format("woff"),
    url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?o3q5gc##{$icomoon-font-family}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-bird {
  &:before {
    content: $_icon-bird; 
  }
}

._icon-close {
  &:before {
    content: $_icon-close; 
  }
}

._icon-facebook {
  &:before {
    content: $_icon-facebook; 
  }
}

._icon-instagram {
  &:before {
    content: $_icon-instagram; 
  }
}

._icon-leaves {
  &:before {
    content: $_icon-leaves; 
  }
}

._icon-logo {
  &:before {
    content: $_icon-logo; 
  }
}

._icon-menu {
  &:before {
    content: $_icon-menu; 
  }
}

._icon-recycling {
  &:before {
    content: $_icon-recycling; 
  }
}

._icon-shop {
  &:before {
    content: $_icon-shop; 
  }
}
