.info {
  justify-content: space-between;
  align-items: baseline;
  margin-left: -$mainPaddingLeft;

  &__text {
    border-top: 1px solid #000;
    width: 50%;
    margin-right: 120px;
    padding-top: $infoVerticalPadding;
    padding-left: $mainPaddingLeft;
  }

  &__heading {
    max-width: 50%;
    padding-right: 250px;
    padding-bottom: $infoVerticalPadding;
    border-bottom: 1px solid #000;
    @include h4;
  }
}
