.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and(max-width: $mobile-screen-width) {
  .info {
    &__email,
    &__tel {
      padding-top: 12px;
    }

    &__schedule {
      padding-top: 20px;
    }

    &__copyright_mobile {
      display: flex;
      align-self: center;
    }
  }
}
