.information {
  display: flex;
  column-gap: 130px;
  justify-content: flex-start;

  @include iPadMini {
    justify-content: center;
  }

  &__wrapper {
    display: flex;

    &:first-child {
      border-top: 1px solid #{"#{$c-green}"+"80"};
      flex-grow: 1;
      justify-content: flex-end;

      @include iPadMini {
        display: none;
      }
    }

    &:last-child {
      border-bottom: 1px solid #{"#{$c-green}"+"80"};
      flex-grow: 2;
      justify-content: flex-start;

      @include iPadMini {
        text-align: center;
        border-bottom: 0;
        justify-content: center;
      }

      @include iPhoneSE {
        text-align: left;
        padding: 15px;
      }
    }
  }

  &__text {
    padding: 100px 0 100px 150px;
    line-height: 1.5;
    max-width: $general-text-w;

    @include tablet {
      padding-left: 50px;
    }
  }

  &__choice {
    padding-top: 100px;
    padding-bottom: 100px;

    max-width: $general-text-w;

    font-family: "Sharp-Sans", sans-serif;
    font-size: 24px;
    line-height: 1.15;
    color: $c-green;
    text-transform: uppercase;

    @include iPadMini {
      padding: 0;
    }
  }
}
