.information {
  display: flex;
  column-gap: 130px;
  justify-content: flex-start;

  &__wrapper {
    display: flex;
    &:first-child {
      border-top: 1px solid #{"#{$c-green}"+"80"};
      flex-grow: 1;
      justify-content: flex-end;

    }

    &:last-child {
      border-bottom: 1px solid #{"#{$c-green}"+"80"};
      flex-grow: 2;
      justify-content: flex-start;
    }
  }

  &__text {
    padding: 100px 0 100px 150px;
    max-width: $general-text-w;
  }

  &__choice {
    padding-top: 100px;
    padding-bottom: 100px;

    max-width: $general-text-w;

    font-family: "Sharp-Sans", sans-serif;
    font-size: 24px;
    line-height: 1.15;
    color: $c-green;
    text-transform: uppercase;
  }
}
