.ingredients {
  padding-right: $mainPaddingRight;
  display: flex;
  justify-content: space-between;
  position: relative;

  &__left {
    width: 20%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;

    @media (max-width: 1200px) {
      position: absolute;
    }

    @media (max-width: $tabletScreenBreakpoint) {
      height: 500px;
    }
  }

  &__title {
    margin-bottom: 140px;

  }

  &__right {
    display: flex;
    height: 500px;
    position: relative;
  }

  &__names {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 400px;
    align-self: center;

    @media (max-width: $tabletSmallScreenBreakpoint) {
      height: 300px;
    }
  }

  &__ingredient {
    display: flex;
    margin-right: 20px;
    text-align: end;

    @media (max-width: 1200px) {
      position: relative;
      right: -25vw;
    }

    @media (max-width: $tabletSmallScreenBreakpoint) {
      right: -35vw;

    }

    @media (max-width: $mobileScreenBreakpoint) {
      left: 20vw;
    }

    @media (max-width: $mobileScreenBreakpoint) {
      left: 25vw;
    }

    @media (max-width: 500px) {
      left: 15vw;
    }

    @media (max-width: 450px) {
      left: 10vw;
    }

    @media (max-width: 400px) {
      left: 5vw;
    }
  }

  &__name {
    margin-right: 20px;

  }

  &__picture {
    align-self: center;

    @media (max-width: 1200px) {
      position: absolute;
      left: 55vw;
    }

    @media (max-width: $tabletSmallScreenBreakpoint) {
      left: 70vw;
      height: 300px;
    }

    @media (max-width: $mobileScreenBreakpoint) {
      left: 60vw;
    }

    @media (max-width: 600px) {
      left: 70vw;
    }

    @media (max-width: 400px) {
      left: 65vw;
    }
  }
}
