.ingredients {
  display: flex;
  justify-content: space-between;
  padding: 100px 50px;
  max-width: 1350px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 250px;
    padding-left: 100px;
  }

  &__block {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }

  &__item {
    font-size: 16px;
    line-height: 150%;
    color: $text-grey;
  }

  &__pointer {
    position: relative;
    width: 76px;
    height: 1px;
    background-color: $text-grey;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;

    &::after {
      position: absolute;
      top: -2px;
      right: 0;
      content: "";
      width: 5px;
      height: 5px;
      background-color: $text-grey;
      display: block;
      border-radius: 50%;
    }
  }

  &__image {
    width: 382px;
    height: 399px;
    background-image: url("../images/ingredients.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
