.input {
  padding: 10px;
  @include Sharp(18px, 500, 1.6);
  color: $c-black;
  background: transparent;
  border-bottom: 1px solid $c-gray;

  @include iPadMini {
    font-size: 14px;
  }

  &:focus {
    border-color: $c-gray-dark;
  }

  &::placeholder {
    text-transform: capitalize;
    color: $c-gray;
  }
}
