.interest {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  &__fact {
    width: 610px;
    margin-right: 120px;
    border-top: 1px solid rgba(52, 79, 16, 0.5);
  }

  &__fact-text {
    width: 380px;
    padding: 100px 0 100px 230px;

    font-weight: bold;
    color: #333;

    transition: padding $transition-duration;
  }

  &__scroll-down {
    width: 710px;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid rgba(52, 79, 16, 0.5);
  }

  &__scroll-down-text {
    width: 360px;
    padding: 100px 350px 100px 0;

    font-weight: bold;
    font-size: 24px;
    color: #344f10;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    transition: padding $transition-duration;
  }
}

@media screen and (min-width: $large-screen-breakpoint) {
  .interest {
    justify-content: center;

    &__fact {
      margin-right: 220px;
      width: calc((100% - 220px) / 2 - 50px);
    }

    &__fact-text {
      padding-left: calc(100% - 380px);
    }

    &__scroll-down {
      width: calc((100% - 220px) / 2 + 50px);
    }
  }
}

@media screen and (max-width: $medium-screen-breakpoint) {
  .interest {
    &__fact-text {
      padding-left: 150px;
    }

    &__scroll-down-text {
      padding-right: 270px;
    }
  }
}
