.intro {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;

  &__text {
    border-top: 1px solid $text-green;
    font-size: 16px;
    line-height: 150%;
    color: $text-grey;
    margin-right: 60px;
    padding: 100px 0 100px 100px;
    width: 380px;
  }

  &__quote {
    border-bottom: 1px solid $text-green;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $text-green;
    margin-left: 60px;
    padding: 100px 150px 100px 0;
    width: 380px;
  }
}
