@media (min-width: 320px) {
  .jar {
    margin: 100px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__bigContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-title {
      width: 95%;
      margin: 0;
    }

    &__link {
      width: 95%;
    }

    &__jar-title {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
    }

    &__smallerContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__jar-jarFigure {
      margin: 21px 0 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    &__jar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }

    &__first-layer {
      width: 180px;
      border-top-right-radius: unset;
      position: relative;
    }

    &__first-layer::after {
      position: absolute;
      left: -90px;
    }

    &__first-layer::before {
      position: absolute;
      left: -35px;
      bottom: 38px;
    }

    &__third-layer::before {
      bottom: 35px;
      left: -65px;
    }

    &__third-layer::after {
      content: "Sivak";
      bottom: 23px;
      left: -115px;
    }

    &__fourth-layer::before {
      bottom: 23px;
      left: -55px;
    }

    &__fifth-layer::after {
      bottom: 120px;
      left: -110px;
    }

    &__fifth-layer::before {
      bottom: 143px;
      left: -35px;
    }

    &__fourth-layer::after {
      bottom: 0;
      left: -145px;
    }

    &__sixth-layer::after {
      bottom: 95px;
      left: -130px;
    }

    &__sixth-layer::before {
      bottom: 105px;
      left: -40px;
    }

    &__second-layer {
      width: 166px;
    }

    &__third-layer {
      width: 151px;
    }

    &__fourth-layer {
      width: 162px;
    }

    &__fifth-layer {
      width: 181px;
      border-bottom-right-radius: unset;
    }

    &__sixth-layer {
      width: 173px;
      border-bottom-right-radius: unset;
    }

    &__second-container {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 644px) {
  .jar {
    &__second-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__first-layer {
      width: 280px;
      border-top-right-radius: unset;
      position: relative;
    }

    &__first-layer::after {
      position: absolute;
      left: -90px;
    }

    &__first-layer::before {
      position: absolute;
      left: -35px;
      bottom: 38px;
    }

    &__third-layer::before {
      bottom: 35px;
      left: -72px;
    }

    &__third-layer::after {
      content: "Sivak";
      bottom: 23px;
      left: -120px;
    }

    &__fourth-layer::before {
      bottom: 23px;
      left: -52px;
    }

    &__fifth-layer::after {
      bottom: 120px;
      left: -118px;
    }

    &__fifth-layer::before {
      bottom: 143px;
      left: -38px;
    }

    &__fourth-layer::after {
      bottom: 0;
      left: -148px;
    }

    &__sixth-layer::after {
      bottom: 95px;
      left: -132px;
    }

    &__sixth-layer::before {
      bottom: 105px;
      left: -42px;
    }

    &__second-layer {
      width: 266px;
    }

    &__third-layer {
      width: 245px;
    }

    &__fourth-layer {
      width: 266px;
    }

    &__fifth-layer {
      width: 281px;
      border-bottom-right-radius: unset;
    }

    &__sixth-layer {
      width: 273px;
      border-bottom-right-radius: unset;
    }
  }
}

@media (min-width: 1280px) {
  .jar {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__bigContainer {
      width: 90%;
    }

    &__jar-title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-title {
      position: relative;
      width: 380px;
      margin: 0;
    }

    &__cards {
      margin-left: 40px;
      width: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__jar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__second-container {
      width: 90%;
      margin-top: 200px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    &__first-layer::after {
      position: absolute;
      left: -108px;
    }

    &__first-layer::before {
      position: absolute;
      left: -52px;
      bottom: 38px;
    }

    &__third-layer::before {
      bottom: 35px;
      left: -72px;
    }

    &__third-layer::after {
      content: "Sivak";
      bottom: 23px;
      left: -122px;
    }

    &__fourth-layer::before {
      bottom: 23px;
      left: -62px;
    }

    &__fifth-layer::after {
      bottom: 120px;
      left: -120px;
    }

    &__fifth-layer::before {
      bottom: 143px;
      left: -48px;
    }

    &__fourth-layer::after {
      bottom: 0;
      left: -148px;
    }

    &__sixth-layer::after {
      bottom: 95px;
      left: -142px;
    }

    &__sixth-layer::before {
      bottom: 105px;
      left: -58px;
    }

    &__first-layer {
      width: 360px;
      border-top-left-radius: 60% 20%;
      border-top-right-radius: 60% 20%;
      position: relative;
    }

    &__second-layer {
      width: 340px;
    }

    &__third-layer {
      width: 320px;
    }

    &__fourth-layer {
      width: 340px;
    }

    &__fifth-layer {
      width: 360px;
      border-bottom-left-radius: 90% 10%;
      border-bottom-right-radius: 90% 10%;
    }

    &__sixth-layer {
      width: 340px;
      border-bottom-left-radius: 90% 40%;
      border-bottom-right-radius: 90% 40%;
    }

    &-title::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100px;
      bottom: -100px;
      left: -80px;
      border-radius: 8px;
      background-color: rgba(52, 79, 16, 0.5);
      transform: rotate(90deg);
    }

    &-title::before {
      content: "Ingredients";
      position: absolute;
      height: 18px;
      width: 192px;
      bottom: 50px;
      left: -125px;
      border-radius: 8px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      transform: rotate(271deg);
    }
  }
}
