@media (min-width: 1280px) {
  .jar {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__bigContainer {
      width: 90%;
    }

    &__jar-title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: space-between;
    }

    &-title {
      width: 380px;
      margin: 0;
    }

    &__second-container {
      margin-top: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
