.jar {
  &__jar-jarFigure {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__jar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__first-layer {
    position: relative;
    border-top-left-radius: 60% 20%;
    border-top-right-radius: 60% 20%;
    border: 1px solid #344f10;
    height: 70px;
    width: 360px;
  }

  &__first-layer::after {
    content: "Kaolin";
    position: absolute;
    width: 76px;
    bottom: 28px;
    left: -190px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  &__first-layer::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 76px;
    bottom: 35px;
    left: -115px;
    border-radius: 8px;
    background-color: #333;
  }

  &__second-layer {
    position: relative;
    border: 1px solid #344f10;
    width: 330px;
    height: 30px;
  }

  &__third-layer::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 76px;
    bottom: 12px;
    left: -145px;
    border-radius: 8px;
    background-color: #333;
  }

  &__third-layer::after {
    content: "Sivak(Persian salvador)";
    position: absolute;
    width: 76px;
    bottom: -12px;
    left: -265px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  &__smallerContainer {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #344f10;
  }

  &-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
  }

  &__third-layer {
    position: relative;
    border: 1px solid #344f10;
    width: 300px;
    height: 20px;
  }

  &__fourth-layer {
    position: relative;
    border-top-left-radius: -20px;
    border-top-right-radius: -20px;
    border: 1px solid #344f10;
    width: 330px;
    height: 40px;
  }

  &__fourth-layer::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 76px;
    bottom: -25px;
    left: -130px;
    border-radius: 8px;
    background-color: #333;
  }

  &__fourth-layer::after {
    content: "Calcium-carbonate";
    position: absolute;
    width: 76px;
    bottom: -50px;
    left: -223px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  &__fifth-layer {
    position: relative;
    border-bottom-left-radius: 90% 10%;
    border-bottom-right-radius: 90% 10%;
    border: 1px solid #344f10;
    height: 220px;
    width: 360px;
  }

  &__fifth-layer::after {
    content: "Licorice root";
    position: absolute;
    width: 76px;
    bottom: 85px;
    left: -200px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  &__fifth-layer::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 76px;
    bottom: 110px;
    left: -112px;
    border-radius: 8px;
    background-color: #333;
  }

  &__sixth-layer {
    position: relative;
    border-bottom-left-radius: 90% 40%;
    border-bottom-right-radius: 90% 40%;
    border: 1px solid #344f10;
    height: 40px;
    width: 345px;
  }

  &__sixth-layer::after {
    content: "Turmeric";
    position: absolute;
    width: 76px;
    bottom: 65px;
    left: -200px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  &__sixth-layer::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 76px;
    bottom: 72px;
    left: -112px;
    border-radius: 8px;
    background-color: #333;
  }

  &__cards-text {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
  }
}
