.label {
  display: block;
  width: $labelTextWidth;
  height: 1px;
  background-color: $basicColorLighter;
  transform: rotate(-90deg);
  position: relative;
  left: -130px;
  top: 50%;

  &:before {
    display: inline-block;
    width: $labelWidth;
    position: relative;
    top: -10px;
    left: $labelTextWidth + 10px;
    text-transform: uppercase;
    color: $basicColorLighter;
  }

  &--shop-short {
    top: 500px;
  }

  &--about-brand:before {
    content: "witch of mountain winds";
  }

  &--shop:before {
    content: "shop";
  }

  &--about-the-creators:before {
    content: "about the creators";
  }

  &--ingredients:before {
    content: "ingredients";
  }

  &--help:before {
    content: "help";
  }
}
