.labels {
  display: flex;
  margin-bottom: $marginBetween;
  width: 1080px;
  justify-content: space-between;
  @include textUC;

  &__part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
