.labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: $marginBetween;

  @media (max-width: 1050px) {
    margin-bottom: $marginBetween / 2;
  }

  @media (max-width: 650px) {
    margin-bottom: $marginBetween / 3;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

  &__part {
    display: grid;
    grid-template-rows: 100px 40px;
    justify-items: center;

    max-width: 380px;

    @media (max-width: 600px) {
      margin-bottom: 50px;
    }
  }

  &__text {
    text-align: center;
    @include textUC;
  }
}
