.learn-more {
  position: relative;
  width: 100px;
  height: 31px;
  line-height: 130%;
  color: $headings-color;
  font-size: 14px;
  letter-spacing: 0.05em;

  &:hover::after {
    content: "";
    position: absolute;
    width: 92px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $headings-color;
  }
}
