.learnMore {
  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $highlight-color;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 12px;
  transition: border-color $hover-duration;

  &:hover {
    border-color: $highlight-color;
  }
}
