@import "utils";

.link {
  font-size: 14px;
  font-weight: bold;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $section-text-color;

  display: block;
  width: 81px;
  padding-bottom: 10.61px;
  border-bottom: 1px solid transparent;

  @include hover(border-bottom-color, $section-text-color);

  @media (min-width: 1280px) {
    font-size: 1.09vw;

    width: 6.32vw;
    padding-bottom: 0.83vw;
    border-bottom-width: 0.08vw;
  }
}
