.link {
  display: inline-block;
  width: fit-content;

  font-family: "Sharp Sans No2", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #344f10;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    margin-top: 12px;
    width: 100%;
    height: 1px;
    background-color: #344f10;
    opacity: 0;
    transition: opacity 1s;
  }

  &:hover {
    &::after {
      opacity: 0.8;
    }
  }
}
