.link {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $text-green;

  &::after {
    display: block;
    content: "";
    width: 96px;
    height: 1px;
    margin-top: 12px;
    background-color: $text-green;
  }
}
