.link-button {
  box-sizing: border-box;
  height: 60px;
  width: 280px;
  text-align: center;
  line-height: 60px;
  color: #f2f2f2;
  background-color: $text-grey;
  border: 1px solid $text-grey;
  font-family: "Sharp Sans Display No2", sans-serif;
  font-size: 16px;
  letter-spacing: 0.15em;

  @include hover_link-button;
}
