.logo {
  width: 249px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  @extend %textLogo;
  @extend %hoverLink;

  @media (max-width: $mediaStopL) {
    width: 50px;
    height: 50px;
  }

  @media (max-width: $mediaStopM) {
    width: 24px;
    height: 24px;
  }
}

.logo__image {
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/logo__image.svg");
}

.logo__text {
  @media (max-width: $mediaStopL) {
    display: none;
  }
}
