.logo {
  height: 50px;
  width: 50px;
  background: url(../images/logo.svg) no-repeat;
  background-size: contain;
  transition: $transfrom-duration;

  @media (max-width:$ipad-version-breakpoint) {
    height: 24px;
    width: 24px;
  }
}

.logo:hover {
  transform: scale(1.2);
}
