.logo {
  background-repeat: no-repeat;
  background-position: center;

  &__big {
    background-image: url(/images/logo.svg);
    width: $logoSize;
    height: $logoSize;
  }

  &__small {
    background-image: url(/images/logo-small.svg);
    width: $logoSizeSmall;
    height: $logoSizeSmall;
    display: none;
    justify-self: center;

    @media (max-width: $mobileScreenBreakpoint) {
      display: block;
    }
  }
}
