.main {
  display: flex;
  flex-direction: column;
}

.main__title--center {
  text-align: center;
}
@media (min-width: 744px) {
  .main__title--center {
    text-align: left;
  }
}

.main__learn-more {
  width: max-content;
  color: #344f10;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  padding-bottom: 10px;
  padding-top: 20px;
  transition: border-bottom 0.3s;
}

.main__learn-more:hover {
  border-bottom: 1px solid #344f10;
}

.main__sideblock {
  display: none;
}
@media (min-width: 1024px) {
  .main__sideblock {
    padding-right: 80px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 10px;
  }
}

.main__sideblock-text {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  height: max-content;
  width: 20px;
  color: #8c9772;
  text-transform: lowercase;
}

.main__sideblock-line {
  width: 1px;
  height: 100px;
  background-color: #344f10;
}

.main__quote {
  position: relative;
  display: flex;
  flex-direction: row;
}

.main__quote-decor-line-left,
.main__quote-decor-line-right {
  display: none;
  position: absolute;
  height: 1px;
  background: rgba(52, 79, 16, 0.5);
}
@media (min-width: 1024px) {
  .main__quote-decor-line-left,
  .main__quote-decor-line-right {
    display: block;
  }
}

.main__quote-decor-line-left {
  left: 0;
  top: 0;
  width: calc(50vw + 260px);
  margin-left: calc(10vw - 50%);
}

.main__quote-decor-line-right {
  right: 0;
  bottom: 0;
  width: calc(100% + 150px);
  margin-right: calc(10vw - 50%);
}
@media (min-width: 744px) {
  .main__quote {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .main__quote {
    justify-content: unset;
    padding-bottom: 200px;
  }
}

.main__quote-left {
  display: none;
}
@media (min-width: 1024px) {
  .main__quote-left {
    box-sizing: border-box;
    display: block;
    width: 50%;
    padding: 100px 0;
    padding-left: 100px;
    padding-right: 120px;
  }
}

.main__quote-right {
  padding: 100px 0;
  color: #344f10;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
@media (min-width: 744px) {
  .main__quote-right {
    padding: 130px 0;
    width: 280px;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .main__quote-right {
    padding: 100px 0;
    position: relative;
    width: 50%;
    text-align: left;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {
  .main__quote-text {
    width: 370px;
  }
}

.main__about {
  padding-bottom: 100px;
  display: flex;
  gap: 30px;
}
@media (min-width: 744px) {
  .main__about {
    padding-bottom: 130px;
  }
}
@media (min-width: 1024px) {
  .main__about {
    gap: 0;
    padding-bottom: 200px;
  }
}

.main__about-left {
  display: flex;
}
@media (min-width: 744px) {
  .main__about-left {
    width: 50%;
    padding-top: 10px;
  }
}
@media (min-width: 1024px) {
  .main__about-left {
    width: 50%;
  }
}

.main__about-left-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .main__about-left-content {
    padding-right: 120px;
  }
}

.main__about-left-content-text {
  padding-top: 10px;
  padding-bottom: 30px;
}

.main__about-left-content-text-2 {
  display: none;
}
@media (min-width: 1024px) {
  .main__about-left-content-text-2 {
    display: block;
  }
}

.main__about-right {
  display: none;
}
@media (min-width: 744px) {
  .main__about-right {
    display: block;
    width: 50%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
@media (min-width: 1024px) {
  .main__about-right {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
  }
}

.main__about-right-image1 {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 67%;
  object-position: 67%;
}
@media (min-width: 1024px) {
  .main__about-right-image1 {
    min-width: 380px;
    height: 529px;
  }
}

.main__about-right-image2 {
  width: 100%;
  display: none;
  height: 430px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .main__about-right-image2 {
    display: block;
  }
}

.main__shop {
  display: flex;
  padding-bottom: 100px;
}
@media (min-width: 744px) {
  .main__shop {
    padding-bottom: 130px;
  }
}
@media (min-width: 1024px) {
  .main__shop {
    padding-bottom: 200px;
  }
}

.main__shop-content {
  width: 100%;
}
@media (min-width: 744px) {
  .main__shop-products {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.main__shop-products-image {
  display: block;
  width: calc(100% + 40px);
  min-height: 267px;
  margin-left: -20px;
}
@media (min-width: 744px) {
  .main__shop-products-image {
    margin: 0;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.main__shop-products-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 0.3s;
  transition-property: transform;
}

.main__shop-products-left:hover {
  transform: scale(105%);
}
@media (min-width: 744px) {
  .main__shop-products-left {
    width: 50%;
  }
}

.main__shop-products-right {
  display: none;
  transition: 0.3s;
  transition-property: transform;
}

.main__shop-products-right:hover {
  transform: scale(105%);
}
@media (min-width: 744px) {
  .main__shop-products-right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

.main__shop-products-title,
.main__shop-products-price {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.main__shop-products-title {
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}

.main__shop-products-price {
  font-weight: 500;
}

.main__shop-category {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
@media (min-width: 744px) {
  .main__shop-category {
    justify-content: left;
    gap: 30px;
  }
}

.main__shop-category-item {
  margin: 0;
}

.main__shop-category-link {
  border-bottom: 2px solid transparent;
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 10px;
  text-decoration: none;
  color: #828282;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.main__shop-category-link:hover {
  color: #333;
  border-bottom: 2px solid #333;
}

.main__shop-button {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
@media (min-width: 744px) {
  .main__shop-button {
    padding-top: 50px;
  }
}

.main__creators {
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
}
@media (min-width: 744px) {
  .main__creators {
    gap: 30px;
    padding-bottom: 130px;
  }
}
@media (min-width: 1024px) {
  .main__creators {
    gap: 0;
    padding-bottom: 200px;
  }
}

.main__creators-left {
  display: flex;
  flex-direction: row;
}
@media (min-width: 744px) {
  .main__creators-left {
    width: 50%;
  }
}

.main__creators-left-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .main__creators-left-content {
    padding-right: 120px;
  }
}

.main__creators-right {
  display: none;
  width: 50%;
}
@media (min-width: 744px) {
  .main__creators-right {
    display: block;
  }
}

.main__creators-right-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main__creators-text {
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__creators-text-desktop {
  display: none;
}
@media (min-width: 1024px) {
  .main__creators-text-desktop {
    display: block;
  }
}

.main__creators-text:last-child {
  padding-bottom: 30px;
}

.main__creators-button {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
@media (min-width: 744px) {
  .main__creators-button {
    justify-content: left;
  }
}

.main__powder {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
@media (min-width: 744px) {
  .main__powder {
    padding-bottom: 130px;
  }
}
@media (min-width: 1024px) {
  .main__powder {
    padding-bottom: 200px;
  }
}
@media (min-width: 744px) {
  .main__powder-learn-more {
    position: absolute;
    bottom: 0;
  }
}

.main__powder-firstblock {
  display: flex;
}

.main__powder-firstblock-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 744px) {
  .main__powder-firstblock-content {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .main__powder-firstblock-content {
    justify-content: space-between;
  }
}
@media (min-width: 744px) {
  .main__powder-firstblock-content-title {
    min-width: 342px;
  }
}

.main__powder-ingredients {
  display: flex;
  flex-direction: row;
  gap: 11px;
}
@media (min-width: 744px) {
  .main__powder-ingredients {
    justify-content: right;
  }
}

.main__powder-img {
  height: 382px;
}

.main__powder-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.main__powder-list-item {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 25px;
  padding-bottom: 50px;
  min-width: max-content;
}

.main__powder-list-item:last-child {
  padding-bottom: 0;
}

.main__powder-info {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 744px) {
  .main__powder-info {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding-top: 130px;
  }
}
@media (min-width: 1024px) {
  .main__powder-info {
    padding-top: 200px;
  }
}

.main__powder-info-img {
  display: block;
  width: 80px;
  height: 80px;
}

.main__powder-info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 744px) {
  .main__powder-info-block {
    width: 33%;
    justify-content: flex-start;
  }
}

.main__powder-info-title {
  line-height: 130%;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}

.main__contact {
  display: flex;
  padding-bottom: 100px;
  gap: 30px;
}
@media (min-width: 744px) {
  .main__contact {
    flex-direction: row;
    padding-bottom: 132px;
  }
}
@media (min-width: 1024px) {
  .main__contact {
    gap: 0;
  }
}

.main__contact-left {
  display: flex;
}
@media (min-width: 744px) {
  .main__contact-left {
    width: 50%;
  }
}

.main__contact-left-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .main__contact-left-content {
    padding-right: 120px;
  }
}

.main__contact-right {
  display: none;
  width: 50%;
}
@media (min-width: 744px) {
  .main__contact-right {
    display: block;
  }
}

.main__contact-right-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}

.main__contact-text {
  padding-top: 10px;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .main__contact-text {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.main__contact-form {
  display: flex;
  flex-direction: column;
}

.main__contact-form-input {
  color: #344f10;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 5px;
  padding-top: 20px;
}
@media (min-width: 1024px) {
  .main__contact-form-input {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 25px;
  }
}

.main__contact-form-input::-moz-placeholder {
  color: #828282;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}

.main__contact-form-input::placeholder {
  color: #828282;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}
@media (min-width: 1024px) {
  .main__contact-form-input::-moz-placeholder {
    font-size: 18px;
  }
  .main__contact-form-input::placeholder {
    font-size: 18px;
  }
}

.main__contact-form-input:focus {
  border-bottom: 1px solid #333;
}

.main__contact-form-input:focus:invalid {
  border-bottom: 1px solid red;
  color: red;
}

.main__contact-form-input--message {
  padding-top: 45px;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .main__contact-form-input--message {
    padding-top: 60px;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=main-content.css.map */
