/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

.visible {
  display: block;
  height: 100vh;
  opacity: 1;
  background-image: url("../images/logo(big).svg");
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
  animation: pulse 2s ease-in-out infinite;
  transition: opacity;
}

.non--visible {
  opacity: 0;
  transition: opacity 5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.section {
  animation: appear 3s;
}
@media (min-width: 768px) {
  .section {
    padding-left: 27px;
    padding-right: 27px;
  }
}
.section__menu {
  padding: 20px 20px 20px;
}
@media (min-width: 768px) {
  .section__menu {
    padding-left: 27px;
    padding-right: 27px;
  }
}
@media (min-width: 768px) {
  .section__main {
    padding: 0 27px;
  }
}
@media (min-width: 1280px) {
  .section__main {
    padding: 0;
  }
}
.section__footer {
  padding: 20px 20px;
}
@media (min-width: 768px) {
  .section__footer {
    padding-left: 27px;
    padding-right: 27px;
  }
}
@media (min-width: 1280px) {
  .section__footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  --columns: 2;
  --gap: 20px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: var(--gap);
}
@media (min-width: 768px) {
  .header {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) {
  .header {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1440px) {
  .header {
    --columns: 12;
    --gap: 20px;
  }
}
.header__topbar {
  grid-column: 1/-1;
}
.header__greeting {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 130px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
  }
}
.header__allProd {
  margin-bottom: 30px;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .greeting {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .greeting {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .greeting {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .greeting {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .greeting {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    align-items: flex-start;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .greeting {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .greeting {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .greeting {
    --columns: 12;
    --gap: 20px;
  }
}
.greeting__img {
  width: 100%;
  display: block;
  margin: 0 0 25px;
  animation: slideLeft 2s;
}
@media (min-width: 768px) {
  .greeting__img {
    grid-column: 1/-1;
    width: 100%;
    margin: 0 0 25px;
  }
}
@media (min-width: 1280px) {
  .greeting__img {
    display: flex;
    grid-column: 7/-1;
  }
}
.greeting__info {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .greeting__info {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    padding: 0;
    grid-column: 2/6;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .greeting__info {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .greeting__info {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .greeting__info {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .greeting__info {
    align-items: flex-start;
    grid-row: 1;
    grid-column: 1/7;
  }
}
.greeting__info__heading {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  animation: slideRight 2s;
}
@media (min-width: 768px) {
  .greeting__info__heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    grid-column: 1/-1;
  }
}
@media (min-width: 1280px) {
  .greeting__info__heading {
    font-size: 60px;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    width: 100%;
    grid-column: 3/-1;
    margin-bottom: 30px;
  }
}
.greeting__info__text {
  text-align: center;
  margin-bottom: 30px;
  animation: slideLeft 2s;
}
@media (min-width: 768px) {
  .greeting__info__text {
    grid-column: 2/6;
  }
}
@media (min-width: 1280px) {
  .greeting__info__text {
    text-align: left;
    grid-column: 3/-1;
    margin-bottom: 50px;
  }
}
.greeting__info__button {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: center;
  width: 100%;
  animation: slideDown 2s;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .greeting__info__button {
    grid-column: 2/6;
  }
}
@media (min-width: 1280px) {
  .greeting__info__button {
    grid-column: 3/8;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 20px;
}
@media (min-width: 768px) {
  .topbar {
    padding: 15px 0;
  }
}
@media (min-width: 1280px) {
  .topbar {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    margin-bottom: 30px;
    padding: 40px 0;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .topbar {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .topbar {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .topbar {
    --columns: 12;
    --gap: 20px;
  }
}
.topbar__logo {
  transition: scale 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 12px;
}
.topbar__logo:hover {
  scale: 1.1;
}
.topbar__logo-img {
  width: 24px;
  height: 24px;
}
@media (min-width: 1280px) {
  .topbar__logo-img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1280px) {
  .topbar__logo {
    grid-column: 1/4;
  }
}
.topbar__logo__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  display: none;
}
@media (min-width: 1280px) {
  .topbar__logo__title {
    display: flex;
    width: 100%;
  }
}
.topbar__nav {
  display: none;
}
@media (min-width: 1280px) {
  .topbar__nav {
    display: flex;
    grid-column: 7/10;
  }
}
.topbar__nav__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.topbar__nav__list__item {
  transition: border-bottom 0.3s;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.topbar__nav__list__item:hover {
  border-bottom: #344f10;
}
.topbar__nav__list__item::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #344f10;
  bottom: -10px;
  transition: all 0.4s;
  transform: scale(0);
  transform-origin: center;
}
.topbar__nav__list__item:hover::after {
  transform: scale(1);
}
.topbar__nav__list__item::after {
  width: 110%;
}
.topbar__nav__list__item--link {
  transition: scale 0.3s;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #344f10;
  text-decoration: none;
}
.topbar__nav__list__item--link:hover {
  scale: 1.1;
}
@media (min-width: 1280px) {
  .topbar__shoppingbag {
    display: flex;
    justify-content: end;
    grid-column: 12;
  }
}

.icon {
  width: 24px;
  height: 24px;
}
.icon-menu {
  background-image: url(../images/Menu.svg);
  background-size: center;
  transition: scale 0.3s;
}
.icon-menu:hover {
  scale: 1.1;
}
.icon-bag {
  background-image: url(../images/shop.svg);
  background-size: center;
  transition: scale 0.3s;
}
.icon-bag:hover {
  scale: 1.1;
}
@media (min-width: 1280px) {
  .icon-bag {
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.icon-closer {
  background-image: url(../images/menu-closer.svg);
  background-repeat: contain;
  background-repeat: no-repeat;
  transition: scale 0.3s;
}
.icon-closer:hover {
  scale: 1.1;
}
.icon-back {
  background-image: url(../images/icon-back.svg);
  background-repeat: contain;
  background-repeat: no-repeat;
  transition: scale 0.3s;
}
.icon-back:hover {
  scale: 1.1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button__main {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: center;
  border: black 1px solid;
  color: white;
  background-color: #333333;
  height: 60px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.button__main:hover {
  background-color: #e4dfd3;
}
.button__main:hover {
  color: black;
}
.button__learn-more {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: medium;
  line-height: 130%;
  letter-spacing: 0em;
  text-align: left;
  color: #344f10;
  padding: 0;
}
.button__learn-more::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #344f10;
  bottom: -10px;
  transition: all 0.4s;
  transform: scale(0);
  transform-origin: center;
}
.button__learn-more:hover::after {
  transform: scale(1);
}
.button__shopping {
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #bdbdbd;
}

.dropdown {
  position: relative;
}
@media (min-width: 1280px) {
  .dropdown {
    display: none;
  }
}
.dropdown-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #333333;
  transform: translateY(-100%);
  transition: transform 0.3s;
  overflow: hidden;
}
.dropdown .menu--active {
  z-index: 2;
  transform: translateY(0);
  pointer-events: all;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu__topbar {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .menu__topbar {
    margin-bottom: 100px;
  }
}
.menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
  gap: 40px;
}
@media (min-width: 768px) {
  .menu__nav__list {
    gap: 55px;
  }
}
.menu__nav__list__item {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}
.menu__nav__list__item::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -10px;
  background-color: #bdbdbd;
}
.menu__nav__list__item--link {
  color: #e4dfd3;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
}
.main__title {
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .main__title {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    padding: 0;
    grid-column: 3/5;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main__title {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .main__title {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main__title {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .main__title {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    height: 346px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .main__title {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .main__title {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .main__title {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .main__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 1px;
    background-color: #344f10;
  }
  .main__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1px;
    background-color: #344f10;
  }
}
.main__title__article {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
@media (min-width: 1280px) {
  .main__title__article {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: justify;
    grid-column: 2/6;
  }
}
.main__title__text {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  width: 100%;
}
@media (min-width: 768px) {
  .main__title__text {
    text-align: center;
    grid-column: 2/6;
  }
}
@media (min-width: 1280px) {
  .main__title__text {
    grid-column: 7/11;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .main__title {
    margin-bottom: 130px;
  }
}
@media (min-width: 1280px) {
  .main__title {
    margin-bottom: 200px;
  }
}
.main__about {
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .main__about {
    margin-bottom: 130px;
  }
}
.main__shop {
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .main__shop {
    margin-bottom: 130px;
  }
}
.main__creators {
  margin-bottom: 100px;
}
.main__toothpowder {
  margin-bottom: 100px;
}
.main__advantages {
  margin-bottom: 100px;
}
.main__contact-us {
  margin-bottom: 100px;
}

.about {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .about {
    padding: 0;
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .about {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .about {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .about {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .about {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    align-items: flex-end;
    height: 530px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .about {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .about {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .about {
    --columns: 12;
    --gap: 20px;
  }
}
.about__desktop-text {
  display: none;
  align-items: flex-end;
  position: absolute;
}
@media (min-width: 1280px) {
  .about__desktop-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(52, 79, 16, 0.5);
    opacity: 50%;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-self: flex-start;
    text-orientation: mixed;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    grid-column: 1/2;
  }
  .about__desktop-text ::before {
    content: "";
    display: flex;
    position: absolute;
    background-color: rgba(52, 79, 16, 0.5);
    height: 100px;
    width: 1px;
    left: 50%;
    top: -60%;
    transform: translateX(-50%);
  }
}
.about__text {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .about__text {
    grid-column: 1/4;
  }
}
@media (min-width: 1280px) {
  .about__text {
    grid-column: 2/6;
  }
}
.about__text__heading {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .about__text__heading {
    grid-column: 1/4;
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .about__text__heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #344f10;
  }
}
.about__text__article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.about__text__article-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-align: justify;
}
.about__text__article-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  display: none;
  text-align: justify;
}
@media (min-width: 1280px) {
  .about__text__article-2 {
    display: flex;
  }
}
.about__text__button {
  position: relative;
  margin-bottom: 0;
  justify-content: left;
  width: fit-content;
}
@media (min-width: 768px) {
  .about__text__button {
    grid-column: 1/3;
  }
}
.about__img {
  display: none;
}
@media (min-width: 768px) {
  .about__img {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../images/about-img.svg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 4/-1;
  }
}
@media (min-width: 1280px) {
  .about__img {
    grid-column: 7/11;
  }
}
.about__img2 {
  display: none;
  width: 100%;
  height: 80%;
  background-image: url(../images/halfphoto-desktop.svg);
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1280px) {
  .about__img2 {
    display: flex;
    grid-column: 11/-1;
  }
}

.shop {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .shop {
    padding: 0;
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .shop {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .shop {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .shop {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .shop {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .shop {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .shop {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .shop {
    --columns: 12;
    --gap: 20px;
  }
}
.shop__desktop-text {
  display: none;
  align-items: flex-end;
  position: absolute;
}
@media (min-width: 1280px) {
  .shop__desktop-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(52, 79, 16, 0.5);
    opacity: 50%;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-self: flex-start;
    text-orientation: mixed;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    grid-column: 1/2;
  }
  .shop__desktop-text ::before {
    content: "";
    display: flex;
    position: absolute;
    background-color: rgba(52, 79, 16, 0.5);
    height: 100px;
    width: 1px;
    left: 50%;
    top: -60%;
    transform: translateX(-50%);
  }
  .shop__desktop-text :before {
    top: -300%;
  }
}
.shop__title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .shop__title {
    text-align: left;
    grid-column: 1/2;
  }
}
@media (min-width: 1280px) {
  .shop__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #344f10;
    grid-column: 2/4;
  }
}
.shop__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .shop__buttons {
    padding: 0;
    grid-column: 1/-1;
  }
}
@media (min-width: 1280px) {
  .shop__buttons {
    margin-bottom: 45px;
    grid-column: 2/6;
  }
}
.shop__buttons__button {
  position: relative;
}
@media (min-width: 1280px) {
  .shop__buttons__button {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #344f10;
    color: #bdbdbd;
  }
}
.shop__buttons__button.__active {
  color: #333333;
}
.shop__buttons__button.__active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #333333;
  bottom: -10px;
}
.shop__products__cards {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .shop__products__cards {
    grid-column: span 6;
  }
}
@media (min-width: 1280px) {
  .shop__products__cards {
    grid-column: 2/-1;
  }
}
.shop__button__allProd {
  display: flex;
  width: 100%;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .shop__button__allProd {
    margin: 0;
    grid-column: 3/5;
  }
}
@media (min-width: 1280px) {
  .shop__button__allProd {
    grid-column: 5/9;
  }
}

.cards {
  display: flex;
  flex-direction: row;
}
@media (min-width: 1280px) {
  .cards {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .cards {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .cards {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .cards {
    --columns: 12;
    --gap: 20px;
  }
}
.cards__face {
  display: flex;
}
@media (min-width: 768px) {
  .cards__face {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .cards__face {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .cards__face {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .cards__face {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .cards__face {
    grid-column: 1/-1;
  }
}
.cards__face__hydrophilic-oil {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .cards__face__hydrophilic-oil {
    grid-column: 1/4;
  }
}
@media (min-width: 1280px) {
  .cards__face__hydrophilic-oil {
    grid-column: 1/7;
  }
}
.cards__face__hydrophilic-oil__img {
  transition: scale 0.3s;
  width: 100%;
  margin-bottom: 20px;
}
.cards__face__hydrophilic-oil__img:hover {
  scale: 1.05;
}
.cards__face__hydrophilic-oil__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  margin-left: 20px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .cards__face__hydrophilic-oil__title {
    margin-left: 0;
  }
}
.cards__face__hydrophilic-oil__price {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #333333;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .cards__face__hydrophilic-oil__price {
    margin-left: 0;
  }
}
.cards__face__ubtan {
  display: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .cards__face__ubtan {
    display: flex;
    width: 100%;
    grid-column: 4/-1;
  }
}
@media (min-width: 1280px) {
  .cards__face__ubtan {
    grid-column: 7/-1;
  }
}
.cards__face__ubtan__img {
  transition: scale 0.3s;
  display: none;
  margin-bottom: 20px;
}
.cards__face__ubtan__img:hover {
  scale: 1.05;
}
@media (min-width: 768px) {
  .cards__face__ubtan__img {
    display: flex;
    width: 100%;
  }
}
.cards__face__ubtan__title {
  display: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .cards__face__ubtan__title {
    display: flex;
  }
}
.cards__face__ubtan__price {
  display: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #333333;
}
@media (min-width: 768px) {
  .cards__face__ubtan__price {
    display: flex;
  }
}
.cards__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  color: #bdbdbd;
}
@media (min-width: 1280px) {
  .cards__body {
    grid-column: 4/9;
  }
}
.cards__hair {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .cards__hair {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .cards__hair {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .cards__hair {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .cards__hair {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .cards__hair {
    grid-column: 1/-1;
  }
}
.cards__hair__shampoo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .cards__hair__shampoo {
    max-width: 470px;
    max-height: 527px;
    grid-column: 1/4;
  }
}
@media (min-width: 1280px) {
  .cards__hair__shampoo {
    max-width: 569px;
    max-height: 621px;
    grid-column: 1/7;
  }
}
.cards__hair__shampoo__img {
  transition: scale 0.3s;
  width: 100%;
  margin-bottom: 20px;
}
.cards__hair__shampoo__img:hover {
  scale: 1.05;
}
.cards__hair__shampoo__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  margin-left: 20px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .cards__hair__shampoo__title {
    margin-left: 0;
  }
}
.cards__hair__shampoo__price {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #333333;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .cards__hair__shampoo__price {
    margin-left: 0;
  }
}
.cards__candels {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  color: #bdbdbd;
}
@media (min-width: 1280px) {
  .cards__candels {
    grid-column: 4/9;
  }
}

.creators {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .creators {
    padding: 0;
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .creators {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .creators {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .creators {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .creators {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .creators {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .creators {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .creators {
    --columns: 12;
    --gap: 20px;
  }
}
.creators__desktop-text {
  display: none;
  align-items: flex-end;
  position: relative;
}
@media (min-width: 1280px) {
  .creators__desktop-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(52, 79, 16, 0.5);
    opacity: 50%;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-self: flex-start;
    text-orientation: mixed;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    grid-column: 1/2;
  }
  .creators__desktop-text ::before {
    content: "";
    display: flex;
    position: absolute;
    background-color: rgba(52, 79, 16, 0.5);
    height: 100px;
    width: 1px;
    left: 50%;
    top: -60%;
    transform: translateX(-50%);
  }
}
.creators__desktop-text :before {
  top: -80%;
}
@media (min-width: 768px) {
  .creators__text {
    grid-column: 1/4;
  }
}
@media (min-width: 1280px) {
  .creators__text {
    grid-column: 2/6;
  }
}
.creators__text__heading {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .creators__text__heading {
    grid-column: 1/4;
  }
}
@media (min-width: 1280px) {
  .creators__text__heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #344f10;
    margin-bottom: 35px;
  }
}
.creators__text__article {
  margin-bottom: 30px;
}
.creators__text__article-a1 {
  text-align: justify;
  margin-bottom: 20px;
}
@media (min-width: 1280px) {
  .creators__text__article-a1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    text-align: justify;
  }
}
.creators__text__article-a2 {
  text-align: justify;
}
@media (min-width: 1280px) {
  .creators__text__article-a2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    text-align: justify;
  }
}
.creators__text__article-a3 {
  display: none;
  text-align: justify;
}
@media (min-width: 1280px) {
  .creators__text__article-a3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    text-align: justify;
  }
}
.creators__text__button {
  position: relative;
  justify-content: left;
  width: fit-content;
  margin-bottom: 25px;
}
@media (min-width: 1280px) {
  .creators__text__button {
    margin-bottom: 40px;
  }
}
.creators__text__contact-button {
  width: 100%;
  align-self: flex-end;
  margin: 0;
}
@media (min-width: 768px) {
  .creators__text__contact-button {
    grid-column: 1/4;
    grid-row: 2;
  }
}
.creators__img {
  display: none;
}
@media (min-width: 768px) {
  .creators__img {
    display: flex;
    width: 100%;
    background-image: url(../images/creators-img.svg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 4/-1;
  }
}
@media (min-width: 1280px) {
  .creators__img {
    grid-column: 7/-1;
  }
}

.toothpowder {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .toothpowder {
    padding: 0;
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .toothpowder {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .toothpowder {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .toothpowder {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .toothpowder {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .toothpowder {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    margin-bottom: 200px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) and (min-width: 768px) {
  .toothpowder {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) and (min-width: 1280px) {
  .toothpowder {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) and (min-width: 1440px) {
  .toothpowder {
    --columns: 12;
    --gap: 20px;
  }
}
.toothpowder__desktop-text {
  display: none;
  align-items: flex-end;
  position: absolute;
}
@media (min-width: 1280px) {
  .toothpowder__desktop-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(52, 79, 16, 0.5);
    opacity: 50%;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-self: flex-start;
    text-orientation: mixed;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    grid-column: 1/2;
  }
  .toothpowder__desktop-text ::before {
    content: "";
    display: flex;
    position: absolute;
    background-color: rgba(52, 79, 16, 0.5);
    height: 100px;
    width: 1px;
    left: 50%;
    top: -60%;
    transform: translateX(-50%);
  }
}
.toothpowder__desktop-text :before {
  top: -135%;
}
.toothpowder__heading {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  margin-bottom: 20px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .toothpowder__heading {
    padding: 0;
    grid-column: 1/3;
  }
}
@media (min-width: 1280px) {
  .toothpowder__heading {
    grid-column: 2/6;
  }
}
.toothpowder__ingredients {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .toothpowder__ingredients {
    gap: 15px;
    width: 100%;
    grid-column: 3/-1;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .toothpowder__ingredients {
    grid-column: 7/-1;
    margin-bottom: 0;
  }
}
.toothpowder__ingredients-names {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  text-align: right;
  align-items: end;
  padding-left: 75px;
}
@media (min-width: 768px) {
  .toothpowder__ingredients-names {
    padding: 0;
    gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 820px) {
  .toothpowder__ingredients-names {
    gap: 35px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .toothpowder__ingredients-names {
    gap: 50px;
  }
}
.toothpowder__ingredients-names-name {
  display: flex;
  text-align: right;
  width: max-content;
}
.toothpowder__ingredients-img {
  display: flex;
  width: 100%;
  height: 400px;
  background-image: url("../images/toothpowder-mob.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
@media (min-width: 768px) {
  .toothpowder__ingredients-img {
    grid-column: 4/6;
    display: flex;
    width: 100%;
    height: 400px;
    background-image: url("../images/tooth-paste.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.toothpowder__button {
  position: relative;
  justify-content: left;
  width: fit-content;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .toothpowder__button {
    grid-column: 1/3;
  }
}
@media (min-width: 1280px) {
  .toothpowder__button {
    margin: 0;
    grid-column: 2/4;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  padding: 0 20px;
  gap: 50px;
}
@media (min-width: 768px) {
  .advantages {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .advantages {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .advantages {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .advantages {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .advantages {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    margin-bottom: 200px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .advantages {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .advantages {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .advantages {
    --columns: 12;
    --gap: 20px;
  }
}
.advantages__no-synthetic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__no-synthetic {
    grid-column: span 2;
  }
}
@media (min-width: 1280px) {
  .advantages__no-synthetic {
    grid-column: span 4;
  }
}
.advantages__no-synthetic__img {
  width: 62px;
  height: 60px;
}
.advantages__no-synthetic__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000000;
  white-space: pre;
}
.advantages__recycled {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__recycled {
    grid-column: span 2;
  }
}
@media (min-width: 1280px) {
  .advantages__recycled {
    grid-column: span 4;
  }
}
.advantages__recycled__img {
  width: 62px;
  height: 60px;
}
.advantages__recycled__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000000;
}
.advantages__leaves {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__leaves {
    grid-column: span 2;
  }
}
@media (min-width: 1280px) {
  .advantages__leaves {
    grid-column: span 4;
  }
}
.advantages__leaves__img {
  width: 62px;
  height: 60px;
}
.advantages__leaves__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000000;
}

.contact-us {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .contact-us {
    padding: 0;
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .contact-us {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .contact-us {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .contact-us {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .contact-us {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 130px;
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .contact-us {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .contact-us {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .contact-us {
    --columns: 12;
    --gap: 20px;
  }
}
.contact-us__desktop-text {
  display: none;
  align-items: flex-end;
  position: absolute;
}
@media (min-width: 1280px) {
  .contact-us__desktop-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(52, 79, 16, 0.5);
    opacity: 50%;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-self: flex-start;
    text-orientation: mixed;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    grid-column: 1/2;
  }
  .contact-us__desktop-text ::before {
    content: "";
    display: flex;
    position: absolute;
    background-color: rgba(52, 79, 16, 0.5);
    height: 100px;
    width: 1px;
    left: 50%;
    top: -60%;
    transform: translateX(-50%);
  }
}
.contact-us__desktop-text :before {
  top: -330%;
}
.contact-us__title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contact-us__title {
    grid-column: 1/4;
    grid-row: 1;
  }
}
@media (min-width: 1280px) {
  .contact-us__title {
    grid-column: 2/6;
  }
}
.contact-us__article {
  text-align: justify;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .contact-us__article {
    grid-column: 1/4;
    grid-row: 2;
  }
}
@media (min-width: 1280px) {
  .contact-us__article {
    grid-column: 2/6;
  }
}
@media (min-width: 768px) {
  .contact-us__form {
    grid-column: 1/4;
    grid-row: 3;
  }
}
@media (min-width: 1280px) {
  .contact-us__form {
    grid-column: 2/6;
  }
}
.contact-us__img {
  display: none;
}
@media (min-width: 768px) {
  .contact-us__img {
    display: flex;
    width: 100%;
    background-image: url(../images/contact-us.png);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20%;
    grid-column: 4/-1;
    grid-row: span 3;
  }
}
@media (min-width: 1280px) {
  .contact-us__img {
    grid-column: 7/-1;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.input {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #bdbdbd;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 5px;
  background: transparent;
  width: 100%;
  height: fit-content;
  color: #344f10;
  outline: none;
  -weblit-tap-highlight-color: transparent;
}
.input:valid {
  border-bottom: 1px solid #344f10;
}
.input-tel {
  margin-bottom: 45px;
}
.input-message {
  margin-bottom: 30px;
}
.input-message:placeholder-shown {
  border-bottom: 1px solid #bdbdbd;
}

label {
  display: flex;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #8c9772;
  color: #e4dfd3;
}
@media (min-width: 768px) {
  .footer {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .footer {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .footer {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .footer {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    padding-top: 60px;
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .footer {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .footer {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .footer {
    --columns: 12;
    --gap: 20px;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer__nav {
    grid-column: 1/4;
    grid-row: 1;
  }
}
@media (min-width: 1280px) {
  .footer__nav {
    grid-column: 1/4;
  }
}
.footer__nav__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 11px;
}
@media (min-width: 1280px) {
  .footer__nav__list {
    flex-direction: row;
    gap: 40px;
  }
}
.footer__nav__list__item {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: min-content;
}
.footer__nav__list__item--link {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #e4dfd3;
  height: 100%;
  display: flex;
  text-decoration: none;
}
.footer__social {
  display: flex;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__social {
    grid-column: 1/4;
    grid-row: 2;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    grid-column: 8/-1;
  }
}
.footer__social__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer__info {
  display: flex;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__info {
    grid-column: 4/-1;
    grid-row: 1;
  }
}
@media (min-width: 1280px) {
  .footer__info {
    grid-column: 8/-1;
  }
}
.footer__info__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__info__list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: max-content;
}
.footer__info__list__item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #e4dfd3;
  text-decoration: none;
}
.footer__copyright {
  display: flex;
  align-self: center;
}
.footer__copyright__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #e4dfd3;
}
@media (min-width: 768px) {
  .footer__copyright {
    grid-column: 1/4;
    grid-row: 3;
  }
}

.sidebarPage {
  position: relative;
  display: flex;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .sidebarPage {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
    grid-column: 1/-1;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .sidebarPage {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .sidebarPage {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .sidebarPage {
    --columns: 12;
    --gap: 20px;
  }
}
.sidebarPage__button {
  width: 100%;
}
@media (min-width: 768px) {
  .sidebarPage__button {
    margin: 0;
    grid-column: 3/5;
  }
}
@media (min-width: 1280px) {
  .sidebarPage__button {
    grid-column: 5/9;
  }
}
.sidebarPage-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  padding: 20px;
  background-color: #e4dfd3;
  transform: translateX(-100%);
  transition: transform 0.3s;
  overflow: hidden;
}
.sidebarPage-content .sidebar-closer {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon-back.svg);
  background-repeat: contain;
  background-repeat: no-repeat;
  margin-bottom: 15px;
  transition: scale 0.3s;
}
.sidebarPage-content .sidebar-closer:hover {
  scale: 1.1;
}
.sidebarPage .sidebarPage-active {
  z-index: 2;
  transform: translateX(0);
  pointer-events: all;
  overflow: scroll;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sidebarPage__cards {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .sidebarPage__cards {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .sidebarPage__cards {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .sidebarPage__cards {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .sidebarPage__cards {
    --columns: 12;
    --gap: 20px;
  }
}
@media (min-width: 1280px) {
  .sidebarPage__cards {
    --columns: 2;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gap);
  }
}
@media (min-width: 1280px) and (min-width: 768px) {
  .sidebarPage__cards {
    --columns: 6;
    --gap: 30px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .sidebarPage__cards {
    --columns: 12;
    --gap: 20px ;
  }
}
@media (min-width: 1280px) and (min-width: 1440px) {
  .sidebarPage__cards {
    --columns: 12;
    --gap: 20px;
  }
}

.allProdCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 10px;
  padding: 15px;
}
@media (min-width: 768px) {
  .allProdCard {
    grid-column: span 3;
  }
}
@media (min-width: 1280px) {
  .allProdCard {
    grid-column: span 4;
  }
}
.allProdCard__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #344f10;
  margin-bottom: 10px;
}
.allProdCard__price {
  margin-bottom: 20px;
}
.allProdCard__img {
  margin-bottom: 30px;
}
.allProdCard__button {
  margin-bottom: 50px;
}
.allProdCard__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.allProdCard__info-a1 {
  text-align: justify;
}
.allProdCard__info-a2 {
  text-align: justify;
}

.shoppingbag {
  position: relative;
  display: flex;
}
.shoppingbag-content {
  position: fixed;
  max-height: 450px;
  max-width: 250px;
  top: 20%;
  right: 0;
  background-color: #e4dfd3;
  transform: translateX(100%);
  transition: transform 0.3s;
  box-sizing: border-box;
  border: 1px solid #344f10;
  padding: 15px;
}
.shoppingbag-content__text {
  margin: 10px;
}
.shoppingbag-content__closer {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  background-image: url(../images/icon-back.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: scale 0.3s;
}
.shoppingbag-content__closer:hover {
  scale: 1.1;
}
.shoppingbag-content__bag {
  color: #bdbdbd;
  margin-bottom: 15px;
  margin-top: 15px;
}
.shoppingbag .shoppingbag-active {
  z-index: 2;
  transform: translateX(0);
  pointer-events: all;
  overflow: scroll;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #e4dfd3;
  overflow-x: hidden;
}

body:has(.menu--active) {
  overflow: hidden;
}

body:has(.sidebarPage-active) {
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
