h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px 0 50px;
  color: #344f10;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .Navbar-container {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Navbar-container {
    padding: 30px 27px 0 27px;
  }
}
@media (max-width: 425px) {
  .Navbar-container {
    padding: 15px 20px 0 20px;
  }
}

.bag {
  transition: ease-in-out 0.3s;
}
.bag:hover {
  transform: scale(1.1);
}

.content1 {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  align-items: center;
}
.content1__title {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
.content1__menu {
  display: none;
}
@media (max-width: 768px) and (min-width: 425px) {
  .content1__logo {
    display: none;
  }
  .content1__title {
    display: none;
  }
  .content1__menu {
    display: flex;
  }
}
@media (max-width: 425px) {
  .content1__logo {
    display: none;
  }
  .content1__title {
    display: none;
  }
  .content1__menu {
    display: flex;
  }
}

.content2 {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.content2__links {
  color: #344f10;
  font-weight: 500;
  transition: ease-in-out 0.3s;
}
.content2__links:hover {
  color: green;
  transform: scale(1.1);
}
.content2__menu {
  display: none;
}
@media (max-width: 425px) {
  .content2__links {
    display: none;
  }
  .content2__menu {
    display: flex;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .content2__links {
    display: none;
  }
  .content2__menu {
    display: flex;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.slider {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translateY(-100%);
  height: 100vh;
  background: #333333;
  transition: transform 0.3s;
  padding: 20px 20px 20px 20px;
}
.slider:target {
  transform: translateY(0);
}
.slider__close {
  margin-bottom: 40px;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .slider {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.container__links {
  border-bottom: 2px solid #828282;
  color: #e4dfd3;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  transition: ease-in-out 0.3s;
}
.container__links:hover {
  color: #344f10;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.check {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translateY(-100%);
  height: 100vh;
  background: #e4dfd3;
  padding: 40px 50px 0 50px;
  transition: transform 0.3s;
  border-top: 2px solid black;
}
.check:target {
  transform: translateY(0);
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .check {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 425px) {
  .check {
    padding: 20px 20px 20px 20px;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.checkout {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  width: 40%;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid #bdbdbd;
}
@media (max-width: 768px) and (min-width: 425px) {
  .checkout {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .checkout {
    width: 100%;
  }
}

.shipping {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  justify-content: center;
}
.shipping__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.shipping__input-container {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
  row-gap: 25px;
  flex-direction: column;
}
@media (max-width: 768px) and (min-width: 425px) {
  .shipping__input-container {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .shipping__input-container {
    padding: 0;
  }
}
.shipping__inputs {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}
.shipping__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #333333;
  color: #f2f2f2;
  cursor: pointer;
}
.shipping__next:hover {
  border: 1px solid #333333;
  color: #333333;
  background: #e4dfd3;
  transform: scale(1.1);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.pay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translatex(-100%);
  height: 100vh;
  background: #e4dfd3;
  padding: 40px 50px 0 50px;
  transition: transform 0.3s;
  border-top: 2px solid black;
}
.pay:target {
  transform: translatex(0);
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .pay {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 425px) {
  .pay {
    padding: 20px 20px 20px 20px;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.checkout {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  width: 40%;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid #bdbdbd;
}
@media (max-width: 768px) and (min-width: 425px) {
  .checkout {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .checkout {
    width: 100%;
  }
}

.Payment {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
  row-gap: 32px;
  flex-direction: column;
  margin-top: 25px;
  justify-content: center;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Payment {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .Payment {
    padding: 0;
  }
}
.Payment__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.Payment__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Payment__box {
  display: flex;
  row-gap: 12px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.Payment__box:nth-child(2) {
  margin-top: 35px;
}
.Payment__container-img {
  width: 53px;
  height: 31px;
}
.Payment__container-txt {
  font-size: 16px;
  font-weight: 600;
}
.Payment__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #333333;
  color: #f2f2f2;
  cursor: pointer;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.approval {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translatex(100%);
  height: 100vh;
  background: #e4dfd3;
  padding: 40px 50px 0 50px;
  transition: transform 0.3s;
  border-top: 2px solid black;
}
.approval:target {
  transform: translatex(0);
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .approval {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 425px) {
  .approval {
    padding: 20px 20px 20px 20px;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.checkout {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  width: 40%;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid #bdbdbd;
}
@media (max-width: 768px) and (min-width: 425px) {
  .checkout {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .checkout {
    width: 100%;
  }
}

.approve {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
  row-gap: 32px;
  flex-direction: column;
  margin-top: 25px;
  justify-content: center;
}
@media (max-width: 768px) and (min-width: 425px) {
  .approve {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .approve {
    padding: 0;
  }
}
.approve__title, .approve__title2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.approve__title2 {
  font-size: 25px;
}
.approve__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.approve__img {
  width: 39px;
  height: 51px;
  padding-bottom: 5%;
}
.approve__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
  transition: transform 250ms ease-in-out;
}
.approve__btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #344f10;
  transition: width 0.3s;
}
.approve__btn:hover::after {
  width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Header {
  display: grid;
  grid-template-columns: auto auto;
  padding: 40px 50px 0 50px;
  justify-content: space-between;
  margin-bottom: 13vw;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .Header {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Header {
    grid-template-columns: 1fr;
    padding: 30px 27px 0 27px;
    row-gap: 5%;
  }
}
@media (max-width: 425px) {
  .Header {
    padding: 20px 0 0 0;
    row-gap: 5%;
    grid-template-columns: 1fr;
  }
}
.Header__container {
  display: flex;
  order: 0;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Header__container {
    order: 1;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .Header__container {
    order: 1;
    padding: 20px 20px 20px 20px;
    text-align: center;
  }
}
.Header__title {
  width: 480px;
  font-size: 60px;
  font-weight: 600;
  color: #333333;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Header__title {
    width: 100%;
    font-size: 36px;
  }
}
@media (max-width: 425px) {
  .Header__title {
    width: 100%;
    font-size: 24px;
  }
}
.Header__txt {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Header__txt {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .Header__txt {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Header__btn-center {
    display: flex;
    justify-content: center;
  }
}
.Header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #333333;
  color: #f2f2f2;
  cursor: pointer;
}
.Header__btn:hover {
  outline: 1px solid #333333;
  color: #333333;
  background: #e4dfd3;
  transform: scale(1.1);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Header__btn {
    width: 50%;
  }
}
@media (max-width: 425px) {
  .Header__btn {
    width: 100%;
  }
}
.Header__container-img {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Header__container-img {
    order: 0;
  }
}
@media (max-width: 425px) {
  .Header__container-img {
    order: 0;
  }
}
.Header__img {
  display: block;
  order: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Quote {
  display: grid;
  grid-template-columns: auto auto;
  padding: 40px 50px 40px 50px;
  -moz-column-gap: 20%;
       column-gap: 20%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Quote {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .Quote {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 425px) {
  .Quote {
    grid-template-columns: 1fr;
    margin-bottom: 13vw;
  }
}
.Quote__txt {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Quote__txt {
    display: none;
  }
}
@media (max-width: 425px) {
  .Quote__txt {
    display: none;
  }
}
.Quote__header {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  color: #344f10;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Quote__header {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .Quote__header {
    text-align: center;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.About-brand {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: auto;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 40px 0 0 40px;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .About-brand {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .About-brand {
    padding: 30px 0 0 27px;
  }
}
@media (max-width: 425px) {
  .About-brand {
    padding: 20px 20px 13vw 20px;
  }
}
.About-brand__upsidedown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 14px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 20px;
  color: #344f10;
}
.About-brand__upsidedown::before {
  content: "";
  display: inline-block;
  align-items: center;
  width: 2px;
  height: 140px;
  background: #344f10;
}
@media (max-width: 768px) and (min-width: 425px) {
  .About-brand__upsidedown {
    display: none;
  }
}
@media (max-width: 425px) {
  .About-brand__upsidedown {
    display: none;
  }
}
.About-brand__Head-container {
  display: flex;
  height: 497px;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 768px) and (min-width: 425px) {
  .About-brand__Head-container {
    row-gap: 20px;
  }
}
@media (max-width: 425px) {
  .About-brand__Head-container {
    row-gap: 20px;
  }
}
.About-brand__Head {
  display: block;
  font-size: 36px;
  font-weight: 600;
  color: #344f10;
}
@media (max-width: 425px) {
  .About-brand__Head {
    font-size: 24px;
  }
}
.About-brand__Paragraph {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1%;
  color: #333333;
}
@media (max-width: 768px) and (min-width: 425px) {
  .About-brand__Paragraph {
    margin: 0;
  }
}
@media (max-width: 425px) {
  .About-brand__Paragraph {
    margin: 0;
  }
}
.About-brand__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #344f10;
  background: none;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}
.About-brand__btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #344f10;
  transition: width 0.3s;
}
.About-brand__btn:hover::after {
  width: 100%;
}
.About-brand__img-container {
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 425px) {
  .About-brand__img-container {
    display: none;
  }
}
.About-brand__img-big {
  width: 480px;
  height: 529px;
}
.About-brand__img-small {
  background: yellow;
  display: flex;
  align-items: flex-end;
  max-width: 280px;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Shop {
  display: flex;
  padding: 40px 50px 0 50px;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .Shop {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Shop {
    padding: 30px 27px 0 27px;
  }
}
@media (max-width: 425px) {
  .Shop {
    padding: 0;
  }
}
.Shop__upsidedown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 14px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 20px;
  color: #344f10;
}
.Shop__upsidedown::before {
  content: "";
  display: inline-block;
  align-items: center;
  width: 2px;
  height: 140px;
  background: #344f10;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Shop__upsidedown {
    display: none;
  }
}
@media (max-width: 425px) {
  .Shop__upsidedown {
    display: none;
  }
}
.Shop__container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.Shop__Head {
  display: block;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #344f10;
}
@media (max-width: 425px) {
  .Shop__Head {
    font-size: 24px;
    text-align: center;
  }
}
.Shop__types {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 425px) {
  .Shop__types {
    -moz-column-gap: 0;
         column-gap: 0;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
  }
}
.Shop__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333333;
  background: none;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
  transition: transform 250ms ease-in-out;
}
.Shop__btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #344f10;
  transition: width 0.3s;
}
.Shop__btn:hover::after {
  width: 100%;
}
.Shop__img-container {
  display: flex;
  margin-top: 62px;
  overflow: hidden;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.Shop__images {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Shop__images:nth-child(2) {
    display: none;
  }
}
@media (max-width: 425px) {
  .Shop__images:nth-child(2) {
    display: none;
  }
  .Shop__images:nth-child(3) {
    display: none;
  }
}
.Shop__name {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}
@media (max-width: 425px) {
  .Shop__name {
    margin-left: 20px;
  }
}
.Shop__price {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 40px;
}
@media (max-width: 425px) {
  .Shop__price {
    margin-left: 20px;
  }
}
.Shop__all-product-container {
  display: flex;
  background: red;
  justify-content: center;
}
.Shop__btn-center {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Shop__btn-center {
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .Shop__btn-center {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.Shop__product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #333333;
  color: #f2f2f2;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.Shop__product-btn:hover {
  outline: 1px solid #333333;
  color: #333333;
  background: #e4dfd3;
  transform: scale(1.1);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Shop__product-btn {
    width: 50%;
  }
}
@media (max-width: 425px) {
  .Shop__product-btn {
    width: 100%;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.About-creators {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: auto;
  -moz-column-gap: 5px;
       column-gap: 5px;
  padding: 40px 50px 40px 50px;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .About-creators {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .About-creators {
    padding: 30px 0 0 27px;
  }
}
@media (max-width: 425px) {
  .About-creators {
    padding: 20px 20px 13vw 20px;
  }
}
.About-creators__upsidedown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 14px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 20px;
  color: #344f10;
}
.About-creators__upsidedown::before {
  content: "";
  display: inline-block;
  align-items: center;
  width: 2px;
  height: 140px;
  background: #344f10;
}
@media (max-width: 768px) and (min-width: 425px) {
  .About-creators__upsidedown {
    display: none;
  }
}
@media (max-width: 425px) {
  .About-creators__upsidedown {
    display: none;
  }
}
.About-creators__Head-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 768px) and (min-width: 425px) {
  .About-creators__Head-container {
    row-gap: 20px;
  }
}
@media (max-width: 425px) {
  .About-creators__Head-container {
    row-gap: 20px;
  }
}
.About-creators__Head {
  display: block;
  font-size: 36px;
  font-weight: 600;
  color: #344f10;
}
@media (max-width: 425px) {
  .About-creators__Head {
    font-size: 24px;
  }
}
.About-creators__Paragraph {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1%;
  color: #333333;
}
@media (max-width: 768px) and (min-width: 425px) {
  .About-creators__Paragraph {
    margin: 0;
  }
}
@media (max-width: 425px) {
  .About-creators__Paragraph {
    margin: 0;
  }
}
.About-creators__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #344f10;
  background: none;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding-bottom: 5px;
  transition: transform 250ms ease-in-out;
}
.About-creators__btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #344f10;
  transition: width 0.3s;
}
.About-creators__btn:hover::after {
  width: 100%;
}
.About-creators__btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #333333;
  color: #f2f2f2;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.About-creators__btn2:hover {
  outline: 1px solid #333333;
  color: #333333;
  background: #e4dfd3;
  transform: scale(1.1);
}
@media (max-width: 768px) and (min-width: 425px) {
  .About-creators__btn2 {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .About-creators__btn2 {
    width: 100%;
  }
}
.About-creators__img-container {
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 425px) {
  .About-creators__img-container {
    display: none;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Ingredients {
  display: flex;
  overflow: hidden;
  padding: 40px 50px 0 50px;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .Ingredients {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Ingredients {
    padding: 30px 0 0 27px;
  }
}
@media (max-width: 425px) {
  .Ingredients {
    padding: 15px 0 15px 20px;
  }
}
.Ingredients__upsidedown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 14px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 20px;
  color: #344f10;
}
.Ingredients__upsidedown::before {
  content: "";
  display: inline-block;
  align-items: center;
  width: 2px;
  height: 140px;
  background: #344f10;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Ingredients__upsidedown {
    display: none;
  }
}
@media (max-width: 425px) {
  .Ingredients__upsidedown {
    display: none;
  }
}
.Ingredients__box {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 425px) {
  .Ingredients__box {
    row-gap: 5vw;
    flex-direction: column;
  }
}
.Ingredients__content-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Ingredients__Head {
  display: block;
  font-size: 36px;
  font-weight: 600;
  color: #344f10;
}
@media (max-width: 425px) {
  .Ingredients__Head {
    font-size: 24px;
  }
}
.Ingredients__btn, .Ingredients__btn-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #344f10;
  background: none;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}
.Ingredients__btn::after, .Ingredients__btn-mobile::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #344f10;
  transition: width 0.3s;
}
.Ingredients__btn:hover::after, .Ingredients__btn-mobile:hover::after {
  width: 100%;
}
@media (max-width: 425px) {
  .Ingredients__btn, .Ingredients__btn-mobile {
    display: none;
  }
}
.Ingredients__mobile {
  display: none;
}
@media (max-width: 425px) {
  .Ingredients__mobile {
    display: flex;
  }
}
.Ingredients__btn-mobile {
  display: none;
}
@media (max-width: 425px) {
  .Ingredients__btn-mobile {
    display: flex;
  }
}
.Ingredients__powder-container {
  display: flex;
}
.Ingredients__powder-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
}
.Ingredients__name-container {
  text-align: right;
}
.Ingredients__name-container:nth-child(1) {
  margin-top: -5px;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Ingredients__name-container:nth-child(1) {
    margin: 0;
  }
}
.Ingredients__names {
  font-weight: 400;
  padding-right: 20px;
  font-size: 16px;
  color: #333333;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Pros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px 40px 50px;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .Pros {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Pros {
    padding: 30px 27px 30px 27px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 425px) {
  .Pros {
    padding: 15px 20px 15px 20px;
    flex-direction: column;
    row-gap: 20px;
  }
}
.Pros__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Pros__img {
  display: block;
  width: 80px;
  height: 74.94px;
}
.Pros__info {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Contact-us {
  display: flex;
  height: auto;
  padding: 40px 50px 40px 50px;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .Contact-us {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-us {
    padding: 30px 0 0 27px;
  }
}
@media (max-width: 425px) {
  .Contact-us {
    padding: 15px 20px 15px 20px;
  }
}
.Contact-us__upsidedown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: 500;
  font-size: 14px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 20px;
  color: #344f10;
}
.Contact-us__upsidedown::before {
  content: "";
  display: inline-block;
  align-items: center;
  width: 2px;
  height: 140px;
  background: #344f10;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-us__upsidedown {
    display: none;
  }
}
@media (max-width: 425px) {
  .Contact-us__upsidedown {
    display: none;
  }
}
.Contact-us__all {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  justify-content: space-between;
}
.Contact-us__Head-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-us__Head-container {
    row-gap: 20px;
  }
}
@media (max-width: 425px) {
  .Contact-us__Head-container {
    row-gap: 20px;
    justify-content: center;
    text-align: center;
  }
}
.Contact-us__Head {
  display: block;
  font-size: 36px;
  font-weight: 600;
  color: #344f10;
}
@media (max-width: 425px) {
  .Contact-us__Head {
    font-size: 24px;
  }
}
.Contact-us__Paragraph {
  font-size: 16px;
  margin-top: 30px;
  font-weight: 400;
  color: #333333;
}
.Contact-us__form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 40px;
  row-gap: 30px;
}
@media (max-width: 425px) {
  .Contact-us__form {
    width: 100%;
  }
}
.Contact-us__inputs, .Contact-us__message {
  background: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 11px;
  border-bottom: 1px solid #bdbdbd;
}
.Contact-us__message {
  margin-top: 60px;
}
@media (max-width: 425px) {
  .Contact-us__message {
    margin-top: 45px;
  }
}
.Contact-us__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: #333333;
  color: #f2f2f2;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.Contact-us__submit:hover {
  border: 1px solid #333333;
  color: #333333;
  background: #e4dfd3;
  transform: scale(1.1);
}
@media (max-width: 768px) and (min-width: 425px) {
  .Contact-us__submit {
    width: 80%;
  }
}
@media (max-width: 425px) {
  .Contact-us__submit {
    width: 100%;
  }
}
.Contact-us__img-container {
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 425px) {
  .Contact-us__img-container {
    display: none;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.Foot {
  display: flex;
  flex-direction: column;
  background: rgba(52, 79, 16, 0.5);
  padding: 40px 50px 40px 50px;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .Foot {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot {
    padding: 30px 27px 30px 27px;
  }
}
@media (max-width: 425px) {
  .Foot {
    padding: 15px 20px 15px 20px;
  }
}
.Foot__content-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__content-1 {
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
}
@media (max-width: 425px) {
  .Foot__content-1 {
    flex-direction: column;
  }
}
.Foot__Navigation {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__Navigation {
    flex-direction: column;
    row-gap: 15px;
  }
}
@media (max-width: 425px) {
  .Foot__Navigation {
    flex-direction: column;
    row-gap: 15px;
  }
}
.Foot__links {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #e4dfd3;
  transition: ease-in-out 0.3s;
}
.Foot__links:hover {
  color: green;
  transform: scale(1.1);
}
.Foot__Adress-time {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
@media (max-width: 425px) {
  .Foot__Adress-time {
    display: none;
  }
}
.Foot__txt, .Foot__link {
  font-size: 16px;
  font-weight: 400;
  color: #e4dfd3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Foot__link:hover {
  transform: scale(1.1);
}
.Foot__content-2 {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__content-2 {
    flex-direction: column;
  }
}
.Foot__copyright {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: #e4dfd3;
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__copyright {
    order: 1;
  }
}
@media (max-width: 425px) {
  .Foot__copyright {
    text-align: center;
  }
}
.Foot__socials {
  display: flex;
  width: 27%;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 2560px) and (min-width: 2000px) {
  .Foot__socials {
    width: 20%;
  }
}
@media (max-width: 768px) and (min-width: 425px) {
  .Foot__socials {
    margin-bottom: 50px;
    order: 0;
  }
}
@media (max-width: 425px) {
  .Foot__socials {
    display: none;
  }
}
.Foot__mobile {
  display: none;
}
@media (max-width: 425px) {
  .Foot__mobile {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
.Foot__social:hover {
  transform: scale(1.1);
}
.Foot__socials-mobile {
  display: flex;
  width: 27%;
  align-items: center;
  margin-top: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.Foot__Adress-time-mobile {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: ease-in-out 0.3s;
}

html,
body {
  display: flex;
  flex-direction: column;
  background: #e4dfd3;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: ease-in-out 0.3s;
}

a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: none;
}

@media (max-width: 768px) and (min-width: 425px) {
  br {
    display: none;
  }
}
@media (max-width: 425px) {
  br {
    display: none;
  }
}
section {
  margin-bottom: 13vw;
}

input:focus {
  border-bottom: 1px solid #333333;
}

input:not(:-moz-placeholder-shown) {
  color: #344f10;
  border-color: #344f10;
}

input:not(:-ms-input-placeholder) {
  color: #344f10;
  border-color: #344f10;
}

input:not(:placeholder-shown) {
  color: #344f10;
  border-color: #344f10;
}

input:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: red;
  border-bottom: 1px solid #eb5757;
}

input:not(:-ms-input-placeholder):not(:focus):invalid {
  color: red;
  border-bottom: 1px solid #eb5757;
}

input:not(:placeholder-shown):not(:focus):invalid {
  color: red;
  border-bottom: 1px solid #eb5757;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.up {
  width: 49%;
  border-top: 1px solid rgba(52, 79, 16, 0.5);
}
@media (max-width: 768px) and (min-width: 425px) {
  .up {
    display: none;
  }
}
@media (max-width: 425px) {
  .up {
    display: none;
  }
}

.down {
  width: 50%;
  border-top: 1px solid rgba(52, 79, 16, 0.5);
  transform-origin: right;
  transform: rotate(180deg);
}
@media (max-width: 768px) and (min-width: 425px) {
  .down {
    display: none;
  }
}
@media (max-width: 425px) {
  .down {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */