.media {
  display: flex;

  &_small-screen {
    display: none;
  }

  &__icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;

    &_1 {
      background-image: url(../images/footer-icon-1.svg);
      margin-right: 15px;
    }
   
    &_2 {
      background-image: url(../images/footer-icon-2.svg);
    }
  }
}

@media screen and(max-width: $tablet-screen-width) {
  .media {
    &_small-screen {
      display: flex;
    }

    &_large-screen {
      display: none;
    }
  }
}
