.menuToggle {
  display: none;

  &__line {
    width: 20px;
    height: 1px;
    background-color: $text-green;
  }
}

@media screen and (max-width: $mobile-screen-breakpoint) {
  .menuToggle {
    display: block;
  }
}
