.menu {
  @include onDesktop {
    display: none;
  }

  z-index: 3;
  overflow-y: auto;

  height: 100vh;
  background-color: $colorGray;

  &__content {
    @include top-actions;
    margin-bottom: 100px;
  }

  &__link {
    color: $colorLight;
    border-bottom: 1px solid #828282;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;

    @include onTablet {
      margin-bottom: 50px;
    }
  }
}
