@mixin sharpM {
  font-family: "Sharp Sans Display No2";
  font-weight: 500;
}

@mixin sharpS {
  font-family: "Sharp Sans Display No2";
  font-weight: 600;
}

@mixin sharpB {
  font-family: "Sharp Sans Display No2";
  font-weight: bold;
}

@mixin avenirM {
  font-family: "Avenir-Medium";
  font-weight: 500;
  font-style: normal;
}

@mixin avenirR {
  font-family: "Avenir-Roman";
  font-weight: 300;
  font-style: normal;
}