@mixin buttonShop {
  width: 280px;
  height: 60px;

  background-color: $veryDarkGray;

  @include textButton;
  color: $veryLightGray;
  text-transform: uppercase;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sideImg {
  position: absolute;
  left: -80px;
}
