.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  right: 100vw;
  z-index: 1;
  width: 100%;
  @include inputAndMenu;

  padding: 120px 20px;
  background-color: $basicColor;
  transition: right 1s;

  @media (max-width: $mobileScreenBreakpoint) {
    display: block;
  }

  &__item {
    margin-bottom: 50px;
    border-bottom: 1px solid $bgColor;
    text-align: center;
  }

  &__link {
    color: $bgColor;
    display: block;
    margin-bottom: 10px;
  }
}
