.more {
  display: inline-block;
  height: 24px;
  width: 95px;
  border-bottom: 1px solid $logoColor;
  margin-top: 20px;
  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $logoColor;
  transition: color 1s;
  &:hover {
    color: #828282;
  }
}
