.natural-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 250px;
  padding: 0 50px;

  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $ipad-version-breakpoint) {
    margin-bottom: 150px;
    padding: 0 27px;
  }

  @media (max-width: $mobile-version-breakpoint) {
    margin-bottom: 60px;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__no-synthetics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $mobile-version-breakpoint) {
      margin-bottom: 50px;
    }

    &--logo {
      margin-bottom: 40px;
    }

  }

  &__recyling {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--logo {
      margin-bottom: 20px;
    }

    @media (max-width: $mobile-version-breakpoint) {
      margin-bottom: 50px;
    }
  }

  &__ingridiens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--logo {
      margin-bottom: 24px;
    }

    @media (max-width: $mobile-version-breakpoint) {
      margin-bottom: 50px;
    }
  }
}
