.natural {
  padding: 100px 20px 0;
  @include Tablet {
    padding: 130px 27px 0;
    margin: 0 auto;
  }

  @include Desktop {
    padding: 10px 50px;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__block {
    display: flex;
    gap: 50px;
    flex-direction: column;

    @include Tablet {
      flex-direction: row;
      max-width: 1000px;
      margin: 0 auto;
    }

    @include Desktop {
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  &__block--1 {
    display: block;
    margin: 0 auto;
    @include Tablet {
      width: 33%;
    }
  }

  &__img {
    max-width: 40%;
    height: 84px;
    display: block;
    padding: 0 !important;
    margin: 0 auto;
  }

  &__title {
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    letter-spacing: 5%;
    line-height: 18.2px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
  }
}
