.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include paddingblock;
  @include paddinginline;

  &__links {
    &-group4 {
      width: 20px;
      height: 15px;
    }

    &-group8 {
      width: 24px;
      height: 24px;
    }

    &-group {
      width: 20px;
      height: 24px;
    }
  }
}

.nav ul {
  margin: 0;
  padding: 0;
}
