.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px;

  @include onTablet {
    padding: 23px 0 30px;
    @include paddingInline;
  }

  &__links {
    &-group4 {
      width: 20px;
      height: 15px;
    }

    &-group8 {
      width: 24px;
      height: 24px;
    }

    &-group {
      width: 20px;
      height: 24px;
    }
  }
}

.nav ul {
  margin: 0;
  padding: 0;
}
