.nav {
  transform: translateX(-170px);
  
  &__list {
    display: flex;
    margin: 0 auto;
  }

  &__item {
    margin: 0 40px;

    font-size: 18px;
    list-style-type: none;
  }

  &__link {
    line-height: 23px;

    color: #1d4f10;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid rgba(52, 79, 16, 0.5);
  
      transition: all 0.2s;
    }
  }
}

@media (max-width: $phone) {
  .nav {

    &__item {
      margin: 0 10px;
    }
  }
}
