.nav {
  display: flex;
  
  align-items: center;
  text-transform: initial;

  @extend %h5;
  
  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  &__item {
    padding: 7px 20px;
    text-decoration: none;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
