.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 40px;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.nav__link {
  &:link,
  &:visited, {
    @include text($accentColor,18px,1.3);
  }

  @extend %hoverLink;
}
