.navigation {
  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 40px;

    font-family: "SharpSansNo2Medium", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 130%;
    color: #344f10;

    &--footer {
      color: #e4dfd3;
    }
  }
}
