html {
  scroll-behavior: smooth;
}

body {
  background: $bone;
  font-family: "Poppins", sans-serif;
  color: $green;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  justify-content: center;
  column-gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(6, 94px);
    column-gap: 30px;
  }

  @include onPhone {
    grid-template-columns: repeat(2, 130px);
    column-gap: 20px;
  }
}

address {
  font-style: normal;
}
