body {
  background-color: #e4dfd3;

  font-family: "Avenir", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  font-weight: 500;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #e4dfd3 inset;
  -webkit-text-fill-color: #c0bfbf;
}

html {
  scroll-behavior: smooth;
}
