*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
  font-family: $fontAvenir;
  text-rendering: optimizeSpeed;
}
input,
button,
textarea,
select {
  font-family: $fontSharp;
}
button {
  cursor: pointer;
  background-color: inherit;
  padding: 0;
  border: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  vertical-align: top;
}
