*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1;
}
input,
button,
textarea {
  font-family: "Averin", sans-serif;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
