@import "./utils/vars";

* {
  padding: 0;
  margin: 0;
  bottom: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: $light-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
