@import "./mixins.scss";

.main {
  @include PageGrid;

  &__image {
    margin-top: 10px;
    background-image: url(../images/foto-1__mobile.svg);
    width: 100%;
    height: 267px;
    background-size: cover;
    grid-column: 1 / -1;

    @media (min-width: 768px) and (max-width: 1279px) {
      margin-top: 20px;
      background-image: url(../images/foto-1__tablet.svg);
      width: 100%;
      height: 500px;
      background-size: cover;
      grid-column: 1 / -1;
    }

    @media (min-width: 1280px) {
      background-image: url(../images/foto-1__descktop.svg);
      height: 451px;
      width: 100%;
      background-size: cover;
      margin-top: 71px;
      grid-column: 7 / 13;
      grid-row: 1;
    }
  }

  &__text {
    margin: 25px 0 0;
    color: #333;
    grid-column: 1 / -1;
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
    text-align: center;

    @media (min-width: 768px) and (max-width: 1279px) {
      margin: 50px 0 0;
      font-size: 36px;
      line-height: 54px;
      grid-column: 2 / 6;
    }

    @media (min-width: 1280px) {
      margin-top: 0;
      font-size: 60px;
      line-height: 78px;
      grid-column: 2 / 7;
      text-align: start;
      grid-row: 1;
      padding-top: 50px;
    }
  }

  &__descryption {
    margin: 10px 0 0;
    color: #333;
    grid-column: 1 / -1;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    @media (min-width: 1280px) {
      grid-column: 2 / 5;
      justify-self: start;
      margin: 30px 0 0;
      grid-row: 1;
      padding-top: 285px;
    }
  }

  &__button {
    grid-column: 1 / -1;
    margin-top: 30px;
    width: 100%;
    height: 60px;
    background-color: #333;
    font-size: 16px;
    line-height: 20.8px;
    letter-spacing: 15%;
    color: #f2f2f2;
    border: none;

    @media (min-width: 768px) and (max-width: 1279px) {
      width: 280px;
      grid-column: 2 / 6;
      justify-self: center;
      margin-top: 50px;
    }

    @media (min-width: 1280px) {
      grid-column: 2 / 5;
      margin: 50px 0 0;
      grid-row: 1;
      margin-top: 390px;
    }
  }

  &__hr {
    display: none;
    @media (min-width: 1280px) {
      margin-top: 200px;
      display: block;
      width: 100%;
      height: 1px;
      grid-column: 2 / 5;
      margin-right: auto;
    }
  }

  &__blocktext {
    display: none;
    @media (min-width: 1280px) {
      grid-column: 2 / 6;
      display: block;
    }
  }

  &__blocktext2 {
    display: none;
    @media (min-width: 1280px) {
      grid-column: 7 / 12;
      display: block;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      display: block;
      grid-column: 2 / 6;
      max-width: 280px;
      justify-self: center;
    }

    @media (min-width: 0) and (max-width: 767px) {
      display: block;
      grid-column: 1 / -1;
      justify-self: center;
    }
  }

  &__Biologists {
    text-indent: -9999px;
    @media (min-width: 1280px) {
      margin: 0;
      margin-top: 100px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-indent: 0;
    }
  }

  &__choose {
    text-indent: -9999px;
    @media (min-width: 1280px) {
      text-indent: 0;
      text-transform: uppercase;
      margin: 0;
      margin-top: 100px;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 5%;
      color: #344f10;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      text-indent: 0;
      color: #344f10;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 5%;
      font-weight: 600;
      margin: 0;
      margin-top: 130px;
      text-transform: uppercase;
    }

    @media (min-width: 0) and (max-width: 767px) {
      text-transform: uppercase;
      text-indent: 0;
      margin: 0;
      margin-top: 100px;
      color: #344f10;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 5%;
      font-weight: 600;
    }
  }

  &__hr2 {
    display: none;
    @media (min-width: 1280px) {
      margin-top: 100px;
      display: block;
      width: 415px;
      height: 1px;
      grid-column: 8 / 12;
    }
  }

  &__zagolovok {
    color: #344f10;
    text-transform: uppercase;
    grid-column: 1 / -1;
    margin: 0;
    margin-top: 100px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 5%;

    @media (min-width: 768px) and (max-width: 1279px) {
      grid-column: 1 / 4;
      margin-top: 130px;
    }

    @media (min-width: 1280px) {
      margin-top: 200px;
    }
  }

  &__cosmetics {
    color: #333;
    grid-column: 1 / -1;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: 768px) and (max-width: 1279px) {
      grid-column: 1 / 4;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__learn {
    font-weight: 500;
    font-size: 14px;
    line-height: 18.2px;
    color: #344f10;

    @media (min-width: 768px) and (max-width: 1279px) {
      grid-column: 1 / 3;
    }
  }

  &__house {
    display: none;

    @media (min-width: 1280px) {
      display: block;
      color: #333;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__cosmeticImage {
    display: none;

    @media (min-width: 768px) {
      margin-top: 130px;
      grid-column: 4 / 7;
      background-image: url(../images/cosmetic__tablet.svg);
      width: 100%;
      height: 321px;
      background-size: 100%;
      background-position: center;
      display: block;
    }

    @media (min-width: 1280px) {
      background-image: url(../images/cosmetic-PC.svg);
      width: 100%;
      height: 529px;
      background-size: 100%;
      background-position: center;
      grid-column: 7 / 11;
      margin-top: 200px;
    }
  }

  &__block1 {
    grid-column: 1 / 4;

    @media (min-width: 1280px) {
      grid-column: 2 / 6;
    }
  }

  &__cosmeticImagePC {
    display: none;

    @media (min-width: 1280px) {
      display: block;
      background-image: url(../images/cosmetic__desktop.svg);
      width: 100%;
      height: 430px;
      background-size: 100%;
      background-position: center;
      grid-column: 11 / 13;
      margin-top: calc(200px + 99px);
    }
  }

  &__shop {
    text-transform: uppercase;
    color: #344f10;
    grid-column: 1 / -1;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 5%;
    margin: 0;
    margin-top: 100px;

    @media (min-width: 768px) and (max-width: 1279px) {
      grid-column: 1;
      text-align: start;
      margin: 0;
      margin-top: 130px;
    }

    @media (min-width: 1280px) {
      grid-column: 2 / 4;
      text-align: start;
      font-weight: 600;
      font-size: 36px;
      line-height: 39.6px;
      margin: 0;
      margin-top: 200px;
    }
  }

  &__zagol {
    text-transform: uppercase;
    margin: 0;
    margin-top: 100px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 5%;
    color: #344f10;
    grid-column: 1 / -1;

    @media (min-width: 1280px) {
      grid-column: 2 / 6;
    }
  }
}
