.page {
  font-family: "Avenir-Book", serif;
  scroll-behavior: smooth;
  
  &__body {
    background-color: #e5e5e5;
    transition: background-color 1s;
    box-sizing: border-box;
  }
}

@media screen and (max-width: $medium-screen-breakpoint) {
  .page__body {
    background-color: $c-dirty-white;
  }
}
