.page {
  &__header {
    margin-bottom: 48px;

    @include iPadMini {
      margin-bottom: 0;
    }
  }

  &__ingredients {
    padding-right: $margin-container;
    padding-left: $margin-container;

    @include iPadMini {
      padding-right: 0;
      padding-left: $margin-container / 2;
    }
  }
}
