@media (min-width: 320px) {
  .line2::after {
    display: none;
  }

  .container-first-section {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .page {
    &__second-section {
      margin-top: 100px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__second-section-title {
      font-size: 24px;
      margin: 0 0 10px;
      width: 100%;
      box-sizing: border-box;
    }

    &__second-section-text1 {
      margin: 0;
    }

    &__second-section-text2 {
      display: none;
    }

    &__second-section-link {
      margin: 30px 0 0;
    }

    &__first-section-text2 {
      font-size: 18px;
      margin-top: 100px;
      width: 280px;
    }

    &__second-section-text-container {
      width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &__second-section-big-container {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__first-section-text1 {
      display: none;
    }

    &__second-section-big-photo {
      display: none;
    }

    &__second-section-small-photo {
      display: none;
    }

    &__second-section-text-container::after {
      display: none;
    }

    &__second-section-text-container::before {
      display: none;
    }
  }
}

@media (min-width: 640px) {
  .page {
    &__first-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }

    &__second-section {
      display: flex;
      justify-content: flex-end;
    }

    &__second-section-image-container {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    &__second-section-big-container {
      width: 95%;
      display: flex;
      justify-content: space-between;
    }

    &__first-section-text2 {
      width: 280px;
      text-align: center;
    }

    &__second-section-text-container {
      width: 45%;
      height: 100%;
    }

    &__second-section-big-photo {
      display: flex;
      width: 100%;
      object-fit: cover;
      max-height: 400px;
    }
  }
}

@media (min-width: 1280px) {

  .line1::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 150%;
    bottom: 250px;
    left: -70px;
    border-radius: 8px;
    background-color: rgba(52, 79, 16, 0.5);
  }

  .line2::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 220%;
    bottom: -170px;
    right: -65px;
    border-radius: 8px;
    background-color: rgba(52, 79, 16, 0.5);
  }

  .line1 {
    position: relative;
  }

  .line2 {
    position: relative;
  }

  .container-first-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .page {

    &__first-section {
      margin-top: 306px;
    }

    &__first-section-text1 {
      display: unset;
    }

    &__first-section-text2 {
      margin: 0;
    }

    &__second-section {
      margin-top: 342px;
    }

    &__second-section-big-photo {
      display: unset;
      margin-right: 20px;
      width: unset;
      min-height: 529px;
    }

    &__second-section-small-photo {
      display: unset;
    }

    &__second-section-text-container {
      width: 380px;
      min-height: 529px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__second-section-text1 {
      margin-top: 40px;
    }

    &__second-section-text2 {
      display: unset;
      margin: 30px 0;
    }

    &__second-section-title {
      font-size: 36px;
      margin-top: 0;
    }

    &__second-section-link {
      margin-top: 10px;
    }

    &__second-section-text-container::after {
      display: unset;
      content: "witch of mountain winds";
      position: absolute;
      height: 18px;
      width: 192px;
      bottom: 440px;
      left: -135px;
      border-radius: 8px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      transform: rotate(271deg);
    }

    &__second-section-text-container::before {
      display: unset;
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      left: -90px;
      top: 230px;
      transform: rotate(90deg);

      background: rgba(52, 79, 16, 0.5);
    }
  }
}
