html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background: $c-gray;
  background-color: #E4DFD3;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  width: 100%;

  &:target {
    overflow: hidden;
  }

  &:not(:target) {
    overflow: auto;
  }
}

img {
  transition: transform $transform-duration;

  &:hover {
    transform: scale(1.04);
  }
}

.green-color {
  color: #344F10;
}
