.pagination-buttons {
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(2, 28px);
  // justify-items: center;
  // align-items: center;
  // column-gap: 10px;

  &__previous {
    height: 28px;
    width: 28px;
    margin-right: 14px;
    background: url(.././images/arrow.svg) ;
    transform: rotate(180deg);
  }

  &__next {
    height: 28px;
    width: 28px;
    background: url(.././images/arrow.svg) ;
  }
}
