.photos {
  &__position {
    @extend %blocks;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 253px;
    text-transform: uppercase;

    @media screen and (max-width: 1225px) {
      padding-top: 150px;
      margin: 0 20px;
      text-align: center;
    }

    @media screen and (max-width: 780px) {
      flex-direction: column;

      font-size: 14px;
      text-align: center;
    }
  }

  &__micro {
    width: 80px;
    height: 60px;

    margin: 0 auto;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/micro.png");
  }

  &__recycle {
    width: 99px;
    height: 84px;

    margin: 0 auto;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/recycle.png");
  }

  &__natural {
    width: 79px;
    height: 74px;

    margin: 0 auto;

    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/natural.png");
  }

  &__text {
    width: 380px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: -140px;

    &--micro {
      margin-top: 44px;

      @media screen and (max-width: 780px) {
        margin-bottom: 50px;
      }
    }

    &--recycle {
      margin-top: 19px;

      @media screen and (max-width: 780px) {
        margin-bottom: 50px;
      }
    }

    &--natural {
      margin-top: 30px;
    }
  }

  &__row {
    @media screen and (min-width: 780px) {
      padding: 0 20px;
    }
  }
}
