.powder {
  display: flex;
  justify-content: end;

  &__foto {
    background-image: url(../images/jar__mobile.svg);
    height: 397px;
    width: 182px;
    background-repeat: no-repeat;
    margin-right: -20px;
    margin-top: 20px;

    @media (min-width: 768px) and (max-width: 1279px) {
      background-image: url(../images/jar__tablet.svg);
      height: 397px;
      width: 398px;
      margin-right: -25px;
    }

    @media (min-width: 1280px) {
      background-image: url(../images/jar__desktop.svg);
      margin: 0;
      height: 397px;
      width: 480px;
    }
  }

  &__list {
    list-style: none;
    margin-top: 55px;
    text-align: end;
    margin-right: 20px;

    @media (min-width: 1280px) {
      margin-top: 35px;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-bottom: 52px;

    &--margin {
      margin-bottom: 49px;
    }
  }
}
