.powder {
  &__position {
    @extend %blocks;
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 200px;
    justify-content: space-between;

    @media screen and (max-width: 1225px) {
      padding-top: 100px;
      margin: 0 20px;

      flex-direction: column;
    }

    @media screen and (max-width: 780px) {
      flex-direction: column;
      max-width: 700px;
    }
  }

  &__block {
    @media screen and (max-width: 1225px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title {
    width: 300px;
    @extend %heading_blocks;
    margin: 100px 80px 100px 0;

    @media screen and (max-width: 1225px) {
      width: 150px;
      font-size: 24px;
      margin: 0;
    }
  }

  &__btn {
    @extend %btn-lern;

    @media screen and (max-width: 1225px) {
      position: relative;
      top: 500px;
    }

    @media screen and (max-width: 780px) {
      top: 300px;
    }
  }

  &__image {
    width: 700px;
    background-image: url("../images/powder.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 1225px) {
      width: 700px;
      margin-left: auto;
      height: 400px;
    }

    @media screen and (max-width: 780px) {
      max-width: 290px;
      height: 300px;
    }
  }

  &__img {
    width: 700px;
    height: auto;
  }

  &__bank {
    width: 380px;
    height: 395.69px;

    object-fit: cover;
  }
}
