.pre-about {
  padding-bottom: 100px;

  &__line {
    height: 1px;

    background: rgba(52, 79, 16, 0.5);

    &:first-child {
      position: absolute;
      left: 0;
      width: 40%;
    }

    &:last-child {
      position: absolute;
      right: 0;
      width: 48%;
    }
  }
}

.block {
  display: flex;
  padding: 100px 0;
  align-items: center;

  &__left {
    max-width: 50%;
    padding-right: 20%;

    font-size: 16px;
    line-height: 24px;

    color: #333;
  }

  &__right {
    max-width: 50%;

    font-size: 24px;
    line-height: 36px;

    text-transform: uppercase;
    color: #344f10;
  }
}

@media (max-width: $tablet) {
  .pre-about {
    padding: 50px;
    &__line {
      display: none;
    }
  }

  .block {
    padding: 0;
    
    &__left {
      display: none;
    }

    &__right {
      max-width: 100%;
      margin: 0 auto;
      text-align: center;

      font-size: 18px;
      line-height: 27px;
    }
  }
}
