.product {
  transition: transform 1s;
  &__img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  }
  &__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $titlesColor;
    padding: 20px 20px 10px;
  }
  &__price {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $titlesColor;
    padding-left: 20px;
  }
  &--2,
  &--3 {
    display: none;
  }
  &:hover {
    transform: scale(1.1);
  }
  @media (min-width: $mobileScreen) {
    &__img {
      height: 300px;
    }
    &__name,
    &__price {
      padding-left: 0;
    }
    &--3 {
      display: initial;
      overflow: hidden;
    }
  }
  @media (min-width: $notebookScreen) {
    &__img {
      height: 500px;
    }
    &--2 {
      display: initial;
    }
  }
}
