.product-card {
  width: 380px;
  margin-right: 20px;

  &__title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &--2 {
    @media (max-width: 992px) {
      display: none;
    }
  }

  &--3 {
    @media (max-width: 992px) {
      display: none;
    }
  }
}
