.promo {
  justify-content: space-between;
  padding-right: $mainPaddingRight;

  &__left {
    width: 50%;
    padding-right: 20px;
  }

  &__title {
    @include h1;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 52px;
  }

  &__right {
    height: 403px;
    width: 50%;
    object-fit: cover;
  }
}
