.promo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;

  &__title {
    font-size: 60px;
    line-height: 72px;
    color: $textColor;
    padding-bottom: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0 auto;

    @media (max-width: $tabletSize) {
      padding-top: 50px;
    }

    @media (max-width: 700px) {
      font-size: 36px;
      line-height: 46px;
    }

    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__descr {
    font-size: 22px;
    line-height: 130%;
    color: $textColor;
    padding-bottom: 52px;

    @media (max-width: 700px) {
      font-size: 18px;
    }
  }

  &__img {
    width: 580px;
    height: 456px;
    object-fit: cover;
    object-position: center;

    @media (max-width: $tabletSize) {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: $tabletSize) {
    flex-direction: column-reverse;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }

  &__btn {
    @media (max-width: $tabletSize) {
      margin: 0 auto;
    }
  }
}
