.pros {
  padding-inline: 20px;

  &__wrapper {
    margin-bottom: 100px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
  }

  &__item {
    text-transform: uppercase;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    line-height: 18px;
  }

  &__icon--bird {
    width: 62px;
    height: 60px;
  }

  &__icon--reuse {
    width: 100px;
    height: 84px;
  }

  &__icon--leafe {
    width: 79px;
    height: 64px;
  }
}
