.pros {
  &__wrapper {
    @include forWrapper;
    @include paddingInLine;
    margin-block: 100px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;

    @include onTablet {
      flex-direction: row;
    }
  }

  &__item {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    line-height: 18px;

    @include onTablet {
      width: 218px;
    }
  }
}
