.quality {
  display: flex;
  justify-content: space-between;
  padding: 254px 50px 250px 50px;

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__info {}

 
  &__photo {
    object-fit: none;
  }


  &__text1 {
    @include avenirM;
    font-size: 14px;
    line-height: 18px;
    align-items: end;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 44px;
    text-align: center;
  }


  &__text2 {
    @include avenirM;
    font-size: 14px;
    line-height: 18px;
  align-items: end;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 19px;
    max-width: 340px;
    text-align: center;

  }

  &__text3 {
    @include avenirM;
    font-size: 14px;
    line-height: 18px;
  align-items: end;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 24px;
    text-align: center;
  }

}