.quote {
  display: grid;
  grid-template-columns: 480px 380px;
  grid-gap: 120px;

  &__heading {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $highlight-color;
    font-weight: 600;
  }
}

@media screen and(max-width: 1050px) {
  .quote {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 30px;
    text-align: center;
  }
}

@media screen and(max-width: $tablet-screen-width) {
  .quote {
    grid-template-columns: 280px;
    justify-content: center;

    &__text {
      display: none;
    }

    &__heading {
      font-size: 18px;
      text-align: center;
    }
  }
}
