.representation {
  display: flex;
  justify-content: space-between;
  padding-top: 81px;
  // margin-left: 150px;
  padding-right: 53px;
  padding-bottom: 200px;
  width: 1130px;

  @media (max-width: 990px) {
    width: 714px;
    flex-direction: column;
    align-items: center;
    padding-right: 0 ;
    padding-bottom: 100px;
    padding-top: 0;
  }

  @media (max-width: 776px) {
    width: 100%;
    padding-bottom: 60px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    @media (max-width: 990px) {
      order: 2;
    }

  }

  &__desk-br {
    @media (max-width: 990px) {
      display: none;
    }
  }

  &__title {
    width: 480px;
    height: 280px;

    font-family: "Sharp Sans No2", sans-serif;
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;

    @media (max-width: 990px) {
      width: 466px;
      height: 90px;
      margin-top: 50px;

      font-family: "Sharp Sans No2", sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 46px;
      text-align: center;
    }

    @media (max-width: 776px) {
      margin-top: 25px;
      width: 280px;
      height: 60px;

      font-size: 24px;
      line-height: 31px;
    }

  }

  &__sub-title {
    margin-top: 30px;

    font-family: "Sharp Sans No2", sans-serif;
    font-size: 22px;
    font-weight: 500;

    @media (max-width: 990px) {
      align-self: center ;
      margin-top: 20px;
      width: 278px;
      height: 54px;
      font-family: "Sharp Sans No2", sans-serif;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }

    @media (max-width: 776px) {
      margin-top: 12px;
    }
  }

  &__button {
    display: block;
    width: 280px;
    height: 60px;
    margin-top: 52px;
    text-align: center;
    

    font-family: "Sharp Sans No2", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 60px;
    text-transform: uppercase;
    color: #f2f2f2;

    background-color: #333;
    @media (max-width: 990px) {
      align-self: center;
      margin-top: 26px;
    }
    @media (max-width: 776px) {
      margin-top: 19px;
    }
  }

  &__visual {
    width: 577px;
    height: 451px;
    @media (max-width: 990px) {
      order: 1;
      width: 714px;
      height: 500px;
    }
    @media (max-width: 776px) {
      width: 320px;
      height: 267px;
    }
  }

  &__img {
    width: 577px;
    height: 451px;
    @media (max-width: 990px) {
      width: 714px;
      height: 500px;
    }
    @media (max-width: 776px) {
      width: 320px;
      height: 267px;
    }
  }
}
