p{
  margin: 0;
  margin-block: 0;
}

h3{
  margin: 0;
}

h1{
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
}

button{
  padding: 0;
  margin: 0;
  border: 0;

}

h2{
  margin: 0;
  padding: 0;
  margin-block: 0;
}

textarea{
  padding: 0;
}

