/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #828282;
  -webkit-text-fill-color: #828282;
  -webkit-box-shadow: 0 0 0px 1000px #E4DFD3 inset;
  transition: background-color 5000s ease-in-out 0s;
}

* {
  box-sizing: border-box;
}
.page {
  scroll-behavior: smooth;
}

.page, .home-page {
  background-color: #E4DFD3;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

img, span {
  display: block;
}

h1, h2, h3, h4, h5, h6, p, ::before, ::after, p {
  margin: 0;
}

a {
  text-decoration: none;
  color:inherit
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
