body,
h1,
h2,
h3,
ul,
li,
p,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Sharp Sans Display no2", sans-serif;
}

input,
textarea {
  border: 0 none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}
