.section2 {
  &__item-1 {
    margin-top: 300px;
    display: block;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  
  }

  &__item-2 {
    margin-top: 306px;
    font-family: Avenir, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
  }
}
