.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item-1 {
    display: none;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;

    @include onDesktop {
      margin-top: 300px;
      display: block;
    }
  
  }

  &__item-2 {
    margin-top: 60px;
    display: inline-block;
    width: 280px;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    
    @include onTab {
      text-align: center;
    }

    @include onDesktop {
      margin-top: 306px;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
    }
  }
}
