.section-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  p {
    margin-top: 20px;
    width: 280px;
  }

  &__bird {
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }
  &__rows {
    margin-top: 68px;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }

  &__leaves {
    margin-top: 50px;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }
}
