.section-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  @include onTab {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 168px;
  }

  &__environmental-card--daed_bird {
    margin: 0;
    @include onDesktop {
      margin: 0;
    }
  }
  &__environmental-card--rows {
    margin-top: 68px;
    @include onDesktop {
      margin: 0;
    }
  }

  &__environmental-card--leaves {
    margin-top: 50px;
    @include onDesktop {
      margin: 0;
    }
  }
}
