.section3 {
  margin-top: 294px;
  &__item_1 {
    height: min-content;
    font-family: Avenir, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    color: #344f10;
  }
  &__item_2 {
    font-family: Avenir, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    width: 380px;
    color: #344f10;
  }
  &__item_3 {
    font-family: Avenir, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    width: 380px;
    color: #344f10;
  }
  &__learn-more {
    font-family: Sharp Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #344f10;
    text-transform: uppercase;
    text-decoration: none;
  }
}
