.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  @include onTab {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 30px;
    margin-left: 27px;
  }

  &__item_1 {
    font-family: Avenir, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: #344f10;
  }
  &__item_2 {
    display: block;
    height: 240px;
    width: 280px;
    margin-top: 12px;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344f10;
    @include onTab {
      width: 342px;
      height: 192;
    }
  }
  &__item_3 {
    display: none;
    font-family: Avenir, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    width: 380px;
    color: #344f10;
  }
  &__learn-more {
    padding-top: 44px;
    display: block;
    font-family: Sharp Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #344f10;
    text-transform: uppercase;
    text-decoration: none;
    &::after {
      content: "";
      display: block;
      width: 98px;
      height: 1px;
      background-color: black;
      margin-top: 5px;
    }
  }
  &__item_4 {
    display: none;
    @include onTab {
      display: flex;
      width: 369px;
      height: 318px;
    }
  }
}
