.section1 {

  &__item_h1 {
    font-weight: medium;
    font-size: 60px;
    display: flex;
  }

  &__paragraph_2 {
    font-family: Avenir, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
    margin-top: 30px;
  }

  &__batton-shop {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 60px;
    width: 260px;
    color: #f2f2f2;
    text-decoration: none;
    font-family: Sharp Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.15em;
  }
}
