.section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  overflow: hidden;
  @include onTab {
    width: 768px;
  }
  @include onDesktop {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 80px);
    grid-template-rows: repeat(7);
    gap: 20px;
  }

  &__item_1 {
    font-family: Avenir, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    color: #344f10;
    width: 280px;
    @include onTab {
      width: 728px;
    }
    @include onDesktop {
      font-size: 36px;
      font-weight: 500;
      line-height: 54px;
      letter-spacing: 0.05em;
      text-align: left;
      height: 162px;
      width: 300px;
      grid-column: 2 / 5;
      grid-row: 2 / 3;
    }
  }

  &__jar {
    margin-top: 37px;
    height: 382px;
    width: 397px;
    transform: translateX(50%);
    @include onTab {
      transform: translateX(75%);
    }
    @include onDesktop {
      transform: translateX(10%);
      grid-column: 9 / 12;
      grid-row: 1 / 7;
    }
  }
  &__learn-more {
    padding-top: 44px;
    display: block;
    transform: translateX(-80%);
    font-family: Sharp Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #344f10;
    text-transform: uppercase;
    text-decoration: none;
    @include onTab {
      width: 270px;
    }
    &::after {
      content: "";
      display: block;
      width: 98px;
      height: 1px;
      background-color: black;
      margin-top: 5px;
    }
    @include onDesktop {
      transform: translateX(0);
      grid-column: 2 / 3;
      grid-row: 6 / 7;
    }
  }
}
