.section {
  padding-top: 100px;
  padding-left: 150px;
  padding-bottom: 100px;
  padding-right: 50px;
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: $tabletSize) {
    width: 100%;
    padding: 30px;
  }

  @media (max-width: $mobile) {
    padding: 30px 20px;
  }
}
