.section {
  &__brand,
  &__about-creators,
  &__ingridients,
  &__footer {
    padding: 0 130px;
    overflow: hidden;
  }

  &__gifts-of-nature,
  &__shop,
  &__about-brand,
  &__about-creators,
  &__ingridients {
    margin-top: 200px;
  }

  &__brand {
    margin-top: 70px;
  }

  &__contact-us {
    margin-top: 260px;
    margin-bottom: 200px;
    overflow: hidden;
  }
}

@media screen and (max-width: $medium-screen-breakpoint) {
  .section {
    &__brand,
    &__about-creators,
    &__ingridients,
    &__footer {
      padding: 0 50px;
    }
  }
}

@media screen and (max-width: $small-screen-breakpoint) {
  .section {
    &__gifts-of-nature,
    &__about-brand,
    &__about-creators,
    &__ingridients {
      margin-top: 100px;
    }

    &__contact-us {
      margin-top: 150px;
      margin-bottom: 100px;
    }

    &__shop {
      margin-top: 80px;
    }

    &__brand {
      margin-top: 7px;
    }

    &__brand,
    &__about-creators,
    &__ingridients,
    &__footer {
      padding: 0 27px;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: $super-small-screen-breakpoint) {
  .section {
    &__gifts-of-nature,
    &__about-brand,
    &__about-creators,
    &__ingridients {
      margin-top: 60px;
    }

    &__brand {
      margin-top: 0;
      padding: 0;
    }

    &__shop {
      margin-top: 60px;
    }

    &__about-creators,
    &__ingridients,
    &__footer {
      padding: 0;
    }

    &__contact-us {
      margin-top: 60px;
      margin-bottom: 60px;
    }
  }
}
