.shop__card {

  &__image {
    width: 320px;
    height: 267px;
    padding-bottom: 20px;
  }

  &__title {
    @include paddingInLine;
    @include forCardsTitle;
    padding-bottom: 10px;
  }

  &__price {
    @include paddingInLine;
    @include forCardsTitle;
    font-weight: 500;
    padding-bottom: 30px;
  }

  &--hidden {
    display: none;
  }
}
