.shop {
  width: 100%;
  background-color: $backgroundGray;

  &__container {
    max-width: $containerMaxWidth;
    margin: 0 auto;
    padding-left: $sideIndentNotebook;

    @media (max-width: 1060px) {
      padding: 0 $sideIndentTablet;
    }

    @media (max-width: 375px) {
      padding: 0;
    }
  }

  &__side-inscription {
    top: 500px;
  }

  &__title {
    margin-left: 100px;

    @media (max-width: 1200px) {
      margin-left: 0;
    }

    @media (max-width: $breakpointTablet) {
      font-size: 24px;
    }

    @media (max-width: 375px) {
      text-align: center;
    }
  }

  &__button {
    @extend %button;

    display: block;
    margin: 30px auto 0;
  }
}
