.shop {
  &__input {
    display: none;
  }
}

.face:checked {
  & ~ .shop__galery-body {
    display: none;
  }

  & ~ .shop__galery-hair {
    display: none;
  }
  & ~ .shop__galery-candles {
    display: none;
  }
}

.body:checked {
  & ~ .shop__galery-body {
    display: flex;
  }

  & ~ .shop__galery-face {
    display: none;
  }

  & ~ .shop__galery-hair {
    display: none;
  }
  & ~ .shop__galery-candles {
    display: none;
  }
}

.hair:checked {
  & ~ .shop__galery-body {
    display: none;
  }

  & ~ .shop__galery-face {
    display: none;
  }

  & ~ .shop__galery-hair {
    display: flex;
  }
  & ~ .shop__galery-candles {
    display: none;
  }
}

.candles:checked {
  & ~ .shop__galery-body {
    display: none;
  }

  & ~ .shop__galery-face {
    display: none;
  }

  & ~ .shop__galery-hair {
    display: none;
  }
  & ~ .shop__galery-candles {
    display: flex;
  }
}
