@media (min-width: 320px) {
  .shopcard-2,
  .shopcard-3 {
    display: none;
  }
  .shop {
    margin-top: 100px;
    &__header-title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__card-photo-644px-1 {
      display: none;
    }

    &__card-photo-644px-3 {
      display: none;
    }

    &__header-title::after {
      display: none;
    }

    &__header-title::before {
      display: none;
    }

    &__big-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__header {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-title-title {
        margin: 0 0 20px;
      }

      &-link-text {
        margin: 0;
      }
    }

    &__cards-container {
      margin: 27px 0 0;
      width: 100%;
      box-sizing: border-box;
    }

    &__cards-1 {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__header-icons-container {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__button-link {
      width: 90%;
      text-decoration: none;
    }

    &__cards-1-first-text {
      width: 90%;
      margin: 20px 0 0;
    }

    &__cards-1-second-text {
      width: 90%;
      margin: 10px 0 0;
    }

    &__button {
      width: 100%;
    }

    &__button-container {
      width: 100%;
      box-sizing: border-box;
      margin: 30px 0 0;
    }

    &__cards-1-photo {
      width: 100%;
      box-sizing: border-box;
    }

    &-container {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 640px) {
  .shopcard-3 {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  .shop {

    &__header {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &__header-icons-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__cards-1 {
      width: 45%;
    }

    &__card-photo-644px-1 {
      display: flex;
      width: 100%;
      object-fit: cover;
    }

    &__card-photo-644px-3 {
      display: flex;
      width: 100%;
      object-fit: cover;
    }

    &__cards-1-photo {
      display: none;
    }

    &__cards-3-photo {
      display: none;
    }

    &__cards-container {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__button-container {
      width: 280px;
    }
  }
}

@media (min-width: 1280px) {
  .shopcard-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
  }

  .shopcard-3 {
    width: 30%;
  }

  .shop {
    &__cards-1-photo {
      display: unset;
      width: 100%;
      height: 500px;
    }

    &__big-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
    }

    &__header-title-title {
      margin-bottom: 30px;
      position: relative;

      &::after {
        display: unset;
        content: "about the creators";
        position: absolute;
        height: 18px;
        width: 192px;
        bottom: -60px;
        left: -130px;
        border-radius: 8px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        transform: rotate(271deg);
      }

      &::before {
        display: unset;
        content: "";
        position: absolute;
        width: 100px;
        height: 1px;
        left: -84px;
        top: 250px;
        transform: rotate(90deg);
        background: rgba(52, 79, 16, 0.5);
      }
    }

    &__cards-1 {
      width: 30%;
    }

    &-container {
      width: 95%;
    }

    &__header {
      width: 100%;
    }

    &__button-container {
      margin-top: 40px;

    }

    &__cards-container {
      margin-top: 62px;
      margin-right: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__cards-3-photo {
      display: unset;
      width: auto;
      height: 500px;
      object-fit: cover;
    }

    &__card-photo-644px-1 {
      display: none;
    }

    &__card-photo-644px-3 {
      display: none;
    }
  }

  .second {
    margin-top: 20px;
  }
}
