.shop {
  &__input {
    display: none;
  }
}

.face:checked {
  & ~ .shop__gallery-body {
    display: none;
  }

  & ~ .shop__gallery-hair {
    display: none;
  }

  & ~ .shop__gallery-candles {
    display: none;
  }
}

.body:checked {
  & ~ .shop__gallery-body {
    display: flex;
  }

  & ~ .shop__gallery-face {
    display: none;
  }

  & ~ .shop__gallery-hair {
    display: none;
  }
  & ~ .shop__gallery-candles {
    display: none;
  }
}

.hair:checked {
  & ~ .shop__gallery-body {
    display: none;
  }

  & ~ .shop__gallery-face {
    display: none;
  }

  & ~ .shop__gallery-hair {
    display: flex;
  }

  & ~ .shop__gallery-candles {
    display: none;
  }
}

.candles:checked {
  & ~ .shop__gallery-body {
    display: none;
  }

  & ~ .shop__gallery-face {
    display: none;
  }

  & ~ .shop__gallery-hair {
    display: none;
  }
  & ~ .shop__gallery-candles {
    display: flex;
  }
}
