.shop {
  width: 100vw;
  background-color: $backgroundGray;

  &__container {
    max-width: $containerMaxWidth;
    margin: 0 auto;
    padding-left: $sideIndentNotebook;
  }

  &__side-inscription {
    top: 480px;
  }

  &__title {
    margin-left: 100px;
  }

  &__button {
    @extend %button;

    display: block;
    margin: 30px auto 0;
  }
}
