.short-story {
  display: flex;
  justify-content: flex-end;
  @media (max-width: $screenDesctop) {
    flex-direction: column;
  }
  
  &__text {
    margin-right: 120px;
    padding: 100px 0 70px $bodyLeftPadding;
    color: $colorDark;
    border-top: 1px solid $colorPaleGreen;
    @media (max-width: $screenDesctop) {
      display: none;
    }
  }
  &__heading {
    align-self: flex-end;
    flex-shrink: 0;
    width: 630px;
    padding: 100px 200px 100px 0;
    color: $colorSaturatedGreen;
    border-bottom: 1px solid $colorPaleGreen;
    @media (max-width: $screenDesctop) {
      align-self: center;
      width: 280px;
      padding: 0;
      text-align: center;
      border-bottom: none;
    }
  }
}
