.side-text {
  position: absolute;

  @include decorative-text;
  color: rgba(52, 79, 16, 0.5);

  transform: rotate(-90deg);
  transform-origin: left top;

  &::before {
    display: block;
    width: 100px;
    height: 1px;
    position: absolute;
    top: 6px;
    left: -110px;

    content: "";
    background-color: rgba(52, 79, 16, 0.5);
  }
}
