.side-text {
  color: rgba(52, 79, 16, 0.5);
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -110px;
    right: 7px;
    width: 1px;
    height: 100px;
    background: rgba(52, 79, 16, 0.5);
  }
}
