.side-title {
 display: none;

  @include on-desktop {
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 18px;
  }

  &__line {
    background-color: rgba(52, 79, 16, 0.5);
    width: 1px;
    height: 100px;
    margin: 0 auto;
  }

  &__text {
    color: rgba(52, 79, 16, 0.5);
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    transform: rotate(-90deg);
    white-space: nowrap;
  }
}
