.side-description {
  position: absolute;

  // width: 192px;
  width: fit-content;
  height: 18px;
  transform: rotate(-90deg);
  transform-origin: top left;
  color: #8c9772;
  @extend %text2;

  &::after {
    position: absolute;
    top: 7px;
    left: -110px;
    display: block;
    width: 100px;
    height: 1px;
    content: " ";
    background: rgba(52, 79, 16, 0.5);
  }
}
