.side-text {
  position: absolute;

  font-family: SharpSansNo2Medium, sans-serif;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: rgba(52, 79, 16, 0.5);
  text-transform: uppercase;

  transform: rotate(-90deg);
  transform-origin: left top;
  transition: left $transition-duration;

  &::before {
    display: block;
    width: 100px;
    height: 1px;
    position: absolute;
    top: 6px;
    left: -110px;

    content: "";
    background-color: rgba(52, 79, 16, 0.5);
  }
}
