.slang {
  display: flex;

  &__description {
    width: 29.68vw;
    margin-right: 9.37vw;
    display: none;

    @media (min-width: 1280px) {
      display: block;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;

    width: 100%;
    margin-bottom: 60px;

    @media (min-width: 768px) {
      width: 280px;
      text-align: center;
      margin: 0 auto 100px;
    }

    @media (min-width: 1280px) {
      font-size: 1.87vw;
      text-align: left;
      width: 29.68vw;
      margin: 0;
    }
  }
}
