.sliders {
  display: flex;

  &__slider {
    width: 32px;
    height: 32px;

    &--left {
      background-image: url(../images/icons/active_back_arrow.png);
  
      &:disabled {
        cursor: default;
        background-image: url(../images/icons/back_arrow.png);
      }
    }
  
    &--right {
      background-image: url(../images/icons/active_front_arrow.png);
  
      &:disabled {
        cursor: default;
        background-image: url(../images/icons/front_arrow.png);
      }
    }
  }

  &__slider:first-child {
    margin-right: 16px;
  }

  
}

@media screen and (max-width: $small-screen-breakpoint) {
  .sliders {
    &__slider {
      width: 28px;
      height: 28px;
      background-size: contain;

      &:first-child {
        margin-right: 40px;
      }
    }
  }
}
