.slider {
  position: relative;
  left: 0;
  width: 1130px;

  @media (max-width: $breakpointNotebook) {
    width: 714px;
  }

  @media (max-width: $breakpointTablet - 1px) {
    width: 342px;
  }

  @media (max-width: 700px) {
    width: 320px;
  }

  &__container {
    overflow: hidden;
  }

  &__track {
    display: flex;
    transition: transform 0.3s;
  }

  &__buttons {
    display: flex;
    max-width: 66px;
    margin-top: 45px;

    @media (max-width: $breakpointTablet) {
      margin: 20px 0 0 auto;
    }

    @media (max-width: $breakpointTablet - 1px) {
      margin: 20px auto 0;
    }
  }

  &__btn-prev {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    background-image: url(../images/prev-arrow.svg);
    cursor: pointer;
  }

  &__btn-next {
    width: 28px;
    height: 28px;
    background-image: url(../images/next-arrow.svg);
    cursor: pointer;
  }
}
