.slider {
  position: relative;
  left: 0;
  width: 1130px;

  &__container {
    overflow: hidden;
  }

  &__track {
    display: flex;
    transition: transform 0.3s;
  }

  &__buttons {
    display: flex;
    margin-top: 45px;
  }

  &__btn-prev {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    background-image: url(../images/prev-arrow.svg);
    cursor: pointer;
  }

  &__btn-next {
    width: 28px;
    height: 28px;
    background-image: url(../images/next-arrow.svg);
    cursor: pointer;
  }
}
