.small-header {
  @media (min-width:$ipad-version-breakpoint) {
    display: none;
  }

  position: fixed;

  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding: $padding-for-nav-hamburger-menu;
  background-color: $menu-background-color;
  transition: transform 0.5s linear;
  z-index: 12;

  &__close-menu-button {
    display: flex;
    height: $hamburger-height;
    width: $hamburger-width;
    background: url(../images/menu-closer.svg) no-repeat;
    background-size: contain;

  }
}

.header__menu-toogler-checkbox:checked ~ .small-header {
  transform: translateX(-100%);
}
