@import "utils";
@import "fonts";
@import "typography";

@import "./productCard-blocks/container.scss";
@import "./productCard-blocks/header.scss";
@import "./productCard-blocks/menu.scss";
@import "./productCard-blocks/main-block.scss";

body {
  background: $body;
  height: max-content;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
