.page {
  background-color: #e4dfd3;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  margin: 0;
  min-width: 320px;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-100%);
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.button__overall {
  height: 60px;
  box-sizing: border-box;
  border: none;
  background-color: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2.4px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

.button__overall:hover {
  transform: scale(1.02);
  background-color: #344f10;
  cursor: pointer;
}

.button__text {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.container {
  padding-inline: 20px;
}

@media (min-width: 640px) {
  .container {
    padding-inline: 27px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-inline: 50px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-inline: 130px;
  }
}

.container__section {
  margin-block: 100px;
}

@media (min-width: 640px) {
  .container__section {
    margin-block: 130px;
  }
}

@media (min-width: 1280px) {
  .container__section {
    margin-block: 200px;
  }
}

.section-title {
  text-transform: uppercase;
  color: #344f10;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1.2px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

@media (min-width: 1280px) {
  .section-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 1.2px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 0;
  }
}

.wave-group {
  position: relative;
  padding-bottom: 30px;
}

.wave-group__message {
  margin-top: 40px;
}

.wave-group:hover {
  cursor: pointer;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
  transition: border-bottom 0.2s ease, color 0.2s ease;
}

.wave-group .input:hover {
  cursor: pointer;
}

.wave-group .input:focus {
  border-bottom: 1px solid #344f10;
  outline: none;
}

.wave-group .label {
  color: #333;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.label-char {
  transition: 0.2s ease all;
  font-size: 14px;
}

.index-0 {
  transition-delay: 0s;
}

.index-1 {
  transition-delay: 0.05s;
}

.index-2 {
  transition-delay: 0.1s;
}

.index-3 {
  transition-delay: 0.15s;
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #344f10;
  cursor: pointer;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 5px;
}

.wave-group .input:focus~.bar::before,
.wave-group .input:focus~.bar::after,
.wave-group .input:valid~.bar::after {
  width: 50%;
}

.header {
  overflow: hidden;
}

.header__content {
  margin: 0;
}

@media (min-width: 1280px) {
  .header__content {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 1280px) and (min-width: 640px) {
  .header__content {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 1280px) and (min-width: 1280px) {
  .header__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 1280px) and (min-width: 1440px) {
  .header__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

.header__content--photo {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 1280px) {
  .header__content--photo {
    grid-column: 7/13;
    transition: transform 0.3s;
  }

  .header__content--photo:hover {
    transform: scale(1.05);
  }
}

@media (min-width: 1440px) {
  .header__content--photo {
    grid-column: 7/13;
  }
}

.header__content--text-data {
  text-align: center;
  margin-bottom: 100px;
}

@media (min-width: 1280px) {
  .header__content--text-data {
    text-align: left;
    grid-row: 1;

    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 1280px) and (min-width: 640px) {
  .header__content--text-data {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 1280px) and (min-width: 1280px) {
  .header__content--text-data {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 1280px) and (min-width: 1440px) {
  .header__content--text-data {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

.header__content--title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

@media (min-width: 640px) {
  .header__content--title {
    font-size: 36px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: normal;
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .header__content--title {
    grid-column: 2/7;
    font-size: 60px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: normal;
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 0;
  }
}

.header__content--description {
  margin-top: 10px;
  padding-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
  font-style: normal;
}

@media (min-width: 1280px) {
  .header__content--description {
    grid-column: 2/5;
    margin-top: 30px;
  }
}

.header__content--button {
  display: block;
  width: 100%;
}

@media (min-width: 640px) {
  .header__content--button {
    margin: 0 auto;
    width: 280px;
  }
}

@media (min-width: 1280px) {
  .header__content--button {
    width: 100%;
    grid-column: 2/5;
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

@media (min-width: 1280px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}

.icon:hover {
  transform: scale(1.2);
}

.icon--menu {
  background-image: url(../images/menu.png);
}

.icon--logo {
  background-image: url(../images/logo.png);
}

.icon--basket {
  background-image: url(../images/bag.png);
}

.icon--close {
  background-image: url(../images/close.png);
  filter: brightness(0) invert(1);
}

.icon--inst {
  background-image: url(../images/insta.png);
}

.icon--facebook {
  background-image: url(../images/facebook.png);
}

.top-bar {
  padding-top: 15px;
  padding-bottom: 20px;
}

@media (min-width: 640px) {
  .top-bar {
    padding-top: 23px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .top-bar {
    padding-top: 52px;
    padding-bottom: 92px;
  }
}

.top-bar__mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  .top-bar__mobile {
    display: none;
  }
}

.top-bar__desktop {
  display: none;
}

@media (min-width: 1280px) {
  .top-bar__desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.top-bar__nav--list {
  display: flex;
  gap: 40px;
}

.top-bar__nav--link {
  color: #344f10;
  line-height: 27px;
  font-weight: 500;
}

.top-bar__logo {
  height: 50px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  transition: all ease 0.3s;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

.nav__link:hover {
  color: #333;
  cursor: pointer;
}

.nav__item {
  transition: transform 0.3s;
}

.nav__item:hover {
  transform: scale(1.1);
}

.menu {
  background-color: #333;
  overflow: auto;
  height: 100vh;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 70px;
  gap: 61px;
}

.menu__item {
  position: relative;
}

.menu__item::after {
  content: "";
  position: absolute;
  background-color: #828282;
  left: 0;
  bottom: -10px;
  display: block;
  width: 100%;
  height: 1px;
}

.menu__link {
  font-weight: 600;
  color: #e4dfd3;
  transition: all ease 0.3s;
}

.menu__link:hover {
  color: #344f10;
  transform: scale(1.05);
  cursor: pointer;
}

.introduction__content {
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 1280px) {
  .introduction__content {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
    grid-row: 1;
    padding-block: 100px;
  }
}

@media (min-width: 1280px) and (min-width: 640px) {
  .introduction__content {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 1280px) and (min-width: 1280px) {
  .introduction__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 1280px) and (min-width: 1440px) {
  .introduction__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 1280px) {

  .introduction__content::before,
  .introduction__content::after {
    content: "";
    position: absolute;
    background-color: #828282;
    display: block;
    height: 1px;
  }

  .introduction__content::before {
    width: 50%;
    top: 0;
    left: -130px;
  }

  .introduction__content::after {
    width: 62%;
    bottom: 0;
    right: -130px;
  }
}

.introduction__content--title {
  color: #344f10;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.9px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

@media (min-width: 640px) {
  .introduction__content--title {
    margin: 0 auto;
    text-align: center;
    max-width: 280px;
  }
}

@media (min-width: 1280px) {
  .introduction__content--title {
    margin: 0;
    width: 100%;
    grid-column: 7/11;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1.2px;
    font-family: Poppins, sans-serif;
    font-style: normal;
  }
}

.introduction__content--text {
  display: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

@media (min-width: 1280px) {
  .introduction__content--text {
    margin-top: 0;
    display: grid;
    grid-column: 2/6;
    grid-row: 1/2;
  }
}

.about-brand__content {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .about-brand__content {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 640px) {
  .about-brand__content {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 640px) and (min-width: 1280px) {
  .about-brand__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 1440px) {
  .about-brand__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 1280px) {
  .about-brand__content::before {
    top: 180px;
    content: "witch of mountain winds";
    position: absolute;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    transform-origin: left;
    transform: rotate(270deg);
    color: #344f10;
  }

  .about-brand__content::after {
    content: "";
    position: absolute;
    top: 220px;
    left: 10px;
    height: 20%;
    width: 1px;
    background-color: #344f10;
  }
}

@media (min-width: 640px) {
  .about-brand__content--left {
    grid-column: span 3;
  }
}

@media (min-width: 1280px) {
  .about-brand__content--left {
    grid-column: 2/6;
  }
}

.about-brand__content--right {
  display: none;
}

@media (min-width: 640px) {
  .about-brand__content--right {
    display: grid;
    grid-column: span 3;
  }
}

@media (min-width: 1280px) {
  .about-brand__content--right {
    display: grid;
    grid-column: 7/13;
  }
}

.about-brand__title {
  margin-top: 0;
}

.about-brand__text {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

@media (min-width: 640px) {
  .about-brand__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: normal;
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 0;
  }
}

.about-brand__text--desktop {
  display: none;
}

@media (min-width: 1280px) {
  .about-brand__text--desktop {
    display: block;
    padding-top: 30px;
  }
}

.about-brand__link {
  height: 40px;
}

.about-brand__link--active {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #344f10;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

.about-brand__link--active::after {
  content: "";
  position: absolute;
  background-color: #344f10;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 1px;
  transition: transform 0.3s;
  transform: scale(0);
}

.about-brand__link--active:hover::after {
  transform: scale(1);
}

@media (min-width: 640px) {
  .about-brand__photos--big {
    max-height: 321px;
  }
}

@media (min-width: 1280px) {
  .about-brand__photos--big {
    grid-column: 7/11;
    padding-right: 20px;
    max-height: 529px;
  }
}

.about-brand__photos--small {
  display: none;
}

@media (min-width: 1280px) {
  .about-brand__photos--small {
    display: grid;
    grid-column: 11/13;
    max-height: 430px;
    padding-top: 100px;
  }
}

.about-brand__photos--img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  .shop__content {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 640px) {
  .shop__content {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 640px) and (min-width: 1280px) {
  .shop__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 1440px) {
  .shop__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 640px) {
  .shop__content--left {
    grid-column: span 3;
  }
}

@media (min-width: 1280px) {
  .shop__content--left {
    grid-column: 2/7;
  }
}

.shop__content--right {
  display: none;
}

@media (min-width: 640px) {
  .shop__content--right {
    display: grid;
    grid-column: span 3;
  }
}

@media (min-width: 1280px) {
  .shop__content--right {
    margin-left: 20px;
    grid-column: 7/13;
  }
}

.shop__wraper {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

@media (min-width: 1280px) {
  .shop__wraper::before {
    top: 40px;
    content: "shop";
    position: absolute;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    transform-origin: left;
    transform: rotate(270deg);
    color: #344f10;
  }

  .shop__wraper::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 10px;
    height: 20%;
    width: 1px;
    background-color: #344f10;
  }
}

.shop__wraper--text {
  padding-bottom: 25px;
}

@media (min-width: 1280px) {
  .shop__wraper--text {
    padding-left: 100px;
    padding-bottom: 50px;
  }
}

.shop__title {
  text-align: center;
  padding-bottom: 20px;
}

@media (min-width: 640px) {
  .shop__title {
    text-align: left;
    padding-bottom: 13px;
  }
}

@media (min-width: 1280px) {
  .shop__title {
    padding-bottom: 30px;
  }
}

.shop__list {
  display: flex;
  gap: 34px;
  margin: 0;
  padding: 0;
}

@media (min-width: 640px) {
  .shop__list {
    gap: 14px;
  }
}

.shop__item {
  list-style: none;
}

.shop__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #828282;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.9px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

.shop__link::after {
  content: "";
  position: absolute;
  background-color: #333;
  bottom: -10px;
  display: block;
  width: 100%;
  height: 1px;
  transition: transform 0.3s;
  transform: scale(0);
}

.shop__link:hover::after {
  transform: scale(1);
}

.shop__link:hover {
  color: #333;
}

.shop__button {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .shop__button {
    max-width: 280px;
  }
}

.card__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

@media (min-width: 640px) {
  .card__img {
    max-height: 300px;
  }
}

@media (min-width: 1280px) {
  .card__img {
    max-height: 500px;
  }
}

.card__img:hover {
  transform: scale(1.02);
}

.card__title {
  padding: 20px 0 10px;
  color: #333;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.9px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

@media (min-width: 640px) {
  .card__title {
    padding: 20px 0 15px;
  }
}

.card__price {
  color: #333;
  text-transform: uppercase;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.9px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

@media (min-width: 640px) {
  .card__price {
    padding-bottom: 50px;
  }
}

@media (min-width: 1280px) {
  .card__price {
    padding-bottom: 40px;
  }
}

.creators__content {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .creators__content {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 640px) {
  .creators__content {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 640px) and (min-width: 1280px) {
  .creators__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 1440px) {
  .creators__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 1280px) {
  .creators__content::before {
    top: 120px;
    content: "about the creators";
    position: absolute;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    transform-origin: left;
    transform: rotate(270deg);
    color: #344f10;
  }

  .creators__content::after {
    content: "";
    position: absolute;
    top: 140px;
    left: 10px;
    height: 20%;
    width: 1px;
    background-color: #344f10;
  }
}

.creators__content--left {
  margin: 0;
}

@media (min-width: 640px) {
  .creators__content--left {
    grid-column: span 3;
  }
}

@media (min-width: 1280px) {
  .creators__content--left {
    grid-column: 2/6;
  }
}

.creators__content--right {
  display: none;
}

@media (min-width: 640px) {
  .creators__content--right {
    display: grid;
    grid-column: span 3;
  }
}

@media (min-width: 1280px) {
  .creators__content--right {
    display: grid;
    grid-column: 7/13;
  }
}

.creators__title {
  margin-top: 0;
  padding-bottom: 10px;
}

@media (min-width: 1280px) {
  .creators__title {
    grid-column: 2/5;
    min-width: 200px;
  }
}

.creators__text {
  margin: 0;
  padding-bottom: 20px;
  color: #333;
  font-size: 14px;
}

@media (min-width: 640px) {
  .creators__text {
    font-size: 16px;
    padding-bottom: 15px;
  }
}

@media (min-width: 1280px) {
  .creators__text {
    padding-bottom: 30px;
  }
}

.creators__text--desktop {
  display: none;
}

@media (min-width: 1280px) {
  .creators__text--desktop {
    display: block;
  }
}

.creators__link {
  height: 40px;
}

.creators__link--active {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #344f10;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

.creators__link--active::after {
  content: "";
  position: absolute;
  background-color: #344f10;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 1px;
  transition: transform 0.3s;
  transform: scale(0);
}

.creators__link--active:hover::after {
  transform: scale(1);
}

.creators__photos {
  display: none;
}

@media (min-width: 640px) {
  .creators__photos {
    display: block;
    max-height: 440px;
  }
}

@media (min-width: 1280px) {
  .creators__photos {
    max-height: 659px;
  }
}

.creators__photos--img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.creators__button {
  display: block;
  width: 100%;
  margin-top: 25px;
}

@media (min-width: 640px) {
  .creators__button {
    margin-top: 30px;
    width: 280px;
  }
}

@media (min-width: 1280px) {
  .creators__button {
    margin-top: 40px;
    grid-column: 2/5;
  }
}

.creators__button--text {
  text-align: center;
}

.tooth__content {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap: 21px;
}

@media (min-width: 640px) {
  .tooth__content {
    flex-direction: row;
    gap: 80px;
    padding-left: 27px;
    padding-right: 7px;
  }
}

@media (min-width: 1280px) {
  .tooth__content::before {
    top: 80px;
    content: "Ingredients";
    position: absolute;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    transform-origin: left;
    transform: rotate(270deg);
    color: #344f10;
  }

  .tooth__content::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 10px;
    height: 20%;
    width: 1px;
    background-color: #344f10;
  }
}

.tooth__content--left {
  display: flex;
}

@media (min-width: 640px) {
  .tooth__content--left {
    margin-left: 100px;
  }
}

.tooth__content--right {
  display: flex;
  column-gap: 15px;
}

.tooth__title {
  margin-bottom: 20px;
}

.tooth__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tooth__link {
  height: 40px;
}

@media (min-width: 640px) {
  .tooth__link--mobile-visible {
    display: none;
  }
}

.tooth__link--mobile-invisible {
  display: none;
}

@media (min-width: 640px) {
  .tooth__link--mobile-invisible {
    display: block;
  }
}

.tooth__link--active {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #344f10;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

.tooth__link--active::after {
  content: "";
  position: absolute;
  background-color: #344f10;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 1px;
  transition: transform 0.3s;
  transform: scale(0);
}

.tooth__link--active:hover::after {
  transform: scale(1);
}

.tooth__ingredients {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 52px;
  margin-left: 20vw;
}

@media (min-width: 640px) {
  .tooth__ingredients {
    margin: 0;
  }
}

.ingredient {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.ingredient__item {
  width: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: inherit;
  text-align: right;
}

.ingredient__img {
  max-height: 395px;
}

.ingredient__line {
  position: relative;
  display: inline-block;
  height: 1px;
  width: 32px;
  background-color: #333;
}

@media (min-width: 640px) {
  .ingredient__line {
    width: 76px;
  }
}

.ingredient__line::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 100%;
  height: 5px;
  width: 5px;
  background-color: #333;
  border-radius: 100%;
  box-sizing: border-box;
}

.details__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

@media (min-width: 640px) {
  .details__content {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
    align-items: normal;
  }
}

@media (min-width: 640px) and (min-width: 640px) {
  .details__content {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 640px) and (min-width: 1280px) {
  .details__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 1440px) {
  .details__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 640px) {
  .details__content--first-col {
    grid-column: span 2;
  }
}

@media (min-width: 1280px) {
  .details__content--first-col {
    grid-column: 1/5;
  }
}

@media (min-width: 640px) {
  .details__content--second-col {
    grid-column: span 2;
  }
}

@media (min-width: 1280px) {
  .details__content--second-col {
    grid-column: 5/9;
  }
}

@media (min-width: 640px) {
  .details__content--third-col {
    grid-column: span 2;
  }
}

@media (min-width: 1280px) {
  .details__content--third-col {
    grid-column: 9/13;
  }
}

.details__desciption {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.7px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

@media (min-width: 1280px) {
  .details__desciption {
    padding-top: 40px;
  }
}

.details__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}

@media (min-width: 640px) {
  .details__img--first {
    padding-bottom: 28px;
  }
}

@media (min-width: 1280px) {
  .details__img--first {
    padding-bottom: 47px;
  }
}

@media (min-width: 640px) {
  .details__img--second {
    padding-bottom: 23px;
  }
}

@media (min-width: 1280px) {
  .details__img--second {
    padding-bottom: 40px;
  }
}

@media (min-width: 640px) {
  .details__img--third {
    padding-bottom: 18px;
  }
}

@media (min-width: 1280px) {
  .details__img--third {
    padding-bottom: 32px;
  }
}

.contacts__content {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .contacts__content {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 640px) {
  .contacts__content {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 640px) and (min-width: 1280px) {
  .contacts__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 1440px) {
  .contacts__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 1280px) {
  .contacts__content::before {
    top: 40px;
    content: "help";
    position: absolute;
    left: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    transform-origin: left;
    transform: rotate(270deg);
    color: #344f10;
  }

  .contacts__content::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 10px;
    height: 20%;
    width: 1px;
    background-color: #344f10;
  }
}

@media (min-width: 640px) {
  .contacts__content--left {
    grid-column: span 3;
  }
}

@media (min-width: 1280px) {
  .contacts__content--left {
    grid-column: 2/6;
  }
}

@media (min-width: 640px) {
  .contacts__content--right {
    grid-column: span 3;
  }
}

@media (min-width: 1280px) {
  .contacts__content--right {
    grid-column: 7/13;
  }
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
}

.contacts__form--item {
  border: none;
  background-color: #e4dfd3;
}

.contacts__button {
  display: block;
  width: 100%;
}

@media (min-width: 640px) {
  .contacts__button {
    margin: 0 auto;
    width: 280px;
  }
}

@media (min-width: 1280px) {
  .contacts__button {
    margin: 0;
    grid-column: 2/5;
    margin-top: 20px;
  }
}

.contacts__img {
  display: none;
}

@media (min-width: 640px) {
  .contacts__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
  }
}

@media (min-width: 1280px) {
  .contacts__img {
    max-height: 540px;
  }
}

.footer {
  background-color: #8C9772;
  color: #e4dfd3;
}

.footer__content {
  padding-block: 30px;
}

@media (min-width: 640px) {
  .footer__content {
    padding-block: 60px;
    grid-row: 4;

    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 640px) {
  .footer__content {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 640px) and (min-width: 1280px) {
  .footer__content {
    --columns: 12;

    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 640px) and (min-width: 1440px) {
  .footer__content {
    --columns: 12;
    
    grid-template-columns: repeat(var(--columns), 80px);
    column-gap: 20px;
  }
}

@media (min-width: 640px) {
  .footer__content--left {
    grid-column: 1/3;
    grid-row: 1/1;
  }
}

@media (min-width: 1280px) {
  .footer__content--left {
    grid-column: 1/5;
  }
}

.footer__content--right {
  padding-top: 40px;
}

@media (min-width: 640px) {
  .footer__content--right {
    padding: 0;
    grid-row: 1/2;
    grid-column: 4/7;
  }
}

@media (min-width: 1280px) {
  .footer__content--right {
    grid-column: 8/12;
    order: 0;
  }
}

.footer__social {
  padding-top: 20px;
}

@media (min-width: 640px) {
  .footer__social {
    padding-top: 100px;
    grid-row: 1/2;
    grid-column: 1/3;
  }
}

@media (min-width: 1280px) {
  .footer__social {
    padding-top: 50px;
    grid-row: 3/4;
    grid-column: 8/12;
    order: 1;
  }
}

.footer__social--link {
  transition: box-shadow 0.3s;
}

.footer__social--link:hover {
  box-shadow: 0 0 11px #344f10;
}

.footer__name {
  text-align: center;
  padding-top: 40px;
}

@media (min-width: 640px) {
  .footer__name {
    text-align: left;
    padding-top: 50px;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

@media (min-width: 1280px) {
  .footer__name {
    grid-row: 3/4;
    grid-column: 1/5;
  }
}

.footer__link {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  transition: color 0.3s;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: normal;
  font-family: Poppins, sans-serif;
  font-style: normal;
  margin: 0;
}

.footer__link:hover {
  color: #344f10;
}

@media (min-width: 640px) {
  .footer__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: normal;
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .footer__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: normal;
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 0;
  }
}

.footer__icon {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

@media (min-width: 1280px) {
  .footer__list {
    flex-direction: row;
    gap: 40px;
  }
}

.footer__text {
  margin: 0;
}

.footer__text--link {
  display: block;
  margin-block: 7px;
  color: inherit;
  text-decoration: none;
  max-width: fit-content;
  transition: color 0.3s;
}

.footer__text--link:hover {
  color: #344f10;
}

@media (min-width: 1280px) {
  .footer__text--link {
    margin-block: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
