/* #region page */
html {
  font-family: "Poppins", sans-serif;
  width: 320px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e4dfd3;
}

h2 {
  margin: 0;
}
/* #endregion */

/* #region header*/

.header__top {
  width: 280px;
  height: 24px;
  flex-shrink: 0;
  padding: 15px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

.header__titel {
  margin: 25px 20px 10px;
  width: 280px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  color: #333;
}

.header-bg {
  background-image: url(../images/header-bg-mobile.png);
  width: 320px;
  height: 267px;
  flex-shrink: 0;
}

.header__text {
  margin: 10px 21px 30px 20px;
  width: 279px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button {
  margin: 0 20px;
  margin-bottom: 100px;
  padding: 0;
  border: none;
  width: 280px;
  height: 60px;
  flex-shrink: 0;
}
/* #endregion */

/* #region icon*/
.icon {
  display: block;
}

.icon--logo {
  margin-top: 5px;
}

.icon--menu {
  background-image: url(../icons/icon_menu.png);
  /* margin-top: 5px; */
  width: 20px;
  height: 13px;
  flex-shrink: 0;
}

.icon--bag {
  background-image: url(../icons/icon_bag.png);
  width: 20px;
  height: 24px;
  flex-shrink: 0;
}

.icon--cross {
  background-image: url(../icons/x.png);
  width: 14.87px;
  height: 14.88px;
  flex-shrink: 0;
}
/* #endregion */

/* #region menu*/
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #333;
  height: 100vh;
  flex-shrink: 0;

  opacity: 0;
  pointer-events: none;
}

.menu:target {
  opacity: 1;
  pointer-events: all;
}
/* #endregion */

/* #region main*/
.main {
  color: #344f10;
}

.main__add {
  margin: 100px 20px;
  padding: 0;
  width: 280px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.add__text {
  margin: 0;
}

.main__header {
  margin: 0 20px 10px;
  width: 280px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.main__header--center {
  margin: 0 124px 20px 127px;
  justify-content: center;
}

.main__about__content {
  margin: 10px 20px 30px;
  width: 280px;
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.main__about__a {
  margin: 0 20px 10px;
  color: #344f10;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  text-decoration: none;
}

.main__about__line {
  margin: 0 20px 100px;
  width: 86px;
  height: 1px;
  flex-shrink: 0;
  background: #344f10;
}

.shop__menu {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.shop__product {
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #828282;
  text-decoration: none;
}

.shop__product::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.35s;
}

.shop__product:hover {
  color: #333;
}

.shop__product:hover:before {
  width: 100%;
}

.card__bg {
  background-image: url(../images/product.png);
  width: 320px;
  height: 267px;
  flex-shrink: 0;
}

.card__name {
  margin: 20px 20px 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #333;
}

.card__price {
  margin: 0 20px 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #333;
}

.powder__ingreds {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.powder__image-container {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  box-sizing: border-box;
  width: 50%;
  max-width: 100%;
  overflow: hidden;
  transform: translateX(20px);
}

.powder__list {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateY(-30px);
}
/* #endregion */
