.sustainability {
  padding: 80px 20px 0;
  box-sizing: border-box;

  @media (min-width: 1280px) {
    padding-right: 40px;
    width: 100%;
    max-width: 1180px;
    margin: auto;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: 1280px) {
      width: 100%;
      justify-content: space-between;
      max-width: 1200px;
      box-sizing: border-box;
      margin-left: 20px;
    }

    &--item {
      width: 260px;

      @media (min-width: 768px) {
        display: block;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }

    &_icons {
      width: 62px;
      height: 62px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &-text {
        color: $color-dark;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        text-align: center;
        padding: 40px 0;
      }
    }
  }
}
