.switch {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-end;
  }

  @media (min-width: 1280px) {
    justify-content: flex-start;
  }

  &__item {
    text-align: center;
    line-height: 26px;
    width: 26px;
    height: 26px;
    background: transparent;
    border: none;

    cursor: pointer;

    @media (min-width: 1280px) {
      width: 2.19vw;
      height: 2.19vw;
    }
  }

  &__item + &__item {
    margin-left: 20px;

    @media (min-width: 1280px) {
      margin-left: 1.56vw;
    }
  }

  &--disable {
    color: #828282;
  }
}
