.tabs {
  margin-left: 100px;

  @media (max-width: 1200px) {
    margin-left: 0;
  }

  @media (max-width: 375px) {
    width: 320px;
    margin: 0 auto;
  }

  &__triggers {
    display: flex;
    justify-content: space-between;
    width: 382px;

    @media (max-width: 1200px) {
      width: 277px;
      margin-top: 12px;
    }

    @media (max-width: 375px) {
      margin-left: 20px;
    }
  }

  &__triggers-item {
    position: relative;
    padding: $navLinkPadding;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $lightGray;
    cursor: pointer;

    @media (max-width: 1200px) {
      font-size: 14px;
    }

    &:first-of-type {
      margin-left: -$navLinkPadding;
    }

    &:last-of-type {
      margin-right: -$navLinkPadding;
    }

    &--active {
      color: $mainGray;

      &::after {
        display: block;
        position: absolute;
        bottom: -10px;
        left: $navLinkPadding;
        width: calc(100% - 2 * #{$navLinkPadding});
        height: 1px;
        background-color: $mainGray;
        content: "";

        @media (max-width: 1200px) {
          bottom: -5px;
        }
      }
    }
  }

  &__content {
    margin-top: 80px;

    @media (max-width: 1200px) {
      margin-top: 30px;
    }
  }

  &__content-item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__content-container {
    display: flex;
    height: 664px;

    @media (max-width: $breakpointNotebook) {
      height: 464px;

      & .product:last-of-type {
        display: none;
      }
    }

    @media (max-width: $breakpointTablet) {
      height: 439px;
    }

    @media (max-width: $breakpointTablet - 1px) {
      & .product {
        display: none;
      }

      & .product:first-of-type {
        display: block;
      }
    }

    @media (max-width: 700px) {
      height: 406px;
    }
  }
}
