.title {
  color: $secondary-text-color;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  grid-column: 1 / - 1;

  @include onLaptop {
    font-size: 36px;
  }

  &--shop-section {
    text-align: center;

    @include onTablet {
      text-align: left;
    }

    @include onLaptop {
      grid-column: 2 / -1;
    }
  }
}
