.title {
  font-size: 36px;
  line-height: 150%;
  text-transform: uppercase;
  color: $text-green;
}

@media screen  and (max-width: $tablet-screen-breakpoint) {
  .title {
    font-size: 24px;
  }
}
