.tooth-powder {
  padding-left: 20px;

  &__wrapper {
    margin-bottom: 100px;
  }

   &__title {
    @include forTitles;
    margin-bottom: 20px;
   }

   &__list__wrapper {
    width: auto;
    height: 397px;
    background-image: url(..//images/svg/mobile/jar.svg);
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 30px;
   }

   &__list {
    padding: 37px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: end;
    align-items: end;
    width: 98px;
   }

   &__link {
    @include forLinks;
   }
}
