.tooth-powder {
  box-sizing: border-box;
  height: 548px;
  background-image: url(..//images/svg/mobile/jar.svg);
  background-position: right;
  background-repeat: no-repeat;
  @include paddingInLine;
  position: relative;

  @include onTablet {
    background-image: url(..//images/svg/tablet/jar.svg);
  }

  @include onDesktop {
    box-sizing: border-box;
    height: 398px;
    background-image: url(..//images/svg/desctop/svg.svg);
    position: relative;
  }

  &__wrapper {
    @include forWrapper;

    @include onDesktop {
      display: flex;
      gap: 120px;
    }
  }

  &__side-element {
    @include onDesktop {
      @include forSideText;

      transform: rotate(270deg) translateY(-70%);
      position: absolute;
      top: 85px;
      left: 0;

      &::before {
        width: 88px;
      }
    }
  }

   &__title {
    @include forTitles;
    margin-bottom: 20px;

    @include onTablet {
      width: 302px;
    }
   }

   &__list__wrapper {
     @include onTablet {
       margin-left: 32%;
     }

     @include onDesktop {
      margin: 0;
      width: 180px;
     }
   }

   &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: end;
    padding-top: 22px;
    width: 98px;

    @include onDesktop {
      padding-top: 40px;
      font-size: 16px;
      line-height: 24px;
    }
   }

   &__link {
    display: block;
    @include forLinks;
    margin-top: 80px;

    @include onDesktop {
      position: absolute;
      bottom: 0;
    }
   }
}
