.btn {
    display: inline-flex;
    min-height: 60px;
    min-width: 280px;
    padding: 0px 15px;

    justify-content: center;
    align-items: center;

    background-color: $colorMain;
    color: $colorGrey2;
    font-family: $fontSharp;

    text-transform: uppercase;
    letter-spacing: 0.15em;

    border: 1px solid transparent;

    transition-property: color, background-color, border-color;
    transition: 0.3s ease-in-out;

    @media (any-hover: hover) {
        &:hover {
            color: $colorMain;
            background-color: transparent;
            border-color: $colorMain;
        }
    }
}
