$mainBgColor:#e4dfd3;
$mainTextColor: #333;

$contentPaddingX: 20px;
$contentPaddingX-iPad: 27px;
$contentMaxWidth: 1300px;

$width-iPad: 768px;
$widthDesctopS: 1024px;
$widthDesctopM: 1280px;
$widthDesctopL: 1440px;
