$mainBgColor:#e4dfd3;
$mainTextColor: #333;
$titleColor: #344f10;

$contentPaddingX: 20px;
$contentPaddingX-iPad: 27px;
$contentPaddingX-laptop: 50px;

$contentMaxWidth: 1300px;

$width-iPad: 768px;
$widthLaptopS: 1024px;
$widthLaptopM: 1280px;
$widthLaptopL: 1440px;
$widthLaptopXL: 1600px;
