$colorMainBack: #e4dfd3;
$colorMain: #333;
$colorGreen: #344f10;
$colorGree2: #8c9772;
$colorGrey: #828282;
$colorGrey2: #f2f2f2;
$colorWhite: #E4DFD3;

$fontAvenir: "Avenir", sans-serif;
$fontSharp: "Sharp", sans-serif;
