.whyus {
  margin-bottom: 100px;
  &__content {

    &-img {
      background-image: url(../images/whyus/xbird.svg);
      height: 60px;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 20px;

      &--recycle {
        background-image: url(../images/whyus/recycle.svg);
        height: 84px;
      }

      &--leaf {
        background-image: url(../images/whyus/leaf.svg);
        height: 74px;
      }
    }

    &-par {
      line-height: 130%;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 0;
      margin-bottom: 50px;
    }
  }
}
