.whyus {
  margin-bottom: 100px;
  @include onTablet {
    margin-bottom: 130px;
  }
  @include onDesktop {
    margin-bottom: 200px;
  }
  &__box {
    @include onTablet {
      display: flex;
      justify-content: space-around;
      align-items: end;
      gap: 30px;
    }
    @include onDesktop {
      gap: 61px;
    }
  }
  &__content {

    &-img {
      background-image: url(../images/whyus/xbird.svg);
      height: 60px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-bottom: 20px;
      @include onTablet {
        margin-bottom: 38px;
      }
      @include onDesktop {
        margin-bottom: 61px;
      }

      &--recycle {
        background-image: url(../images/whyus/recycle.svg);
        height: 84px;
        @include onTablet {
          height: 67px;
        }
        @include onDesktop {
          height: 84px;
        }
      }

      &--leaf {
        background-image: url(../images/whyus/leaf.svg);
        height: 74px;
        @include onDesktop {
          height: 84px;
        }
      }
    }

    &-par {
      line-height: 130%;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}
