.wrapper {
  width: calc(100% - 40px);
  position: relative;
  margin: 0 20px;

  @media screen and (min-width: 769px) {
    width: 92.84vw;
    margin: 0 auto;
  }

  @media screen and (min-width: 1280px) {
    width: 92.18vw;
  }
}
