.desktop-logo {
  grid-column: span 3;
  display: block;
  height: 50px;
  width: 270px;
  background-image: url("../images/witch-of-the-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  @include hover(transform, scale(1.3));
}
