.socials {
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  width: 56px;
  margin-bottom: 30px;
  &__item {
    margin-right: 20px;
  }
  @include onTablet {
    margin-bottom: 50px;
  }
  @include onLaptop {
    grid-row: 3/4;
    grid-column: 8/9;
  }
}
