* {
  box-sizing: border-box;
}

body,
header,
aside,
main,
section,
article,
form,
label,
input,
textarea,
span,
div,
nav,
h1,
h2,
h3,
p,
a,
li,
ul,
picture,
img,
source,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::after,
::before {
  display: block;
  box-sizing: border-box;
}
