.page {
  background-color: $background-color;
  scroll-behavior: smooth;

  &__line {
    @include onMobile {
      display: none;
    }

    @include onDesktop {
      display: block;

      height: 1px;

      background-color: rgba(52, 79, 16, 0.5);
    }
  }

  &__body--with-menu {
    overflow: hidden;
  }
}
