.shop-card {
  &__headline {
    margin-bottom: 2vh;

    @include h5;
  }

  &__price {
    @include text;
    text-align: left;

    margin-bottom: 2vh;

    @include onDesktop {
      margin-bottom: 0.5vh;
    }
  }

  &__image {
    margin-bottom: 5vh;

    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;

    @include onTablet {
      margin-bottom: 3vh;
    }

    @include onDesktop {
      height: 350px;
    }
  }

  &__button {
    margin-bottom: 10vh;

    @include onTablet {
      margin: 3vh auto 5vh;
      width: 33vw;
    }

    @include onDesktop {
      margin: 0 0 5vh;
      width: 300px;
    }
  }

  &__description {
    @include product-description;

    margin-bottom: 3vh;

    &--application {
      margin-bottom: 7vh;
    }
  }

  &__vol {
    @include volume;

    margin-bottom: 3vh;
  }
}
