.icon {
  display: block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  &--menu {
    background-image: url("../images/menu.svg");
  }
  &--cart {
    background-image: url("../images/cart.svg");
  }
  &--cross {
    background-image: url("../images/cross.svg");
  }
}
