.reveal {
  grid-column: 1/2;
  display: block;
  width: max-content;
  padding: 0;
  padding-bottom: 12px;
  font-family: "Sharp Sans Display No2", sans-serif;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $darkGreenColor;
  background: none;
}
