.creators {
  &__title {
    grid-column: 1/3;
    margin-bottom: 12px;
  }
  &__description {
    grid-column: 1/3;
    margin-bottom: 44px;
    &:first-of-type {
      margin-bottom: 36px;
    }
  }
  &__reveal {
    margin-bottom: 32px;
  }
}

.page__creators {
  margin-bottom: 64px;
}
