.product-parameters {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;

  @include onTablet {
    flex-direction: row;
    gap: 30px;

    justify-content: space-between;
  }

  @include onDesktop {
    gap: 20px;
  }

  &__parameter {
    flex: 1 1 0;
  }
}
