@keyframes shake {
  from {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  to {
    transform: rotate(-10deg);
  }
}
