.button {
  @extend %button;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $c-black;
  height: 60px;
  width: 280px;
  color: $c-white;
  border: 1px solid $c-black;

  cursor: pointer;

  @include hover(color, $c-black);
  // @include hover(border, 1px);
  @include hover(background-color, $c-warm-gray);

  @include onDesktop {
    width: 100%;
  }

  &--learn-more {
    @extend %decorative-text;
    
    background-color: transparent;
    color: $c-green;
    height: 29px;
    width: max-content;
    
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      // bottom: -10px;
      margin-top: 10px;
      // margin-bottom: 10px;

      background-color: $c-green;
      transition: transform 0.3s;
      transform-origin: left;

      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
