%common-button {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;

  &-link {
    display: flex;
    width: 280;
    height: 60px;
    background-color: #333;
    border: 1px solid #333;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #f2f2f2;
    cursor: pointer;
    padding: 0;
    margin-bottom: 100px;
    transition: all $transform-duration;

    &:hover {
      color: #333;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 1);
      background-color: #E4DFD3;
    }

    &:active {
      background-color: #c1bbaf;
    }

    &-text {
      text-align: center;
      font-size: 16px;
      line-height: 170%;
      letter-spacing: 2.4px;
    }
  }
}
