@import "./vars";
@import "./mixins";

%h2 {
  font-size: 24px;
  font-weight: $font-weight-semibold;
  line-height: 150%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: $color-secondary;

  @include onSmallDesktop {
    font-size: 36px;
    font-weight: $font-weight-semibold;
    line-height: 110%;
    letter-spacing: 1.8px;
  }
}
