%h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 130%;
  color: #333;
}

%h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
}

%h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-transform: capitalize;
  color: #333;
}

%h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
}

%h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;
}
