@font-face {
  font-family: "Sharp Sans Display";
  src: url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Bold.otf");
  font-weight: 700;
}
  
@font-face {
  font-family: "Sharp Sans Display";
  src: url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Medium.otf");
  font-weight: 500;
}
