@font-face {
  font-family: "Sharp Sans Display no2";
  src: url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans Display no2";
  src: url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sharp Sans Display no2";
  src: url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Bold.otf");
  font-weight: 700;
  font-style: normal;
}
