h1 {
  margin: 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  margin-inline: 20px;
  margin-bottom: 10px;

  @include tablet {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
  }

  @include desktop {
    font-size: 60px;
    line-height: 130%;
    text-transform: none;
  }
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #344F10;

  @include desktop {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;

  @include desktop {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;

  @include tablet {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
