@use '../utils/vars';

@mixin visually-hidden() {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin hover-underline {
  position: relative;

  padding-top: 10px;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: -10px;
  //   height: 2px;
  //   background: vars.$green-800;
  //   opacity: 0;
  //   transition: opacity 300ms;
  // }

  &:hover::after {
    opacity: 1;
  }
}

@mixin underline {
  display: inline-block;
  border-bottom: 1px solid vars.$green-800;
  padding-bottom: 10px;
}
