@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin hover_link-button {
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    background-color: #e5e5e5;
    color: $text-grey;
  }
}
