
a {
  text-decoration: none;
}

p {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: $background-color;
  border-bottom: 1px solid $form-color;
  -webkit-text-fill-color: $text-color;
  transition: background-color 5000s ease-in-out 0s;
}
