* {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  line-height: 150%;
}

body {
  margin: 0;
  background-color: $c-gray;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 150%;
  text-transform: uppercase;
  color: $c-olive;
}

a {
  text-decoration: 0;
  color: #000;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
