* {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $c-dark-olive;
  line-height: 150%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $c-gray;
}

h2,
h3,
h4 {
  margin: 0;
  line-height: 150%;
  text-transform: uppercase;
  color: $c-olive;
  letter-spacing: 0.05em;
}

a {
  text-decoration: 0;
  color: #000;
  margin: 0;
  letter-spacing: 0.05em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  font-size: 36px;
  line-height: 54px;
}

header {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}
