* {
  scroll-behavior: smooth;
  background-color: $ivory;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 60px;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: $gray !important;
  transition: background-color 9999s ease-in-out 0s;
}
