* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $main-page-color-light;
  font-family: "Sharp Sans Display No2", sans-serif;
  font-weight: 500;
  color: $main-page-color-gray;
  line-height: 130%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #828282;
  -webkit-box-shadow: 0 0 0 1000px $main-page-color-light inset;
}

.together {
  white-space: nowrap;
}

.hidden {
  @include onTablet {
    display: none;
  }
}

.wrap-element {
  display: none;
  @include onTablet {
    display: inline;
  }
}
