ol,
ul {
  list-style: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
form,
label,
article,
aside,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: "Poppins", sans-serif;
}

.page__body--with-menu {
  overflow: hidden;
}

button {
  cursor: pointer;
}
