ul,
li,
h4,
h3,
h2,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

em {
  font-style: normal;
}
