::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: $c-light-green;
  border: 1px solid $c-green;
}

::-webkit-scrollbar-thumb {
  background-color: $c-black;
  border-radius: 7px;
}
