h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 130%;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 5%;
  color: $c-green-1;
  text-transform: uppercase;
}

%Text-reg-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $c-dark-main;
}

%Text-decor-14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: $c-green-1;
}

%Text-reg-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $c-dark-main;
}

%Text-reg-18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $c-dark-main;
}

%Text-important {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 5%;
}

%Button {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 15%;
  text-transform: uppercase;
}
