$big-logo-size: 50px;
$about-photo-size: 500px;
$button-width: 280px;

$section-first-padding: 150px;
$section-second-padding: 50px;
$section-third-padding: 30px;
$section-fourth-padding: 20px;

$first-breakpoint: 1600px;
$second-breakpoint: 1200px;
$third-breakpoint: 1024px;
$fourth-breakpoint: 720px;

$grey-color: #333;
$light-grey-color: #828282;
$green-color: #344f10;
$beige-color: #e4dfd3;
$hover-transition: 0.5s;
$standard-text-shadow: 2px 2px 5px;
