$pageMaxWidth: 1185px;
$sectionMaxWidth: 1080px;

$pagePadding: 20px;
$sectionIndentTop: 200px;
$pagePaddingMobile: 20px;
$sectionPaddingDesktop: 60px;

$beigeGrayColor: #e5e5e5;
$khakiColor: #344f10;
$khakiMediumColor: #8c9772;
$beigeGrayColor: #e4dfd3;
$GrayColor: #8e8b8c;
$grayMediumColor: #bdbdbd;
$grayLightColor: #f2f2f2;
$darkColor: #333;
