// #region colors
$white: #fff;
$black: #000;
$dark: #333;
$dark-gray-82: #828282;
$dark-gray: #8e8d8c;
$light-gray: #bdbdbd;
$light-white: #f2f2f2;
$light-red: #e4dfd3;
$light-green: #8c9772;
$green: #344f10;
$red: #eb5757;
$transp-green: rgba(52, 79, 16, 0.5);

// #endregion

$transition: 0.4s;
