$clr--bg: #E4DFD3;
$clr--white: #ffffff;
$clr--black: #000000;
$clr--green: #344F10;
$clr--green-light: #8C9772;
$clr--gray-1: #333333;
$clr--gray-2: #8E8D8C;
$clr--gray-3: #828282;
$clr--gray-4: #BDBDBD;
$clr--gray-6: #F2F2F2;
$clr--red: #EB5757;

// Form
$clr--bg-form: #ffffff;
$clr--input-form: #687480;
$clr--input-line: rgba(0, 0, 0, 0.3);

// Button
$clr--btn-text: #121212;
$clr--btn-hover: rgba(3, 128, 158, 0.40);

// Media
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$wideScreen-min-width: 1440px;

// Fonts
$font--main: 'Poppins', Helvetica, sans-serif;
