$pageWidth: 1210px;

$mainColor: #e4dfd3;
$hoverColor: #e5e5e5;
$darkGrey: #333;
$white: #fff;
$headers: #344f10;

$semiBold: 600;
$medium: 500;

$logoSize: 24px;

$btnHeight: 60px;
$btnWidth: 280px;
