$main-bg-color: #e4dfd3;
$light-grey: #f2f2f2;
$dark-green: #344f10;
$light-green: #8c9772;
$dark-color: #333;
$dark-grey: #828282;
$icon-size: 24px;
$indent-on-phone: 20px;
$indent-on-tablet: 28px;
$indent-on-desktop: 40px;
$indent-on-wide-screen: 40px;
