$poppinsFont: "Poppins";

$darkColor: #333;
$firstGreyColor: #828282;
$secondGreyColor: #bdbdbd;
$lightColor: #f2f2f2;
$pageBgColor: #e4dfd3;
$footerBgColor: #8c9772;
$greenColor: #344f10;

$mobileSectionIndent: 100px;
$tabletSectionIndent: 130px;
$desktopSectionIndent: 200px;

$SectionTitleIndent: 10px;
$desktopSectionTitleIndent: 34px;

$transitionTime: 0.8s;
