@keyframes goWalk {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes jumps {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes windLeaves {
  0% {
    transform: rotate(0);
  }

  20% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(20deg);
  }

  60% {
    transform: rotate(-20deg);
  }

  80% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes shop {
  from {
    transform: rotateY(50deg);
  }

  to {
    transform: rotateY(-50deg);
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

@keyframes photoSize {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
