.full-width-image {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;

  @include onTablet {
    position: static;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
