.input {
  display: block;
  width: 100%;
  padding: 0px 10px 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  color: rgb(88, 13, 13);

  &::placeholder {
    font-weight: 500;
    color: $colorGrey;
  }

  &:focus {
    border-bottom-color: rgb(88, 13, 13);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
