@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin button {
  width: 280px;
  height: 60px;

  font-family: "Sharp Sans Display No2", sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  background-color: $color-dark_gray;
  border: 2px solid transparent;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  &:hover {
    color: $color-dark_gray;
    background-color: $color-white;
    border-color: $color-dark_gray;
    text-shadow: 4px 4px 10px;
  }
}
