@mixin menuInlinePadding {
  padding-inline: 20px;
}

@mixin pageGrid {
  --column: 1;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--column), 1fr);


}

.container {
  @include menuInlinePadding;

}
