@mixin font-text-regular($fontSize, $color) {
  font-size: #{$fontSize};
  line-height: 150%;
  color: #{$color};
}

@mixin font-text-decorative($fontSize, $color) {
  font-size: #{$fontSize};
  font-weight: 500;
  line-height: 130%;
  color: #{$color};
}

@mixin font-text-tabs-regular($fontSize, $color) {
  font-size: #{$fontSize};
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.9px;
  color: #{$color};
}

@mixin font-text-heading-regular-second-level {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: $secondary-text-page-color;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  @include on-desktop {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 1.8px;
  }
}

@mixin font-text-nav-footer-bg {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: $main-text-nav-color;
}
