h1 {
  margin: 0;
  font-family: Avenir, sans-serif;
  font-weight: 500;
}

h2 {
  margin: 0;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #344f10;
}

p {
  margin: 0;
}
