$page-main-color: #E4DFD3;
$additional-color: #333333;
$gray-color: #828282;
$additional-gray-color: #BDBDBD;
$dark-green-color: #344F10;
$button-text-color: #F2F2F2;
$footer-bg-color: #8C9772;
$icon-color: #89946E;

$tablet-min-width: 768px;
$desktop-min-width: 1280px;

$transition-duration: 0.3s;
