$bg-color: #e4dfd3;

$main-color-text: #333;
$additional-color-text:#344f10;
$secondary-color-text: #828282;

$button-color: #333;
$button-text-color:#f2f2f2;

$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$design-min-width:1440px;
$effect-duration: 0.3s;
