$desktop-min-width: 1280px;
$tablet-min-width: 768px;
$main-background-color: #E4DFD3;
$main-text-color: #333;
$additional-text-color: #344F10;
$auxiliary-text-color: #828282;
$buttontext-color: #F2F2F2;
$buttonhover-color: #E4DFD3;
$footer-background-color: #8C9772;
$color-success: #344F10;
$color-error: #EB5757;
$effect-duration: 0.5s;
