$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$wide-screen-min-width: 1440px;

$c-main: #e4dfd3;
$c-footer: #8c9772;
$c-gray-1: #333;
$c-gray-3: #828282;
$c-gray-4: #bdbdbd;
$c-gray-6: #f2f2f2;
$c-green: #344f10;
$c-black: #000;
