$black-color: #333;
$white-color: #f2f2f2;
$green-color: #344f10;
$dark-grey-color: #8e8d8c;
$grey-color: #b2b2b2;
$grey-color-line: #bdbdbd;

$background-color: #e4dfd3;
$background-color-2: #8c9772;
