$max-width-container: 1180px;
$mobile-small: 479.98px;
$mobile: 767.98px;
$tablet: 991.98px;
$desktop: 1200px;
$minWidth: 320px;
$font-family: 'Poppins', sans-serif;
$second-family: 'Inter', sans-serif;
$font-size: 16px;
$main-color: #344f10;
$green-bg: #8c9772;
$secondary-color: #333;
$light: #f2f2f2;
$border: #bdbdbd;
$error: #eb5757;
$light-bg: #e4dfd3;
$unactive: #828282;
$duration: 0.3s;
