.text {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  transform: rotate(-90deg);

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: rgba(52, 79, 16, 0.5);

  &::before {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background: rgba(52, 79, 16, 0.5);
  }
}