@import "../utils";

.container {
  &__header {
    padding: $side-margins-mob;

    @include onTablet {
      padding: $side-margins-tab;
    }

    @include onDesktop {
      padding: $side-margins-big;
    }

    @include onLarge {
      padding: $side-margings-large;
    }
  }

  &__main {
    margin: $side-margins-mob;
  }

  &__about-brand {
    overflow: hidden;
    margin: $side-margins-mob;

    @include onTablet {
      margin: 10px 0 30px $margin-tab;
    }

    @include onDesktop {
      margin: 0 150px 0 100px;
      width: 380px;
    }
  }

  &__about-brand-images {
    display: flex;
  }

  &__shop {
    margin: $side-margins-mob;
  }

  &__creators {
    margin: $side-margins-mob;

    @include onTablet {
      margin: 0 30px;

      max-width: 342px;
    }

    @include onDesktop {
      display: flex;
      flex-direction: column;

      margin: 0 120px 0 $margin-big-side;
      max-width: 380px;
    }

    @include onLarge {
      margin: 0 120px 0 $side-margin-large--shop;
    }
  }

  &__creators-img {
    display: none;

    @include onTablet {
      display: block;
      margin-right: $margin-tab;
    }

    @include onDesktop {
      display: block;
      margin-right: $margin-big;
    }

    @include onLarge {
      margin-right: $margin-large;
    }
  }

  &__pros {
    margin: $side-margins-mob;
  }

  &__contact-us {
    margin: $side-margins-mob;

    @include onTablet {
      margin: $side-margins-tab;
      width: 100%;

      // max-width: calc(100vw / 2 - (#{$margin-tab * 2}));
    }

    @include onDesktop {
      margin: 0 120px 0 $margin-big-side;
      // max-width: calc((100vw - #{$section-gap-big}) / 2);
    }

    @include onLarge {
      margin: 0 120px 0 $side-margin-large--shop;
      // max-width: calc((100vw - #{$section-gap-big}) / 2);
    }
  }

  &__contact-us-img {
    display: none;
    overflow: hidden;

    & > picture {
      overflow: hidden;
    }

    @include onTablet {
      display: flex;
      justify-content: flex-end;

      margin-right: $margin-tab;
      width: 580px;
      height: auto;
    }

    @include onDesktop {
      display: flex;
      justify-content: flex-end;

      margin-right: $margin-big;
    }

    @include onLarge {
      margin-right: $margin-large;
    }
  }

  &__footer {
    margin: $side-margins-mob;

    @include onTablet {
      margin: $side-margins-tab;
    }

    @include onDesktop {
      margin: $side-margins-big;
    }

    @include onLarge {
      margin: $side-margings-large;
    }
  }
}
