.section--about-the-creators {
  .section__container {
    &--1 {
      @include onDesktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      @include onTablet {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }

  .section__learn-more-container {
    padding-top: 0;
    padding-bottom: 10px;

    @include onMobile {
      padding-bottom: 40px;
    }

    @include onTablet {
      padding-bottom: 40px;
    }
  }

  .section__title {
    padding-bottom: 0;

    @include onMobile {
      padding-bottom: 10px;
    }

    @include onTablet {
      padding-bottom: 10px;
    }
  }

  .section__text-container {
    @include onMobile {
      padding-bottom: 30px;
    }

    @include onTablet {
      padding-bottom: 30px;
    }
  }
}
