$tablet-min-wigth: 640px;
$desktop-min-wigth: 1280px;
$desktop-bg-min-wigth: 1440px;
$effect-duration: 0.3s;
$effect-animation-duration: 1.5s;
$effect-animation-delay: 0.3s;
$main-background-page-color: #e4dfd3;
$main-text-page-color: #333;
$secondary-text-page-color: #344f10;
$black-text-page-color: #000;
$main-decorative-color: rgba(52, 79, 16, 0.5);
$main-background-menu-color: #333;
$main-text-nav-color: #e4dfd3;
$hover-text-nav-color: #344f10;
$main-border-nav-color: #828282;
$main-background-button-color: #333;
$hover-background-button-color: #e4dfd3;
$main-text-button-color: #f2f2f2;
$hover-text-button-color: #333;
$main-border-button-color: #333;
$hover-border-button-color: #333;
$main-border-link-more-color: #344f10;
$hover-border-link-more-color: #333;
$main-text-link-more-color: #344f10;
$main-text-tabs-item-color: #828282;
$hover-text-tabs-item-color: #333;
$use-text-tabs-item-color: #344f10;
$use-after-background-tabs-ltem-color: #344f10;
$after-background-tabs-ltem-color: #333;
$main-text-cart-color: #333;
$label-selector: "~ .tabs__items > .tabs__item";
$content-selector: "~ .tabs__content > .tabs__carts";
$main-background-line-powder-color: #333;
$main-background-feedback-color: #e4dfd3;
$main-text-feedback-color: #333;
$invalid-text-feedback-color: #eb5757;
$valid-text-feedback-color: #344f10;
$main-border-feedback-color: #bdbdbd;
$hover-border-feedback-color: #333;
$focus-border-feedback-color: #333;
$invalid-border-feedback-color: #eb5757;
$valid-border-feedback-color: #344f10;
$placeholder-text-feedback-color: #828282;
$main-background-footer-color: rgba(52, 79, 16, 0.5);
$main-text-footer-color: #e4dfd3;
