.about {
  &__text {
    @extend %small-text;
    color: rgb(51, 51, 51);
    margin-bottom: 30px;

    @include tablet {
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(24);
    }

    @include desktop {
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(24);
    }

    &--desktop {
      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }

      @include desktop {
        margin-bottom: 40px;
      }
    }
  }

  &__link {
    @extend %decorative-text;
    text-transform: uppercase;
    color: $green-1-color;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      margin-top: 10px;
      display: block;
      height: 2px;
      width: 0;
      background-color: $green-1-color;
      transition: all 0.3s ease-in;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__image-1 {
    background-image: url("../images/img_about_1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 529px;

    @include mobile {
      display: none;
    }

    @include tablet {
      background-image: url("../images/img_about_3.png");
      max-height: 320px;
    }
  }

  &__image-2 {
    background-image: url("../images/img_about_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-end;
    bottom: 0;
    height: 430px;

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }
}
