.advantages {
  &__main {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }
  }

  &__advantage {
    flex: 1 0 30%;
  }

  &__img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 84px;
    margin: 0 auto;
    margin-bottom: 40px;

    &--1 {
      background-image: url("../images/icons/advantages-1.svg");
    }

    &--2 {
      background-image: url("../images/icons/advantages-2.svg");
    }

    &--3 {
      background-image: url("../images/icons/advantages-3.svg");
    }
  }

  &__description {
    text-align: center;
    @extend %text2;
    text-transform: uppercase;
  }
}
