.ayurvedic {
  margin-bottom: 100px;

  @include onTablet {
    margin-bottom: 130px;
  }

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__container {
    padding: 0 0 0 20px;
    margin-bottom: 100px;

    @include onTablet {
      position: relative;
      padding: 0 0 0 27px;
      margin-bottom: 145px;
    }

    @include onDesktop {
      padding: 0 50px;
    }
  }

  &__box {
    @include onTablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title {
    text-align: start;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__storage {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;

    @include onTablet {
      position: absolute;
      top: 0;
      right: 0;
      margin-bottom: 0;
    }

    @include onDesktop {
      gap: 20px;
      right: 59px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0;
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: $colorDarkGray;
    cursor: pointer;
    @include hover(transform, translateX(30px));

    &::after {
      content: "";
      display: inline-block;
      width: 76px;
      height: 1px;
      margin-bottom: 5px;
      background-color: $colorGreen;
    }
  }

  &__image {
    height: 395px;
    @include hover(transform, scale(1.1));

    @include onTablet {
      display: none;
    }
  }

  &__image-tablet {
    display: none;

    @include onTablet {
      display: inherit;
      @include hover(transform, scale(1.1));
    }

    @include onDesktop {
      display: none;
    }
  }

  &__image-desktop {
    display: none;

    @include onDesktop {
      display: flex;
      @include hover(transform, scale(1.1));
    }
  }

  &__link-top {
    display: none;

    @include onTablet {
      display: block;
      padding-top: 280px;
    }
  }

  &__link {
    @include onTablet {
      display: none;
    }
  }

  &__cards {
    padding: 0 20px;

    @include onTablet {
      padding: 0 27px;
    }

    @include onDesktop {
      padding: 0 50px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

    @include onTablet {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__logo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    @include hover(transform, scale(1.1));

    &--bird {
      background-image: url(../images/diedBird.svg);
      width: 62px;
      height: 60px;

      @include onTablet {
        width: 80px;
        height: 60px;
        margin-bottom: 30px;
      }
    }

    &--arrow {
      background-image: url(../images/arrowCircle.svg);
      width: 100px;
      height: 84px;

      @include onTablet {
        width: 80px;
        height: 68px;
        margin-bottom: 23px;
      }
    }

    &--leaves {
      background-image: url(../images/leaves.svg);
      width: 79px;
      height: 74px;

      @include onTablet {
        width: 80px;
        height: 75px;
        margin-bottom: 15px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
  }
}
