.benefits {

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 60px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__description {
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000;

    margin-top: 20px;
  }
}
