.button {
  transition-duration: 0.3s;

  &--small {
    display: inline-block;
    position: relative;

    @include text_decorative;

    text-transform: uppercase;
    text-decoration: none;
    color: $green_200;
    margin-top: 30px;

    @include onTablet {
      grid-column: 1 / 3;
    }

    @include onDesktop {
      margin-top: 40px;

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        display: block;
        height: 1px;
        width: 100%;
        background-color: $green_200;
        transition: transform 0.3s;
        transform: scale(0);
        transform-origin: left;
      }

      &:hover::after {
        transform: scale(1)
      }
    }
  }

  &--big {
    display: inline-block;
    background-color: $black;
    padding-block: 20px;
    margin-top: 36px;
    width: 100%;

    @include text_button;
    
    color: white;
    text-decoration: none;
    text-align: center;

    @include onTablet {
      margin-top: 50px;
      width: 280px;
    }

    @include onDesktop {
      &:hover {
        background-color: $beige;
        outline: 1px solid $black;
        color: $black;
      }
    }
  }
}
