.button {
  width: 280px;
  height: 60px;

  background: $c-grai;
  border: none;

  font-size: inherit;
  font-weight: 600;
  line-height: 130%;
  color: $c-white;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background: $c-background;
    color: $c-grai;
    border: 1px solid $c-grai;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
