.catalog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateY(-100%);
  background-color: $c-background;
  transition: transform 0.3s;

  padding: 15px 0 20px;

  overflow: hidden;
  z-index: 1;

  @include onTablet {
    padding: 23px 0 30px;
  }

  @include onDesktop {
    display: none;
  }

  &:target {
    transform: translate(0);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__img {
    width: 466px;
    height: 440px;
    margin-bottom: 27px;
  }

  &__card {
    margin: 0 151px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $c-grai;
    margin-bottom: 25px;
  }

  &__sum {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $c-greennn;
    margin-bottom: 10px;
  }

  &__ingredient {
    margin-top: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $c-black ;
  }

  &__application {
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__green {
    color: $c-greennn;
  }

  &__gram {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $c-grai;
    margin-bottom: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
