.contact {
  margin: 0 auto;
  margin-top: 150px;
  overflow: hidden;
  
  @include desktop() {
    width: 1200px;
  }
  
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
  }
  
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }
  
  &__img {
    width: 550px;
    height: 500px;
    display: none;
    background-image: url(../images/contact-us.jpg);
    transition: transform 300ms;
  
    @include tablet() {
      display: block;
    }
  
    &:hover {
      transform: scale(1.04);
    }
  }
  
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
