.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 20px;

  @include onTablet {
    padding: 0 27px;
  }

  @include onDesktop {
    padding: 0 50px;
  }

  @include onDesktopLarge {
    padding: 0 130px;
  }

  &--hidden {
    @include onMobile {
      padding: 0;
    }

    @include onTablet {
      margin-bottom: 20px;
    }
  }
}
