.container {
  // margin: 0;
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;

  @include on768px {
    padding: 0 27px;
  }

  @include on1280px {
    padding: 0 50px;
  }

  @include on1440px {
    padding: 0 130px;
  }
}
