.creators {
  margin-bottom: 100px;
  padding: 0 20px;

  @include onTablet {
    padding: 0 0 0 27px;
    margin-bottom: 130px;
  }

  @include onDesktop {
    padding: 0 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onTablet {
      align-items: flex-start;
    }
  }

  &__title {
    width: 150px;
    margin-bottom: 10px;

    @include onTablet {
      width: 100%;
      text-align: start;
    }

    @include onDesktop {
      margin-bottom: 34px;
    }
  }

  &__text {
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 15px;
    }

    @include onDesktop {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 20px;

      @include onDesktop {
        margin-bottom: 0;
      }
    }
  }

  &__text-bottom {
    display: none;

    @include onDesktop {
      display: inherit;
      margin-bottom: 20px;
    }
  }

  &__link {
    margin-bottom: 25px;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__image {
    @include onTablet {
      background-image: url(../images/handBird.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 435px;
      @include hover(box-shadow, 4px 4px 10px);
      @include hover(transform, scale(1.05));
    }

    @include onDesktop {
      height: 669px;
    }
  }
}
