.description-section {
  display: none;

  @include onDesktop {
    display: block;
    position: relative;
    grid-column: 1 / 2;
  }

  &__content {
    @include onDesktop {
      position: absolute;
      transform: rotateZ(-90deg);
      transform-origin: top center;
      width: max-content;
      margin-left: -100%;
      padding-left: 10px;
      color: $decoration-line;
      &--margin-0 {
        margin-left: 0;
      }
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      background-color: $decoration-line;
      width: 100px;
      right: 100%;
      top: 50%;
    }
  }
}
