.form-field {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
  background-color: $main-color;
  border: none;
  padding: 0;
  color: #828282;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
  outline: none;

  &::placeholder {
    color: #828282;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #828282;
    transition: background-color 5000s ease-in-out 0s;
  }

  &--textarea {
    font-family: inherit;
    resize: none;
    height: 100%;
    margin-bottom: 0;
  }
}
