.form-field {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
  background-color: $main-color;
  border: none;
  padding: 0;
  color: #828282;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
  outline: none;

  &::placeholder {
    color: #828282;
  }

  &:hover {
    
  }

  &--textarea {
    font-family: inherit;
    resize: none;
    height: 100%;
    margin-bottom: 0;
  }
}
