.gifts {
  margin: 100px 0;

  @include on768px {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 80px auto;
  }

  @include on1280px {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 330px;
  }

  @include on1440px {
    margin-left: 120px;
  }

  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorDarkgreen;
    width: 280px;

    @include on1280px {
      width: 290px;
      text-align: left;
      padding-top: 100px;
      border-bottom: 1px solid  rgba(52, 79, 16, 0.5);
      padding-bottom: 150px;
    }
  }

  &__text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    display: none;

    @include on1280px {
      display: flex;
      width: 380px;
      text-align: left;
      border-top: 1px solid rgba(52, 79, 16, 0.5);
      padding-top: 100px;
      margin-right: 120px;
    }
  }
}
