.icon {
  --size-icon: 20px;

  &--bascket-shop {
    @include icon(var(--size-icon),url(../images/icon/bascket_shop.svg) );
  }

  &--menu {
    @include icon(var(--size-icon),url(../images/icon/menu_icon.svg) );
    @include onDecstop {
      display: none;
     }
  }

  &--cross {
    @include icon(var(--size-icon),url(../images/icon/cross.svg) );
  }
  @include onTablet {
    --size-icon: 40px;
  }
}

