.icons {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include onDesktop {
    height: 32px;
    width: 32px;
  }

  &--menu {
    background-image: url(../images/icons/Menu.svg);
  }

  &--shop {
    background-image: url(../images/icons/shop.svg);
  }

  &--close {
    background-image: url(../images/icons/close.svg);
  }
}
