.learn-more {
  &__link {
    @extend %p;
    display: block;
    width: max-content;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    color: $green-color;
    padding-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: $effectDuration;

    &:hover {
      box-sizing: border-box;
      border-color: $green-color;
    }
  }
}
