.learn-more {
  position: relative;
  padding: 10px 0;
  text-decoration: none;
  @extend %decorative-text;
  color: $titel-color;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid $titel-color;

  }

}
