.learn-more {
  display: block;
  width: max-content;
  position: relative;
  padding: 10px 0;
  text-decoration: none;
  @extend %decorative-text;
  color: $titel-color;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid $titel-color;
    }
  }
}
