.link {
  display: block;
  width: max-content;

  &__item {
    text-transform: uppercase;
    text-decoration: none;
    color: $dark-green;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;

    &::after {
      content: "";
      display: block;
      margin-top: 10px;
      height: 1px;
      width: 100%;
      background-color: $dark-green;
    }
  }

  &--bottom {
    margin-bottom: 25px;
  }

  &--powder {
    padding-inline: 20px;
    margin-bottom: 100px;
  }
}
