.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  
  &__img {
    width: 33px;
    height: 33px;
  }
  
  &__title {
    text-transform: uppercase;
    display: none;
  
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #344f10;
  
    @include tablet() {
      display: inline-block;
    }
  }
}
