.main-content {
  &__section {
    position: relative;
    margin-top: 100px;

    @include onTablet {
      margin-top: 130px;
    }

    @include onTablet {
      margin-top: 200px;
    }

    &--margin-top-tagline {
      margin-top: 130px;
    }
  }
}
