.main-block {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 100px;

  @include tablet {
    gap: 130px;
    margin-bottom: 130px;
  }

  @include desktop {
    gap: 200px;
    margin-top: 200px;
    margin-bottom: 130px;
  }
}
