.main-content {
  overflow: hidden;
  &__section {
    margin: 100px 20px 0;

    @include onTablet {
      margin: 130px 30px 0;
    }

    @include onDecstop {
      margin: 200px 0 0;
    }

    &--margin-top-tagline {
      margin-top: 130px;
    }
  }
}
