.main-content {
  max-width: 1250px;
  margin: 0 auto;
  &__section {
    margin: 50px 0 0;
    padding: 50px 0 0;

    @include onTablet {
      margin: 65px 0 0;
      padding: 65px 0 0;
    }

    @include onDesktop {
      margin: 100px 0 0;
      padding: 100px 0 0;
    }

    &--margin-top-tagline {
      margin-top: 130px;
    }
  }
}
