.main {
  &__start {
    margin-top: 100px;
    @include container;
    @extend %h5;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: $green-color;

    @include onTablet {
      margin: 0 auto;
      margin-top: 130px;
      width: 280px;
      text-align: center;
    }
  }
}
