.menu {

  background-color: #333;
  height: 100vh;
  display: none;
  transition: all 0.3s;

  &:target {
    display: block;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

  }

  &__img {
    width: 20px;
    height: 20px;
    background-image: url(../images/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }

  &__link {
    font-family: Sharp_Sans_No2, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;

    text-align: center;
    color: #e4dfd3;
    text-decoration: none;

    width: 100%;
    display: block;
    box-sizing: border-box;
    border-bottom: 1px solid ;

    padding-bottom: 10px;
    margin-top: 30px;
  }
}
