.menu {
  height: 100vh;
  background-color: $black;
  z-index: 2;
  overflow: auto;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 26px;

    @include onTablet {
      margin-bottom: 72px;
    }
  }
}
