.nav-header {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__link {
    text-decoration: none;
    font-family: Sharp_Sans_No2, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;

    color: $h2color;

    padding-right: 38px;

    &:last-child {
      padding-right: 0;
    }

    &::after {
      content: "";
      opacity: 0;
      display: block;
      height: 2px;
      background-color: #333;
      width: 100%;
      // margin-top: 10px;
      transition: all 0.3s;
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover {
      font-weight: bold;
      color: #333;
    }
  }
}
