.nav-header {

  &__link {
    text-decoration: none;
    font-family: Sharp_Sans_No2, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;

    color: $h2color;

    padding-right: 38px;

    &:last-child {
      padding-right: 0;

    }
  }
}
