.nav {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__link {
    text-decoration: none;
    font-family: Avenir, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    color: #e4dfd3;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
}
