.page {
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  min-width: 320px;
  scroll-behavior: smooth;

  background-color: $page-bg-color;

  &-overflow {
    overflow: hidden;
  }
}

.main {
  height: 250px;
}
