.price {

  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $textColor;

  &__title {
    font-size: 20px;
    font-weight: normal;
  }

  &__amount {
    font-size: 18px;
  }
}
