.section {
  &__title {
    color: $dark-green;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    &--shop {
      text-align: center;

      @include onTablet {
        text-align: left;
      }
    }

    @include onDekstop {
      font-size: 36px;
      line-height: 110%;
      letter-spacing: 1.8px;
    }
  }

  &__paragraph {
    color: $main-black;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;

    @include onTablet {
      font-size: 16px;
    }
  }

  &__span {
    position: absolute;
    top: 17%;
    right: 90%;
    width: 192px;
    transform: rotate(-90deg);

    color: $light-green;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;

    &--ayurvedic {
      top: 7%;
    }

    &--contacts {
      top: 4%;
    }

    &--shop {
      top: 2%;
    }
  }
}
