.shipping {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateY(-100%);
  background-color: $c-background;
  transition: transform 0.3s;
  
  padding: 15px 0 20px;
  
  overflow: hidden;
  z-index: 1;
  
  @include onTablet {
    padding: 23px 0 30px;
  }
  
  @include onDesktop {
    display: none;
  }

  &:target {
    transform: translate(0);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }

  &__title {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-bottom: 66px;

    &::after {
      content: "";
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      margin-top: 5px;
      height: 1px;
      width: 218px;
      background: $c-green;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--title {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $c-grai;
      margin-bottom: 40px;
    }
  }

  &__forms {
    display: flex;
    flex-direction: column;
    background-color: $c-background;
  }

  &__field {
    display: flex;
    padding-bottom: 5px;
    background-color: $c-background;
    border: none;
    border-bottom: 1px solid $c-border;
    color: $c-line;
    text-transform: capitalize;
    height: 21px;
    width: 278px;
    gap: 26px;
    margin-bottom: 50px;
  }
}
