.shiping {
  background-color: #e4dfd3;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: transform 300ms;
  display: none;
  
  transform: translateY(-100%);
  
  &:target {
    transform: translateY(-0%);
    display: block;
  }
  
  &__checkout {
    font-size: 16px;
    font-weight: 500px;
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.52);
  
    @include tablet() {
      width: 300px;
    }
  }
  
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 30px;
  }
  
  &__link {
    color: #fff;
    text-decoration: none;
  
    // .button--brown:hover {
    //   .shiping__link {
    //     color: #333;
    //   }
    // }
  }
}
