.shop {
  &__title {
    margin-top: 100px;
  
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    text-align: center;
  }
}
