.shop {
  overflow: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 30px;
    justify-content: center;
  }

  @include onDecstop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
  &__header {
    text-align: center;
    margin: 0 20px;
    color: $titel-color;
    @extend %h4;
    @include onTablet {
      margin: 0 30px;
      text-align: left;
      grid-column: 1 /-1;
    }

    @include onDecstop {
      grid-column: 2 /-1;
      margin: 0;
    }
  }

  &__btn {
    grid-row: 4;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    @include onTablet {
      margin-top: 50px;
    }
    @include onDecstop {
      margin-top: 40px;
    }
  }
}
