.subtitle {
  display: none;
  align-items: center;
  gap: 10px;
  transform: rotate(180deg);
  margin-right: 60px;

  justify-self: start;
  align-self: start;
  writing-mode: vertical-rl;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #344f1080;

  @include onDesktop {
    display: flex;
  }

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    background-color: #344f1080;
  }
}
