.eco {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  &__img {
    padding-top: 60px;
    max-width: 100px;

    &:nth-child(1) {
      max-width: 62px;
    }
    &:nth-child(5) {
      max-width: 80px;
    }
  }
}
