.footerTM {
  margin-top: 100px;

  font-size: 14px;
  line-height: 18px;
  color: #e4dfd3;

  padding: 30px;

  background-color: rgba(52, 79, 16, 0.5);
  height: 280px;

  &__left-part {
    display: flex;
    flex-direction: column;

    & > * {
      padding-bottom: 20px;
    }
  }

  &__right-part {
    display: flex;
    flex-direction: column;
    & > * {
      padding-bottom: 12px;
    }
  }

  &__text {
    padding-top: 50px;
  }

  &__support-info {
    padding-top: 20px;
  }
}
