.headerTM {
  @media (min-width: 1025px) {
    display: none;
  }

  &__content {
    min-height: 100vh;
  }

  &__container {
    padding: 0 27px;

    @include onMobile {
      padding: 0 20px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    height: 77px;

    &_icon {
      object-position: center;
      background-repeat: no-repeat;
      object-fit: contain;
    }

    &_menu {
      width: 18px;
      height: 18px;
      background-image: url(../images/menuIcon.svg);
      object-position: bottom;
      transform: translateY(10%);
    }

    &_logo {
      width: 24px;
      height: 24px;
      background-image: url(../images/logoround1.svg);
    }

    &_cart {
      width: 20px;
      height: 20px;
      background-image: url(../images/shoppingbagtablet.svg);
    }
  }

  &__h1 {
    margin-top: 50px;
    font-size: 36px;
    text-align: center;
    color: #333;

    @include onMobile {
      margin-top: 290px;
      line-height: 32px;
      font-size: 24px;
      font-weight: 400;

    }
  }

  &__text {
    font-family: Avenir, sans-serif;
    font-weight: 500;
    margin: 20px 0 57px;
    font-size: 18px;
    text-align: center;
    color: #333;

    @include onMobile {
      margin: 12px 0 46px;
      line-height: 27px;
      font-weight: 400;
    }
  }

  &__sale-text {
    font-size: 18px;
    color: #344f10;
    font-family: Avenir, sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;

    margin-top: 50px;

    @include onMobile {
      margin-top: 60px;
    }
  }

  &__flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  &__img {
    position: relative;
    height: 500px;
    width: 100%;

    object-position: center;
    object-fit: cover;

    @include onMobile {
      height: 267px;
      position: absolute;
      left: 0;
    }

    &__img-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;

      @include onMobile {
        position: relative;
      }
    }
  }
}
