.mainTM {
  @media (min-width: 1024px) {
    display: none;
  }
  &__container {
    margin: 0 27px;
  }
}

.onMobile-hidden {
  @include onMobile {
    display: none;
  }
}

.mobile-only {
  @media (min-width: 601px) {
    display: none;
  }
}
