.sectionTM {
  padding-top: 100px;

  @include onMobile {
    padding-top: 60px;
  }

  &__h2 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    margin-bottom: 12px;

    @include onMobile {
      font-weight: 400;
      margin-bottom: 0;
    }

    &--text-align-center {
      @include onMobile {
        text-align: center;
      }
    }
  }

  &__text {
    padding-bottom: 32px;

    font-family: Avenir, sans-serif;
    font-size: 16px;
    color: #333;

    &--with-small-padding {
      margin-bottom: -20px;
      @include onMobile {
        margin-top: 12px;
      }
    }

    @include onMobile {
      padding-bottom: 44px;
    }
  }

  &-1__img {
    height: 318px;

    @include onMobile {
      display: none;
    }
  }
  &-2__img {
    height: 300px;
    padding-bottom: 20px;
  }
  &-3__img {
    height: 435px;
  }
  &-4__img {
    height: 390px;
  }
  &-6__img {
    height: 410px;
  }

  &__img {
    position: relative;
    
    width: 100%;

    object-position: center;
    object-fit: cover;

    &__img-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
    }
  }

  &__nav {
    margin-bottom: 20px;
    display: flex;

    @include onMobile {
      font-weight: 400;
      justify-content: center;
    }
  }

  &__button {
    justify-self: center;
    margin: 40px 0 38px;
  }

  &__to-contact-us-button {
    margin-top: 34px;

    @include onMobile {
      margin-top: 30px;
    }
  }

  &-3__MobileButton {
    @include onMobile {
      margin-bottom: -38px;
    }
  }

  &-4--padding {

    margin-bottom: 290px;

    @include onMobile {
      margin-bottom: 36px;
    }
  }

  &-4-ingredients-pos {
    transform: translateX(-30%);
  }

  &-5 {
    margin: 50px 0;
  }

  &-5__position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &-5__motto {
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;

    padding-top: 20px;
  }

  &-5__text {
    margin-bottom: -20px;
  }

  &-6__button-margin {
    margin-top: 30px;
  }

}
