.about {

  @include iPhone {
    height: 318px;
  }

  @include main {
    height: 729px;
  }

  @include desctop {
    height: 729px;
  }

  &__image1 {

    @include iPhone {
      background-image: url(../images/image3.svg);
      background-repeat: no-repeat;
      height: 318px;
      background-size: contain;
      background-position: center;
    }

    @include main {
      background-image: url(../images/image2.svg);
      background-repeat: no-repeat;
      height: 529px;
      background-size: contain;
      margin-top: 200px;
    }

    @include desctop {
      background-image: url(../images/image2.svg);
      background-repeat: no-repeat;
      height: 529px;
      background-size: contain;
      margin-top: 200px;
    }
  }

  &__image2 {
    display: none;

    @include iPhone {
      display: none;
    }

    @include main {
      background-image: url(../images/image2.svg);
      height: 430px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      align-self: flex-end;
    }

    @include desctop {
      background-image: url(../images/image2.svg);
      height: 430px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      align-self: flex-end;
      overflow: hidden;
    }
  }

  &__textLine {
    display: none;

    @include iPhone {
      display: none;
    }

    @include main {
      position: relative;
    }

    @include desctop {
      position: relative;
    }

    &--rotate {
  
      @include main {
        font-family: "Sharp Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.05em;
        color: rgba(52, 79, 16, 0.5);
        transform: rotate(-90deg);
        grid-column: 1 / 2;
        align-self: center;
        width: 350px;
        position: absolute;
        top: 40%;
        left: -200%;
        height: 25px;
  
        &::before {
          content: "";
          height: 1px;
          width: 100px;
          background-color: rgba(52, 79, 16, 0.5);
          display: inline-block;
          align-self: center;
          margin-right: 10px;
          margin-bottom: 3px;
        }
      }
  
      @include desctop {
        font-family: "Sharp Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.05em;
        color: rgba(52, 79, 16, 0.5);
        transform: rotate(-90deg);
        grid-column: 1 / 2;
        align-self: center;
        width: 350px;
        position: absolute;
        top: 40%;
        left: -200%;
        height: 25px;
  
        &::before {
          content: "";
          height: 1px;
          width: 100px;
          background-color: rgba(52, 79, 16, 0.5);
          display: inline-block;
          align-self: center;
          margin-right: 10px;
          margin-bottom: 3px;
        }
      }
    }
  }

  &__content {
    padding-left: 20px;

    @include iPhone {
      grid-column: 1 / 4;
      padding-left: 30px;
    }

    @include main {
      grid-column: 2 / 6;
      padding-left: 0;
    }

    @include desctop {
      grid-column: 2 / 6;
      padding-left: 0;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;

    @include iPhone {
      margin-top: 10px;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #344f10;
    }

    @include main {
      font-weight: normal;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #344f10;
      font-style: normal;
      margin-top: 240px;
    }

    @include desctop {
      font-weight: normal;
      font-size: 36px;
      line-height: 110%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #344f10;
      font-style: normal;
      margin-top: 240px;
    }
  }

  &__text1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    margin-top: 12px;

    @include iPhone {
      margin-top: 16px;
      font-weight: 500;
    }

    @include main {
      margin-top: 20px;
      font-weight: 500;
    }

    @include desctop {
      margin-top: 20px;
      font-weight: 500;
    }
  }

  &__text2 {
    display: none;

    @include iPhone {
      display: none;
    }

    @include main {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #333;
      margin-top: 30px;
    }

    @include desctop {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #333;
      margin-top: 30px;
    }
  }

  &__button {
    font-family: "Sharp Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    text-decoration: none;
    padding-bottom: 5px;
    margin-top: 44px;
    display: inline-block;

    &:hover {
      border-bottom: 1px solid #344f10;
      display: inline-block;
    }

    @include iPhone {
      margin-top: 44px;
    }

    @include main {
      margin-top: 40px;
    }

    @include desctop {
      margin-top: 40px;
    }
  }
}
