.about {
  &__image-2 {
    display: none;
    @include onDekstop {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__image-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    bottom: 0;
    @include onMobile {
      display: none;
    }
  }

  &__line-1 {
    display: none;
    @include onDekstop {
      position: relative;
      display: block;
    }
  }
  &__line-2 {
    display: none;
    @include onDekstop {
      display: block;
      position: relative;
      margin-bottom: 200px;
    }
  }
  &__over-line {
    @include onDekstop {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        display: block;
        height: 1px;
        width: 100%;
        background-color: rgba(52, 79, 16, 0.5);
      }
    }
  }
  &__under-line {
    @include onDekstop {
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        background-color: rgba(52, 79, 16, 0.5);
      }
    }
  }
  &__information {
    @include onDekstop {
      padding: 100px 0;
    }
  }
  &__paragraph-dekstop-1 {
    display: none;
    @include onDekstop {
      display: block;
    }
  }
  &__paragraph-dekstop-2 {
    display: none;
    @include onDekstop {
      display: block;
      margin-bottom: 40px;
    }
  }
  &__suggestion {
    margin-bottom: 60px;
    padding: 0 20px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    @include onTablet {
      padding: 0;
      margin: 0 auto 100px;
      text-align: center;
    }
    @include onDekstop {
      margin-bottom: 0;
      padding: 0;
      font-size: 24px;
      line-height: 150%;
    }
  }
  &__paragraph {
    margin-bottom: 45px;
    @include onDekstop {
      margin-bottom: 30px;
    }
  }
  &__introduction {
    margin-bottom: 60px;
    @include onTablet {
      position: relative;
      margin-bottom: 80px;
    }
    @include onDekstop {
      padding: 50px 0 0 50px;
      position: relative;
    }
  }
  &__title {
    margin-bottom: 12px;
    padding-left: 20px;
    @include onTablet {
      padding-left: 27px;
    }
    @include onDekstop {
      position: relative;
      padding: 0;
      margin-bottom: 16px;
    }
  }
  &__article {
    padding: 0 20px;
    @include onTablet {
      padding: 0 0 0 27px;
    }
    @include onDekstop {
      padding: 0;
    }
  }
  &__creators-paragraph-1 {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 45px;
    }
    @include onTablet {
      margin-bottom: 12px;
    }

  }
  &__creators-paragraph-2 {
    margin-bottom: 45px;
  }
  &__image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include onMobile {
      display: none;
    }
  }

  &__creators-link {
    margin-bottom: 30px;
  }
  &__button {
    @include onMobile {
      margin: auto;
    }
  }
  &__creators-introduction {
    margin-bottom: 60px;
    @include onTablet {
      position: relative;
      margin-bottom: 100px;
    }
    @include onDekstop {
      position: relative;
    }
  }

}
