.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;

  font-size: 16px;
  letter-spacing: 0.15em;
  line-height: 130%;
  text-align: center;
  color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $dark-color;
  border: 1px solid $dark-color;
  cursor: pointer;

  transition: all 0.3s;
  &:hover {
    color: $dark-color;
    background-color: #e5e5e5;
  }
}
