.container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include iPhone {
    padding: 0 27px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    margin: 0 auto;
  }

  @include main {
    margin: 0 auto;
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }

  @include desctop {
    margin: 0 auto;
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }

  &__lines {
    display: flex;

    @include iPhone {
      justify-content: center;
      align-items: center;
    }

    @include main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 313px;
      width: 100%;
    }

    @include desctop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 313px;
      width: 100%;
    }

    &--1 {
      display: flex;
      flex-direction: column;

      @include main {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    
      @include desctop {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__about {

    @include iPhone {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
    }

    @include main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }

    @include desctop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }

    &--1 {

      @include iPhone {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
      }
  
      @include main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 20px;
        width: 580px;
        justify-self: flex-end;
      }
  
      @include desctop {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 20px;
        width: 580px;
        justify-self: flex-end;
      }
    }

    &--2 {

      @include iPhone {
        display: block;
      }
  
      @include main {
        display: grid;
        grid-template-columns: 480px 1fr;
        column-gap: 20px;
      }

      @include desctop {
        display: grid;
        grid-template-columns: 480px 1fr;
        column-gap: 20px;
      }
    }
  }

  &__shop {

    @include iPhone {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      padding: 0 27px;
    }

    @include main {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      min-width: 1180px;
      max-width: 1180px;
      margin: 0 auto;
    }

    @include desctop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      width: 1180px;
      margin: 0 auto;
    }

    &--price {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
    }
  }

  &__creators {
    margin-top: 60px;

    @include iPhone {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      margin-top: 138px;
    }

    @include main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      margin-top: 263px;
    }

    @include desctop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      margin-top: 214px;
    }
  }

  &__powder {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 100px 200px 1fr;
    overflow: hidden;

    @include iPhone {
      display: grid;
      grid-template-columns: 320px 320px 1fr;
      margin-top: 100px;

    }

    @include main {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      margin-top: 200px;
      width: 1180px;
      margin-left: auto;
      margin-right: auto;
    }

    @include desctop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 20px;
      margin-top: 200px;
      width: 1180px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__contact {
    column-gap: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

    @include iPhone {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      padding-left: 0;
      padding-right: 0;
    }

    @include main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    @include desctop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
