.header {
  &__top {
    padding: 15px 20px 12px;
    @include onTablet {
      padding: 24px 30px 28px;
    }
  }
  &__title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    @include onTablet {
      margin-bottom: 20px;
      font-size: 36px;
    }
  }
  &__paragraph {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
  }
  //&__product {
  //}
  &__main-image {
    margin-bottom: 25px;
    width: 100%;
    @include onTablet {
      padding: 0 28px;
      margin-bottom: 50px;
    }
  }
  &__button {
    display: block;
    margin: 0 auto 60px;
    @include onTablet {
      margin-bottom: 100px;
    }
  }
  &__nav-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    left: -100%;
    transition: left 0.3s;
    &:target {
      left: 0;
    }
    @include onDekstop {
      display: none;
    }
  }
}
