.lines {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include iPhone {
    height: 280px;
  }

  @include main {
    height: 313px;
    margin-top: 200px;
  }

  @include desctop {
    height: 313px;
    margin-top: 200px;
  }

  &__line1 {
    display: none;

    @include iPhone {
      display: none;
    }
  
    @include main {
      height: 1px;
      background-color: rgba(52, 79, 16, 0.5);
      display: block;
      margin-right: 110px;
    }
  
    @include desctop {
      height: 1px;
      background-color: rgba(52, 79, 16, 0.5);
      display: block;
      margin-right: 110px;
    }
  }

  &__line2 {
    display: none;

    @include iPhone {
      display: none;
    }
  
    @include main {
      height: 1px;
      background-color: rgba(52, 79, 16, 0.5);
      display: block;
      margin-left: 10px;
    }
  
    @include desctop {
      height: 1px;
      background-color: rgba(52, 79, 16, 0.5);
      display: block;
      margin-left: 10px;
    }
  }

  &__text {
    width: 380px;
    display: none;
    justify-content: right;
    justify-self: right;
    margin-right: 110px;
    height: 310px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #333;
    margin-left: auto;

    @include iPhone {
      display: none;
    }
  
    @include main {
      display: flex;
    }
  
    @include desctop {
      display: flex;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
  
    @include main {
      margin-left: 10px;
      height: 310px;
      justify-content: left;
      padding-left: 0;
    }
  
    @include desctop {
      margin-left: 10px;
      height: 310px;
      justify-content: left;
      padding-left: 0;
    }
  }
}
