.link {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  max-width: max-content;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #344f10;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1px;
    background-color: #344f10;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:focus:after {
    opacity: 1;
  }
}
