.menu {
  background-color: #333;

  &__content {
    margin: auto;
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
  }

  &__top {
    @include top-actions;
    margin-bottom: 45px;
    @include onTablet {
      margin-bottom: 100px;
    }
  }

  &__list {
    margin: 0 0 48px;
    padding: 0;
    list-style: none;
  }

  &__item {
    border-bottom: 1px solid #828282;
    margin-bottom: 30px;
    @include onTablet {
      margin-bottom: 50px;
    }
  }

  &__link {
    display: block;
    padding-bottom: 10px;

    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    text-decoration: none;

    color: #e4dfd3;

    &:hover {
      border-color: #fff;
    }
  }
}
