.page {
  scroll-behavior: smooth;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  &__body {
    font-family: "Avenir", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
    background: #e4dfd3;
    box-sizing: border-box;
    width: 100%;
  }
}

a {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
}
