.shipping {
  background-color: #e4dfd3;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 2;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-size: auto 39%;
  background-position: 50% 100%;
  height: 100%;

  &:target {
    transform: translateX(0);
  }

  &__checkout {
    font-family: "Sharp Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;
    border-bottom: 1px solid #bdbdbd;

    @include iPhone {
      grid-column: 1 / 3;
    }

    @include main {
      font-weight: bold;
      font-size: 36px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      color: #344f10;
      border-bottom: none;
      grid-column: 1 / 13;
    }

    @include desctop {
      font-weight: bold;
      font-size: 36px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      color: #344f10;
      border-bottom: none;
      grid-column: 1 / 13;
    }
  }

  &__menu {
    display: flex;
    margin-top: 20px;
    grid-column: 1 / 3;
    justify-content: center;

    @include iPhone {
      margin-top: 60px;
      grid-column: 1 / 7;
    }

    @include main {
      margin-top: 30px;
      grid-column: 1 / 13;
    }

    @include desctop {
      grid-column: 1 / 13;
      margin-top: 30px;
    }

    &--item {
      font-family: "Sharp Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333;
      margin-right: 82px;
      padding-bottom: 8px;

      &:last-child {
        margin-right: 0;
      }

      &-1 {
        border-bottom: 1px solid #333;
      }

      &-2 {
        display: none;

        @include main {
          display: block;
          color: #828282;
        }

        @include desctop {
          display: block;
          color: #828282;
        }
      }

      &-3 {
        display: none;

        @include main {
          display: block;
          color: #828282;
        }

        @include desctop {
          display: block;
          color: #828282;
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 220px;

    @include iPhone {
      grid-column: 3 / 5;
      margin-top: 50px;
    }

    @include main {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      column-gap: 20px;
      grid-column: 2 / 12;
      grid-auto-flow: column;
      height: 220px;
    }

    @include desctop {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      column-gap: 20px;
      grid-column: 2 / 12;
      grid-auto-flow: column;
      height: 220px;
    }
  }

  &__input {
    background-color: #e4dfd3;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-transform: capitalize;
    color: #828282;
    height: 51px;
    border-style: none;
    border-bottom: 1px solid #bdbdbd;

    @include iPhone {
      font-weight: 500;
    }

    @include main {
      font-weight: 500;
      font-size: 18px;
      height: 67px;
    }

    @include desctop {
      font-weight: 500;
      font-size: 18px;
      height: 67px;
    }

    &--1 {
      @include main {
        grid-column: 1 / 5;
      }

      @include desctop {
        grid-column: 1 / 5;
      }
    }

    &--2 {
      @include main {
        grid-column: 1 / 5;
      }

      @include desctop {
        grid-column: 1 / 5;
      }
    }

    &--3 {
      @include main {
        grid-column: 1 / 5;
      }

      @include desctop {
        grid-column: 1 / 5;
      }
    }

    &--4 {
      @include main {
        grid-column: 7 / 12;
      }

      @include desctop {
        grid-column: 7 / 12;
      }
    }

    &--5 {
      @include main {
        grid-column: 7 / 12;
      }

      @include desctop {
        grid-column: 7 / 12;
      }
    }

    &--6 {
      @include main {
        grid-column: 7 / 12;
      }

      @include desctop {
        grid-column: 7 / 12;
      }
    }
  }

  &__button {
    margin-top: 60px;

    @include main {
      grid-column: 4 / 8;
    }

    @include desctop {
      grid-column: 4 / 8;
    }
  }
}
