.shop {
  &__space-around {
    padding: 0;
    @include onTablet {
      padding: 0 27px;
    }
    @include onDekstop {
      padding-left: 50px;
    }
  }
  &__title {
    margin-bottom: 12px;
    text-align: center;
    @include onTablet {
      text-align: start;
    }
    @include onDekstop {
      margin-bottom: 20px;
      text-align: start;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    list-style: none;
    @include onMobile {
      padding: 0 20px;
    }
    @include onDekstop {
      margin-bottom: 65px;
    }
  }
  &__link {
    position: relative;
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #828282;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: #333;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      height: 2px;
      width: 100%;
      background-color: #333;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:focus::after {
      opacity: 1;
    }
    @include onDekstop {
      padding-bottom: 20px;
      font-size: 18px;
    }
  }
  &__content-wrapper {
    position: relative;
  }
  &__photo {
    margin-bottom: 20px;
    width: 100%;
    object-fit: cover;
    @include onDekstop {
      height: 500px;
      max-width: 380px;
    }
  }
  &__dekstop {
    display: none;
    @include onDekstop {
      display: block;
    }
  }
  &__tablet-dekstop {
    display: block;
    @include onMobile {
      display: none;
    }
  }
  &__product-name {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @include onMobile {
      padding: 0 20px;
    }
  }
  &__product-price {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    @include onMobile {
      margin-bottom: 75px;
      padding: 0 20px;
      font-weight: 400;
    }
  }
  &__button {
    margin: 0 auto 60px;
    @include onTablet {
      margin-bottom: 135px;
    }
    @include onDekstop {
      margin: 0 0 215px;
    }
  }
}
