.shop {
  &__options {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #828282;
  }

  &__option {
    display: inline;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    color: #828282;
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 2px solid #e4dfd3;

    &:hover {
      color: #333;
    }
    &--active {
      color: #333;
      border-bottom: 2px solid #333;
    }
  }

  &__title {
    @include onTablet {
      grid-column: 1;
    }
    @include onDesktop {
      grid-column: 2;
    }
  }

  &__top {
    @include onTablet {
      grid-column: 1 / 4;
    }
    @include onDesktop {
      grid-column: 2 / 6;
    }
  }

  &__item {
    display: none;
    &:first-of-type {
      @include onTablet {
        grid-column: 1 / 4;
      }
      @include onDesktop {
        grid-column: 2 / 8;
      }
    }
    &:last-of-type {
      @include onTablet {
        grid-column: 4 / 7;
      }
      @include onDesktop {
        grid-column: 8 / 14;
      }
    }
    &-name {
      display: block;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.05em;
      margin-bottom: 10px;
      text-transform: uppercase;

      color: #333;
    }

    &-price {
      display: block;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 30px;
    }

    &--active {
      display: block;
      &:last-of-type {
        display: none;
        @include onTablet {
          display: block;
        }
      }
    }
  }

  &__grid {
    @include onTablet {
      @include tabletGrid;
    }
    @include onDesktop {
      grid-template-columns: repeat(13, 1fr);
    }
  }

  &__container-image {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    @include onTablet {
      max-height: 500px;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    @include zoomPicture;
  }
}
