.shop {
  &__title {
    margin-bottom: 12px;
    text-align: center;
  }
  //&__nav {
  //}
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  //&__item {
  //}

  &__link {
    position: relative;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #828282;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: #333;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      height: 2px;
      width: 100%;
      background-color: #333;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:focus::after {
      opacity: 1;
    }
  }
  &__photo {
    margin-bottom: 20px;
    width: 100%;
    object-fit: cover;
    @include onTablet {
      height: 300px;
    }
  }
  &__tablet {
    display: none;
    @include onTablet {
      display: block;
    }
  }
  &__product-name {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__product-price {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__button {
    margin: 0 auto 60px;
    @include onTablet {
      margin-bottom: 135px;
    }
  }
}
