.previous {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url("../images/arrow-eft.svg") no-repeat;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 0.9;
  }
}

.next {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url("../images/arrow-rigth.svg") no-repeat;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 0.9;
  }
  @include onMobile {
    display: none;
  }
}

.slick-slide {
  @include onTablet {
    margin-right: 30px;
  }
  @include onDekstop {
    margin-right: 20px;
  }
}
