<section id="about" class="about-brand">
  <app-left-text
    class="about-brand_left-text"
    [text]="'witch of mountain winds'"
    [top]="140"
    [left]="-130"
  ></app-left-text>



  <div class="about-brand_container">
    <div class="about-brand_container_content">
      <h2 class="about-brand_container_content_title">
        about our brand
      </h2>
      <p class="about-brand_container_content_text">
        Our brand cosmetics are made from natural
        ingredients and we are promoting them to
        the masses. Shampoo, hair conditioner,
        soap - in recycled paper. Creams, oils,
        washing products in glass containers with
        recycled paper labels. No synthetics and
        microplastics in cosmetics. And the
        packaging from it can be returned for
        recycling or reused.
      </p>
      <p class="about-brand_container_content_desctop-text">
        We are all neighbors of one big House.
        And we must protect what we have.
        Destroying everything around for the
        sake of consumerism and imaginary
        convenience, we destroy what does not
        belong to us. Be aware of your choice!
      </p>
      <a
        class="about-brand_container_content_link"
        routerLink="contact"
      >
        LEARN MORE
      </a>
    </div>
    <div class="about-brand_container_image">
      <img
        class="about-brand_container_image_big-img"
        src="./assets/images/about/1.jpg"
        alt="img1"
      >
      <img
        class="about-brand_container_image_small-img"
        src="./assets/images/about/2.jpg"
        alt="img2"
      >
    </div>
  </div>
</section>
