@use '../../utils/media';
@use '../../utils/poppins';
@use '../../utils/button';

.header {
  @include media.grid-320;

  grid-template-rows: 59px auto auto;

  &__container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      order: 1;
    }

    &-nav {
      order: 0;
    }

    &-cart {
      order: 3;
    }
  }

  &__menu {
    display: none;
  }

  &__content {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    margin: 0;
    padding: 0;
    height: auto;

    &-title {
      @include poppins.h4;

      text-align: center;

      margin: 25px 0 10px;
    }

    &-subtitle {
      @include poppins.text;

      margin-bottom: 30px;
      text-align: center;
    }

    &-button {
      @include button.button;
    }
  }

  &__image {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    .header__image {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  @include media.grid-768 {
    grid-template-rows: 70px auto auto;

    &__content {
      grid-row: 3 / 4;

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;

      padding: 0;

      &-text {
        grid-column: 2 / span 4;
      }

      &-title {
        margin: 50px 0 10px;

        @include poppins.h2;
      }

      &-subtitle {
        margin-bottom: 50px;
      }

      &-button {
        grid-column: 3 / span 2;

        width: calc(100% + 60px);
        transform: translateX(-30px);
      }
    }

    &__image {
      grid-row: 2 / 3;
    }
  }
}
