.header {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  padding: 15px $main-side-padding-mobile;

  @include onTablet {
    padding: 23px $main-side-padding-tablet;
  }

  @include onDesktop {
    padding: 40px $main-side-padding-desktop;
    padding-bottom: 80px;
  }
}
