.navigation {

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 20px;
  }
  // &__item {
  // }
  // &__burger-button {
  // }
  // &__logo-link {
  // }
  &__logo-name {
    display: none;
    margin: 0;
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #344f10;
  }
  // &__basket-link {
  // }
}
// .burger {
//   &__image {
//   }
// }
// .logo {
//   &__image {
//   }
// }
