.footer {
  background-color: $paleOyster;
  width: 100%;
  bottom: 0;
  z-index: -1;
  // padding-inline: $phonePaddingInline;
  // padding-block: 30px 40px;

  // @include onTablet {
  //   padding-inline: $tabletPaddingInline;
  //   padding-block: 30px;
  // }

  // @include onDesktop {
  //   padding-inline: $desktopPaddingInline;
  //   padding-block: 60px 62px;
  // }

  // &__link {
  //   font-size: 18px;
  //   font-weight: 500;
  //   line-height: 150%; /* 27px */
  //   text-transform: capitalize;
  //   color: $pearlBush;
  // }
}
