.footer {
  background: rgba(52, 79, 16, 0.5);

  &__container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 335px;
    padding: 61px 49px 66px 51px;
    margin: 0 auto;
    font-family: "Sharp", sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    color: $beige;
    max-width: $laptop-width;

    @media (max-width: $tablet-width) {
      padding: 29px 26px 49px 27px;
      height: auto;
      max-width: 994px;
    }

    @media (max-width: $phone-width) {
      flex-flow: column nowrap;
      height: auto;
      max-width: 780px;
      padding: 30px 20px 60px;
      font-size: 14px;
    }
  }

  &__nav {
    order: 1;
    color: inherit;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %menu-text;
    width: 270px;

    @media (max-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: $phone-width) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    text-align: center;

    @media (max-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &__link {
    color: inherit;

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: background-color 0.3s;
    }

    &:hover {
      &::after {
        background-color: $darkgreen;
      }
    }
  }

  &__rights {
    order: 2;
    margin-top: 148px;
    text-align: left;

    @media (max-width: $tablet-width) {
      order: 4;
      margin-top: 50px;
      margin-right: 30px;
    }

    @media (max-width: $phone-width) {
      // order: 4;
      margin-top: 15px;
      margin-right: 0;
      text-align: center;
    }
  }

  &__brand {
    text-transform: uppercase;
  }

  &__contacts {
    order: 3;
  }

  &__e-mail,
  &__phone-number {
    display: block;
    margin-bottom: 15px;
    color: inherit;
  }

  &__country {
    margin-bottom: 15px;
  }

  &__support {
    margin-bottom: 15px;
  }

  &__soc-networks {
    order: 4;
    margin-top: 15px;

    @media (max-width: $tablet-width) {
      order: 2;
      margin-top: 20px;
    }

    @media (max-width: $phone-width) {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  &__facebook {
    height: 20px;
    width: 20px;
  }

  &__facebook-image {
    transition: transform 0.3s;

    &:hover {
      transform: rotateZ(360deg) scale(1.3);
    }
  }

  &__instagram {
    height: 20px;
    width: 20px;
    margin-left: 14px;
  }

  &__instagram-image {
    transition: transform 0.3s;

    &:hover {
      transform: rotateZ(360deg) scale(1.3);
    }
  }
}
