.social-networks {
  display: flex;
  gap: 20px;

  &__link {
    display: block;
    width: 20px;
    height: 20px;

    @include hover(opacity, 0.5);

    &--facebook {
      background-image: url(../images/icons/facebook.svg);
    }

    &--instagram {
      background-image: url(../images/icons/instagram.svg);
    }
  }
}
