<section class="about-creators">
  <app-left-text
    class="about-creators_left-text"
    [text]="'witch of mountain winds'"
    [top]="140"
    [left]="-120"
  ></app-left-text>

  <div class="about-creators_container">
    <div class="about-creators_container_content">
      <h2 class="about-creators_container_content_title">
        about the creators
      </h2>
      <p class="about-creators_container_content_text">
        My name is Victoria, I&apos;m a master at candle making and
        natural cosmetics. In the past, a cynologist, was
        engaged in herbs, made layouts on the Tarot.
      </p>
      <p class="about-creators_container_content_text">
        I am also a volunteer to save wild birds in distress,
        a consultant to the Phoenix Wildlife Rehabilitation Center,
        a member of the Society for the Conservation of Birds of
        Ukraine with the support of Birdlife International.
      </p>
      <p class="about-creators_container_content_text about-creators_container_content_desctop-text">
        I am also a volunteer to save wild birds in distress,
        a consultant to the Phoenix Wildlife Rehabilitation Center,
        a member of the Society for the Conservation of Birds of
        Ukraine with the support of Birdlife International.
      </p>
      <a class="about-creators_container_content_link" routerLink="contact">
        LEARN MORE
      </a>
      <app-button
        [link]="'/contact'"
        [text]="'to contact us'"
        class="about-creators_container_content_button"
      ></app-button>
    </div>
    <div class="about-creators_container_image">
      <img
        class="about-creators_container_image_big-img"
        src="./assets/images/creators/1.jpg"
        alt="img1"
      >
    </div>
  </div>
</section>
