@import "../utils/extends";
@import "../utils/mixins";
@import "../utils/vars";

.Pros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px 40px 50px;

  @include BigScreen{
    padding-left: 10%;
    padding-right: 10%;
  }

  @include Bigdesk{
    padding-left: 130px;
    padding-right: 130px;
  }
  
  @include Tablet {
    padding: 30px 27px 30px 27px;
    column-gap: 20px;

  }

  @include Mobile {
    padding: 15px 20px 15px 20px;
    flex-direction: column;
    row-gap: 20px;
  }


  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__img {
    display: block;
    width: 80px;
    height: 74.94px;
  }

  &__info {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }
}
