.button {
  &__overall {
    height: 60px;
    box-sizing: border-box;
    border: none;
    background-color: $gray-1;
    color: $gray-2;
    text-transform: uppercase;
    text-decoration: none;

    @include basic-text-styles(16px, 600, 130%, 2.4px);

    &:hover {
      transform: scale(1.02);
      background-color: $dark-green;
      cursor: pointer;
    }
  }

  &__text {
    text-align: center;
    margin: 0;
    padding-top: 20px;
  }
}
