.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-bottom: 30px;

  @include onTablet {
    padding-bottom: 50px;
  }

  @include onSmallDesktop {
    gap: 30px;
    align-items: start;
    text-align: start;
  }

  &__title {
    color: $main-text-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;

    @include onTablet {
      width: 466px;
      font-size: 36px;
      line-height: 150%;
      text-transform: capitalize;
    }

    @include onSmallDesktop {
      font-size: 60px;
      text-transform: none;
    }
  }

  &__paragraph {
    display: block;
    font-size: 16px;
  }
}
