.header {
  border-bottom: 1px solid black;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 130px;
    padding: 0 50px;
  }

  &__nav {
    transform: translateX(-50%);
  }

}
