.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;

  @include tablet {
    padding-top: 20px;
  }

  &__company {
    @include tablet {
      display: flex;
      order: 2;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    &::after {
      content: "witch of mountain winds";
      margin-left: 14px;
      font-size: 14px;
      text-transform: uppercase;

      @include tablet {
        display: none;
      }
    }
  }

  &__shop {
    @include tablet {
      display: flex;
      order: 2;
    }
  }
}
