.icon {
  display: block;
  width: 20px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include hover(transform, scale(1.2));

  &--menu {
    width: 20px;
    height: 13px;
    background-image: url(../images/icons/menu-icon.svg);

    @include onSmallDesktop {
      display: none;
    }
  }

  &--shopping-bag {
    background-image: url(../images/icons/small-shopping-bag.svg);

    @include onSmallDesktop {
      width: 32px;
      height: 32px;
    }
  }

  &--close {
    background-image: url(../images/icons/close-icon.svg);
    width: 16px;
    height: 16px;
  }
}
