.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $main-text-color;
  overflow: hidden;
  z-index: 1;

  &__top {
    padding-top: 20px;
    // padding-bottom: 1px;

    @include onTablet {
      padding: 30px 0;
    }
  }
}
