.header {
  width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 50px;
    margin-left: 50px;
  }

  &__logo {
    margin-right: -199px;
  }

  &__list {
    display: flex;
    gap: 40px;
    font-family: $mainFont;
    font-size: 18px;
    line-height: 130%;
  }

  &__item {
    color: $mainTextColor;
  }

  &__product {
    display: flex;
    
    justify-content: center;
    column-gap: 10px;

    margin: 80px 50px 0 150px;
  }

  &__description {
    position: relative;

    max-width: 480px;
  }

  &__title {
    display: block;
    max-width: 490px;

    font-family: $mainBoldFont;
    font-size: 60px;
    line-height: 72px;
    font-weight: bold;
    color: $secondTextColor;
  }

  &__text {
    display: block;
    margin-top: 30px;

    font-family: $mainFont;
    font-size: 22px;
    line-height: 130%;
    color: $secondTextColor;
  }

  &__button {
    display: block;
    width: 280px;
    height: 60px;
    margin-top: 46px;
    background-color: $secondTextColor;

    font-family: $mainFont;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #f2f2f2;
  }

  &__photo {
    position: relative;

    display: block;

    max-width: 577px;
  }
}

@media screen and (max-width: 1210px) {
  .header__product {
    justify-content: space-between;
  }

  .header__title {
    max-width: 370px;
    font-size: 48px;
    line-height: 110%;
  }

  .header__photo {
    max-width: 480px;
  }
}

@media screen and (max-width: 1100px) {
  .header__product {
    column-gap: 50px;
    margin: 80px 50px 0 100px;

  }

  .header__list {
    gap: 20px;
  }

  .header__title {
    max-width: 320px;
    font-size: 36px;
    line-height: 100%;
  }

  .header__text {
    margin-top: 15px;

    font-size: 16px;
    line-height: 100%;
  }

  .header__button {
    margin-top: 45px;
  }

  .header__photo {
    max-width: 310px;
  }
}
