@import "styles/utils/extends";
@import "styles/utils/fonts";
@import "styles/utils/mixins";
@import "styles/utils/typography";
@import "styles/utils/vars";

@import "styles/blocks/about";
@import "styles/blocks/brand";
@import "styles/blocks/button";
@import "styles/blocks/contact";
@import "styles/blocks/eco";
@import "styles/blocks/footer";
@import "styles/blocks/header";
@import "styles/blocks/ingredients";
@import "styles/blocks/intro";
@import "styles/blocks/learn-more";
@import "styles/blocks/product";
@import "styles/blocks/shop";
@import "styles/blocks/side-description";

* {
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  margin-block-start: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
  outline: none;
}

html {
  background: $beige;
}

header,
main,
section {
  margin: 0 auto;
  max-width: 1280px;

  @media (max-width: $tablet-width) {
    max-width: 994px;
  }

  @media (max-width: $phone-width) {
    max-width: 780px;
  }
}
