  .about-brand {
  position: relative;
  
  &__grid {
    padding-top: 200px;
    padding-bottom: $padding-bot-desc;
    display: grid;
    grid-template-columns: $grid-col-desc;
    grid-template-rows: 20% 80%;

    @include onTablet {
      padding-top: 0;
      padding-bottom: $padding-bot-tab;
    }

    @include onPhone {
      display: flex;
      padding-bottom: $padding-bot-phon;
    }
  }

  &__text-box {
    grid-column: 2 / 6;
    grid-row: 1 / 2;

    @include onTablet {
      grid-column: 1 / 6;
    }
  }

  &__header {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 150%;
    }
  }

  &__descr {
    margin-bottom: 40px;

    @include onTablet {
      p:nth-child(3) {
        display: none;
      }
    }
  }

  &__img-big {
    margin-right: 20px;
    grid-column: 7 / 12;
    grid-row: 1 / 3;
    background: url("../images/about-big.jpg") center / cover no-repeat;

    @include onTablet {
      margin-right: 0;
      grid-column: 7 / 13;
    }

    @include onPhone {
      display: none;
    }
  }

  &__img-small {
    width: 100%;
    grid-column: 12 / 13;
    grid-row: 2 / 3;

    background: url("../images/about-big.jpg") center / cover no-repeat;

    @include onTablet {
      display: none;
    }
  }

  &__part {
    top: 310px;
  }
}
