.btn {
  width: 280px;
  height: 60px;
  padding: 17px 0;
  background: #333;
  transition: $time;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2f2;
  border: 1px solid transparent;

  &:hover {
    scale: 105%;
    border: 1px solid #333;
    background: #e4dfd3;
    color: #333;
  }
}

.btn-lern {
  width: 88px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
  color: $text-green;
  transition: $time;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    scale: 105%;
    border-bottom: 1px solid $text-green;
  }
}
