.btn {
  display: block;
  width: 280px;
  height: 60px;
  padding: 18px 0;
  left: 655px;
  top: 1605px;
  background: #333;
  cursor: pointer;

  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2f2;

  transition: $time;

  &:hover {
    border: 1px solid #333;
    background-color: $c-main;

    color: #333;
  }

  @include onPhone {
    width: 100%;
  }
}
