.card {
  position: fixed;
  padding: $padding-card;
  width: 100%;
  height: 100vh;
  background-color: $c-main;
  z-index: 1;

  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: $time;

  &:target {
    transform: translateX(0%);
  }
}
