.checkout {
  &__btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;

    &:hover {
      scale: 110%;
      color: $text-green;
    }
  }

  &__line {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333;
  }
}
