.choose {
  padding-bottom: $padding-bot-mob;

  @include onTab {
    padding-bottom: $padding-bot-tab;
  }

  @include onDesk {
    padding-bottom: $padding-bot-desk;
  }

  &__text {
    display: none;

    @include onDesk {
      display: block;
      grid-column: 3 / 7;
      grid-row: 2 / 3;
    }
  }

  &__descr {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-green;

    grid-column: 2 / 4;

    @include onTab {
      text-align: center;
      grid-column: 4 / 8;
    }

    @include onDesk {
      text-align: left;
      grid-column: 8 / 12;
      grid-row: 2 / 3;
    }
  }

  &__hov {
    display: none;

    @include onDesk {
      display: block;
      width: 40%;

      margin-bottom: 100px;
      height: 1px;
      background-color: rgba(52, 79, 16, 0.5);
    }

    &--r {
      display: none;

      @include onDesk {
        display: block;
        width: 50%;
        margin: 100px 0 0;
        margin-left: auto;
      }
    }
  }
}
