.confirm {
  &__nav {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
  }

  &__nav-desk {
    grid-column: 1 / -2;
    grid-row: 1 / 2;
  }

  &__checkout {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    @include onTab {
      grid-column: 2 / 5;
    }
  }

  &__header {
    margin: 0 auto;
    grid-column: 2 / -2;
    grid-row: 3 / 4;
  }

  &__text {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
    text-align: center;
    color: #333;

    @include onTab {
      grid-column: 4 / -4;
    }
  }

  &__icon {
    margin: 50px auto;
    width: 40px;
    height: 51px;
    background: url("../images/icons/leaf.svg") center / contain no-repeat;
    grid-column: 2 / -2;
    grid-row: 5 / 6;
  }

  &__btn {
    margin: 0 auto;
    padding: 10px;
    grid-column: 2 / -2;
    grid-row: 6 / 7;
    align-self: end;
    border-bottom: 1px solid #333;

    text-decoration: none;
    color: #333;

    &:hover {
      scale: 110%;
    }
  }
}
