.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 50px;

  @include onTablet {
    width: 100%;
    padding: 0 20px;
  }

  @include onPhone {
    padding: 0 10px;
  }

  &--pt {
    padding-left: 50px;

    @include onTablet {
      padding-left: 25px;
    }

    @include onPhone {
      padding: 0 10px;
    }
  }
}
