.form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include onTablet {
    gap: 25px;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    background-color: $c-main;
    outline: none;
    transition: $time;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border-bottom: 1px solid #333;
    }

    &:active {
      border-bottom: 1px solid $text-green;
      color: $text-green;
    }
  }
}
