.grid {
  display: grid;
  grid-template-columns: 1px repeat(2, 1fr) 1px;
  gap: 20px;

  @include onTab {
    grid-template-columns: 30px repeat(8, 1fr) 30px;
  }

  @include onDesk {
    grid-template-columns: 50px repeat(12, 1fr) 50px;
  }
}

.grid-tooth {
  display: grid;
  grid-template-columns: 1px 1fr 15px 1fr 1px;
  gap: 20px;

  @include onTab {
    grid-template-columns: 30px repeat(8, 1fr) 30px;
  }

  @include onDesk {
    grid-template-columns: 50px repeat(12, 1fr) 50px;
  }
}
