.icon {
  display: block;
  width: 24px;
  height: 24px;

  &--shop {
    background: url("../images/icons/buy.svg") center / cover no-repeat;
    border: none;
    transition: $time;

    &:hover {
      scale: 110%;
      transform: translateY(-10px);
    }
  }

  &--logo {
    display: none;

    @include onTablet {
      display: block;
      background: url("../images/icons/logo-mini.svg") center / cover no-repeat;
    }
  }

  &--menu {
    height: 16px;
    background: url("../images/icons/menu.svg") center / cover no-repeat;
  }

  &--cross {
    background: url("../images/icons/cross.svg") center / cover no-repeat;
  }
}
