.input {
  width: 100%;
  margin-top: 20px;
  padding: 10px 5px;
  background-color: $c-main;
  border: none;
  border-bottom: 1px solid;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  color: #828282;
  outline: none;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    color: #333;
  }
}
