.link {
  text-decoration: none;
  transition: $time;
  border-bottom: 1px solid transparent;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-transform: capitalize;
  color: $text-green;

  &:hover {
    border-color: $text-green;
  }

  &__checkout {
    display: block;
    width: 200px;
    margin: 20px 0;

    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333;

    @include onTablet {
      max-width: 60px 0;
    }
  }
}
