.menu-link {
  display: flex;
  gap: 40px;
  align-items: center;

  &__links {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    color: $text-green;
    text-decoration: none;
    transition: $time;

    &:hover {
      scale: 105%;
      border-bottom: 1px solid $text-green;
    }
  }
}
