.top-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include onTablet {
    display: none;
  }

  &__link {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.top-actions-tab {
  display: none;

  @include onTablet {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}
