.page {
  background-color: $c-main;

  &__body--with--menu {
    overflow-y: hidden;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: $time;

    &:target {
      transform: translateX(0);
    }
  }
}
