.part {
  position: absolute;
  left: -90px;

  display: flex;
  align-items: center;
  gap: 10px;

  transform: rotate(-90deg);

  &__line {
    width: 100px;
    height: 1px;
    background-color: rgba(52, 79, 16, 0.5);
  }

  &__text {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;

    color: rgba(52, 79, 16, 0.5);
  }

  @include onTablet {
    display: none;
  }
}
