.shipping {
  overflow: auto;

  &__nav {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
  }

  &__nav-desk {
    grid-column: 1 / 14;
    grid-row: 1 / 2;
  }

  &__checkout {
    grid-column: 2 / -2;
    grid-row: 2 / 3;

    @include onTab {
      grid-column: 2 / 5;
    }
  }

  &__header {
    margin: 0 auto;
    grid-column: 2 / -2;
    grid-row: 3 / 4;

    @include onDesk {
      margin-top: 60px;
    }
  }

  &__form {
    grid-column: 4 / -4;
    grid-row: 4 / 5;
  }

  &__btn {
    display: block;
    margin: 50px auto;
  }
}
