.shop {
  position: relative;
  
  &__grid {
    display: grid;
    grid-template-columns: $grid-col-desc;
    grid-template-rows: repeat(4, auto);
    padding-bottom: $padding-bot-desc;

    @include onTablet {
      padding-bottom: $padding-bot-tab;
      padding-right: 25px;
    }

    @include onPhone {
      padding-right: 0;
      padding-bottom: $padding-bot-phon;
    }
  }

  &__header {
    margin-bottom: 30px;
    grid-column: 2 / 13;
    grid-row: 1 / 2;

    @include onTablet {
      margin-bottom: 10px;
      grid-column: 1 / 13;

      font-size: 24px;
      line-height: 150%;
    }
  }

  &__nav {
    margin-bottom: 50px;
    grid-column: 2 / 12;
    grid-row: 2 / 3;

    @include onTablet {
      margin-bottom: 35px;
      grid-column: 1 / 13;
    }
  }

  &__link {
    margin-bottom: 50px;
    margin-right: 20px;

    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #828282;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #333;
    }

    @include onPhone {
      font-size: 16px;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    grid-column: 2 / 13;
    grid-row: 3 / 4;

    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
      grid-column: 1 / 13;
    }

    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
      grid-column: 1 / 13;
    }

    @include onPhone {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    margin-bottom: 40px;
    transition: $time;
    text-decoration: none;

    &--tab {
      @include onTablet {
        display: none;
      }
    }

    &--phon {
      @include onPhone {
        display: none;
      }
    }

    &-name {
      margin-bottom: 13px;
    }

    &:hover {
      scale: 103%;
    }
  }

  &__img {
    margin-bottom: 20px;
    width: 100%;
    height: 450px;

    @include onTablet {
      height: 380px;
    }

    @include onPhone {
      height: 300px;
    }

    &--1 {
      background: url("../images/shop1.jpg") center / cover no-repeat;
    }

    &--2 {
      background: url("../images/shop2.jpg") center / cover no-repeat;
    }

    &--3 {
      width: 100%;
      background: url("../images/shop3.jpg") center / cover no-repeat;
    }
  }

  &__btn {
    grid-column: 6 / 9;
    grid-row: 4 / 6;

    @include onTablet {
      grid-column: 1 / 13;
      place-self: center;
    }
  }

  &__part {
    top: 30px;
    left: -20px;
  }
}
