.text-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;

  @include onTab {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
  }

  @include onDesk {
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
  }
}

.text-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #344f10;

  @include onDesk {
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
  }
}

.text-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  @include onTab {
    font-size: 16px;
  }
}

.text-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.text-card {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
