.text-subheader {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $text-green;
}

.text-header-card {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #333;
}

.text-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.text-shop {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #333;

  &--count {
    font-weight: 500;
    color: #333;
  }

  &--gr {
    font-weight: 500;
    color: #344F10;
  }
}
