.form {
  box-sizing: border-box;

  &__element {
    margin-bottom: 25px;
    background-color: inherit;
    border-style: none;

    font-family: inherit;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    border-bottom: 1px solid $m-gray;
    outline: $l-gray-dark;
  }

  &__element:hover {
    color: #161616;
    border-color: $d-gray;
  }

  &__message {
    padding-top: 20px;
    resize: none;

    @include onDesktop {
      padding-top: 30px;
    }
  }
}
