.icon {
  display: flex;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;
  cursor: pointer;

  @include hover (transform, scale(1.2));

  &--menu {
    background-image: url(../images/icon/menu.png);

    @include onDesktop {
      display: none;
    }
  }

  &--logo {
    background-image: url(../images/icon/logo_small.png);

    @include onDesktop {
      height: 50px;
      width: 270px;
      background-image: url(../images/icon/logo_desktop.png);
    }
  }

  &--bag {
    background-image: url(../images/icon/shop.png);
  }

  &--close {
    background-image: url(../images/icon/close_light.png);
    height: 14px;
    width: 14px;

    @include onDesktop {
      display: none;
    }
  }
}
