.learn-more {
  grid-column: 1 / -1;
  text-wrap: none;
  padding-bottom: 10px;
  width: 86px;
  border-bottom: 1px solid $d-green;
  line-height: 18px;

  &__link {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: $d-green;
  }
}
