.line {
  @include onDesktop {
    position: absolute;
    margin: auto;
    width: 50vw;
  }

  &--left-top {
    border-top: 1px solid rgba(52, 79, 16, 0.5);
  }

  &--right-bottom {
    border-bottom: 1px solid rgba(52, 79, 16, 0.5);
  }
}
