.title {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  font-family: Sharp_Sans_No2, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: $d-gray;
  letter-spacing: 1.5px;
  text-align: center;
  padding-inline: 20px;

  @include onTablet {
    grid-column: 2 / -2;
    font-weight: bolder;
    font-size: 36px;
    line-height: 54px;
    padding-inline: 0;
    text-transform: capitalize;
  }

  @include onDesktop {
    grid-column: 2 / -7;
    grid-row: 2;
    font-size: 60px;
    line-height: 78px;
    text-align: left;
    letter-spacing: 2.5px;
    text-transform: none;
  }
}
