.container {
  &__header {
    margin: $side-margins-mob;

    @include onTablet {
      margin: $side-margins-tab;
    }

    @include onDesktop {
      margin: 40px $margin-big 0;
    }
  }

  &__main {
    margin: $side-margins-mob;
  }

  &__about-brand {
    overflow: hidden;
    margin: $side-margins-mob;

    @include onTablet {
      margin: 10px 0 30px $margin-tab;
    }

    @include onDesktop {
      margin: 0 150px 0 100px;
      width: 380px;
    }
  }

  &__about-brand-images {
    display: flex;
  }

  &__shop {
    margin: $side-margins-mob;
  }

  &__creators {
    margin: $side-margins-mob;

    @include onTablet {
      margin: 0 30px;

      max-width: 342px;
    }

    @include onDesktop {
      display: flex;
      flex-direction: column;

      margin: 0 100px 0 150px;
      max-width: 380px;
    }
  }

  &__creators-img {
    display: none;

    @include onTablet {
      display: block;
      margin-right: $margin-tab;
    }

    @include onDesktop {
      display: block;
      margin-right: $margin-big;
    }
  }

  &__pros {
    margin: $side-margins-mob;
  }

  &__contact-us {
    margin: $side-margins-mob;

    @include onTablet {
      margin: $side-margins-tab;

      max-width: 342px;
    }

    @include onDesktop {
      margin: 0 0 0 150px;
      max-width: 380px;
    }
  }

  &__contact-us-img {
    display: none;
    overflow: hidden;

    @include onTablet {
      display: block;

      margin-right: $margin-tab;
    }

    @include onDesktop {
      display: block;

      margin-right: $margin-big;
    }
  }

  &__footer {
    margin: $side-margins-mob;

    @include onTablet {
      margin: $side-margins-tab;
    }

    @include onDesktop {
      margin: $side-margins-big;
    }
  }
}
