.page {
  font-family: "Avenir", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $darkColor;
  background-color: $lightBeigeColor;
  &__body {
    @include onDesktop {
      background-color: #fff;
    }
  }
  &__benefits {
    margin-bottom: 60px;
  }
}
