.page {
  font-family: "Avenir", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $darkColor;
  background-color: $lightBeigeColor;
  scroll-behavior: smooth;
  &__body {
    @include onDesktop {
      background-color: #fff;
    }
  }
  &__benefits {
    margin-bottom: 60px;
  }
  &__about {
    margin-bottom: 64px;
  }
  &__promotion {
    margin-bottom: 50px;
  }
  &__creators {
    margin-bottom: 64px;
  }
  &__section {
    margin-bottom: 64px;
    @include onTablet {
      margin-bottom: 130px;
    }
    @include onLaptop {
      &:not(:last-child) {
        margin-bottom: 200px;
      }
    }
  }
  &__contacts {
    @include onLaptop {
      margin-bottom: 150px;
    }
  }
}
