<section class="advantages">
  <div class="advantages_card">
    <img
      src="./assets/images/creators/first.svg"
      alt="No synthetics and microplastics"
      class="advantages_card_img"
    >
    <p class="advantages_card_text">
      No synthetics and microplastics
    </p>
  </div>
  <div class="advantages_card">
    <img
      src="./assets/images/creators/second.svg"
      alt="product packaging can be recycled or reused"
      class="advantages_card_img"
    >
    <p class="advantages_card_text">
      product packaging can be recycled or reused
    </p>
  </div>
  <div class="advantages_card">
    <img
      src="./assets/images/creators/thirst.svg"
      alt="only natural ingredients"
      class="advantages_card_img"
    >
    <p class="advantages_card_text">
      only natural ingredients
    </p>
  </div>
</section>
